[2020-02-01 19:52] tschuegy opened #201 "7.1912.1 Hydrate not starting - File precache configuration not found. Skipping."
Hydration is not working propertly on Win10 1809. The settings are set in the GPO and i can see them in the log file:

01.02.2020 20:02:33 | CLAB05$ | INFORMATION... | Define new global variable LIC_BISF_POL_PVSHydration=1
01.02.2020 20:02:33 | CLAB05$ | INFORMATION... | Processing function New-BISFGlobalVariable
01.02.2020 20:02:33 | CLAB05$ | INFORMATION... | Define new global variable LIC_BISF_

[2020-02-01 20:59] matthias-schlimm commented on #201
wtf... I'm testing it last wednesday and it runs without issues, let me chek

[2020-02-01 21:00] matthias-schlimm commented on #201
@tschuegy please upload the complete BIS-F personlization log here

[2020-02-01 22:12] tschuegy commented on #201
Hallo Matthias

Du hast mich auf den richtigen Weg gebracht. Die InstallLocation in der Registry ist bei mir igendwie falsch. Werde es nochmals testen. Wenn OK, denn werde ich den thread schliessen.

Melde mich wieder und sorry für die Aufregung.

Gruss
tschuegy

[2020-02-02 05:50] matthias-schlimm opened #202 "GPO: Redirection matrix"
Based on the BIS-F Diskmode the Redirection is currently enabled or disabled.
In a more dynamic environment with new functionalities that is useful to configure the DiskModes inside the GPO, this helps you with UPL (AppLayering) for example to configure the redirection at your own without changing the code.

[2020-02-02 05:52] matthias-schlimm commented on #190
This described issue was forced from the bug https://github.com/EUCweb/BIS-F/issues/195 I think

[2020-02-02 06:10] tschuegy commented on #201
Mein Verdacht hat sich leider nicht bestätigt, obwohl der Registry Wert bei mir falsch war. Aber hydrate funktioniert bei mir noch immer nicht. Hier das komplette Logfile:

[PERS_BISF_CLAB05_20200202-065612.log](https://github.com/EUCweb/BIS-F/files/4143593/PERS_BISF_CLAB05_20200202-065612.log)

[2020-02-03 07:40] tschuegy commented on #201
@matthias-schlimm

My problem is that the variable $DisableMode has already the value $true bevore the script set it again. It must be set during another script?

![grafik](https://user-images.githubusercontent.com/43025161/73634060-9b07b600-4660-11ea-88e7-9eb32d463414.png)

It runs when i change the condition of the if:
	if (-not($LIC_BISF_CLI_PVSHydration -eq "YES")) {
		Write-BISFLog -Msg "File

[2020-02-03 08:50] matthias-schlimm commented on #201
Tested it with latest Win 1809 (english OS only) and BIS-F 7.1912.1 and no modifications for the Check of the $DisableMode or $EnableMode

added the ouput to the console only, like you

![image](https://user-images.githubusercontent.com/34108484/73638414-9f38d100-466a-11ea-8ddd-dee89b52b03c.png)

My settings are looking different

![image](https://user-images.githubusercontent.com/34108484/7363902

[2020-02-03 09:03] matthias-schlimm commented on #201
@Trentent can you have a look at this, I'm not able to reproduce it, but @tschuegy has a different output on this and the PVS Hydration is not working

[2020-02-03 09:18] matthias-schlimm commented on #201
@tschuegy from the log above:

you have configured shared configuration to a unc path

[code]

but also using a local one

[code]

is there a configuration missmatch ?

[2020-02-03 09:31] tschuegy commented on #201
I have a VM to create the json file to a central share and on the Master Image deployment i copyied that to local and set the location in BISFSharedConfig.json to the local one... I had done this, because i don't have GPO permissions on the customers AD.

But i can change anything in my LAB environment :-)
How should i configure the settings? Only per GPO and no json file?

[2020-02-03 09:40] matthias-schlimm commented on #201
- If GPO, no Json file

- if json, no GPO

[2020-02-03 09:42] tschuegy commented on #201
I have no GPO on the target clients, only json file... but i will try to change it to gpo only...

[2020-02-03 11:09] matthias-schlimm opened #203 "Office is not activated against KMS"
In BIS-F 7.1912.1 MS Office is not activated against the KMS Server, with Issue https://github.com/EUCweb/BIS-F/issues/174 I have changed the detection of MS Office

OSSP path is not retrieved

[code]

[2020-02-03 11:25] matthias-schlimm commented on #203
It seems like a timing issue, running the personalization after some time again and the activation is working

[code]

[2020-02-03 15:21] Trentent commented on #201
Hi team, just checking in on the results of the GPO/json testing.

[2020-02-03 15:27] matthias-schlimm commented on #201
thanks Trentent,

I'm able to reproduce the issue now.
if I'm configure it with GPO now, the settings are in the registry and right configured, but PVS Hydration is skipped.

My test this morning runs well will the json configuration .. wtf

I think as @tschuegy has described above it's possible to update the code and kick out the $EnableMode and $DisableMode ..

[code]

@Trentent what do you thin

[2020-02-03 15:56] Trentent commented on #201
A lack of coffee most likely.

I think I did it so that way the if statement was easier to read (for me). It can be simplified by adopting @tschuegy fix.  Then the two variable statements can be removed too.

...
[code]

	function FileToCache ($File) {
		#Write-BISFLog -Msg "Caching File : $File" -ShowConsole -Color Cyan
		$hydratedFile = [System.IO.File]::ReadAllBytes($File)
	}

	if (-not(Test-BI

[2020-02-03 16:06] matthias-schlimm commented on #201
ok, thanks ..  I will update the code

[2020-02-03 16:10] matthias-schlimm commented on #201
update in developer branch done

https://github.com/EUCweb/BIS-F/blob/develop/Framework/SubCall/Personalization/10_PersBISF_HydratePVS.ps1

[2020-02-03 16:13] matthias-schlimm commented on #201
@tschuegy can you grab a copy of the developer branch and test it again please

[2020-02-03 20:15] tschuegy commented on #201
@matthias-schlimm it works like a charm :-)

[2020-02-04 09:04] #201 closed, assigned to matthias-schlimm

[2020-02-05 16:35] tschuegy opened #204 "Dynamic PVS VHDX file name"
It would be nice to define a custom file name for the PVS image name in the GPO.

Example: %CustomVar%_StaticText-%date%.vhdx

[2020-02-06 08:19] hermann1514 opened #205 "After Update GPO Policiy CHK_CTXOE_Analyze Error"
Hi,
i upgraded my GPO Templates with the latest Version (from 6.x). After that i cannot change hte BISF Settings. Error:

Das Richtlinienpräsentationselement "CHK_CTXOE_Analyze" auf das in Präsentation "POL_CTXOE" verwiesen wird, ist nicht vorhanden.

Datei........BaseImageScriptFramework.admx Zeile 55, Spalte 128

Can anybody help?
Regards
Hermann

[2020-02-06 08:20] hermann1514 commented on #198
Okay, after disable the Profilemanagement it's working.

[2020-02-06 08:20] #198 closed, assigned to matthias-schlimm

[2020-02-06 08:33] hermann1514 commented on #205
Found the Problem. An old german Language file was in the Policyfolder. After i delete this file the GPO Settings works fine.

[2020-02-06 08:41] matthias-schlimm commented on #205
yupp, thanks. check out here https://eucweb.com/docs/bisf-7-1912/depcrecated-features

[2020-02-06 08:41] #205 closed, assigned to nobody

[2020-02-06 14:17] korbinianthiel opened #206 "Reboot loop caused by missing folder"
If VM is provisioned by PVS, it reboots endless.

If I create the missing folder manually, the reboot loop stops. There was no problem before release 7.1912

[log.txt](https://github.com/EUCweb/BIS-F/files/4165530/log.txt)

[2020-02-06 17:58] matthias-schlimm commented on #206
[code]

[2020-02-06 17:59] matthias-schlimm commented on #206
@korbinianthiel can you send me the complete log please, thx

[2020-02-07 06:06] korbinianthiel commented on #206
Sure [PERS_BISF_VDI-CAD-365-20_20200206-141118.log](https://github.com/EUCweb/BIS-F/files/4169248/PERS_BISF_VDI-CAD-365-20_20200206-141118.log)

[2020-02-07 06:55] matthias-schlimm commented on #206
Can you check the path C:\Windows\Logs\BISFLogs on the VM itself, I think the start of the log is there too before moved to the configured shared logdirectory

[2020-02-07 12:32] korbinianthiel commented on #206
I don't see any log in this directory

[2020-02-07 15:09] matthias-schlimm commented on #206
Can you export the bis-f policy in the registry and upload it here as an text file

Am 07.02.2020 um 13:33 schrieb korbinianthiel <notifications@github.com>:

[2020-02-07 15:15] korbinianthiel commented on #206
[Policies_x64.txt](https://github.com/EUCweb/BIS-F/files/4171472/Policies_x64.txt)
[Policies_x86.txt](https://github.com/EUCweb/BIS-F/files/4171474/Policies_x86.txt)

[2020-02-12 10:24] korbinianthiel commented on #206
Are more information needed?

[2020-02-12 10:31] matthias-schlimm commented on #206
No, sorry I‘m on a conference this week and will have a look later into this.

Am 12.02.2020 um 11:24 schrieb korbinianthiel <notifications@github.com>:

[2020-02-12 10:50] Munken1301 opened #207 "Pagefile not set"
The pagefile is not set according to what you specify in the GPO (or template file)

The following is set in my script
Define new global variable LIC_BISF_POL_PAGEFILE=1
Processing function New-BISFGlobalVariable
Define new global variable LIC_BISF_CLI_PAGEFILE_DRIVE=E:
Processing function New-BISFGlobalVariable
Define new global variable LIC_BISF_CLI_PAGEFILE_SIZE=4

Expected the pagefile to be c

[2020-02-12 10:52] Munken1301 commented on #206
korbinianthiel:

I can let you know that the exact same issue happend for me :)
So your not alone, not that it fixes the issue.
But as you also reported, a simple "Create the BISFLogs" folder on the Cache disk, solved the issue.
//Munk

Keep up the good work Matthias!!
AWSOME program!

[2020-02-12 11:27] korbinianthiel commented on #206
Huge thanks for the framework :thumbsup:

[2020-02-12 14:28] matthias-schlimm commented on #206
with BIS-F 7.1912 the BISFLogs folder is not created anymore on the persisitent Disk if the shared logfolder is configured.

This test runs for PVS and MCSIO too and this is definitly a Bug

`if ((Test-Path -Path "$LIC_BISF_LogPath") -eq $false) {`

as a simple workaound you can create this folder wih GPP for example.
I will check how to resolve it

[2020-02-13 06:19] matthias-schlimm commented on #207
@Trentent any idea what’s going wrong ?

I think the reboot is not performed, can be this the issue ?

[2020-02-13 06:35] Munken1301 commented on #207
@matthias-schlimm
I tried myself and fiddly around with the commands that is present in
10_PrepBISF_SetPageFile.ps1

And it didn't look like the commands was doing what they were suppose to
That is also fairly visible in the log file, as it never prints any value for the properties of the NEW pagefile:
(From the log file)
12-02-2020 08:47:49 |  | INFORMATION... | Number of pagefiles: 0
12-02-2020

[2020-02-13 18:07] infecticide opened #209 "WSUS /reportnow command in prep stage"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
In our Citrix PVS-based environment we use the following command to force the Windows Update service to report it's status to the WSUS server.   This command is run in our re-seal script that we currently use, we are switching to BIS-F.

wuauclt /reportnow

**Describe alternatives you've con

[2020-02-13 18:31] infecticide opened #210 "App-V PackageInstallationRoot not detected properly"
**Describe the bug**
In our Citrix PVS-based environment we set the PackageInstallationRoot for App-V via GPO to the WriteCache under a folder "F:\App-V".

As a result C:\Programdata\App-V does not exist for us.

BIS-F is still looking for C:\ProgramData\App-V for files instead of the output of Get-AppvClientConfiguration under the PackageInstallationRoot value

**To Reproduce**
Steps to reproduce

[2020-02-15 05:52] Trentent commented on #207
Hi Munk, what OS are you running?  I've tested on 2008R2, 2016, and 2019.

I have identified 2 bugs in the script:

`$CurrentPageFile = Get-CimInstance -Query "select * from Win32_PageFileSetting"
		$System = Get-CimInstance -ClassName Win32_ComputerSystem`

The second line had a legacy "-enableallprivileges" used by Get-WMIObject which needs to be removed with Get-CIMInstance.  I've posted the co

[2020-02-15 05:53] Trentent commented on #207
Attaching updated script with the bugfixes @matthias-schlimm

[10_PrepBISF_SetPageFile.zip](https://github.com/EUCweb/BIS-F/files/4207802/10_PrepBISF_SetPageFile.zip)

[2020-02-15 10:23] matthias-schlimm commented on #203
this is not a bug/issue from BIS-F. happens with FSlogix AppMasking if the rules are not set correctly and the application (MS Office) are hiding from the local system iself

[2020-02-15 10:23] #203 closed, assigned to matthias-schlimm

[2020-02-15 11:16] Trentent commented on #207
Ok, I found further issues
It turns out the conversion to the CIM instances is not sufficient.  The CIM method does not allow changing how the pagefile is managed (automatic vs manual) -- only the Get-WMIObject with -EnableAllPrivileges allows it.  In addition, CIM does not implement some of the methods available with WMIObject (.Delete)  I'm uploading another file with these additional changes.

[2020-02-15 11:24] Trentent commented on #207
[10_PrepBISF_SetPageFile.zip](https://github.com/EUCweb/BIS-F/files/4208390/10_PrepBISF_SetPageFile.zip)

[2020-02-17 08:28] Munken1301 commented on #207
You guys are awsome!! :)
less then a week after bug report and you have fixed it

btw i used windows server 2019 , sorry for the late respons
Looking forward to next release :)

[2020-02-17 08:55] matthias-schlimm commented on #207
Yupp 7.1912.2 will fix it

Am 17.02.2020 um 09:28 schrieb Munken1301 <notifications@github.com>:

[2020-02-17 12:59] matthias-schlimm commented on #207
@Munken1301 I have updated the developer branch with the fix now. Can you grab a copy and run a test again please ?

[2020-02-17 14:59] matthias-schlimm commented on #206
update code in developer branch @korbinianthiel can you grab a copy of the dev branch and run a test again please ?

[2020-02-18 16:32] Trentent commented on #206
Nice, just ran into this.  I will test the fix too.

[2020-02-18 16:37] Trentent commented on #206
I can confirm that I no longer have the reboot issue with this update.

[2020-02-19 05:46] matthias-schlimm opened #212 "Symantec Endpoint Protection (SEP) duplicate HardwareID"
With Issue **TrendMicro OfficeScan wrong GUID** https://github.com/EUCweb/BIS-F/issues/137 the ClientMacAddress is converted toLower and this is the issue for SEP.

The generated HardwareID is created and set in the registry with lowercase, if the SEP Service is started the HardwareID is new generated.

If the HardwareID is generated in uppercase no further issues

[2020-02-19 06:03] matthias-schlimm commented on #212
change in function and add switch ConvertToLower

[code]

[2020-02-19 06:05] matthias-schlimm commented on #212
fix in TM Script as well https://github.com/EUCweb/BIS-F/blob/develop/Framework/SubCall/Personalization/10_PersBISF_AV-TM.ps1

Line 58:

`$mac = Get-BISFMACAddress -ConvertToLower`

[2020-02-19 06:05] #212 closed, assigned to matthias-schlimm

[2020-02-19 06:22] #206 closed, assigned to matthias-schlimm

[2020-02-19 07:24] matthias-schlimm commented on #210
the path is getting from HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\AppV\Client\Streaming
PackageInstallationRoot.

[code]

[2020-02-19 07:26] matthias-schlimm commented on #210
@infecticide can you send me the registry path and item that is configured with the GPO you are using ?

a export from HKLM:\Software\Microsoft\AppV\Client should be possible as well

[2020-02-19 17:13] infecticide commented on #210
The GPO item is here:    Computer Configuration --> Policies --> Admin Templates --> System --> App-V --> Streaming --> Package Installation Root

Ours is enabled with a value of "F:\App-V"

Registry path is here:  HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\AppV\Client\Streaming\PackageInstallationRoot

In Powershell if you run "Get-AppvClientConfiguration" you can see if the values are set vi

[2020-02-19 18:15] matthias-schlimm commented on #210
What is the value HKLM:\Software\Microsoft\AppV\Client\Streaming\PackageInstallationRoot ?

[2020-02-19 22:16] infecticide commented on #210
%programdata%\App-V

[2020-02-20 02:51] #207 closed, assigned to matthias-schlimm

[2020-02-20 06:47] matthias-schlimm commented on #210
**old:**
`
$PckInstRoot = Get-ItemProperty -path "$HKLM_Path\Streaming" | % { $_.PackageInstallationRoot }
`
**new:**
`
$PckInstRoot = (get-appvclientconfiguration -name PackageInstallationRoot).value`

[2020-02-20 06:52] matthias-schlimm commented on #210
@infecticide update developer branch, you can grab the single script only or the complete branch for testing

**Complete branch:**
https://github.com/EUCweb/BIS-F/tree/develop

**Single AppV Script**
https://github.com/EUCweb/BIS-F/blob/develop/Framework/SubCall/Preparation/10_PrepBISF_AppVClient.ps1

[2020-02-20 13:14] Deyda opened #214 "McAfee MOVE Self Protection blocks the modification of the registry"
**Describe the bug**
McAfee MOVE Self Protection blocks the modification of the registry

Set-ItemProperty: Es wurde versucht, einen nicht autorisierten Vorgang auszuführen...

**To Reproduce**
Try Bis-F with actual McAfee MOVE

**Expected behavior**
Optimization of McAfee MOVE

**Screenshots**
![AV BIS-F Error](https://user-images.githubusercontent.com/59874195/74936802-18fee780-53eb-11ea-91a9-2a

[2020-02-20 14:58] tschuegy opened #215 "Some Feature Requests"
It would be nice to have some new features (for Windows 10):

- Removing Windows Apps
- Default App Associations
- Default Start Layout
- Enable Photo Viewer
- Removing Explorer Objects (3D Explorer, Desktop Folder, Documents Folder.... In Explorer)
- Uninstall Baramundi Agent
- Enable Windows Remote Management

[00_PrepBISF_RemoveApps.txt](https://github.com/EUCweb/BIS-F/files/4231383/00_PrepBISF

[2020-02-20 15:06] infecticide commented on #210
Looks good.   This variable is being set with the correct path now.

[2020-02-20 16:51] #210 closed, assigned to matthias-schlimm

[2020-02-20 17:00] matthias-schlimm commented on #215
thanks @tschuegy

- Removing Windows Apps is a part of Citrix Optimizer or VMware OS Optimizations Tool

- 02_PrepBISF_UninstallBaramundiAgent.txt install / uninstall is not possible during preparation and out of support of BIS-F, why uninstall instead of disable it ?

- 01_PersBISF_DefaultStartLayout.txt can be done today via GPO

[2020-02-23 07:13] matthias-schlimm opened #216 "ADML: WEM AgentCache better description"
Existing description:
****This policy settings allows you to manage the Citrix Workspace Environment Agent Settings (WEM)

If you enable this policy setting, you can configure the WEM Agent settings
If you do not configure this policy setting, the WEM Agent settings will not be changed.
If you disable this policy setting, the WEM Agent will be configured back to the origin local path.

Move WEM Ag

[2020-02-23 07:13] matthias-schlimm commented on #216
**added**
The Cache Folder is created like %CachDisk Driveletter%\Citrix\ %WEM Agent Cache folder name%
The Citrix folder is created from BIS-F automatically.

[2020-02-23 07:19] matthias-schlimm commented on #200
7.1912.2 will be published with 2 installers

- Inno Setup

- new Advanced Installer Setup (some changes for the unattend installation necassary)

[2020-02-24 11:29] #216 closed, assigned to matthias-schlimm

[2020-02-25 11:47] matthias-schlimm commented on #200
@tschuegy new installer is on the way

https://eucweb.com/docs/bisf-7-1912/installation/new-installer-since-7-1912-2

https://eucweb.com/docs/bisf-7-1912/installation/new-unattend-installation-since-7-1912-2

[2020-02-25 12:37] matthias-schlimm commented on #200
7.1912.2 is released now

[2020-02-25 12:37] #200 closed, assigned to matthias-schlimm

[2020-02-25 13:36] #190 closed, assigned to matthias-schlimm

[2020-02-25 15:00] anometric commented on #42
Hello Matthias, do you still have this set-eventlogpath powershell script?
It is not available anymore from that website https://gallery.technet.microsoft.com/scriptcenter/Change-the-path-of-the-f86d2427

Many thanks!

Günther

[2020-02-25 15:50] matthias-schlimm commented on #42
If I open up the url the script is available

Send from my mobile device

[2020-02-25 15:54] anometric commented on #42
OK thanks but I can only see this:
Set-Eventlogpath -Computername <<computername>> -NewLogDir <<New Path to store Event logs>>
And set-eventlogpath is not recognized on my windows 10 or Windows 2016 powershell. Am I missing something?

[2020-02-27 07:15] matthias-schlimm opened #217 "Powershell Version 5 notification"
currently we have PoSH Version 3 as a min. requirement, with next minor release Version 5 will be a new minimum

[2020-02-27 12:40] tschuegy opened #218 "Set-LAPSExpirationTime"
Function in BISF.psm1: Set-LAPSExpirationTime
Function call in 01_PersBISF_MS.ps1 SET-BISFLAPSExpirationTime

This two function names does not match.

[2020-02-27 16:15] matthias-schlimm commented on #218
BISF.psd1 set the prefix BISF and Import the Module bisf.psm1. For all functions this prefix is used after the verb-BISF..

Easy to identify, if a function has the prefix BISf, that will come from BISF.psm1 module

Am 27.02.2020 um 13:40 schrieb tschuegy <notifications@github.com>:

[2020-02-27 16:19] EUCweb commented on #218
Simple example Write-BISfLog is used everytime, the function itself is Write-Log

Am 27.02.2020 um 13:40 schrieb tschuegy <notifications@github.com>:

[2020-02-27 18:00] tschuegy commented on #218
OK, i understand.

Thanks.

[2020-02-27 18:00] #218 closed, assigned to nobody

[2020-02-28 07:16] tschuegy opened #219 "GPO: Set Power Saving Scheme to High Performance"
this setting should be configurable via group policy. In addition, the scheme should be selectable when the status is activated.

[2020-02-28 14:47] matthias-schlimm commented on #219
Will remove it, can be done with Citrix Optimizer or VMware OSOT in the future

Am 28.02.2020 um 08:16 schrieb tschuegy <notifications@github.com>:

[2020-02-28 17:27] tschuegy opened #220 "Naming - fix typo for DirtyShutdown Flag"
Processing Order-Nbr 57: Remove DirtyShutdown to prevent not **coorect** shutdown after reboot

[2020-02-28 17:39] tschuegy commented on #219
OK

[2020-02-28 17:39] #219 closed, assigned to nobody

[2020-02-28 19:02] tschuegy opened #221 "Increases the UDP packet size to 1500 bytes for FastSend --> Jumbo Frames"
If Jumbo Frames is activated, this value should not be set to 1500

[2020-02-28 23:29] musklor commented on #147
I close this issue. In fact our definitions were damaged.

[2020-02-28 23:29] #147 closed, assigned to nobody

[2020-02-28 23:34] musklor commented on #31
2008/r2 is not supported anymore. A waste of time?

[2020-02-29 09:57] tschuegy commented on #215
we uninstall the baramundi agent because it also brings a credential provider. why should the deinstallation not be possible? It works wonderfully, as shown in the example

[2020-02-29 10:00] tschuegy commented on #215
Start layout should only be used as a one-off specification and not as a GPO

[2020-02-29 10:14] EUCweb commented on #215
You can use it at your own, in the custom folder.

I‘m think about a community marketplace for custom scripts to share these kind of scripts.

Install or uninstall anything is not a part of BIS-F, it expected a final image that can be sealed. If we are going and supporting this way, the next will come around and we need a reboot that must be handled after install / uninstall.

Sorry, please use it

[2020-02-29 11:04] tschuegy commented on #215
ok. What about the other feature requests?

[2020-02-29 12:15] matthias-schlimm opened #222 "Fixing encoding"
sometimes the PS1 files have wrong encoding, during packaging it necessary to get the file encoding and set it with a POSH script to UTF8 with BOM encoding, this will prevent encoding failures in the future and errors on admin side

![image](https://user-images.githubusercontent.com/34108484/75607279-b21db480-5af5-11ea-8f84-8bd9240acb59.png)

[2020-02-29 12:20] matthias-schlimm commented on #215
WinRM is good point to integrate

[2020-02-29 18:44] matthias-schlimm opened #223 "Advanced Installer: Empty Folder in ProgramMenu"
**contact Advanced Installer support:**
I don’t need the application Shortcut Folder in the Startmenu or any other location, but a blank entry are not accepted.

![image](https://user-images.githubusercontent.com/34108484/75613258-bf559600-5b2b-11ea-8a45-d09dcf5c9225.png)

[2020-02-29 18:47] matthias-schlimm commented on #221
This will be fixed with that issue https://github.com/EUCweb/BIS-F/issues/185

[2020-03-06 08:51] EUCweb opened #224 "Powershell V7"
Testing Powershell V7 if working properly

[2020-03-06 08:53] EUCweb commented on #223
Please make sure that the application folder shortcut from the Files and Folders view does not have the create folder on target machine option selected:

![image](https://user-images.githubusercontent.com/34108095/76067811-4a051d80-5f90-11ea-90cd-facbae24dbf5.png)

In the Application Shortcut Folder field you can specify the default location for the Application Shortcut Folder (SHORTCUTDIR). This

[2020-03-06 08:55] EUCweb commented on #223
available first with installer 7.1912.3

[2020-03-06 08:55] #223 closed, assigned to matthias-schlimm

[2020-03-06 08:56] EUCweb commented on #222
Build Script must check the Encoding !

[2020-03-06 08:57] EUCweb commented on #222
please check

- [x] Framework\SubCall\Personalization\01_PersBISF_TimeAndGPO.ps1 und
- [x] Framework\SubCall\Personalization\10_PersBISF_SCCM.ps1

[2020-03-06 14:17] EUCweb commented on #222
Build Script will now use this script to check encoding of all PS1 scripts for UTF8, if not stops and send output https://www.powershellgallery.com/packages/PSTemplatizer/1.0.20/Content/Functions%5CGet-FileEncoding.ps1

![image](https://user-images.githubusercontent.com/34108095/76091417-ccf09d00-5fbd-11ea-8c79-f2cb936181f5.png)

[2020-03-06 14:17] #222 closed, assigned to matthias-schlimm

[2020-03-07 06:57] tschuegy opened #225 "MSI Package"
Hallo Matthias

Ich biete als professioneller Software Paketierer meine Dienste an um ein perfektes MSI Paket zu erstellen.
Gerne würde ich ein MSI Paket für Dich und die Community erstellen, damit die Unannehmlichkeiten mit den "kurrligen" Installer Vergangenheit ist.

Bitte melde Dich doch bei mir, dann kann ich Dir mal ein MSI erstellen und Du kannst es dann prüfen. Wenn Du es dann OK findest,

[2020-03-08 07:18] matthias-schlimm commented on #225
Danke für das Angebot, mit dem neuen „Advanced Installer“ bin ich nun auch in der Lage ein natives MSI Paket zu erstellen, hatte nur noch nicht die Zeit gefunden mich damit zu beschäftigen.

Generell ist das alles automatisiert und soll auch zukünftig so bleiben.

Wenn du Interesse hast, dich mit dem Advanced installer mal zu beschäftigen, können wir uns das ja mal gemeinsam anschauen .

Am 07.03.

[2020-03-10 22:00] infecticide opened #226 "App-V Powershell Module Could Not Be Loaded"
**Describe the bug**
Upon running BIS-F 7.1912.2 an error appears when removing App-V packages:

+ Product Microsoft App-V Client (Version 10.0.14393.3471 (rs1_release_1.191218-1729)) installed

Import-Module : The specified module 'C:\Windows\System32\AppvClient\AppvClient.psd1' was not loaded because no valid
module file was found in any module directory.
At C:\Program Files (x86)\Base Image Scr

[2020-03-11 11:25] matthias-schlimm commented on #226
I think that will come with latest change from this issue https://github.com/EUCweb/BIS-F/issues/210.
I must check it further to get it work in all worlds

[2020-03-18 14:31] Andre1Becker opened #227 "Bluescreen after execution and reboot - 1912.2, PVS, Citrix Hypervisor, WinServer2019"
Hi all,
i got a weird problem which i never get before. I've used the BIS-F many times for many installations (best thing ever by the way guys!)
Some system infos:

BIS-F Version: BIS-F-7.1912.2.11029 (Advanced installer)
Server 2019 DC (Patched as of 2020-03)
PVS 1912 - ISO Boot - NON UEFI
VDA 1912
Citrix Hypervisor 8.1

So after install BIS-F, rebooting the Master and then Executing the script,

[2020-03-18 21:51] EUCweb commented on #227
Configure the GPO "Ghost Devices: Friendly named devices to exclude from removal" with value *XenServer PV;*

Make sure you don't forget the *

Regards
Matthias

Am 18.03.2020 um 15:31 schrieb Andre Becker <notifications@github.com>:

[2020-03-20 06:02] Andre1Becker commented on #227
Hey Matthias - thanks for the quick reply! That did the Trick - now that i know it, its way to obvious ;-)

i leave this here for future reference:

![image](https://user-images.githubusercontent.com/25841903/77140089-b5fb8180-6a78-11ea-9fb0-97504fd49e16.png)

Thanks mate and have a good one!

[2020-03-20 06:02] #227 closed, assigned to nobody

[2020-03-20 19:54] ozzy01 opened #228 "Latest release - issue/feature request with Ivanti Workspace Control Agent (10.x)"
**Is your feature request related to a problem? Please describe.**
This feature request is related to issue.  The generalization breaks being able to log into the image at all due to whatever it is doing to the Ivanti Workspace Control (aka labeled RES here but we are Ivanti Workspace Control now)  It appears to try to redirect the cache or do something with it which then breaks being able to log

[2020-03-20 20:01] ozzy01 opened #229 "With very latest release and with Citrix PVS image, Shut Down after generalization is not completing"
**Describe the bug**
Policy setting is enabled to shut down after completion and generalization ends and closes window but doesn't shut down image.

**To Reproduce**
Steps to reproduce the behavior:
Enable policy setting to shutdown when complete and then it completes and doesn't shut down. All other steps seemingly run and complete and then the script closes the window and doesn't do the shutdown

[2020-03-20 20:05] ozzy01 commented on #229
Screenshot of PVS Target Device setting

![image](https://user-images.githubusercontent.com/24480911/77202283-03e5a900-6abc-11ea-9e92-b56ed2e1dbd8.png)

And I have disabled everything else to rule any of these items out:
![image](https://user-images.githubusercontent.com/24480911/77202344-237cd180-6abc-11ea-8edb-da0c947a835b.png)

[2020-03-31 19:42] EUCweb opened #230 "Personalization hangs at the WriteCache Disk script."
I just updated my Admin image to 1912.2 and I am seeing the personalization script hang at the WriteCache Disk script.  Anyone seen this behavior and know what changed between 1912.1 and 1912.2 that might be the cause?

[2020-03-31 19:42] EUCweb commented on #230
Ok, I think I have the line narrowed down.  Line 99 of the 00_PersBISF_WriteCacheDisk.ps1 script.  It is the new-item commandlet. There appears to be a required parameter missing.  When I run interactively I get a “Type:” prompt

![image](https://user-images.githubusercontent.com/34108095/78068348-89106e00-7398-11ea-9d8c-55b3d69f0ff3.png)

[2020-03-31 19:44] EUCweb commented on #230
Line 99 of the 00_PersBISF_WriteCacheDisk.ps1

**old:**
IF (!(Test-path $CacheCheckFile)) {new-item $CacheCheckFile}

**new:**
IF (!(Test-path $CacheCheckFile)) {new-item -path $CacheCheckFile -ItemType File}

Update to Powershell Version 5 as well fixes the issue

[2020-03-31 21:51] joeldonaldson commented on #230
IF (!(Test-path $CacheCheckFile)) {new-item -path $CacheCheckFile -ItemType "File"}

Needs to have the quotes

[2020-04-01 13:24] micswe opened #231 "HydrateScript run on PVS Master"
Hi,
i change the HadryteScript to Skip in PVS Private Mode, i think is not needed in this mode.

regards

Michael

[code]

[2020-04-02 17:28] joshtbernstein commented on #81
@matthias-schlimm Did the change in PrepareBaseImage.cmd happen? I've just downloaded 7.1219.2.11029 and I'm still seeing "set-executionpolicy bypass".

[2020-04-02 17:57] matthias-schlimm commented on #81
The installer is signed only, not the scripts itswlf.

Von: Josh <notifications@github.com>
Gesendet: Donnerstag, 2. April 2020 19:29
An: EUCweb/BIS-F <BIS-F@noreply.github.com>
Cc: Matthias Schlimm <matthias.schlimm@online.de>; Mention <mention@noreply.github.com>
Betreff: Re: [EUCweb/BIS-F] Signed Installer (#81)

@matthias-schlimm <https://github.com/matthias-schlimm>  Did the change in Prepare

[2020-04-06 15:15] EUCweb commented on #217
In upcoming minor versions, send out warning first.

[2020-04-07 08:38] kyriansaxum commented on #228
we've seen the same. issue resolved itself by waiting a little longer or force a cache update from ivanti Console.

ivanti WC 10.3.190
Windows 10 1909
PVS 1912
BIS-F 1912.2

[2020-04-08 02:52] ozzy01 commented on #228
yea, would be good to just have the ability to disable it via ADMX as there are situations where we don't need cache cleared or want that.   I will test trying to force it to push cache down again and then see if I can login again in the meantime. Thanks

[2020-04-08 10:03] kyriansaxum commented on #228
after you run BIS-F, restart the Ivanti service, wait for the cache to be updated and then close the image. might help as well

[2020-04-09 07:45] matthias-schlimm opened #232 "WriteCacheDisk not formatted"
new VM's with a clean WriteCacheDisk are not formatted, please update the function in 00_PersBISF_WriteCacheDisk.ps1 as follows

[code]

[2020-04-09 08:00] matthias-schlimm commented on #232
In addition , make sure to configure the BIS-F ADMX for the right numbers of partitions, otherwise the disk will not be initialized.
If you replace the BIS-F ADMX only and open up the BIS-F GPO for the PVS or MCS Configuration, the Value is set for 2 as well, but the GPO behind has a empty value. Please select the number of partitions again to fix this issue.

![image](https://user-images.githubus

[2020-04-09 08:27] matthias-schlimm commented on #230
see https://github.com/EUCweb/BIS-F/issues/232 for a general fix

[2020-04-09 08:27] #230 closed, assigned to matthias-schlimm

[2020-04-10 18:23] matthias-schlimm opened #233 "TrendMicro Apex One process not killed"
We are using latest 1912 BIS-F on a Windows Server 2016 environment.
As security software TrendMicro Apex One is installed.
While using the script, it says "Process 'PccNTMon.exe' is running, killing process now" without any error.
But the process is still running

[2020-04-10 18:24] matthias-schlimm commented on #233
I have now received additional errors when BISF tries to change the startup type of the TrendMicro services to manual. But this is because TrendMicro protects all processes and services. After deactivating the protection in the admin console the errors were gone. But it does not solve the actual killing PccNTMon.exe problem.

Besides that, is it possible to change the startup type oft the services

[2020-04-10 18:27] matthias-schlimm commented on #233
maybe this is helpful for you:

 **Location of TrendMicro files is different with ApexOne:**

- TrendMicro: C:\ProgramFiles(x86)\TrendMicro\OfficeScan Client
- TM ApexOne: C:\ProgramFiles(x86)\TrendMicro\Security Agent

![image](https://user-images.githubusercontent.com/34108484/79013648-80265600-7b69-11ea-846d-d5e8ea9e006d.png)

**DeleteRunValue is different:**

- TrendMicro: OfficeScanNT Monitor

[2020-04-16 05:21] matthias-schlimm commented on #232
Line 140

**old:**

`$SystemPartitions = (Get-CimInstance -ClassName Win32_Volume).count`

**new:**

`$SystemPartitions = (Get-CimInstance -ClassName Win32_Volume -filter "DriveType=3" | measure).count`

[2020-04-16 05:22] matthias-schlimm commented on #232
Line 142:

**old:**
`If ($SystemPartitions -eq $LIC_BISF_CLI_NumberOfPartitions) {`

**new:**
`If ($SystemPartitions -ne $LIC_BISF_CLI_NumberOfPartitions) {`

[2020-04-17 06:57] humdinger32 opened #234 "Option to not delete SCCM cache"
It would be handy to have a Group Policy option to not delete the SCCM Cache located in C:\Windows\ccmcache

Some products require the original install cache to be present if they need to conduct a repair of the product.

[2020-05-04 19:45] trondr opened #235 "Encoding/CRLF inconsistency in source code files 01_PersBISF_TimeAndGPO.ps1 and 110_PersBISF_SCCM.ps1"
**Describe the bug**
The following files is not displayed correctly in a text editor on Windows probably due line ending inconsistency with the rest of the code base.
01_PersBISF_TimeAndGPO.ps1
10_PersBISF_SCCM.ps1

This is what is shown in Visual Studio Code when doing a review of 01_PersBISF_TimeAndGPO.ps1:
਍    ⸀匀夀一伀倀匀䤀匀ഀഀ
        Update Time and Reapply GPO
਍ऀ⸀䐀攀猀挀爀椀瀀琀椀漀渀ഀഀ
    .EXAMPLE
਍    ⸀

[2020-05-04 20:31] matthias-schlimm commented on #235
It’s already fixed, check out https://github.com/EUCweb/BIS-F/issues/222

Send from my mobile device

[2020-05-05 08:00] trondr commented on #235
You are right, thanks! Closing this issue.

[2020-05-05 08:00] #235 closed, assigned to nobody

[2020-05-05 11:33] trondr opened #236 "Error: Get-NetAdapterRSS : No MSFT_NetAdapterRssSettingData objects found"
In BISF 7.1912.2.11029, when running PrepareBaseImage.cmd:

[...]
	+ Starting VMWare TCPIP Optimizations
	Get-NetAdapterRSS : No MSFT_NetAdapterRssSettingData objects found with property 'Name' equal to 'Ethernet'.  Verify the value of the property and retry.
	At C:\Program Files (x86)\tietoEVRY\VDI-Prep-Tools\BIS-F\framework\SubCall\Preparation\52_PrepBISF_VMWareTCPIPOptimizations.ps1:322 char:23

[2020-05-15 05:45] scriptkiddy666 opened #238 "10_PrepBISF_AV-CylanceProtect.ps1 and VDI Fingerprinting"
Hi,
please add an additional check if Cylance was installed with VDI or AD parameter.
Because in a VMware environments it's not always necessary to cleanup Cylance.
(And it's also not working if the self protection of Cylance isn't set to 'Local Administrator'.)

https://support.cylance.com/s/article/VDI-Fingerprinting-for-Non-Persistent-Virtual-Machines

This feature isn't working in Azure at the

[2020-05-19 20:56] gregbeck opened #239 "Invoke-FolderScripts is relying on the default order from Get-ChildItem"
**Describe the bug**
Invoke-FolderScripts is relying on the default order from Get-ChildItem when running scripts.  Items from Get-ChildItem are not guaranteed to be in sorted order.  It would be better sort them to make sure they are in the correct order.

Something like
`$scripts = @(Get-ChildItem -Path $Path -Filter "*.ps1") | Sort-Object -Property Name`

Note. I just stumbled upon this while l

[2020-05-23 17:36] matthias-schlimm commented on #232
included in develop branch now

[2020-05-23 17:36] #232 closed, assigned to matthias-schlimm

[2020-05-23 17:42] matthias-schlimm commented on #220
fixed in developer branch

[2020-05-23 17:42] #220 closed, assigned to matthias-schlimm

[2020-05-23 18:05] matthias-schlimm commented on #231
included in develop branch now

[2020-05-23 18:05] #231 closed, assigned to matthias-schlimm

[2020-05-23 18:11] matthias-schlimm commented on #214
included in developer branch now

[2020-05-23 18:11] #214 closed, assigned to matthias-schlimm

[2020-05-23 18:23] matthias-schlimm commented on #217
included in developer branch now for 7.1912.3 but notification only

[2020-05-23 18:34] matthias-schlimm opened #240 "EnableSSLVDA optimization"
optimize the process for eh SSL certificate enrollment, some task must be remove, it will never work during computer startup with the system account.

[2020-05-23 18:37] matthias-schlimm commented on #240
included in developer branch now

[2020-05-23 19:57] matthias-schlimm commented on #226
the directory can be dynamicly be resolved with the following command
`
 (Get-ChildItem -Path $Installpath -Recurse -Filter $ModuleFile -ErrorAction SilentlyContinue).Directory.FullName`

![image](https://user-images.githubusercontent.com/34108484/82739515-73884680-9d40-11ea-99f5-54f60d2212b1.png)

[2020-05-23 20:04] matthias-schlimm commented on #226
included in developer branch

[2020-05-23 20:04] #226 closed, assigned to matthias-schlimm

[2020-05-23 20:16] matthias-schlimm commented on #236
included into developer branch

[2020-05-23 20:16] #236 closed, assigned to matthias-schlimm

[2020-05-23 20:34] matthias-schlimm commented on #233
included in developer branch

[2020-05-23 20:39] matthias-schlimm commented on #238
thanks, this need further investigation

[2020-05-23 21:00] matthias-schlimm commented on #229
included into developer branch now

[2020-05-23 21:01] #229 closed, assigned to matthias-schlimm

[2020-05-24 04:09] matthias-schlimm opened #241 "skip PVS UNC vDisk Size if PVS Master Image is skipped"
If the PVS Master Image mode is skipped it's not necessary to check the available storage on the vDisk UNC Path

[2020-05-24 04:25] matthias-schlimm commented on #241
included into developer branch

[2020-05-24 04:25] #241 closed, assigned to matthias-schlimm

[2020-05-24 04:34] matthias-schlimm commented on #238
@scriptkiddy666 both links you posted are not valid, can't open without registration. can you put the content of this 2 links in github here ?

[2020-05-24 05:15] matthias-schlimm commented on #221
![image](https://user-images.githubusercontent.com/34108484/82746289-672ada80-9d8e-11ea-85f6-8600557c059c.png)

[2020-05-24 05:56] matthias-schlimm commented on #221
@Trentent whats your suggestion on this ?

[2020-05-24 19:13] matthias-schlimm commented on #221
the VMware KB article from 2018 https://kb.vmware.com/s/article/2040065 shows 1500 for FastSendDatagramThreshold. The Microsoft Article that are references are not valid anymore.

At the moment I have no other statement to adjust this setting.

[2020-05-24 19:35] matthias-schlimm opened #242 "Shared Configuration Errorhandling if FilePath is Null Or Empty"
If $JSONSharedConfigFile or $XMLSharedConfigFile isNullOrEmpty send out Console Message, currently a Logentry with an empty path is written

**function:** Import-SharedConfiguration

**old:**

[code]

[2020-05-24 19:40] matthias-schlimm commented on #242
**new:**
[code]

[2020-05-24 19:48] matthias-schlimm commented on #242
included into developer branch

[2020-05-24 19:48] #242 closed, assigned to matthias-schlimm

[2020-05-24 19:56] matthias-schlimm commented on #239
included into developer branch

[2020-05-24 19:56] #239 closed, assigned to matthias-schlimm

[2020-05-24 20:07] matthias-schlimm commented on #187
UPL must be checked in addition, codefix as follows

**function:** Test-AppLayeringSoftware
**Line:** 2575

**old:**

[code]

[2020-05-24 20:11] matthias-schlimm commented on #187
**new:**

[code]

[2020-05-24 20:16] matthias-schlimm commented on #187
included into developer branch

[2020-05-24 20:16] #187 closed, assigned to matthias-schlimm

[2020-05-24 20:35] #221 closed, assigned to matthias-schlimm

[2020-05-24 20:39] matthias-schlimm commented on #156
using DSM as well, for Master Image with PVS / MCS seperated OU and with GPP the DSM Service is set to automatic start.
For the PVS/MCS Targets the DSM Service is set to disable via GPP.

works without issues.

[2020-05-24 20:39] #156 closed, assigned to matthias-schlimm

[2020-05-25 17:47] scriptkiddy666 commented on #238
@matthias-schlimm I just downloaded the content of the two links and a few additional pages.

[VDI Fingerprinting for Non-Persistent Virtual Machines.pdf](https://github.com/EUCweb/BIS-F/files/4678339/VDI.Fingerprinting.for.Non-Persistent.Virtual.Machines.pdf)
[Idea_ Best Practices for Cylance in Citrix on Azure.pdf](https://github.com/EUCweb/BIS-F/files/4678340/Idea_.Best.Practices.for.Cylance.in

[2020-05-26 04:52] micswe opened #243 "Hydrate script - time frame"
Hi Matthias,
wa have the following requirement on Customer Site.

We need a time frame for the script. The script can run after Work hourse. The Customer need this for fast reboot in error situations in Work houre.

<#
    .Synopsis
      Enables pre-caching of files for PVS systems
    .Description
      Enables pre-caching of files for PVS systems
      Tested on Server 2019
    .EXAMPLE
    .In

[2020-05-27 14:03] matthias-schlimm commented on #233
I tested the script today.
Unfortunately the processes are still not stopped. But I don't know if it's important that they are stopped either.
The other changes work.
After I distributed the new image, TrendMicro unfortunately doesn't start completely anymore (no icon in the taskbar).
The other TrendMicro processes start.

![TM-Prozesse](https://user-images.githubusercontent.com/34108484/83029990-

[2020-05-27 14:35] matthias-schlimm commented on #238
@scriptkiddy666 the VDI or AD parameter can be set only during installation. Any other ideas to do this with BIS-F ?

[2020-05-27 15:48] scriptkiddy666 commented on #238
@matthias-schlimm unfortunately no. Maybe it works if the registry keys are changed afterwards, but this is something that needs to be tested first...
I think the most important thing is to detect if Cylance was installed using one of the two parameters, and then not to make it anonymous.

[2020-05-27 15:58] matthias-schlimm commented on #238
I don't find anything in the PDF documents above, where I can find informations about the 2 parameters on the system, like registry or file system. any idea ?

[2020-05-27 16:33] scriptkiddy666 commented on #238
Oh sorry, my bad :-(
There are two DWORDS or so with AD and VDI in the registry.
I'll ask a colleague of mine to send me a screenshot of it, because I'm currently in parental leave.

[2020-05-28 17:14] scriptkiddy666 commented on #238
Please have a look at the following screenshot (HKEY_LOCAL_MACHINE):
![grafik](https://user-images.githubusercontent.com/11939952/83171782-e7e33100-a116-11ea-86a7-e37a2c560d22.png)

We installed Cylance with the VDI=1 parameter. I think that the VDIType DWORD will change it's value to 2 if the AD parameter is used. (And should be 0 if neither of the parameters are used.)
The VDI DWORD should hold

[2020-06-01 14:27] matthias-schlimm commented on #238
added to developer branch
[code]

[2020-06-01 14:29] #238 closed, assigned to matthias-schlimm

[2020-06-01 18:27] matthias-schlimm commented on #225
Magst mal testen :-)
[setup-BIS-F-7.1912.3.31030.zip](https://github.com/EUCweb/BIS-F/files/4712847/setup-BIS-F-7.1912.3.31030.zip)

[2020-06-01 18:48] tschuegy commented on #225
Ja klar doch, werde ich morgen gerne mal anschauen und Dir anschliessend Feedback geben.
________________________________
Von: Matthias Schlimm <notifications@github.com>
Gesendet: Montag, 1. Juni 2020 20:27
An: EUCweb/BIS-F <BIS-F@noreply.github.com>
Cc: tschuegy <tschuegy@hotmail.com>; Author <author@noreply.github.com>
Betreff: Re: [EUCweb/BIS-F] MSI Package (#225)

Magst mal testen :-)
setup-B

[2020-06-04 18:42] ghost commented on #233
TrendMicro Apex One uses self-preservation to restart all processes after unexpected termination.
This prevents the GUID from being deleted and edited.

TrendMicro offers the "ImgSetup" tool for machine cloning, which generates an individual GUID. This tool is the better choice in this case when using the ApexOne.

[2020-06-04 18:51] matthias-schlimm commented on #233
Thx Maik, I will go back to the origin Script without ApexOne but will use the new Stop-Processes function. In addition I can check the apexOne service if it exists and skip bis-F preparation and personalization.

[2020-06-05 19:42] matthias-schlimm commented on #240
Thanks to Dominic Secker to implement the following Enhancements:

**Certificate determination**
- Script is verifying if a certificate thumbprint has been specified. If a thumbprint has been configured but the respective certificate cannot be found within Local Machine Certificate Store the script fails.
- If no certificate thumbprint has been specified, script is checking for any valid certifica

[2020-06-05 19:46] matthias-schlimm commented on #240
implemented into developer branch now

[2020-06-05 19:46] #240 closed, assigned to matthias-schlimm

[2020-06-05 20:12] matthias-schlimm commented on #233
@Maik268 Skipping ApexOne is implemented now in dev-branch

[2020-06-05 20:12] #233 closed, assigned to matthias-schlimm

[2020-06-05 20:19] matthias-schlimm commented on #225
implemented now for dev branch and will be available with 7.1912.3 and above

[2020-06-05 20:19] #225 closed, assigned to matthias-schlimm

[2020-06-05 20:21] #217 closed, assigned to matthias-schlimm

[2020-06-11 23:00] JamesKindon opened #245 "Defender ATP VDI prep"
Some updated guidance from Microsoft on preparing VDI environments for Defender ATP

- https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/configure-endpoints-vdi
- https://techcommunity.microsoft.com/t5/microsoft-defender-atp/onboarding-and-servicing-non-persistent-vdi-machines-with/ba-p/1360721
- https://demo.wd.microsoft.com/Content/wdav-testing-vdi-ssu.pd

[2020-06-12 05:20] TRiebesel opened #246 "hybrid join"
Hello,

is it possible to check the Azure AD hybrid join status? (dsregcmd /status) and when the Image is hybrid join to leave the hybrid join with dsregcmd /leave

thank
best regards
Tobias

[2020-06-12 05:44] EUCweb commented on #246
This is done as described here https://github.com/EUCweb/BIS-F/issues/84 and available in BIS-F 7.1912

Send from my mobile device

[2020-06-15 18:29] matthias-schlimm opened #247 "DomainMember output - missing $"
BISF.psm1 - function Test-AppLayeringSoftware

Line 2579:

**old**

[code]

**new:**
``
$DomainMember = (Get-WmiObject -Class Win32_ComputerSystem).PartOfDomain
Write-BISFLog -Msg "Computer is DomainMember:  $DomainMember"
[code]

[2020-06-15 18:36] #247 closed, assigned to matthias-schlimm

[2020-06-15 19:12] #246 closed, assigned to nobody

[2020-06-16 06:57] thewitscher opened #248 "No finalize with installed UPL feature in VDA Installation"
With installed UPL feature in the VDA Installation BIS-F finalize isn´t possible. At the end the following error message appears: "Layer finalize is NOT allowed".

[2020-06-16 07:02] thewitscher opened #249 "WEMCache folder will be reconfigured to c:\... on Windows 10 with UPL"
If the WEMCache is already configured on the WriteCache disk (e.g. via registry setting), the following message appears during BIS-F run: "Redirection is disabled"
This happens on a Windows 10 VM with installed UPL feature in the VDA Installation.

[2020-06-16 07:08] thewitscher commented on #248
[PERS_BISF_WPT_MASTER-W10EX64_20200615-145952.log.log](https://github.com/EUCweb/BIS-F/files/4784947/PERS_BISF_WPT_MASTER-W10EX64_20200615-145952.log.log)
[PREP_BISF_MASTER-W10EX64_20200615-144644.log](https://github.com/EUCweb/BIS-F/files/4784948/PREP_BISF_MASTER-W10EX64_20200615-144644.log)
[PREP_BISF_WPT_MASTER-W10EX64_20200615-144644.log](https://github.com/EUCweb/BIS-F/files/4784949/PREP_BISF

[2020-06-16 07:09] thewitscher commented on #249
[PREP_BISF_WPT_MASTER-W10EX64_20200615-144644.log](https://github.com/EUCweb/BIS-F/files/4784952/PREP_BISF_WPT_MASTER-W10EX64_20200615-144644.log)
[PERS_BISF_MASTER-W10EX64_20200615-145952.log](https://github.com/EUCweb/BIS-F/files/4784953/PERS_BISF_MASTER-W10EX64_20200615-145952.log)
[PERS_BISF_WPT_MASTER-W10EX64_20200615-145952.log.log](https://github.com/EUCweb/BIS-F/files/4784954/PERS_BISF_WPT

[2020-06-16 07:33] paul-e-martin opened #250 "VDA SSL Wildcard Support"
Is it possible to amend the EnableSSLVDA script to also search for wildcard certs that match the domain name of the VDA?

We have a number of BYOD's that we don't want to distribute the root cert to, but wish to keep the VDA connection SSL.

I have made amendments to the script attached (understand you may want to make amendments to it). line 172 onwards.

The script will first look for a certific

[2020-06-16 07:48] matthias-schlimm commented on #250
**--- Communication ---**

**Matthias:**
Thanks Paul. One quick question: you have integrated your changes in the latest script version that I provide ?

**Reimius99**
Yes it looks like it. The only change should be between line 173 and 180 of your version.

Found that it doesn’t need a foreach loop on the certs, but what I have sent over will first look for a cert that matches the hostname, if 1

[2020-06-16 07:51] matthias-schlimm commented on #248
please change _BISF.psm1_  - Function _Test-AppLayeringSoftware_

Line 2580-2581:

**old:**
[code]

**new:**
[code]

[2020-06-16 07:53] matthias-schlimm commented on #249
the Redirection for PVS/MCS must be checked if $UPL -eq $true/$False in addition

[2020-06-16 08:13] paul-e-martin commented on #250
Attached version with the sort/select as mentioned above.

[05_PersBISF_EnableSSLVDA.txt](https://github.com/EUCweb/BIS-F/files/4785302/05_PersBISF_EnableSSLVDA.txt)

[2020-06-16 14:41] thewitscher opened #251 "NoELM detected on OS Layer with App Layering 2003 on W2K16 and W2K19"
"NoELM" is detected on an W2K16 or W2K19 OS Layer with App Layering 2003.

[PREP_BISF_WPT_CITRXAL360000_20200616-122817.log](https://github.com/EUCweb/BIS-F/files/4787205/PREP_BISF_WPT_CITRXAL360000_20200616-122817.log)
[PREP_BISF_WPT_CITRXAL360000_20200616-144732.log](https://github.com/EUCweb/BIS-F/files/4787206/PREP_BISF_WPT_CITRXAL360000_20200616-144732.log)
[PREP_BISF_CITRXAL360000_20200616-1

[2020-06-16 14:44] paul-e-martin commented on #250
Realised my method of determining the domain name wouldn’t work. As $env:USERDNSDOMAIN doesn’t return the domain name when run as a local account, which your script will be executed with.

Have amended it to "*." + "$([System.DirectoryServices.ActiveDirectory.Domain]::GetCurrentDomain().Name)" as per the attached

[05_PersBISF_EnableSSLVDA.txt](https://github.com/EUCweb/BIS-F/files/4787231/05_Pers

[2020-06-16 18:40] matthias-schlimm commented on #250
**integrated into developer branch**

check out https://github.com/EUCweb/BIS-F/blob/develop/Framework/SubCall/Personalization/05_PersBISF_EnableSSLVDA.ps1

[2020-06-16 18:57] matthias-schlimm commented on #251
### please change as described and test again
**Note: this will not fix the issue, only debugging to see where the issue come from. Please change the code, run again and upload the new logs**

**Script:**  BISF.psm1
**Function:** Test-AppLayeringSoftware
**Line:** remove 2579 - 2583 and insert below the new code

**new:**

[code]

### Preview of the changes:
**before:**
![image](https://user-image

[2020-06-17 08:59] thewitscher commented on #251
here are the new W2K19 Logs with the above code changes:
[PREP_BISF_CITRXAL9d8005_20200617-105202.log](https://github.com/EUCweb/BIS-F/files/4791344/PREP_BISF_CITRXAL9d8005_20200617-105202.log)
[PREP_BISF_WPT_CITRXAL9d8005_20200617-105202.log](https://github.com/EUCweb/BIS-F/files/4791345/PREP_BISF_WPT_CITRXAL9d8005_20200617-105202.log)

[2020-06-17 09:18] matthias-schlimm commented on #251
**Computer is not a DomainMember**
this is the initiator for Override the RunMode, I will have a look to it

[code]

[2020-06-17 09:24] thewitscher commented on #251
Please check this also for the App Layer, because the App Layered Packaged VM is also not a DomainMember. Only the Platform Layered VM is domain joined.

[2020-06-17 09:52] matthias-schlimm commented on #251
In summary for the Script

**OS-Layer:**
RunMode: 3
DomainMember: $false
UniService: running
Windows 10 -> UPL: $false (If $true: UPL inside Applayering PackagingVM make no sense)
Server OS -> UPL: $false
DiskMode:  UnmanagedAppLayering

**Platform-Layer:**
RunMode: 4
DomainMember: $true
UniService: running
Windows 10 -> UPL: $false (If $true: UPL inside Applayering PackagingVM make no sense)
Serv

[2020-06-17 10:16] thewitscher commented on #251
Hi Matthias,
I just checked the Layering services on a W10 VDI with UPL Feature with the following states:
uniservice = running, starttype=disabled
ulayer = running, starttype=auto
upl-support = running, starttype= auto

[2020-06-17 10:21] thewitscher commented on #251
in a layered VM (with ELM) only one App Layering Service exists with the following state:
uniservice = running, starttype=auto

[2020-06-17 10:28] matthias-schlimm commented on #251
UPL Support detection in 7.1912.3 and earlier works as follows:

[code]

[2020-06-17 10:29] matthias-schlimm commented on #251
I will complete rewritten the function to detect the right layer

[2020-06-17 18:39] matthias-schlimm commented on #251
### Action plan

Script: BISF.psm1
Function: Test-AppLayerungSoftware
Line: Delete Line 2529 - 2613 (complete function Test-AppLayeringSoftware)

Replace it with the code inside the attached file

[function Test-AppLayeringSoftware.txt](https://github.com/EUCweb/BIS-F/files/4797581/function.Test-AppLayeringSoftware.txt)

Test all different modes with the code changes above, this will also address

[2020-06-18 04:55] matthias-schlimm commented on #248
Duplicate of #251

[2020-06-18 04:55] #248 closed, assigned to matthias-schlimm

[2020-06-18 07:42] thewitscher commented on #251
cannot use the checkbox.

Server 2016/2019 - VDA without AppLayering - works fine

Logs:
[PREP_BISF_MASTER-W2K19_20200618-092053.log](https://github.com/EUCweb/BIS-F/files/4797003/PREP_BISF_MASTER-W2K19_20200618-092053.log)
[PREP_BISF_MASTER-W2K16_20200618-092541.log](https://github.com/EUCweb/BIS-F/files/4797004/PREP_BISF_MASTER-W2K16_20200618-092541.log)
_________________________________________

[2020-06-18 07:50] matthias-schlimm commented on #251
### Action Plan
**Script:** BISF.sp1
**Line:** 356-357
**Action:** switch the 2 lines as shown below

**before:**
[code]

**after:**
[code]

**Description:**
The Variable $UPL will be defined in Test-XDSoftware and processed in Test-AppLayeringSoftware

[2020-06-18 07:53] thewitscher commented on #251
Server 2016/2019 - VDA with AppLayering

    OS - Layer: works fine

Logs:
[PREP_BISF_CITRXAL360000_20200618-085846.log](https://github.com/EUCweb/BIS-F/files/4797102/PREP_BISF_CITRXAL360000_20200618-085846.log)
[PREP_BISF_CITRXAL9d8005_20200618-094801.log](https://github.com/EUCweb/BIS-F/files/4797103/PREP_BISF_CITRXAL9d8005_20200618-094801.log)

[2020-06-18 08:08] thewitscher commented on #251
Windows 10 - VDA with UPL - noELM detected: works fine, but the warning message is wrong!
You should delete the comment after ","

Logs:
[PREP_BISF_MASTER-W10EX64_20200618-100002.log](https://github.com/EUCweb/BIS-F/files/4797182/PREP_BISF_MASTER-W10EX64_20200618-100002.log)

[2020-06-18 09:02] matthias-schlimm commented on #251
update the script above and remove the warning message. Log output much better than before

Processing function Test-BISFService
Service UniService exists
Product Citrix AppLayering (Version 19.11.0.13-b3cedcc) installed
**OverrideRunMode: False**
**Citrix AppLayering RunMode: 3**
Processing function Get-BISFDiskMode
DiskMode is VDAPrivateAppLayering
DiskMode: VDAPrivateAppLayering
Processing func

[2020-06-18 10:13] matthias-schlimm commented on #251
update the code again as follows:

[function Test-AppLayeringSoftware.txt](https://github.com/EUCweb/BIS-F/files/4797888/function.Test-AppLayeringSoftware.txt)

[2020-06-18 10:28] thewitscher commented on #251
done.
run´s like a charm :)

Logs:
[PREP_BISF_MASTER-W10EX64_20200618-121953.log](https://github.com/EUCweb/BIS-F/files/4797979/PREP_BISF_MASTER-W10EX64_20200618-121953.log)

[2020-06-18 13:01] thewitscher commented on #251
Server 2016/2019 - VDA with AppLayering

Platform - Layer: works fine

Logs:
[PREP_BISF_W2K16-PL-MCS_20200618-130821.log](https://github.com/EUCweb/BIS-F/files/4798667/PREP_BISF_W2K16-PL-MCS_20200618-130821.log)
[PREP_BISF_W2K19-PL-MCS_20200618-135718.log](https://github.com/EUCweb/BIS-F/files/4798668/PREP_BISF_W2K19-PL-MCS_20200618-135718.log)

[2020-06-18 15:05] thewitscher commented on #251
Server 2016/2019 - VDA with AppLayering

Application - Layer: works fine

Logs:
[PREP_BISF_CITRXAL758001_20200618-153059.log](https://github.com/EUCweb/BIS-F/files/4799398/PREP_BISF_CITRXAL758001_20200618-153059.log)
[PREP_BISF_CITRXALcf8002_20200618-163055.log](https://github.com/EUCweb/BIS-F/files/4799399/PREP_BISF_CITRXALcf8002_20200618-163055.log)

[2020-06-18 15:11] thewitscher commented on #251
Server 2016/2019 - VDA with AppLayering

Outside ELM (published layered Image) - Layer: works, but with a warning, NoELM detected is fine

The warning message should be something different.

Logs:
[PREP_BISF_W2K16-PL-MCS_20200618-161812.log](https://github.com/EUCweb/BIS-F/files/4799414/PREP_BISF_W2K16-PL-MCS_20200618-161812.log)
[PREP_BISF_W2K19-PL-MCS_20200618-165925.log](https://github.com/EUCw

[2020-06-18 16:41] matthias-schlimm commented on #251
**Use checkbox if it works as expected, otherwise write a comment below**
**Upload all BIS-F logs from each Test**
- [x] Windows 10 - VDA without UPL in Azure (non Domain) [PREP_BISF_BaseImage_20200618-213349.log](https://github.com/EUCweb/BIS-F/files/4801321/PREP_BISF_BaseImage_20200618-213349.log)
- [x] Windows 10 - VDA with UPL [PREP_BISF_MASTER-W10EX64_20200618-121953.log](https://github.com/E

[2020-06-18 20:21] #250 closed, assigned to matthias-schlimm

[2020-06-18 21:17] matthias-schlimm commented on #249
Windows 10 on Azure with UPL
![image](https://user-images.githubusercontent.com/34108484/85072765-e4911180-b1b9-11ea-8d1e-32d9ae72eda9.png)

Windows 10 on Azure without AppLayering
![image](https://user-images.githubusercontent.com/34108484/85073330-e0b1bf00-b1ba-11ea-90c6-6a83be549ba1.png)

Windows 10 with AppLayering
![image](https://user-images.githubusercontent.com/34108484/85073084-76991a00-b

[2020-06-18 21:27] matthias-schlimm commented on #249
integrated into developer branch

[2020-06-18 21:27] #249 closed, assigned to nobody

[2020-06-18 21:41] matthias-schlimm commented on #251
all tests passed, see above

codechanges integrated into developer branch

[2020-06-18 21:41] #251 closed, assigned to matthias-schlimm

[2020-06-19 10:06] matthias-schlimm opened #252 "Nvidia Driver not detected"
![image](https://user-images.githubusercontent.com/34108484/85121474-1d1a0500-b225-11ea-8262-eb9849a63d44.png)

we must check in addition one of these services
![image](https://user-images.githubusercontent.com/34108484/85121522-3327c580-b225-11ea-9941-0c8271fb6d98.png)

![image](https://user-images.githubusercontent.com/34108484/85121564-48045900-b225-11ea-83cd-da7c2958d0f7.png)

![image](https:/

[2020-06-19 10:29] matthias-schlimm commented on #252
**path to NVFBCEnable.exe ?**

detailed informations https://docs.citrix.com/en-us/citrix-virtual-apps-desktops/graphics/hdx-3d-pro/gpu-acceleration-desktop.html

[2020-06-20 18:53] thewitscher commented on #251
Windows 10 - VDA without UPL: works fine

Logs:
[PREP_BISF_MASTER-W10E_20200620-202844.log](https://github.com/EUCweb/BIS-F/files/4808421/PREP_BISF_MASTER-W10E_20200620-202844.log)

[2020-06-23 13:15] paul-e-martin commented on #250
Realised an issue with case sensitivity of the subject name of the cert.
Attached is a revised copy that accounts for that.

Only lines 176 and 178 amended to  be the DnsNameList.Unicode rather than Subject

[05_PersBISF_EnableSSLVDA.txt](https://github.com/EUCweb/BIS-F/files/4819616/05_PersBISF_EnableSSLVDA.txt)

[2020-06-24 08:46] paul-e-martin opened #253 "VDA SSL Wildcard Cert Case Sensitive"
Issue with case sensitivity on the matching of the subject name of the certificate to the computername and domain name (wildcard)

Edited line 176 and 178 to change the property from Subject to DnsNameList.Unicode

[05_PersBISF_EnableSSLVDA.txt](https://github.com/EUCweb/BIS-F/files/4824169/05_PersBISF_EnableSSLVDA.txt)

[2020-06-24 10:38] matthias-schlimm commented on #253
Thank you. If you familiar with GitHub, you can send me a pull request in the future. easier to handle and to compare the changes

Send from my mobile device

[2020-06-24 20:13] vT15 opened #254 "GUI version"
Would be really nice to create GUI version. With GUI everything should be much easier to setup.

Cheers
Artur

[2020-06-25 03:50] EUCweb commented on #254
Thanks for your feature Request. I have this in my mind too, but this needs time. I will see what I can do.

Matthias

Send from my mobile device

[2020-06-25 07:55] jeremyts opened #255 "MSI installer creates two entries under the Uninstall key"
The MSI installer creates two entries under the "HKLM\SOFTWARE\WOW6432Node\Microsoft\Windows\CurrentVersion\Uninstall" key. Not a major issue.just something to be addressed in a future release.

[2020-06-25 12:36] remkolansaat opened #256 "No full AVScan with Defender : Windows Defender is installed, but not activated"
After updating to bisf 1912.3 the full av scan will not run anymore , in 1912.2 and previous there was no problem. The only thing I can see in the log is this:

Nice thingabout the error is that the script is finished in 10 minutes instead of 90 minutes ;-)

=========================== 10_PrepBISF_AV-WinDefend.ps1 ===========================
20-6-2020 16:13:55 | sCitrixXenDesktop | INFORMATION...

[2020-06-25 12:43] matthias-schlimm commented on #256
please check if the Service WinDefend is running

[2020-06-25 13:41] remkolansaat commented on #256
Hi Matthias,

Thanks for the great work!

I will add a custom script “get-service windefend” and write out the output to a log. Then I can see the status of the service at running time of BISF prep

Now at the moment the service is running but that’s after the sealing process

Keep you updated!

Regards

Remko

Van: Matthias Schlimm <notifications@github.com>
Verzonden: donderdag 25 juni 2020 14:4

[2020-06-25 19:32] vT15 commented on #254
Thanks!

On Thu, 25 Jun 2020 at 05:50, EUCweb.com <notifications@github.com> wrote:

[2020-06-26 07:03] paul-e-martin commented on #253
Sorry i'm not, still new to github

[2020-06-26 09:30] remkolansaat commented on #256
The problem was that Windows Defender was not ready, it was nothing with Bisf. I fixed the Defender issue and full av scan is running again. My Appolagies

[2020-06-26 09:30] #256 closed, assigned to matthias-schlimm

[2020-06-26 18:31] matthias-schlimm opened #257 "Azure WVD not detected"
IF running BIS-F on WVD, the platform is not detected and BIS-F shows the following error

[code]

[2020-06-26 18:33] matthias-schlimm commented on #257
### Action plan
Script: BISF.psm1
Function: Test-WVDSoftware
Line: 3850 - 3862 delete and replace with the Lines below

[code]

[2020-06-26 19:17] matthias-schlimm commented on #255
**Nbr. 1**
![image](https://user-images.githubusercontent.com/34108484/85893063-66082580-b7f2-11ea-88ac-07ee083147ed.png)

**Nbr.2**
![image](https://user-images.githubusercontent.com/34108484/85893083-715b5100-b7f2-11ea-9b34-ed39b12acfb0.png)

[2020-06-26 19:18] alphasteff commented on #255
I see also two keys:
HKEY_LOCAL_MACHINE\SOFTWARE\WOW6432Node\Microsoft\Windows\CurrentVersion\Uninstall\{A6C96C1A-E390-47DC-9594-EE4883516B9A}
HKEY_LOCAL_MACHINE\SOFTWARE\WOW6432Node\Microsoft\Windows\CurrentVersion\Uninstall\Base Image Script Framework (BIS-F) 7.1912.4.11038

Version: 7.1912.4.11038

[2020-06-26 19:21] matthias-schlimm commented on #255
Open up a support ticket at Adv. Installer

[2020-06-26 19:41] alphasteff commented on #257
6/26/2020 7:20:45 PM | admin | INFORMATION... | Processing function Test-BISFWVDSoftware
6/26/2020 7:20:45 PM | admin | INFORMATION... | Product Microsoft Windows 10 Enterprise for Virtual Desktops NOT installed

[2020-06-26 19:47] alphasteff commented on #257
I will test the follow lines:

    Write-BISFFunctionName2Log -FunctionName ($MyInvocation.MyCommand | ForEach-Object { $_.Name })  #must be added at the begin to each function
    $OSName = (Get-WMIObject Win32_OperatingSystem).Name
    $product = "Microsoft Windows 10 Enterprise for Virtual Desktops"
    IF ($OSName -match $product) { $WVD = $true } ELSE { $WVD = $false }
    IF ($WVD -eq $true)

[2020-06-26 20:04] alphasteff commented on #257
OK, with this modification (-match) it works.

[2020-06-26 20:06] matthias-schlimm commented on #257
But I think if you have windows 10 Enterprise that will not work with -match

[2020-06-26 20:07] matthias-schlimm commented on #257
Please send me a output of  (Get-WMIObject Win32_OperatingSystem)

[2020-06-26 20:08] alphasteff commented on #257
I have "Microsoft Windows 10 Enterprise for Virtual Desktops" and you check also the same string. The problem is "|C:\windows|\Device\Harddisk0\Partition2" at the end of the string.

[2020-06-26 20:15] alphasteff commented on #257
(Get-WMIObject Win32_OperatingSystem):

[code]

(Get-WMIObject Win32_OperatingSystem).Name:
`Microsoft Windows 10 Enterprise for Virtual Desktops|C:\windows|\Device\Harddisk0\Partition2`

[2020-06-28 06:29] matthias-schlimm commented on #257
we can use $OSName, this is a global variable from BIS-F and can be get in the log as well, check line `Operating System: Microsoft Windows 10 Enterprise for Virtual Desktops` of your sending log, means we must change the code as follows:

[code]

[2020-06-28 06:35] matthias-schlimm commented on #257
develop branch updated

[2020-06-28 06:40] matthias-schlimm commented on #253
updated in developer branch

[2020-06-28 06:40] #253 closed, assigned to matthias-schlimm

[2020-06-28 06:42] matthias-schlimm commented on #184
fixed with release 7.1912.4

[2020-06-28 06:42] #184 closed, assigned to matthias-schlimm

[2020-06-30 19:16] matthias-schlimm opened #258 "ADML: typo in Configure Personalization"
Help text does not match to the Dropdown
![image](https://user-images.githubusercontent.com/34108484/86167401-c068f500-bb16-11ea-9d22-362bdbd96e22.png)

[2020-06-30 19:19] matthias-schlimm commented on #257
@alphasteff can we close this issue ?

[2020-06-30 20:45] alphasteff commented on #257
I've tested the newest post above, it works like a charm.

[2020-06-30 20:48] #257 closed, assigned to matthias-schlimm

[2020-07-03 14:59] matthias-schlimm opened #259 "Microsoft Optimizer"
Integrate Microsoft optimizer into BIS-F

![BA451793-3272-42A4-8563-B1ADD3424677](https://user-images.githubusercontent.com/34108484/86480530-79654480-bd4e-11ea-9832-01b1c943a327.jpeg)

[2020-07-06 18:36] micswe opened #260 "McAfee change installation on VDI mode"
McAffe hase change the installation step in VDI mode.

Please see the new artikel.
https://docs.mcafee.com/bundle/agent-5.6.x-installation-guide/page/GUID-7264ED00-8FFC-49B8-9A21-07FF12D2EA88.html

Remove GUID is not needed anymore, after remove the guid you become duplicate entry in EPO Database.

I changed the following function

[code]

[2020-07-07 11:06] matthias-schlimm opened #261 "CylanceProtect Errorhandling"
During Sealing better errhorhandling for TakeOwnership Function as follows

[code]

[2020-07-08 14:23] matthias-schlimm commented on #255
I was able to replicate the described behavior.
It seems this behavior is triggered by the option **override Windows Installer programs list entry** from **Product Details** view:
![image](https://user-images.githubusercontent.com/34108484/86930465-59ab9300-c137-11ea-8ccf-ee8a9104cc7b.png)

This option is activated when selecting a different theme than the **Classic** one.

If you are not using a

[2020-07-14 19:03] matthias-schlimm opened #262 "UPL + PVS Target Device Driver doesn't convert VHDX"
If UPL with PVS Target Device Driver is installed and the System must be converted through BIS-F from C: to the VDHX it ending up with the message **Citrix AppLayering installed, convert to Disk not necessary**

[2020-07-14 19:06] matthias-schlimm commented on #262
**Script:** 98_PrepBISF_BUILD_BaseImage.ps1
**Line:** 377
**old:** `IF ($returnTestAppLayeringSoftware -eq $false) {
`

**new:** `IF (($returnTestAppLayeringSoftware -eq $false) -or ($UPL -eq $true)) {`

[2020-07-27 14:03] nexocon opened #263 "BIS-F in SCCM Task Sequence brings TS to fail after successfull running"
When we run BIS-F in an SCCM Task Sequence, the SCCM Agent after Sealing and PVS vDisk capture is done, looses the connection to SCCM MP and this will endup in a failed Task Sequence.
The Task Sequence will hang in this state:
![image](https://user-images.githubusercontent.com/68855355/88550677-3a12d680-d022-11ea-9362-3a990e7a860c.png)

It will take some time (approx. 60 min.) and the VM will be r

[2020-07-27 19:25] matthias-schlimm commented on #263
can you upload here the BIS-F preparation and personalization log

[2020-07-28 08:58] nexocon commented on #263
[PREP_BISF_xxx.log](https://github.com/EUCweb/BIS-F/files/4987040/PREP_BISF_xxx.log)

An Pers.log is currently not available from this deployment.

[2020-07-28 09:10] nexocon opened #264 "Remove _SMSTaskSequence Folder when using BIS-F with SCCM TS after capturing vDisk"
When we use BIS-F in an SCCM Task Sequence and let BIS-F capture the vDisk for PVS, the _SMSTaskSequence Folder will also be  captured in the Image. Furthermore it would be great to manually define folders that should be deleted from the vDisk after the capture process is done. You could combine this with the "Run Defrag on vDisk" step you already implemented.

[2020-07-29 15:22] ES-PSH opened #265 "Office 2010 rearm is not performed"
When Office 2010 is installed I see the following warning in the logs:

**29-7-2020 16:09:37 | LocalAdmin | INFORMATION... | =========================== 96_PrepBISF_Rearm.ps1 ===========================
29-7-2020 16:09:52 | LocalAdmin | INFORMATION... | Microsoft Office Professional Plus 2010 - 14.0.7015.1000 installed
29-7-2020 16:09:52 | LocalAdmin | INFORMATION... | Installpath C:\Program Files

[2020-07-29 19:09] matthias-schlimm commented on #265
### Action Plan
**Script:** 96_PrepBISF_Rearm.ps1
**Line:**  99-103

**old:**

[code]

**new:**
[code]

[2020-07-30 06:47] ES-PSH commented on #265
That works. Changed it a little bit to also find the right location for Office 2010 64 bits. Maybe this is an option?

**Script:** 96_PrepBISF_Rearm.ps1
**Added Line:** 80

[code]

**Script:** 96_PrepBISF_Rearm.ps1
**Line:** 99-103
[code]

[2020-07-30 07:02] ES-PSH opened #266 "Typo in 97_PrepBISF_PRE_BaseImage.ps1"
There is a typo:

Script: 97_PrepBISF_PRE_BaseImage.ps1
Line: 856

[code]

Commannd should be Command.

There is also an extra space?

[2020-07-30 07:06] ES-PSH opened #267 "Personalization action is running two times"
In the logging from the personalization script I see actions being executed two times:

[code]

[2020-07-30 09:16] thewitscher opened #268 "TIMEBOMB RegKey will not be deleted"
TIMEBOMB RegKey will not be deleted.

In the attached logs, deleting is finished successfully, but the reg-key is still available.

[PREP_BISF_MASTER-W2K16_20200730-103345.log](https://github.com/EUCweb/BIS-F/files/5000226/PREP_BISF_MASTER-W2K16_20200730-103345.log)
[PERS_BISF_WPT_MASTER-W2K16_20200730-102258.log.log](https://github.com/EUCweb/BIS-F/files/5000227/PERS_BISF_WPT_MASTER-W2K16_2020073

[2020-07-30 16:03] thewitscher opened #269 "Office detection needs to long"
Office Rearm Script takes too long:

29.07.2020 11:30:32 | admuser | INFORMATION... | -----snap-----
29.07.2020 11:30:32 | admuser | INFORMATION... | =========================== FINISH SCRIPT ===========================
29.07.2020 **11:30:32** | admuser | INFORMATION... | =========================== 96_PrepBISF_Rearm.ps1 ===========================
29.07.2020 **11:40:58** | admuser | INFORMATION..

[2020-07-30 18:51] matthias-schlimm commented on #269
it looks like this https://docs.microsoft.com/de-de/powershell/scripting/samples/working-with-software-installations?view=powershell-7

_

_

[2020-07-31 11:04] matthias-schlimm commented on #267
fixed in developer branch Script 01_PersBISF_TimeAndGPO.ps1 removed it's already included in the new 01_PersBISF_MS.ps1

[2020-07-31 11:04] #267 closed, assigned to matthias-schlimm

[2020-07-31 11:57] matthias-schlimm commented on #269
### Action Plan
replace both scripts for Office detection. Using registry instead of WMI

[10_PersBISF_OfficeKMS.txt](https://github.com/EUCweb/BIS-F/files/5006868/10_PersBISF_OfficeKMS.txt)
[96_PrepBISF_Rearm.txt](https://github.com/EUCweb/BIS-F/files/5006869/96_PrepBISF_Rearm.txt)

[2020-07-31 12:50] matthias-schlimm commented on #268
please upload the transcript from the preparation, RDS Timebomb well deleted on the Masterimage

[2020-07-31 13:15] thewitscher commented on #268
Here you are 👍

[PREP_BISF_WPT_MASTER-W2K16_20200730-103345.log](https://github.com/EUCweb/BIS-F/files/5007171/PREP_BISF_WPT_MASTER-W2K16_20200730-103345.log)

[2020-07-31 20:09] matthias-schlimm commented on #266
fixed in developer branch

[2020-07-31 20:09] #266 closed, assigned to matthias-schlimm

[2020-07-31 20:24] thewitscher commented on #268
![grafik](https://user-images.githubusercontent.com/66991062/89074416-a53f0e80-d37c-11ea-9c7f-5885dfcb6288.png)

[2020-07-31 20:34] matthias-schlimm commented on #268
translating SID for Builtin\Admnistrators for MUI Systems
$localSID = New-Object System.Security.Principal.SecurityIdentifier("S-1-5-32-544")
$localame = ($localServiceSID.Translate( [System.Security.Principal.NTAccount])).Value

[51_PrepBISF_DeleteRDSGracePeriod.txt](https://github.com/EUCweb/BIS-F/files/5008953/51_PrepBISF_DeleteRDSGracePeriod.txt)

[2020-07-31 20:52] matthias-schlimm commented on #268
$SID = "S-1-5-32-544" #Builtin\Admnistrators
$objSID = New-Object System.Security.Principal.SecurityIdentifier($SID)
$objUser = $objSID.Translate([System.Security.Principal.NTAccount])
$localame = $objUser.Value

[51_PrepBISF_DeleteRDSGracePeriod.txt](https://github.com/EUCweb/BIS-F/files/5009001/51_PrepBISF_DeleteRDSGracePeriod.txt)

[2020-07-31 21:02] matthias-schlimm commented on #268
fixed in developer branch

[2020-07-31 21:02] #268 closed, assigned to matthias-schlimm

[2020-08-01 06:18] matthias-schlimm commented on #262
integrated into developer branch

[2020-08-01 06:18] #262 closed, assigned to matthias-schlimm

[2020-08-01 06:21] matthias-schlimm commented on #261
integrated into developer branch

[2020-08-01 06:21] #261 closed, assigned to matthias-schlimm

[2020-08-01 06:26] matthias-schlimm commented on #260
integrated into developer branch

[2020-08-01 06:26] #260 closed, assigned to matthias-schlimm

[2020-08-01 06:29] matthias-schlimm commented on #258
integrated into developer branch

[2020-08-01 06:29] #258 closed, assigned to matthias-schlimm

[2020-08-01 06:34] matthias-schlimm commented on #269
integrated into developer branch

[2020-08-01 06:34] #269 closed, assigned to matthias-schlimm

[2020-08-01 06:45] matthias-schlimm commented on #265
integrated into developer branch

[2020-08-01 06:45] #265 closed, assigned to matthias-schlimm

[2020-08-01 07:01] matthias-schlimm commented on #252
fixed in developer branch

[2020-08-01 07:01] #252 closed, assigned to matthias-schlimm

[2020-08-01 07:02] matthias-schlimm commented on #263
can you try a test with a copy from the developer branch here. In issue https://github.com/EUCweb/BIS-F/issues/269 we are fixing the Get-WMIObject tu use registry data instead

_The Win32_Product class is not query optimized. Queries that use wildcard filters cause WMI to use the MSI provider to enumerate all installed products then parse the full list sequentially to handle the filter. This also

[2020-08-01 07:52] matthias-schlimm commented on #255
will be fixed in upcoming 7.129.5 release as follows:

![image](https://user-images.githubusercontent.com/34108484/89097147-a4d66000-d3dc-11ea-97b8-7bc6968faef1.png)

[2020-08-01 07:52] #255 closed, assigned to matthias-schlimm

[2020-08-03 10:37] matthias-schlimm opened #270 "PersBISF_Start.ps1 Script Causing all installed Applications to Reconfigure"
Thank you for your amazing script! I have noticed that my VDI and RDSH machines are reconfiguring all their installed applications on each start-up. This can be seen in the Windows Application event log, where there is an EventID 1035 from the MsiInstaller for each application. According to Microsoft KB974524, linked below, this is caused by a WMI query using the Win32_Product class. I have tracke

[2020-08-03 10:38] matthias-schlimm commented on #270
Office detection uses Get-WMIObject Win32_product since 7.1912.1, this is fixed in issue https://github.com/EUCweb/BIS-F/issues/269

[2020-08-03 14:40] xenadmin opened #271 "BIS-F PERS 00_PersBISF_WriteCacheDisk.ps1 fails, due to timing issue with registry values"
**Describe the bug**
The PERS step fails, during `00_PersBISF_WriteCacheDisk.ps1`, as the script starts before the GPO refresh and therefore uses wrong registry variables. When the `00_PersBISF_WriteCacheDisk.ps1` is started with wrong values, a reboot loops occurs.
If you break the reboot loop with a `shutdown -a` and start the PERS manually a minute later, no issues happen.

**To Reproduce**
In

[2020-08-03 14:47] xenadmin opened #272 "Central PERS Logs are missing the beginning"
**Describe the bug**
If you compare a MCS PERS and PREP log, you notice that the PERS file missing the complete starting section.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Master Image with BISF-F
1. Set a central Log Share via ADMX
1. Review the PERS Log
1. Notice the missing parts.

**Expected behavior**
Complete PERS Log.

**Environment (please complete the following in

[2020-08-03 19:05] #270 closed, assigned to matthias-schlimm

[2020-08-04 11:11] xenadmin commented on #264
I dont use SCCM, but MDT and use:
https://deploymentresearch.com/final-configuration-for-mdt-2013-lite-touch-now-with-autologon-support/
to solve that issue. I let **Final Configuration** launch **BIS-F** and that way I don't have a `_SMSTaskSequence` Folder left.
Hint: I use MCS and not PVS, but I think that shouldn't matter.

[2020-08-04 11:15] xenadmin commented on #263
FYI @matthias-schlimm the second screen from @nexocon about _Fehler bei der Initialisierung der Anmeldung_ I get (nearly) every time a MCS clone starts for the very first time after the cloning process. I then send a Force Reboot via Citrix Studio and the error is gone forever. I always thought that this might be a Citrix MCS issue, but maybe it's in regards to BIS-F?
It doesn't hurt, I just Force

[2020-08-04 11:17] xenadmin commented on #254
**IMHO: ADMX > GUI**
Most (but not all) of us, use BIS-F in a pure automated environment. And even if I didn't, I very much like the fact, that I can just launch BIS-F with all settings in place via an already pre-configured GPO.

[2020-08-04 11:49] vT15 commented on #254
Thanks for details.

Cheers
Artur

On Tue, 4 Aug 2020 at 13:17, Marco Hofmann <notifications@github.com> wrote:

[2020-08-04 18:47] matthias-schlimm commented on #271
integrated into developer branch:
**Function:** Initialize-BISFConfiguration
**Line:** 72-73

![image](https://user-images.githubusercontent.com/34108484/89332439-b1381280-d693-11ea-8b76-6abd524ffab4.png)

grab the gpupdate output into the BIS-F log as follows

![image](https://user-images.githubusercontent.com/34108484/89332320-7fbf4700-d693-11ea-8e3b-dc59634f540d.png)

[2020-08-04 19:28] matthias-schlimm commented on #272
Logfile is always there, but splitted up in 2 files. I will check this
![image](https://user-images.githubusercontent.com/34108484/89336241-5bfeff80-d699-11ea-9703-8c37a10b709f.png)

[2020-08-04 20:00] matthias-schlimm commented on #272
integrated into developer branch

[2020-08-04 20:01] matthias-schlimm commented on #272
@xenadmin please grab a copy of the developer branch, and give them a try

[2020-08-05 08:51] xenadmin commented on #272
@matthias-schlimm

I can't second this! In my central Log share I only have one log fine for each PERS run. never two!

The whole branch or just a specific ps1 file?

[2020-08-05 09:20] matthias-schlimm commented on #272
please grab the whole branch, thx

[2020-08-05 09:31] matthias-schlimm commented on #272
looks good so far:

- single log
- start / initialize always there
- central logshare used

![image](https://user-images.githubusercontent.com/34108484/89396658-1da42780-d70f-11ea-9aa6-e3bd482adb1d.png)

[2020-08-05 09:42] thewitscher opened #273 "Eventviewer errors after redirecting event logs to writecache disk"
massive Eventviewer Errors 23

![grafik](https://user-images.githubusercontent.com/66991062/89397777-8d66e200-d710-11ea-8e68-f6e1bd7a0b84.png)
![grafik](https://user-images.githubusercontent.com/66991062/89397834-a2437580-d710-11ea-8d6f-f1727a5ccb15.png)

[2020-08-05 10:26] matthias-schlimm commented on #273
Windows 10 1809 and Server 2016 can't reproduce the evventviewer issue

![image](https://user-images.githubusercontent.com/34108484/89402207-cace6e00-d716-11ea-89a4-143b56c0353a.png)

![image](https://user-images.githubusercontent.com/34108484/89402231-d15ce580-d716-11ea-8437-d5bd9cf17e63.png)

[2020-08-05 11:42] xenadmin commented on #273
I looked at my setup:
- Windows Server 2016
- CVAD 1912.1000
- BIS-F 7.1912.4
- MCSIO activated
- Eventlogs redirected to D:\
- Logs persist betweent reboots
- No errors in eventvwr.msc

[2020-08-05 20:32] xenadmin commented on #272
In my case it didn't work. Nothing gets redirected to the Central Log Share anymore.
Scheduled Task failed with (0x1)
BIS-F Log was moved to D:\ with error:
[code]

[2020-08-05 21:02] xenadmin opened #274 ""Delay Citrix Desktop Service" doesn't work"
**Describe the bug**
Activate "Delay Citrix Desktop Service" via ADMX.
Boot up a MCS clone.
See it's already registered in Studio, while BIS-F PERS is still active.

**To Reproduce**
Steps to reproduce the behavior:
1. ServerOS 2016 with CVAD 1912.1000 and BIS-F 7.1912.4
1. Create a Machine Catalog
1. Boot a Clone up
1. Watch Studio and Log
1. See the Logs states:
[code]
6. While Studio already sa

[2020-08-06 07:13] EUCweb commented on #274
The Desktop Service Must be configured for the master itself, this will stop and configure the service back to manual start during preparation.

[2020-08-06 07:22] EUCweb commented on #272
Thank you, I will have a look to the code and provide a fix

[2020-08-06 08:06] xenadmin commented on #274
I'm sorry I don't know what you mean. I configured the following policy via GPO for both the Master and den Clones:
![grafik](https://user-images.githubusercontent.com/12057348/89507218-81405a80-d7cc-11ea-8a42-e7777ff1c5c7.png)

[2020-08-06 12:22] matthias-schlimm commented on #274
If you seal the master, please cancel the shutdown at the end or configure it in the BIS-F ADMX to not shutting down the VM and check if the Desktop Service is stopped and disabled, please upload the complete PREP BIS-F log here

[2020-08-06 12:53] thewitscher commented on #273
I´m facing the event errors 23 even after I restart the Server or Worker. Maybe it is only in my Lab, but I wanted to address it as a precaution.
What about the query errors?
If you want to switch back the Event Logs to c:\ drive (disabled redirection), I cannot delete the old eventlog folder on the WriteCache disk. I´m getting the following error:
![grafik](https://user-images.githubusercontent.c

[2020-08-09 07:18] matthias-schlimm commented on #272
@xenadmin please grab a copy of BISF.ps1 and PersBISF_Start.ps1 and try it again

[2020-08-17 06:15] xenadmin commented on #271
Today the issue happened again. The settings aren't recognized and a reboot Loop occurs. I can once again break the loop with a `shutdown -a` and afterwards manual start of `PERSBISF_Start.ps1`. So this wasn't the solution?

EDIT:
#274 would solve many issues, as I now have users connecting and getting disconnect through the loop. If the Broker Agent wouldn't be running until the very end of PERS,

[2020-08-17 06:19] xenadmin commented on #274
Didn't check the master, yet, but I can confirm, that every MCS clone I boot up, has the BrokerAgent Automatic and started.
Will check the master when I have time.

[2020-08-18 00:51] JamesKindon opened #275 "Set System Managed Page file on alternate disk"
When building a base image on premises and shipping a VHD to Azure, the page file is not moved to the SSD temp drive on an Azure VM when provisioned by MCS

We have the ability in BIS-F to set the page file to the alternate location, however we would like to be able to set this to System Managed on the alternate drive, rather than hardcoded

[2020-08-19 13:11] xenadmin commented on #274
Mea culpa, I think it's my fault. As you know, I split the GPO for Master and MCS clones. In the GPO for the Master, the `Delay Citrix Desktop Service` feature was disabled, and therefore the Service wasn't stopped & disabled during PREP.
Thanks for the heads-up to the check the PREP phase again. I thought this was a pure PERS feature.

[2020-08-19 13:14] xenadmin commented on #272
I grabbed a copy of the **BIS-F Develop Snapshot from 17.08.2020** and created a new Master Image VM yesterday. The central PERS Log is now much bigger and starts with:
[code]
So this seems to be solve now. Thank you!

[2020-08-21 01:02] JamesKindon opened #276 "Move FSLogix Cache and Write Cache to Different Drive"
In certain scenarios, it is beneficial to move both the FSLogix Cloud Cache "Cache" and "WriteCache" Directories to a different drive.

There is a group policy setting provided by FSLogix to move this, however the "Cache" key cannot be set by GPO due to delays in processing, and must be baked into the master image. Perfect for the BIS-F **preparation** phase. This should be an optional component i

[2020-08-24 08:50] xenadmin commented on #271
Today I had to Force Restart a MCS VDA at a different customer. The MCS clones there run from this catalog since about 4 weeks. With this Force Reboot, a Reboot Loop was started. 7.1912.4. This seems to be spreading.

Please re-open this issue.

![grafik](https://user-images.githubusercontent.com/12057348/91023991-8e947c00-e5f7-11ea-9f44-9756570d4c62.png)

[2020-08-24 08:50] matthias-schlimm commented on #272
great, will close this issue

[2020-08-24 08:50] #272 closed, assigned to matthias-schlimm

[2020-08-24 08:50] #274 closed, assigned to matthias-schlimm

[2020-08-24 08:51] matthias-schlimm commented on #273
@thewitscher any updates on this or can I close this issue ?

[2020-09-02 07:07] JamesKindon opened #277 "Symantec Virtualization Key Addition"
As per Symantec/Broadcom documentation, for SEP 14 (maybe older) there is a virtualization key that needs to be set on the endpoint to identify the machine as a virtual desktop, this impacts licencing and how machines are handled within SEP

Good addition to BIS-F i think :)

https://techdocs.broadcom.com/content/broadcom/techdocs/us/en/symantec-security-software/endpoint-security-and-management/e

[2020-09-03 08:37] matthias-schlimm opened #278 "Change NGEN Option"
for those using BIS-F to finalize App Layers, Citrix made a change with 2008 that "ngen update" isn't enought to finilize the layer, it needs to be updated to "ngen eqi 3"
https://docs.citrix.com/en-us/citrix-app-layering/4/layer/create-platform-layer.html

You should always run an ngen eqi before running ngen update.

https://worldofeuc.slack.com/archives/CLKGLR0S0/p1599061513001700

[2020-09-03 08:42] matthias-schlimm commented on #278
**Script:** 97_PrepBISF_PRE_BaseImage.ps1
**Line:** 467 - 487

**current code:**

[code]

[2020-09-03 08:46] matthias-schlimm commented on #278
**Script:** 97_PrepBISF_PRE_BaseImage.ps1
**Line:** 467 - 487

**updated code:**

[code]

[2020-09-10 07:52] matthias-schlimm opened #279 "CacheDisk personalization - Skipping Reboot if NONE is set"
IF NONE is set in the Policy, Diskpart and Reboot must be skipped
![image](https://user-images.githubusercontent.com/34108484/92439941-fd530700-f1ab-11ea-8b4c-151ec43ddb65.png)

[2020-09-10 08:10] xenadmin commented on #271
Had different very long talks to @matthias-schlimm **thanks for that!** We came to the conclusion, that I might be the only one affected, and that it's not a BIS-F issue.
So I build a workaround, to bake the missing reg key into the Master at the end of Preparation.
I added the following line to my master image setup script:
[code]
With the following content in the file:
[code]
So far all tests ha

[2020-09-10 08:27] #271 closed, assigned to matthias-schlimm

[2020-09-16 05:54] EUCweb commented on #278
integrated into developer branch

![image](https://user-images.githubusercontent.com/34108095/93306521-446e7700-f800-11ea-8702-d02a20701599.png)

[2020-09-16 05:54] #278 closed, assigned to matthias-schlimm

[2020-09-17 07:40] thewitscher opened #280 "Log Message for "pending reboot error""
Hi Matthias,

as discussed yesterday, please extend the pending reboot script part with log messages, what is causing the "pending reboot" error message.

Thanks and Regards,
Torsten

[2020-09-17 11:44] micswe commented on #243
Hi Matthias,
we make a new version with exclude Pathes, pleease the the forc.
regards
Michael

[2020-09-18 11:33] EUCweb commented on #42
can't reproduce this issue

[2020-09-18 11:36] EUCweb commented on #243
don't know what you mean, which exclude Path do you mean ?

[2020-09-18 11:47] micswe commented on #243
Hi,

we have a customer with dsm 7 (for application Delivery), this software have a large caache under c:\program files\dsm7. we add a excludePath list to skip this folder from Caching.

regards

Michael Schwenke

Betriebswirt (VWA) - Citrix CCEE

________________________________
team-netz

Mobile: +49 (0) 179 1498289  - Telefon: +49 (0) 9651 51938-0

<http://www.team-netz.com>

Veilchenring 5

92

[2020-09-18 11:50] EUCweb commented on #243
ah, ok thx. please open up a new feature request for this.

[2020-09-21 07:35] anometric commented on #42
Thanks it's OK now!

Op vr 18 sep. 2020 om 13:34 schreef EUCweb.com <notifications@github.com>:

--

Met vriendelijke groet,

Günther Imbrechts

[2020-09-22 14:55] JonathanPitre opened #281 "Redirect Citrix App Layering logs to the Write Cache drive"
**Is your feature request related to a problem? Please describe.**
No except that the logs are lost at reboot on non-persistent machines

**Describe the solution you'd like**
Redirect the logs to the WriteCache drive and have a GPO to configure the folder name.

**Describe alternatives you've considered**
None

**Additional context**
View Citrix solution here https://support.citrix.com/article/CTX

[2020-09-23 14:34] zimbo86 opened #282 "powercfg => Ultimate Performance"
Hi Matthias,
when running BIS-F the "High Performance" Powerplan is applied while sealing.
However there is a "Ultimate Perfomance" Powerplan for systems -gt 1607

Quote:
The Ultimate Performace power plan is designed to give an extra boost to high-power systems (think workstations and servers) by optimizing the High-Performance power plan. It’s geared toward reducing or eliminating micro-latencie

[2020-09-23 14:41] zimbo86 commented on #254
maybe we can use XAML for displaying all the messages and progress bars in a graphical window

[2020-09-25 07:45] mkools opened #283 "Livekerneldumps"
Running Windows Server 2019 with Citrix XenApp on Citrix Provisioning Services, sealed with BIS-F. I've noticed Windows is doing Livekerneldumps, it's saving these dumps in C:\Windows\LiveKernelReports. I got a dump as large as 14 GB. This is eating up the entire memory cache we have set and even spill over to the cache disk causing it to fill up.

Perhaps this could be disabled with BIS-F sealing

[2020-09-25 11:49] EUCweb commented on #254
Yupp, I'm doing XAML for another Script as well, https://github.com/EUCweb/VWM

[2020-09-25 11:54] EUCweb commented on #277
URL you posted is not valid, I think you mean this one https://knowledge.broadcom.com/external/article/155835/endpoint-protection-nonpersistent-virtu.html

[2020-09-25 11:59] EUCweb commented on #281
Do you know the encoding format of the .config file, is it's UTF-8 ?

[2020-09-27 23:47] BadgerBadgerAndFox opened #284 "AV scan with Windows Defender monitored process causes script to not proceed on 2016"
Have encountered an issue with the Windows Defender AV Scan on Server 2016 (Does not occur on Server 2019 or Windows 10).

When the AV scan is triggered via the script it monitors the process MpCmdRun.exe

This process is also triggered by the system and can result in the script not completing due to RDS licensing forcing logoff as the environment is not licensed when logged in with local admin. T

[2020-09-27 23:51] BadgerBadgerAndFox commented on #284
Review of the Defender logs indicates that the scan has completed, ending the MpCmdRun.exe process started by the NETWORK SERVICE allows the script to continue as expected.

[2020-10-15 09:25] JamesKindon opened #285 "Azure AD Hybrid Domain Join is now supported for MCS provisioned workloads"
Currently BIS-F supports the removal of remove component of Azure AD Hybrid Domain Join

Citrix now supports machines being Azure AD Hybrid Domain Joined, with updated guidance released here
https://support.citrix.com/article/CTX284738

This appears to be MCS only, however we should seek clarity on the PVS support also, as fundamentally it should be the same

I think this should be made an optiona

[2020-10-28 07:43] zimbo86 opened #286 "[PERS] W32TM and gpupdate /force running twice"
I noticed that 01_PersBISF_MS.ps1 and 01_PersBISF_TimeAndGPO.ps1 are nearly identical and both scripts run
# Resync Time with Domain and
# Sleep
# Reapply Computer GPO
Is this done intentionally or can one timesync, sleep and gpupdate be skipped?

[2020-10-28 11:35] matthias-schlimm commented on #286
already fixed in 7.1912.5. see https://github.com/EUCweb/BIS-F/issues/267

[2020-10-28 21:07] Deyda commented on #285
The commands are already stored in the 96_PrepBISF_Rearm.ps1 script in the folder \Framework\SubCall\Preparation. But the commands are only executed if you activate Office Rearm in the ADMX and the machine is hosted in Azure. You would have to extend the script with a query if it is an Azure AD Hybrid joined Device and then execute the commands there. I have extended my local version with it and i

[2020-11-06 12:42] scriptkiddy666 opened #287 "Problems with ngen and force parameter"
Hi,
I just noticed, that I'm unable to create even small layers if BIS-F runs the ngen update with the force parameter.
The ngen runs takes a very long time to finish and for example it's impossible to create a simple application layer for Adobe Reader DC with only 10 GB of layer size.
The layer just gets full and can't be finalised, then BIS-F crashes because there is no more free space left.
I j

[2020-11-09 09:40] maettle opened #288 "ngen executes extremely long"
after upgrading to 7.1912.5 OR installing KB4580979 I experience multiple runs of ngen per version, which delays the skript runtime extremely:

[...]

[...]

[2020-11-16 09:06] kyriansaxum commented on #287
it looks like NGEN requires internet access for some reason to compile the .NET assemblies.
do you have internet access when running BIS-F?

[2020-11-16 09:10] kyriansaxum commented on #288
I've seen this issue as well at one of my customers. The issue was a lack of internet access due to a proxy server which required domain user authentication to be able to access the internet. It looks like ngen requires internet access to be able to compile the .Net assemblies.

[2020-11-16 09:26] remkolansaat opened #289 "10_PrepBISF_SCCM hangs forever"
Hello, when sealing bisf step "10_PrepBISF_SCCM"  hangs on stopping sccm client service  : Invoke-BISFService -ServiceName $appService -Action Stop
It seems that the function waits for ever , the sccm agents is not responding and the service status is stopping... and stays at stoppings for ever.

Solution request : It would be great if the function will kill ccmexec.exe after a timeout of 5 min

T

[2020-11-16 09:55] remkolansaat commented on #289
Is it possible to stop ccmexec before launching bisf to avoid the problem above , or will bisf then decide that preperation of sscm is not avaible due to stopped service?

[2020-11-21 12:38] scriptkiddy666 commented on #287
In general no, but in this case I had internet access via a proxy during the initial BIS-F run in the OS layer.
Maybe it's not an issue for everyone, but for me it's quite fine since I removed the force parameter, all other application layers could be created without problems now and the BIS-F run of the ngen stuff is a lot faster.
Therefore I think it is a good idea to let the user configure this

[2020-11-21 14:35] matthias-schlimm commented on #288
7.1912.6 will become an ADMX Update to specify these settings

![image](https://user-images.githubusercontent.com/34108484/99879761-21e94780-2c0f-11eb-91cf-1a42f826a287.png)

[2020-11-21 14:42] matthias-schlimm commented on #288
update in developer branch done, testing this in the upcoming week
**Files updated:**

- 97_PrepBISF_PRE_BaseImage.ps1
- BaseImageScriptFramework.admx
- BaseImageScriptFramework.adml
- ReleaseNotes.txt

[2020-11-21 14:43] matthias-schlimm commented on #287
checkout https://github.com/EUCweb/BIS-F/issues/288

[2020-11-21 14:43] #286 closed, assigned to matthias-schlimm

[2020-11-21 18:35] scriptkiddy666 commented on #287
Yes, thats totally ok 👍

[2020-11-21 18:49] matthias-schlimm commented on #289
fixed in developer branch

[2020-11-21 18:50] #273 closed, assigned to matthias-schlimm

[2020-11-21 19:22] matthias-schlimm commented on #284
I have  change the script now, to monitor under the current user only. Will you give them a try ?

[2020-11-21 19:41] matthias-schlimm commented on #280
fixed in developer branch

[2020-11-21 19:41] #280 closed, assigned to matthias-schlimm

[2020-11-21 19:44] matthias-schlimm commented on #287
Close this issue, tracking on https://github.com/EUCweb/BIS-F/issues/288 as written above

[2020-11-21 19:44] #287 closed, assigned to matthias-schlimm

[2020-11-21 20:59] matthias-schlimm commented on #285
new function Get-BISFDSRegState to getting the value back of an entered Key

Example: $DSRegValue = Get-BISFDSRegState -Key "AzureADjoined"

[2020-11-21 21:09] matthias-schlimm commented on #285
A new registry Key/Value must be created under HKLM:\Software\Login Consultants\BIS-F to save the AzureADJoined State from the master. This is required during run the personalization to join the MCS Target.

If azureADJoined is set to YES during preparation the master must leave it as well, as descibed in the CTX KB Article above

[2020-11-22 09:08] matthias-schlimm commented on #285
I will create an separated GPO Setting to enable Azure Hybrid AD join, this is Independent from the environment, like native WVD, Citrix MCS, VMware Horizon or other VDI solutions.

[2020-11-22 12:33] matthias-schlimm commented on #285
![image](https://user-images.githubusercontent.com/34108484/99907540-8c68b900-2cdd-11eb-8361-3cedffd8a5fa.png)

POL | MS_AAD | Microsoft | AAD | Azure   Active  Directory | HKLM:\SOFTWARE\Policies\Login   Consultants\BISF | LIC_BISF_POL_MS_AAD | REG_SZ | YES, NO | IF Policy is enabled Registry   Data is set to YES, if disabled set to NO; otherwise not exist. | 22.11.20 | Matthias | 7.1912.6
-- | -

[2020-11-22 12:36] matthias-schlimm commented on #285
I will remove the logic from the Office rearm part too

[2020-11-24 15:43] matthias-schlimm opened #290 "Extend CacheDisk during personlization"
if the CacheDisk will be extended on the hypervisor, BIS-F does not extend the CacheDisk to the new size

[2020-11-24 15:49] matthias-schlimm commented on #285
implemented in developer branch: @JamesKindon  @Deyda  can you grab the Files an run a test

- 97_PrepBISF_PRE_BaseImage.ps1
- 01_PersBISF_MS.ps1
- BaseImageScriptFramework.admx
- BaseImageScriptFramework.adml
- ReleaseNotes.txt

**Note:** 96_PrepBISF_Rearm.ps1 is not changed, if the VM is hosted in Azure and O365 is installed the dsregcmd /leave is running here as well.

[2020-11-27 01:08] BadgerBadgerAndFox commented on #284
Happy to test, i've grabbed the updated development branch that includes the updated "10_PrepBISF_AV-WinDefend.ps1" and "BISF.psm1" for HF 284 - MPCmdRun Process monitor with the current user only, exclude…
Will test and report back.

[2020-11-30 07:16] maettle commented on #288
@matthias-schlimm thanks! Which setting should I use to mitigate my problem? Both optimizations?

[2020-11-30 07:18] matthias-schlimm commented on #288
Enable the first one only, the second optimization coming new with 7.1912.5

[2020-12-01 14:13] matthias-schlimm commented on #285
@Deyda I have fixed an issue on weekend in BISF1.psm1 for this one. Any time for testing ?

[2020-12-01 14:29] Deyda commented on #285
Ich teste gerade. Danke Matthias.

Mit freundlichen Grüßen
Manuel Winkel

www.deyda.net 
________________________________
Von: Matthias Schlimm <notifications@github.com>
Gesendet: Tuesday, December 1, 2020 3:13:23 PM
An: EUCweb/BIS-F <BIS-F@noreply.github.com>
Cc: Manuel Winkel <Manuel@deyda.net>; Mention <mention@noreply.github.com>
Betreff: Re: [EUCweb/BIS-F] Azure AD Hybrid Domain Join is now

[2020-12-01 14:36] Deyda commented on #285
Hi Matthias,

habe folgenden Fehler gesehen und er schmeisst mich nicht aus Azure AD raus (GPO ist gesetzt)

Von: Matthias Schlimm <notifications@github.com>
Gesendet: Dienstag, 1. Dezember 2020 15:13
An: EUCweb/BIS-F <BIS-F@noreply.github.com>
Cc: Manuel Winkel <Manuel@deyda.net>; Mention <mention@noreply.github.com>
Betreff: Re: [EUCweb/BIS-F] Azure AD Hybrid Domain Join is now supported for MCS

[2020-12-01 14:41] matthias-schlimm commented on #285
schick mal das bis-f logfile bitte

[2020-12-01 14:47] matthias-schlimm opened #291 "O365 removing rearm/activate"
if O365 is detected, rearm during preparation or activate against KMS during personalization is not required

[2020-12-02 09:36] matthias-schlimm commented on #284
updated the script today, it has some typos in the code. possible to grab a new copy

[2020-12-02 10:36] matthias-schlimm commented on #291
integrated into developer branch

[2020-12-02 10:36] #291 closed, assigned to matthias-schlimm

[2020-12-02 10:44] matthias-schlimm commented on #285
as Manuel confirmed, it works now

[2020-12-02 10:44] #285 closed, assigned to matthias-schlimm

[2020-12-02 10:56] matthias-schlimm commented on #288
updating adml, per default Option 2 will be disabled
![image](https://user-images.githubusercontent.com/34108484/100863719-4528b800-3495-11eb-80c3-193c2c1f2181.png)

[2020-12-02 10:56] #288 closed, assigned to matthias-schlimm

[2020-12-02 11:23] matthias-schlimm commented on #279
already included, can't be reproduced

[2020-12-02 11:23] #279 closed, assigned to matthias-schlimm

[2020-12-02 11:36] matthias-schlimm opened #292 "Citrix AppLayering - Layer Finalize will be run in OS Layer"
@MathiasK-SVA: sag mal, kann es sein dass bisf nicht rafft, wenn du einen os layer erstellst (bevor du den in den ELM importierst) dass der kein shutdown to finalize braucht...
hintergrund: kunde erstellt neuen os layer (= brandneue vm) , installiert updates, die unidesk tools und anschließend bis-f
wenn er jetzt bis-f laufen lässt sagt bis-f am schluss

![image](https://user-images.githubusercont

[2020-12-02 11:43] matthias-schlimm commented on #292
Kannst bitte mal im Script **99_PrepBISF_POST_BaseImage.ps1**  wie folgt ändern:

**Zeile 229:**
**vorher:**
`IF (!($CTXAppLayerName -eq "No-ELM")) {`

**nachher:**
`IF (!($CTXAppLayerName -eq "No-ELM") -or !($CTXAppLayerName -eq "OS-Layer")) {`

**Zeile 272:**
**vorher:**
`IF ($CTXAppLayeringSW) {`

**nachher:**
`IF (($CTXAppLayeringSW) -and !($CTXAppLayerName -eq "OS-Layer")) {`

[2020-12-04 18:24] scriptkiddy666 opened #293 "Updated informations for #238 (10_PrepBISF_AV-CylanceProtect.ps1 and VDI Fingerprinting)"
Hi,
I think another change has to be made regarding the fingerprinting and compatibility mode.
It looks like the compatibility mode setting isn't needed anymore since quite some time, maybe I just got this one wrong in the past.
On page 195 it's written:

the injection process has been updated for compatibility with other products.

Sorry for the inconvencience, but I would suggest removing this s

[2020-12-05 15:07] matthiaseckerle opened #294 "Change in FSLogix central rules share not applied in personlization phase if set during preparation"
Path for FSLogix central rules share not applied in personlization if already set during preparation.

GPO1: GPO setting for preparation contains \\\path\share1
GPO2: GPO setting for personlization contains \\\path\share2

Personlization phase will use \\\path\\share1 even if \\\path\\share2 is correctly applied during policy update.
Personlization phase seems to honor \\\path\\share1 from registr

[2020-12-05 15:21] matthias-schlimm commented on #294
I think that comes from the time before the admx, and the value must be stored on a different path in the registry.

I will change the code and than you can run a Test

[2020-12-05 20:53] matthias-schlimm commented on #294
change done:

- 10_PersBISF_FSlogix.ps1 / using registry policy vlaue from $LIC_BISF_CLI_RS to get the central rules share
- 10_PrepBISF_FSlogix.ps1 / function Set-RulesShare no longer required, RulesShare is set in registry policy path

copy this two files or the complete developer branch.

The reg value HKEY_LOCAL_MACHINE\SOFTWARE\Login Consultants\BISF FRXRulesShare can be deleted manually, on

[2020-12-07 12:03] Edwintenhaaf opened #295 "Make 'common options' available in BIS-F gpo for vmware optimization tool"
Hello all,

Is it possible to add the 'common options' from vm_osot into the BIS-F GPO?
I am aware of the cmd line options like VMwareOSOptimizationTool.exe -o - notification enable and could add that to a custom  powershell script but it would be nice to have this option available in GPO to set the 'common options' tabs

Thanks in advance,

Edwin
![image (3)](https://user-images.githubusercontent

[2020-12-07 21:03] RobSheppard1976 opened #296 "Include extra steps for ConfigMgr Client"
**Is your feature request related to a problem? Please describe.**
As per this Slack thread, there are a few additional steps to make ConfigMgr not duplicate GUIDs:

https://worldofeuc.slack.com/archives/CK6TCV3JN/p1607018604438000

The additional steps are:

From Admin CMD prompt
1-net stop ccmexec
2- Del %WINDIR%\smscfg.ini
3-powershell -command "Remove-Item -Path HKLM:\Software\Microsoft\System

[2020-12-08 13:16] remkolansaat commented on #289
Great job, thanks

[2020-12-08 19:53] JonathanPitre commented on #296
The first 4 steps are already being taken care of with the preparation script
https://github.com/EUCweb/BIS-F/blob/develop/Framework/SubCall/Preparation/10_PrepBISF_SCCM.ps1

[2020-12-08 23:15] RobSheppard1976 commented on #296
Great, good to know! The Slack thread highlights that without the other steps, the unique identifier issue still occurs. These steps came from Citrix, in response to a support case we raised for this issue.

[2020-12-09 19:40] matthias-schlimm commented on #291
Volume Products like Visio or Project can be isntalled and must be rearmed, skipping this issue to implement

[2020-12-09 20:06] matthias-schlimm commented on #296
you can grab a a copy of the 10_PrepBISF_SCCM.ps1 from the developer branch, the other 4 steps are included now

[2020-12-14 15:26] matthias-schlimm opened #297 "MCS CacheDisk is not right formatted"
With Citrix MCS if a Driveletter E is assigned, the persistent disk is not formatted during BIS-F personalization:

Script https://github.com/EUCweb/BIS-F/blob/develop/Framework/SubCall/Personalization/00_PersBISF_WriteCacheDisk.ps1#L234

Line 234-236 is not required, this will be done from the afterwards diskpart script

-

[2020-12-14 15:39] matthias-schlimm opened #298 "Ivanti RES make $ROWCachePath configurable in ADMX"
make $ROWCachePath in ADMX configurable for a custom path otherwise use default Path:

$ROWCachePath = "$PVSDiskDrive\RES\Workspace Manager\DBCache"

[2020-12-14 16:07] matthias-schlimm commented on #297
using $CachDiskID instead of hardcoding DiskID

[2020-12-14 16:09] matthias-schlimm commented on #297
updated in developer branch, https://github.com/EUCweb/BIS-F/blob/develop/Framework/SubCall/Personalization/00_PersBISF_WriteCacheDisk.ps1

[2020-12-16 12:26] Deyda opened #299 "Not so fast reconnect in Windows Server 2019"
**Is your feature request related to a problem? Please describe.**
https://www.mycugc.org/blogs/brandon-mitchell1/2019/09/22/not-so-fast-reconnect
Nice Feature from Windows Server 2019 that doesn't work ;-)

**Describe the solution you'd like**
Create the following RegKey and the feature is turned off
HKLM:\SOFTWARE\Citrix\Reconnect
FastReconnect
REG_DWORD
0x0

**Additional context**
I edit the sc

[2020-12-16 13:29] matthias-schlimm commented on #299
Hotfix submitted in Pullrequest https://github.com/EUCweb/BIS-F/pull/300

[2020-12-16 13:35] matthias-schlimm commented on #299
integrated into developer branch

[2020-12-16 13:35] #299 closed, assigned to matthias-schlimm, Deyda

[2020-12-17 00:19] #297 closed, assigned to matthias-schlimm

[2020-12-17 12:23] owoell commented on #297
Where should the variable $CachDiskID be defined?

[2020-12-17 13:03] EUCweb commented on #297
Function Get-DiskID in BISF.psm1, called as Get-BISFDiskID
On 17. Dec 2020, 13:23 +0100, owoell <notifications@github.com>, wrote:

[2020-12-17 13:07] matthias-schlimm commented on #42
integrated into develoeper branch

[2020-12-21 11:04] matthias-schlimm opened #302 "personalization fails if the write-cache drive is not formatted"
**Issue reported for Citrix MCS or PVS CacheDisk**

Just been tracking down an issue with 7.1912.5 where personalization fails if the write-cache drive is not formatted. The issue seems lie in the BISF.ps1 script. The first screen shot shows it failing for a new VM without a formatted D (write-cache) drive. The second screen shot shows it working if I manually partition and format the D drive

![i

[2020-12-21 11:10] matthias-schlimm commented on #302
**_7.1912.5 function without change_**

[code]

[2020-12-22 03:31] jeremyts commented on #302
Hi Matthias,

I've downloaded from Github modified the latest BISF.psm1 and BISF.ps1 scripts with the following changes:

I've added a new function called "Access-Validated" to BISF.psm1

I've modified the "Use-PVSConfig" function in the BISF.psm1 to add the following...

`IF ((Access-Validated -Folder "$PVSDiskDrive\") -eq $False) {$Global:Redirection = $false; $Global:RedirectionCode = "WCD-To-B

[2020-12-22 03:32] jeremyts commented on #302
[BISF.psm1.txt](https://github.com/EUCweb/BIS-F/files/5727637/BISF.psm1.txt)
[BISF.ps1.txt](https://github.com/EUCweb/BIS-F/files/5727640/BISF.ps1.txt)

[2020-12-22 04:39] jeremyts opened #303 "Error with Set-CimInstance cmdlet for CDROM Drive Letter change in 00_PersBISF_WriteCacheDisk.ps1"
Was getting the following error in

[code]

This was caused by the CheckCDRom function not returning a DriveLetter for CDROM. Modified the function to allow for builds where CDROM drive letter has already been removed.

[2020-12-22 04:42] jeremyts commented on #303
Hi Matthias,

I've downloaded from Github modified the latest 00_PersBISF_WriteCacheDisk.ps1 script with the following changes:

[code]

Cheers,
Jeremy

[2020-12-22 04:42] jeremyts commented on #303
[00_PersBISF_WriteCacheDisk.ps1.txt](https://github.com/EUCweb/BIS-F/files/5727812/00_PersBISF_WriteCacheDisk.ps1.txt)

[2020-12-22 15:09] matthias-schlimm opened #304 "ADMX: WEM Agent 2012 Cache startup options"
With WEM Agent 2012 and above new agent cache startup options available. Possible to put this into admx

https://docs.citrix.com/en-us/workspace-environment-management/service/whats-new.html

This release adds the following agent cache utility options:
-RefreshSettings or -S: Refreshes agent host settings.
-Reinitialize or -I: Reinitializes the agent cache when used together with the -RefreshCache

[2020-12-22 16:55] thewitscher commented on #304
Hi Matthias,
good idea. Maybe you can also integrate the issue described here:
https://support.citrix.com/article/CTX247927
Regards Torsten

[2020-12-23 02:56] matthias-schlimm commented on #42
the new event log move function in the BISF.psm1 module seems to create a bunch of 1KB .evtx and .etl files under the "C:\Program Files (x86)\Base Image Script Framework (BIS-F)" folder during preparation. It does move the Event Logs to the write cache disk. Needs some further investigation.

![image](https://user-images.githubusercontent.com/34108484/102978512-ec34c880-4504-11eb-87ea-0487a0f0711b

[2020-12-23 04:45] jeremyts commented on #302
Here's an updated BISF.ps1. Have now completed two image builds successfully. Deleted writecache drive, added a new one and let it reformat and reboot. All 100% for me in PVS.

[2020-12-23 09:20] matthias-schlimm commented on #302
integrated into developer branch for MCS and PVS

[2020-12-23 09:30] matthias-schlimm commented on #303
integrated into developer branch

[2020-12-23 09:31] #303 closed, assigned to jeremyts, matthias-schlimm

[2020-12-23 09:31] matthias-schlimm commented on #302
please grab a new copy from the developer branch and run a test again

[2020-12-23 09:32] #294 closed, assigned to matthias-schlimm

[2020-12-23 09:38] matthias-schlimm commented on #304
@thewitscher we will check first the new settings if it helps. delete the WEM DB on the endpoint every time is not a possible solution for BIS-F, more a workaround

[2020-12-23 10:46] thewitscher commented on #302
Hi Matthias,
I just checked the new Developer Version in my Lab with a Windows 10 Master on vSphere.
I added a hard disk on the Master VM and after powering on I run BIS-F and the new added disk is not initializing etc.
See logs and Screenshots:
![MCS_WriteCache_01](https://user-images.githubusercontent.com/66991062/102988576-63258d80-4514-11eb-8249-c0952f4f2698.PNG)
![MCS_WriteCache_02](https://u

[2020-12-23 11:20] matthias-schlimm commented on #304
integrated into developer branch now, further testing required

![image](https://user-images.githubusercontent.com/34108484/102998841-4430f680-4528-11eb-9c92-0475987fd68a.png)

[2020-12-23 11:26] matthias-schlimm commented on #302
@thewitscher absolutely correct, the master is build from the automation or manually, not from BIS-F and this was never the goal.  BiS-F does nothing on the Master with the CacheDisk

**23.12.2020 11:10:48 | MASTER-W10E$ | WARNING......... | CacheDisk is NOT configured for DiskMode VDAPrivate**

[2020-12-23 11:31] matthias-schlimm commented on #302
Update developer branch again: rename function Access-Validated to Test-AccessValidated, use PoSh Standard verbs

[2020-12-23 11:32] thewitscher commented on #302
OK, maybe you can add this function also for the master with MCS Provisioning in future?

[2020-12-23 12:11] thewitscher commented on #304
I just checked the new developer version, please check logs:

[PERS_BISF_WPT_MASTER-W10E_20201223-124354.log](https://github.com/EUCweb/BIS-F/files/5735026/PERS_BISF_WPT_MASTER-W10E_20201223-124354.log)
[PERS_BISF_MASTER-W10E_20201223-125954.log](https://github.com/EUCweb/BIS-F/files/5735027/PERS_BISF_MASTER-W10E_20201223-125954.log)
[PERS_BISF_WPT_MASTER-W10E_20201223-125954.log](https://github.c

[2020-12-23 12:35] matthias-schlimm commented on #304
**### GPO settings take affect with WEM Agent 2012 or higher:**

**WEM 2005**
![image](https://user-images.githubusercontent.com/34108484/102996034-996a0980-4522-11eb-9d79-2163d84cfc8b.png)

**WEM 2012**
![image](https://user-images.githubusercontent.com/34108484/102996617-b3f0b280-4523-11eb-8e17-b44135f7eedf.png)

[2020-12-23 12:39] matthias-schlimm commented on #304
@thewitscher: No WEM Agent installed in your Image ?

Processing function Test-BISFService
23.12.2020 13:00:52 | MASTER-W10E$ | INFORMATION... | Service Norskale Agent Host Service does not exist
23.12.2020 13:00:52 | MASTER-W10E$ | INFORMATION... | Product Citrix Workspace Environment Management (WEM) Legacy Agent is NOT installed
23.12.2020 13:00:52 | MASTER-W10E$ | INFORMATION... | Processing f

[2020-12-23 12:42] matthias-schlimm commented on #302
@thewitscher no, this is more a part of the build process of the master image, out of scope of BIS-F

[2020-12-23 13:37] Deyda commented on #42
[PREP_BISF_WPT_DEUWOXDMA2019_20201223-143025.log](https://github.com/EUCweb/BIS-F/files/5735466/PREP_BISF_WPT_DEUWOXDMA2019_20201223-143025.log)
[PREP_BISF_DEUWOXDMA2019_20201223-143025.log](https://github.com/EUCweb/BIS-F/files/5735467/PREP_BISF_DEUWOXDMA2019_20201223-143025.log)

[2020-12-23 15:08] thewitscher commented on #304
Now with WEM Agent installed :-):

[PERS_BISF_WPT_MASTER-W10E_20201223-153407.log](https://github.com/EUCweb/BIS-F/files/5735832/PERS_BISF_WPT_MASTER-W10E_20201223-153407.log)
[PREP_BISF_MASTER-W10E_20201223-154756.log](https://github.com/EUCweb/BIS-F/files/5735833/PREP_BISF_MASTER-W10E_20201223-154756.log)
[PREP_BISF_WPT_MASTER-W10E_20201223-154756.log](https://github.com/EUCweb/BIS-F/files/57358

[2020-12-23 16:27] matthias-schlimm commented on #304
@thewitscher please grab a new copy of the dev branch und run it again, the Agent Arguments are not set here correctly

**WEM Agent Version 2012.1.0.1 detected, StartupOption:  used**

[2020-12-23 17:21] owoell commented on #302
I have tested the new developer version in my Azure test environment. An unformatted CacheDisk will only be formatted when BIS-F logging is configured with a shared location.
![image](https://user-images.githubusercontent.com/66675574/103022134-a51df600-454b-11eb-9d6b-86a11a11c18d.png)

[2020-12-23 17:33] matthias-schlimm commented on #302
Please upload the latest bis-f logs here
Am 23. Dez. 2020, 18:21 +0100 schrieb owoell <notifications@github.com>:

[2020-12-23 18:05] owoell commented on #302
Disabling the BIS-F logging again could only be done with a new version of the master. Simply changing the GPO is not possible. Then I do not get any BIS-F logs.
Further testings will follow next week on 28th
[PERS_BISF_OWOVS203_20201223-181844_runningConfig.log](https://github.com/EUCweb/BIS-F/files/5736538/PERS_BISF_OWOVS203_20201223-181844_runningConfig.log)

[2020-12-24 07:37] thewitscher commented on #304
Here you are:

[PREP_BISF_WPT_MASTER-W10E_20201224-081233.log](https://github.com/EUCweb/BIS-F/files/5738628/PREP_BISF_WPT_MASTER-W10E_20201224-081233.log)
[PERS_BISF_MASTER-W10E_20201224-083047.log](https://github.com/EUCweb/BIS-F/files/5738629/PERS_BISF_MASTER-W10E_20201224-083047.log)
[PERS_BISF_WPT_MASTER-W10E_20201224-083047.log](https://github.com/EUCweb/BIS-F/files/5738630/PERS_BISF_WPT_MAS

[2020-12-24 09:19] matthias-schlimm commented on #304
from the log above:

[code]

you don't have configure the GPO for the WEM Agent with the new cache options.

[2020-12-24 09:39] thewitscher commented on #304
Now with RefreshSettings and RefreshCache:

[PREP_BISF_WPT_MASTER-W10E_20201224-102647.log](https://github.com/EUCweb/BIS-F/files/5739075/PREP_BISF_WPT_MASTER-W10E_20201224-102647.log)
[PERS_BISF_MASTER-W10E_20201224-103700.log](https://github.com/EUCweb/BIS-F/files/5739076/PERS_BISF_MASTER-W10E_20201224-103700.log)
[PERS_BISF_WPT_MASTER-W10E_20201224-103700.log](https://github.com/EUCweb/BIS-F/fi

[2020-12-24 10:49] matthias-schlimm commented on #42
updated developer branch with codefix

[2020-12-24 10:52] matthias-schlimm commented on #304
@thewitscher you are to quick, the personalization log is not finished and the WEM is not processed completely. please upload the complete personlization log again

[2020-12-24 11:24] thewitscher commented on #304
now the logs should be completed:

[PERS_BISF_MASTER-W10E_20201224-120950.log](https://github.com/EUCweb/BIS-F/files/5739402/PERS_BISF_MASTER-W10E_20201224-120950.log)
[PERS_BISF_WPT_MASTER-W10E_20201224-120950.log](https://github.com/EUCweb/BIS-F/files/5739403/PERS_BISF_WPT_MASTER-W10E_20201224-120950.log)

[2020-12-25 14:19] matthias-schlimm commented on #302
update developer branch with better handling for Cache Disk ID and updated the ADMX for PVS and MCS as well:

![image](https://user-images.githubusercontent.com/34108484/103136876-78411e80-46c4-11eb-97a5-db329ea18cb5.png)

[2020-12-28 08:28] thewitscher commented on #302
Here are my Logs without Azure with the latest developer version:
[PREP_BISF_WPT_MASTER-W10E_20201228-081939.log](https://github.com/EUCweb/BIS-F/files/5746405/PREP_BISF_WPT_MASTER-W10E_20201228-081939.log)
[PERS_BISF_MASTER-W10E_20201228-090851.log](https://github.com/EUCweb/BIS-F/files/5746406/PERS_BISF_MASTER-W10E_20201228-090851.log)
[PERS_BISF_WPT_MASTER-W10E_20201228-090851.log](https://gith

[2020-12-28 17:58] matthias-schlimm commented on #302
It takes no effect to test it on the master only, the cachedisk formatting will run on a pvs or MCs target.
Am 28. Dez. 2020, 09:28 +0100 schrieb thewitscher <notifications@github.com>:

[2021-01-01 20:55] jeremyts commented on #302
Hey Mattias, I think I forgot to update this on 23rd December as per the update in Slack. I had to reverse one of the changes in the Set-Logfile function in the BISF.ps1 script. See attached.
[BISF.ps1.txt](https://github.com/EUCweb/BIS-F/files/5759422/BISF.ps1.txt)

[2021-01-01 22:59] EUCweb commented on #302
I will make a comparison first to the current one to see the difference
Am 1. Jan. 2021, 21:56 +0100 schrieb Jeremy Saunders <notifications@github.com>:

[2021-01-04 12:45] thewitscher commented on #302
Hi Matthias,
here are my logs from a W10 MCS Target Machine:

[PERS_BISF_WPT_VDW10MCSPZ02_20210104-133437.log](https://github.com/EUCweb/BIS-F/files/5764687/PERS_BISF_WPT_VDW10MCSPZ02_20210104-133437.log)
[PERS_BISF_VDW10MCSPZ02_20210104-133437.log](https://github.com/EUCweb/BIS-F/files/5764688/PERS_BISF_VDW10MCSPZ02_20210104-133437.log)

[2021-01-04 12:46] thewitscher commented on #304
Hi Matthias,
here are my logs from a W10 MCS Target Machine:

[PERS_BISF_WPT_VDW10MCSPZ02_20210104-133437.log](https://github.com/EUCweb/BIS-F/files/5764698/PERS_BISF_WPT_VDW10MCSPZ02_20210104-133437.log)
[PERS_BISF_VDW10MCSPZ02_20210104-133437.log](https://github.com/EUCweb/BIS-F/files/5764699/PERS_BISF_VDW10MCSPZ02_20210104-133437.log)

[2021-01-04 14:44] matthias-schlimm commented on #302
It works, but can you check the agent service log for this error below please. This issue is coming from the AgentCacheUtility.exe

[code]

[2021-01-04 20:23] matthias-schlimm commented on #302
looks not good, I must check it again. The WPT Log shows the following error on line 56 and later. the normal BIS-F log seems to be ok, strange

Issue happens after

Current Path: D:\EventLogs\

and

Setting NTFS rights on _D:\EventLog

only

[code]

[2021-01-04 20:25] matthias-schlimm commented on #304
Now it looks better. I had an old WEM configuration :-(.

[PERS_BISF_VDW10MCSPZ02_20210104-164949.log](https://github.com/EUCweb/BIS-F/files/5765617/PERS_BISF_VDW10MCSPZ02_20210104-164949.log)

[2021-01-04 20:25] matthias-schlimm commented on #304
@thewitscher great I will close this issue

[2021-01-04 20:25] #304 closed, assigned to matthias-schlimm

[2021-01-04 20:35] matthias-schlimm commented on #302
@jeremyts I check your change and saw you remove the line BISF.ps1 and updated the developer branch now.

`If ($LogPath.StartsWith("C:\Windows\Logs\", 'CurrentCultureIgnoreCase') -eq $False) {`

 Can you run an additional test and with the latest dev branch and upload the BIS-F and WPT personalisation log from any PVS target device.

[2021-01-04 20:46] matthias-schlimm commented on #302
@thewitscher @owoell please run an additional test too, with the latest update from the dev branch and upload the WPT and BIS-F personalisation log from any MCS target here.

[2021-01-05 08:35] thewitscher commented on #302
Here are the logs:

[PERS_BISF_WPT_VDW10MCSPZ02_20210105-091922.log](https://github.com/EUCweb/BIS-F/files/5768967/PERS_BISF_WPT_VDW10MCSPZ02_20210105-091922.log)
[PERS_BISF_VDW10MCSPZ02_20210105-091922.log](https://github.com/EUCweb/BIS-F/files/5768968/PERS_BISF_VDW10MCSPZ02_20210105-091922.log)

[2021-01-05 10:14] EUCweb commented on #302
The log looks good now

Move Eventlogs to the CacheDisk

[2021-01-05 13:34] thewitscher commented on #292
Habs gerade mal mit einer neuen Windows 10 VM getestet. Meldung kommt immer noch.
Siehe nachfolgende Logs:

[PREP_BISF_WPT_MASTER-W10OS_20210105-142217.log](https://github.com/EUCweb/BIS-F/files/5770385/PREP_BISF_WPT_MASTER-W10OS_20210105-142217.log)
[PREP_BISF_MASTER-W10OS_20210105-142217.log](https://github.com/EUCweb/BIS-F/files/5770386/PREP_BISF_MASTER-W10OS_20210105-142217.log)

[2021-01-05 14:40] EUCweb commented on #292
Anpassung in Script manuell nachgezogen wie oben beschrieben ? Das ist noch nicht in der dev branch drin
Am 5. Jan. 2021, 14:34 +0100 schrieb thewitscher <notifications@github.com>:

[2021-01-05 14:43] thewitscher commented on #292
Ja hab ich, genauso wie oben beschrieben.

[2021-01-05 18:25] matthias-schlimm commented on #292
irgendwas passt da nicht:

bitte mal manuelle Anpassung wie folgt 99_PrepBISF_POST_BaseImage.ps1 und dann nochmal laufen lassen und logs senden

**vorher Zeile 228/299**

[code]

**nachher:**

[code]

[2021-01-05 19:24] RobSheppard1976 commented on #296
Just getting around to testing this. I did notice that there's an 's' missing from the $CryptoKey = "Key" and $OldCrpytoKey = "KeyOLD" variables. The latter doesn't matter as much. Looking on a non-VDA, 'Keys' is the correct folder.

[2021-01-05 19:43] RobSheppard1976 commented on #296
Also, my VM is still AzureAD joined. It doesn't look like the dsregcmd /leave command ran, according to the logs.

[2021-01-05 20:41] EUCweb commented on #296
Can you upload the updated script here as an txt file please, I‘m working on the upcoming BIS-F version an will put this Hotfix into it.  Thank you
Am 5. Jan. 2021, 20:43 +0100 schrieb KennyLogin <notifications@github.com>:

[2021-01-05 20:43] matthias-schlimm commented on #296
And Upload the logs here if possible

[2021-01-06 07:41] thewitscher commented on #292
Hier die neuen Logs mit Deinen Codeanpassungen:

[PREP_BISF_WPT_MASTER-W10OS_20210106-083122.log](https://github.com/EUCweb/BIS-F/files/5774451/PREP_BISF_WPT_MASTER-W10OS_20210106-083122.log)
[PREP_BISF_MASTER-W10OS_20210106-083122.log](https://github.com/EUCweb/BIS-F/files/5774452/PREP_BISF_MASTER-W10OS_20210106-083122.log)

[2021-01-06 07:59] EUCweb commented on #292
läuft im Layer: OS-Layer wie erwartet, warum greift dann die folgende Zeile nicht ?

IF (!($CTXAppLayerName -eq "No-ELM") -or !($CTXAppLayerName -eq "OS-Layer")) {

[2021-01-06 08:01] EUCweb commented on #292
kannst Die Zeile 229 bzw. 230 mal bitte so anpassen

IF ((!($CTXAppLayerName -eq "No-ELM")) -or (!($CTXAppLayerName -eq "OS-Layer"))) {

[2021-01-06 08:26] thewitscher commented on #292
Hier die neuen Logs:

[PREP_BISF_WPT_MASTER-W10OS_20210106-091253.log](https://github.com/EUCweb/BIS-F/files/5774627/PREP_BISF_WPT_MASTER-W10OS_20210106-091253.log)
[PREP_BISF_MASTER-W10OS_20210106-091253.log](https://github.com/EUCweb/BIS-F/files/5774628/PREP_BISF_MASTER-W10OS_20210106-091253.log)

[2021-01-06 08:30] thewitscher commented on #292
Diese Änderung ist bei mir noch drin (von Dir oben):

Zeile 272:
vorher:
IF ($CTXAppLayeringSW) {

nachher:
IF (($CTXAppLayeringSW) -and !($CTXAppLayerName -eq "OS-Layer")) {

[2021-01-06 09:17] EUCweb commented on #292
in meinem letztem Kommentar habe ich aber mehrere Klammern verwendet

[2021-01-06 09:31] thewitscher commented on #292
Ja, das war abr Zeile 229 / 230 :-).
...
kannst Die Zeile 229 bzw. 230 mal bitte so anpassen

IF ((!($CTXAppLayerName -eq "No-ELM")) -or (!($CTXAppLayerName -eq "OS-Layer"))) {

[2021-01-06 11:10] EUCweb commented on #292
pass die Zeile mal bitte so an und schick die Logs nochmal.. danke

IF ((!($CTXAppLayerName -eq "No-ELM")) -or (!($CTXAppLayerName -eq "OS-Layer"))) {

[2021-01-06 14:07] RobSheppard1976 commented on #296
[10_PrepBISF_SCCM.txt](https://github.com/EUCweb/BIS-F/files/5776177/10_PrepBISF_SCCM.txt)

Here you go, here's the script with the extra 's' added. I think the reason why the dsregcmd /leave part isn't working is it seems to rely on the Get-BISFDSRegState function, which looks to be coming in 7.1912.6?

[2021-01-06 14:29] EUCweb commented on #296
yes, you can copy the dev branch over your installation, please also update the ADMX is well. If everything is working fine, 7.129.6 will be released in January as well.

[2021-01-06 14:45] thewitscher commented on #292
Die Zeile 230 hab eich so angepasst, die letzten Logs sind mit den zusätzlichen Klammern.
IF ((!($CTXAppLayerName -eq "No-ELM")) -or (!($CTXAppLayerName -eq "OS-Layer"))) {

Die Zeile 273 sieht bei mir so aus:
IF (($CTXAppLayeringSW) -and !($CTXAppLayerName -eq "OS-Layer")) {

[2021-01-06 18:50] EUCweb commented on #292
ich glaub ich habs, pass die Zeile 230 mal son an bitte. Dieser Wert wird gesetzt wenn der Application oder Platform Layer erkannt wird:

IF ($CTXAppLayeringPFLayer -eq $true) {

[2021-01-06 20:01] EUCweb commented on #292
currently the following values are detected

Processing function Test-BISFAppLayeringSoftware
06.01.2021 09:13:21 | Administrator | INFORMATION... | Processing function Test-BISFService
06.01.2021 09:13:21 | Administrator | INFORMATION... | Service UniService exists
06.01.2021 09:13:22 | Administrator | INFORMATION... | Product Citrix AppLayering (Version 20.11.0.12-2df17d2) installed
06.01.2021 0

[2021-01-06 20:45] EUCweb commented on #292
@MathiasK-SVA
@thewitscher

es gibt nur einen Workaround, vorher den Uniservice stoppen und dann BIS-F ausführen dann geht es.
Es gibt leider in diesem Zustand keine Möglichkeit den Unterschied seitens BIS-F zuerkennen, da alle Einstellungen
seitens AppLayering gleich sind.

[2021-01-06 20:45] #292 closed, assigned to matthias-schlimm

[2021-01-07 07:18] maettle commented on #288
Hi Matthias,
I've tested it now with updated 97 and amdx; its now very fast, but it still executes 3-4x times per .net (v2 and v4), any ideas why that would be? The server has internet access at time of execution and I don't see any blcoked connections on the firewall.

But just to confirm, it's fast again now but I wonder what causes my problem in the first place.
FYI, I've waited for a full rele

[2021-01-07 07:39] EUCweb commented on #288
that's normal, it's processes every .net directory

[2021-01-07 14:54] EUCweb commented on #296
@KennyLogin I'm added your script now to the current dev branch.

[2021-01-07 14:54] #296 closed, assigned to matthias-schlimm

[2021-01-07 14:59] EUCweb commented on #281
@thewithscher: can you check the Citrix KB article obove, please zip the C:\Program Files\Unidesk\Layering Services\ULayer.exe.config file and upload it here. Do not rename it. I need the origin encoding format.

[2021-01-08 04:15] TRiebesel opened #306 "Citrix Optimizer Faild"
**Describe the bug**
In Citrix VDA 2012 the Citrix Optimizer Failed to run. The Template Directory can not access. The error message is:

1/7/2021 1:40:46 PM | Administrator | INFORMATION... | Running Citrix Optimizer (CTXO)... please Wait
1/7/2021 1:40:46 PM | Administrator | INFORMATION... | Template(s) for Citrix Optimizer (CTXO) is configured by GPO:

1/7/2021 1:40:46 PM | Administrator | INFO

[2021-01-08 07:11] EUCweb commented on #306
After the download of the optimizer zip file, do you unblock it before unzipped it ?
Am 8. Jan. 2021, 05:15 +0100 schrieb TRiebesel <notifications@github.com>:

[2021-01-08 07:12] EUCweb commented on #306
.. otherwise check the files in optimizer folder, properties of each file and check if the unblock checkbox is there

[2021-01-08 07:15] TRiebesel commented on #306
Hello

this is the Version That is installed from the vda setup.

I will check the files and unlock them.
Thanks
Tobias

Holen Sie sich Outlook für iOS<https://aka.ms/o0ukef>
________________________________
Von: EUCweb.com <notifications@github.com>
Gesendet: Friday, January 8, 2021 8:11:35 AM
An: EUCweb/BIS-F <BIS-F@noreply.github.com>
Cc: Tobias Riebesel <tobias@riebesel.net>; Author <author@no

[2021-01-08 07:19] EUCweb commented on #306
in the BIS-F _GPO > Global > Logs_ enable the Powershell Transcript, run BIS-F again and upload the BIS-F transaction log here that you can find in C:\Windows\Logs

[2021-01-08 08:05] TRiebesel commented on #306
Hello,

her are the log files. I have unblock the files in the citrix optimizer folder.

Tobias
________________________________
Von: EUCweb.com <notifications@github.com>
Gesendet: Freitag, 8. Januar 2021 08:19
An: EUCweb/BIS-F <BIS-F@noreply.github.com>
Cc: Tobias Riebesel <tobias@riebesel.net>; Author <author@noreply.github.com>
Betreff: Re: [EUCweb/BIS-F] Citrix Optimizer Faild (#306)

in the

[2021-01-08 08:28] EUCweb commented on #306
No log attached

[2021-01-08 09:11] TRiebesel commented on #306
[PREP_BISF_VM-CVA-D02_20210108-083624.log](https://github.com/EUCweb/BIS-F/files/5786248/PREP_BISF_VM-CVA-D02_20210108-083624.log)
[PREP_BISF_WPT_VM-CVA-D02_20210108-083624.log](https://github.com/EUCweb/BIS-F/files/5786250/PREP_BISF_WPT_VM-CVA-D02_20210108-083624.log)
sorry i send the logs per Outlook client.

[2021-01-08 11:51] EUCweb commented on #306
based on your log the value LIC_BISF_CLI_CTXOE_SF_CUS is not set, this defined the Optimizer path, this can be set with the BIS-F ADMX, check out https://eucweb.com/docs/bisf-7-1912/gpo-configuration/citrix/citrix-optimizer

[2021-01-08 14:54] EUCweb commented on #42
re-Open it again, on an existing Server 2016 VM where BIS-F 7.129.5 is running before the Ventlogs can't be cleared

![image](https://user-images.githubusercontent.com/34108095/104028995-b1e84e00-51c9-11eb-9328-593b1e5e82b8.png)

Checking the Eventlog path, empty for all eventlogs. No evtx specified

![image](https://user-images.githubusercontent.com/34108095/104028911-954c1600-51c9-11eb-8ae1-aed6

[2021-01-08 18:47] EUCweb commented on #42
Codechange in Move-Evtlog required to fix the issue

coding issue at line '$newLogfile = Split-Path $Logfilepath -Leaf | out-null' -> remove '| out-null' to clear the variable itself

![image](https://user-images.githubusercontent.com/34108095/104052258-b9b7ea80-51e9-11eb-8e59-e51cfd53ab81.png)

[2021-01-08 18:47] EUCweb commented on #42
update in dev branch

[2021-01-11 09:49] owoell commented on #302
We found a syntax error in PS script WriteCacheDisk in line 127. It seems there is missing a $ sign.
![image](https://user-images.githubusercontent.com/66675574/104166204-b5aee700-53fa-11eb-8ca0-13a30092fdde.png)

[2021-01-11 12:26] TRiebesel commented on #306
Hello,

I checked the GPO and the Citrix Optimizer Policy is enabled, and a custom search directory is set.

thanks
Tobias
________________________________
Von: EUCweb.com <notifications@github.com>
Gesendet: Freitag, 8. Januar 2021 12:52
An: EUCweb/BIS-F <BIS-F@noreply.github.com>
Cc: Tobias Riebesel <tobias@riebesel.net>; Author <author@noreply.github.com>
Betreff: Re: [EUCweb/BIS-F] Citrix Opti

[2021-01-11 13:07] EUCweb commented on #302
@owoell thx, dev branch updated

[2021-01-11 13:15] EUCweb commented on #306
The TemplatePreFix you entered in the BIS-F GPO is wrong **Citrix_Windows_Server_2019_1809**

Please use **Citrix_Windows** only, check out https://eucweb.com/kba/1208191514-2

[2021-01-11 14:08] EUCweb commented on #306
and check the other textboxes in the BIS-F Citrix Optimizer GPO if there is any empty space and remove it

[2021-01-12 09:01] micswe opened #307 "Add ADMX Options for RSS/DEP"
Hi EcuWeb Teams,

we have the need to Disable this setting in the Script, can you add this in GPO ?

regards

Michael

	$PrepCommands += [pscustomobject]@{
		Order       = "$ordercnt";
		Enabled     = "$true";
		showmessage = "N";
		CLI         = "";
		TestPath    = "";
		Description = "Disable Receive Side Scaling (RSS)";
		Command     = "Start-Process -FilePath 'netsh.exe' -Argumentlist 'int tcp

[2021-01-12 10:21] matthias-schlimm commented on #307
Described here https://github.com/EUCweb/BIS-F/issues/185

[2021-01-12 10:21] #307 closed, assigned to nobody

[2021-01-12 20:17] matthias-schlimm commented on #302
works on Azure without Shared Logfile Folder

![image](https://user-images.githubusercontent.com/34108484/104367710-1b8e9200-5513-11eb-859f-f390fd5ea0f6.png)

[2021-01-12 20:31] matthias-schlimm commented on #302
works with LogShare too with latest dev branch

`1/12/2021 8:26:04 PM | LocalAdmin | INFORMATION... | Define new global variable LIC_BISF_CLI_LS=\\BaseImage-2Disk\LogShare
`

[code]

[2021-01-15 14:06] owoell commented on #302
In Script "00_PersBISF_WriteCacheDisk.ps1" there is missing a "$" in line 232 in front of Variable CacheDiskID to get the variable content listed in the logfile
We are currently testing this fix in the customer Azure environment.

[2021-01-15 14:27] matthias-schlimm commented on #302
thx @owoell, fixed in dev branch now

[2021-01-15 21:12] musklor commented on #306
Yes, it's right. Solved after removing empty spaces.

[2021-01-16 08:13] TRiebesel commented on #306
Hello,

Yes there are spaces in the GPO. Now it works.

Holen Sie sich Outlook für iOS<https://aka.ms/o0ukef>
________________________________
Von: musklor <notifications@github.com>
Gesendet: Friday, January 15, 2021 10:12:24 PM
An: EUCweb/BIS-F <BIS-F@noreply.github.com>
Cc: Tobias Riebesel <tobias@riebesel.net>; Author <author@noreply.github.com>
Betreff: Re: [EUCweb/BIS-F] Citrix Optimizer Fai

[2021-01-16 08:55] #306 closed, assigned to matthias-schlimm

[2021-01-16 13:15] matthias-schlimm commented on #302
update dev branch to check the volume of the driveletter too. the Diskpart logfile will be getting into BIS-F now

**before:**
![image](https://user-images.githubusercontent.com/34108484/104812837-4cb5dd80-5805-11eb-84a9-030baed1694e.png)

**after:**
![image](https://user-images.githubusercontent.com/34108484/104812822-34de5980-5805-11eb-9e96-41b7d73074a4.png)

[2021-01-16 14:01] matthias-schlimm commented on #302
**Example MCS: successfully BIS-F Log after the CacheDisk Partition is created**
[code]

[2021-01-16 14:04] matthias-schlimm commented on #302
**Example MCS: successfully BIS-F Log after the DriveLetter on the CacheDisk must be Changed**

[code]

[2021-01-16 14:06] matthias-schlimm commented on #302
**Example MCS: successfully BIS-F Log if the CacheDisk is properly configured**

[code]

[2021-01-18 12:28] matthias-schlimm commented on #302
@owoell can you grab a fresh copy from the develoeper branch and run a test again

[2021-01-18 13:06] scriptkiddy666 commented on #302
@matthias-schlimm I noticed that your log in this [comment](https://github.com/EUCweb/BIS-F/issues/302#issuecomment-758931327) also says: BootDisk has Disk ID -1 assigned
This isn't really a problem with this issue, but I noticed it during my tests with the new CacheDiskID parameter.
In BISF.psm1 line 4221 the following command is used:

[string]$BootDisk = (Get-WmiObject Win32_DiskPartition |Wher

[2021-01-18 13:11] owoell commented on #302
The problem is, that BIS-F script is running perfectly when using an Azure type with temp disk (e.g. DS2v2). But when using D8s_v4 types without an Azure temp disk the MCSIO disk will be formatted correctly, but Citrix does not put the MCSIO-vhd on this disk.

[2021-01-18 14:28] matthias-schlimm commented on #302
@scriptkiddy666 thanks for your message. The BootDisk can be ignored.  I know about [String]::IsNullOrEmpty but this comes to me after the code was finished. I will change it to your recommended way, it's easier to read for all.

I will give them a complete refresh with one of the next new BIS-F releases.

[2021-01-18 14:29] matthias-schlimm commented on #302
@owoell means you running into a reboot loop until the disk is attached ?

[2021-01-18 14:31] owoell commented on #302
No, there is no reboot loop. Only the MCSIO vhd Cache Disk file is missing.

[2021-01-19 10:44] matthias-schlimm commented on #302
@scriptkiddy666 I changed the code as follows

![image](https://user-images.githubusercontent.com/34108484/105023129-e0c4b680-5a4a-11eb-90f7-f3470a32e4e2.png)

[2021-01-19 11:05] matthias-schlimm commented on #302
thank you guys @owoell @scriptkiddy666 for your community work, I will close this issue. Prepare the docs with the new feature in the upcoming version and creating the new package as soon as possible

[2021-01-19 11:05] #302 closed, assigned to matthias-schlimm

[2021-01-29 16:31] Puntoboy commented on #40
I've started getting this issue with a new 2016 image I am building. The log file is pretty vague.

`29/01/2021 16:24:08 | ctx_installer | INFORMATION... | Processing function Get-BISFPendingReboot
29/01/2021 16:24:08 | ctx_installer | INFORMATION... | Session Manager - PendingFileRenameOperations: True
29/01/2021 16:24:08 | ctx_installer | ERROR............... | A pending system reboot was detect

[2021-01-30 09:20] EUCweb commented on #40
@Puntoboy you can supress the pending reboot via BIS-F GPO https://eucweb.com/docs/bisf-7-1912/gpo-configuration/global/suppress-pending-reboot.

From your log you can see "Session Manager - PendingFileRenameOperations: ", this is the component that is responsible for the pending reboot and in my link you can check where it come from.

[2021-01-30 09:21] Puntoboy commented on #40
Thanks. I was aware of the GPO override but I'd rather find out what is causing the pending restart even though I've repeatedly done that. I'll check the link thank you :)

[2021-01-30 09:24] EUCweb commented on #40
This is new with BIS-F 7.1912.6, we are logging the component, for better troubleshooting

[2021-02-01 10:14] Puntoboy commented on #40
Thanks. I've taken a look at the registry key, seems some orphaned file rename so I removed it.

[2021-02-02 09:11] Andre1Becker opened #308 "Clean up Folders i.e. TEMP"
**Is your feature request related to a problem? Please describe.**
Kind of - sometimes installers or other Applications leave some garbage behind in f.e. temp folders. that could be problematic when the image is cloned

**Describe the solution you'd like**
Have a Comma seperated list (config by GPO) with Folderpaths that should be emtied out when preppin' the image

**Example code**
[code]
(This c

[2021-02-10 10:55] EUCweb commented on #289
Reopen issue, some customer have issue again. SCCM service is not stopped.

![image](https://user-images.githubusercontent.com/34108095/107502265-be7d0f00-6b98-11eb-8827-272874d39c65.png)

[2021-02-10 10:57] remkolansaat commented on #289
ok goodluck if you have new code I am happy to test it ...

[2021-02-10 10:58] remkolansaat commented on #289
my workaround is to set ccmexec to manual before final reboot of sccm taskseqeuence deployment

[2021-02-16 11:06] EUCweb commented on #289
received from another customer today

[2021-03-27 23:23] aaronparker opened #311 "Cannot convert 'System.String' to the type 'System.Management.Automation.SwitchParameter'"
## Description

BIS-F `7.1912.6.11041`: Running `PrepBISF_Start.ps1` in Windows 10 Enterprise 20H2 on Azure via a Packer build reports the following:

[code]

The code that calls `PrepBISF_Start.ps1` look like this:

[code]

Running BIS-F Windows 10 Enterprise 20H2 on Azure via Packer with a BISFconfig file exported from an on-prem configuration. Log entries when running BIS-F:

[code]

Configurat

[2021-03-30 10:28] aaronparker commented on #311
Here's some initial log files from an interactive PowerShell prompt from a VM created from the image. I'll have to re-run via Packer. BIS-F seems to run OK interactively.

[BisfLogs.zip](https://github.com/EUCweb/BIS-F/files/6228294/BisfLogs.zip)

[2021-03-30 13:09] RedPeace opened #312 "Sophos AV script needs fix"
Hi,

BIS-F Sophos AV check does not work anymore.
Tested with Sophos Central InterceptX.

Sophos services names changed.

Token and Tamper Protection code is required in a potential new script.

Sophos KB is updated:
https://support.sophos.com/support/s/article/KB-000035040?language=en_US

Greetings.
Gero

[2021-04-15 06:48] FrankLangbein opened #313 "SCCM agent sealing error"
**Describe the bug**
I see in the BISF logs that the CcmExec service cannot be stopped or killed during preparation of my vdisks.

**To Reproduce**
Run BISF sealing with SMS Agent Host service installed.

**Expected behavior**
SMS Agent Host service is stopped and CCM data is deleted.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the foll

[2021-04-15 15:36] zurstegen opened #314 "Control Windows Update Service over GPO ADMX"
**Is your feature request related to a problem? Please describe.**
With the default BISF Powershell files the Windows Update service will be disabled in the preperation task. This is a problem, if in the provisioned Citrix workers the Windows Defender service should be use to update the Anti Virus Signature Update files.

**Describe the solution you'd like**
As an solution the administrator should

[2021-04-18 08:27] aaronparker commented on #311
In my script that calls `PrepBISF_Start.ps1` I have the following code:

[code]

Using `PrepBISF_Start.ps1 -Verbose:$False` fixes the issue. Taking a look at the code in BIS-F, I think there's some improvements to be had in the way that `Verbose` is called. I'll see whether I can create a PR with a fix to this in the future.

[2021-04-18 08:28] aaronparker commented on #311
My Packer deployment now reports the following once BIS-F completes - I'll need to look into this further:

[code]

[2021-04-22 16:51] JonathanPitre opened #315 "Stop Azure VM properly instead of running shutdown command"
Stop Azure VM properly instead of running shutdown command to ensure the catalog update will work properly. By running the Stop-AzVM the vm is shutdown and also **deallocated** which is required for the catalog update to succeed.

https://docs.microsoft.com/en-us/powershell/module/az.compute/stop-azvm?view=azps-5.8.0

Stop Azure Virtual Machine

After deploying all the software and installing the

[2021-04-23 06:25] tschuegy opened #316 "Stuck at "Removing Module BISF""
Hi

In one of our customer environments, BISF gets stuck at the "Removing Module BISF" step. Is the problem known? What else could I try?

![2021-04-23 06_27_56-Greenshot](https://user-images.githubusercontent.com/43025161/115827952-4e4aff00-a40d-11eb-8788-53f1a93b12a1.png)

Thx, tschuegy

[2021-05-03 08:04] citrixguyblog opened #317 "Baramundi Software Agent not detected"
**Is your feature request related to a problem? Please describe.**
Feature Request. When using Baramundi as software deployment the service is not getting disabled during sealing.

**Describe the solution you'd like**
Disable the service. I attached you the script I am using in the custom folder for the moment.
Would be nice to integrate this in the next BIS-F release.

[2021-05-03 08:05] citrixguyblog commented on #317
[bisf_baramundi.txt](https://github.com/EUCweb/BIS-F/files/6413591/bisf_baramundi.txt)

[2021-05-03 08:08] matthias-schlimm commented on #317
stopping and disabling the service is enough, no deletion of any files, etc. ?

[code]

[2021-05-03 08:13] citrixguyblog commented on #317
Customer couldn't tell me.  Since they re-open the PVS vDisk to install new software via the baramundi agent this could potential break stuff.

[2021-05-12 12:38] ad2466 commented on #316
I have the same Issue. I'm running server 2019 and the same version of BIS-F.

[2021-05-18 10:35] thewitscher opened #318 "Changing MCS WriteCache Disk letter to something different from default d: doesn´t work"
Hi Matthias,
Changing MCS WriteCache Disk letter to something different from default d: doesn´t work on MCS Worker.
It ends in a reboot loop.
See attached log-file:
Regards,
Torsten
[PERS_BISF_VAW2K16MCSPZ01_20210518-114625.log](https://github.com/EUCweb/BIS-F/files/6500612/PERS_BISF_VAW2K16MCSPZ01_20210518-114625.log)

The W2K16 Master configuration is:
WriteCache Disk = W:
Page file is configure

[2021-05-18 18:41] matthias-schlimm commented on #318
i need a diskpart output of the image where the reboot loop occurs

[code]

Number of partitions from the log, this is a misconfiguration !
[code]

**CacheDisk is identified as Disk 2**
18.05.2021 11:46:40 | VAW2K16MCSPZ01$ | EXTERNAL LOG.... | select disk 2
18.05.2021 11:46:40 | VAW2K16MCSPZ01$ | EXTERNAL LOG.... | online disk noerr
18.05.2021 11:46:40 | VAW2K16MCSPZ01$ | EXTERNAL LOG.... | resca

[2021-05-18 19:07] thewitscher commented on #318
This is on my Master:
![grafik](https://user-images.githubusercontent.com/66991062/118708639-40c24280-b81c-11eb-88ca-5cd880e9db38.png)
with this configured BIS-F Policy:
![grafik](https://user-images.githubusercontent.com/66991062/118708831-8121c080-b81c-11eb-8d0e-246117e00114.png)
![grafik](https://user-images.githubusercontent.com/66991062/118708923-a0205280-b81c-11eb-997d-c956d88d86a5.png)

The

[2021-05-18 19:18] EUCweb commented on #318
Please send me the Informations from the MCS Target as well
Am 18. Mai 2021, 21:07 +0200 schrieb thewitscher ***@***.***>:

[2021-05-18 19:31] thewitscher commented on #318
This is on the MCS Worker:
![grafik](https://user-images.githubusercontent.com/66991062/118711566-065aa480-b820-11eb-91e5-b9568f7b8f66.png)
![grafik](https://user-images.githubusercontent.com/66991062/118711691-2a1dea80-b820-11eb-94bc-b087228f7717.png)
[PERS_BISF_VAW2K16MCSPZ01_20210518-212825.log](https://github.com/EUCweb/BIS-F/files/6503828/PERS_BISF_VAW2K16MCSPZ01_20210518-212825.log)

[2021-05-20 15:10] matthias-schlimm commented on #318
Can you change the ADMX to 6 partitions, to see if it works.

[2021-05-20 16:13] thewitscher commented on #318
the max. number of partitions I can choose in the policy is 5:
![grafik](https://user-images.githubusercontent.com/66991062/119013179-0af59900-b997-11eb-9d4f-bb59b4e52ebd.png)

[2021-05-20 17:00] matthias-schlimm commented on #318
please add in the BISF adml file https://github.com/EUCweb/BIS-F/blob/develop/ADMX/en-US/BaseImageScriptFramework.adml#L802 as follows

Line 802:

**before:**
[code]

**after:**
[code]

[2021-05-20 19:22] thewitscher commented on #318
with the settings partitions = 6 and diskID = 1 in the GPO it loooks as follow:
![grafik](https://user-images.githubusercontent.com/66991062/119036206-c7a82400-b9b0-11eb-94f7-8ffa9589710f.png)
[PERS_BISF_VAW2K16MCSPZ01_20210520-211919.log](https://github.com/EUCweb/BIS-F/files/6518343/PERS_BISF_VAW2K16MCSPZ01_20210520-211919.log)

[2021-05-25 18:22] matthias-schlimm commented on #318
Why using DiskID = 1, it looks you must use DiskID 2 instead

[2021-05-25 18:32] thewitscher commented on #318
And why I should used 6 as partition, I only have 5 partitions on the worker and 3 on the master. I already tested with partitions = 5 and disk id = 2. It also doesn´t work.

[2021-05-25 18:42] matthias-schlimm commented on #318
Please use 6 partitions and DiskID 2 for testing, if this will work, we have a look to the summary of the partitions. First, I will check if the coding is correct.

[2021-05-25 19:01] matthias-schlimm commented on #318
the code That BIS-F using, list CD-ROM Drive too and this will result 6 volumes

`(Get-CimInstance -ClassName Win32_volume).count`

[2021-05-25 19:15] thewitscher commented on #318
[PERS_BISF_VAW2K16MCSPZ01_20210525-210603.log](https://github.com/EUCweb/BIS-F/files/6541796/PERS_BISF_VAW2K16MCSPZ01_20210525-210603.log)
[PERS_BISF_VAW2K16MCSPZ01_20210525-210139.log](https://github.com/EUCweb/BIS-F/files/6541797/PERS_BISF_VAW2K16MCSPZ01_20210525-210139.log)

[2021-05-25 20:04] thewitscher commented on #318
[BISFtmp.log](https://github.com/EUCweb/BIS-F/files/6542054/BISFtmp.log)

[2021-06-02 10:23] haavarstein opened #319 "PDQ Deploy"
**Is your feature request related to a problem? Please describe.**
It's not possible to run BIS-F via PDQ Deploy

**Describe the solution you'd like**
Support for PDQ Deploy - https://www.pdq.com/pdq-deploy/
PDQ Deploy is a popular and very affordable product for Life Cycle Management.

You can build Packages to patch OS, upgrade whatever Agent version (Citrix, VMware, Parallels, etc) and run Ever

[2021-06-24 19:22] tschuegy commented on #317
@citrixguyblog
We use also baramundi for master deployment, but we do not re-open the existing image. We do always redeploy the hole master during baramundi fully unattended. The deployment process is 100% zero touch, also for the BIS-F steps and vhdx integration in Citrix PVS.

Here are the script to uninstall the BMS Agent:

02_PrepBISF_ABX_UninstallBaramundiAgent.ps1

`<#
	.SYNOPSIS
		Uninstall

[2021-06-24 19:40] tschuegy commented on #277
I can spoke from my customer environments. The feature "temper protection" is active and recommended. In this case, you cannot delete any related symantec files or registry values that are in the protected area of SEP. Also you cannot add the registry value "HKEY_LOCAL_MACHINE\SOFTWARE\Wow6432Node\Symantec\Symantec Endpoint Protection\SMC\IsNPVDIClient".

We do set this value during installation w

[2021-06-24 20:31] tschuegy commented on #263
We start the BIS-F Steps outside the SCCM task sequence, but the preparation for that is inside the TS.
The steps looks like this:

OSD TS --> BIS-F scheduled install task as last step in TS --> End TS and reboot --> Autologon with a Service Account --> Start BIS-F installation steps.

In our OSD, the TS completes successfully and boots automaticaly the vm aferwards. After the vm boots up, an auto

[2021-06-27 16:10] itsnicetobeking opened #320 "BISF.psm1 wrong call for function Set-ACLrights"
In line 3741 the function set-ACLrights is declared. Yet the script calls for the set-BISFACLrights Function
at line 2748, 2843 and 2928.

In the description of the function set-ACLrights is even the description of set-BISFACLrights.
So my guess is that someone just removed the "BISF" in the name of the function and forgot
to change that in the rest of the script.

To fix it either rename the func

[2021-06-27 18:04] matthias-schlimm commented on #320
The prefix will be added with the bisf.psd1 and this is a Standard Powershell Action, check out https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/new-modulemanifest?view=powershell-7.1
Am 27. Juni 2021, 18:10 +0200 schrieb itsnicetobeking ***@***.***>:

[2021-07-14 08:45] xenadmin commented on #314
Hi @zurstegen !
I just wanted to let you know, that I think that your request is misleading. Windows Defender does **not** need the Windows Update service, to function properly and receive security intelligence updates. We are currently transforming several customers from traditional AV solutions, to Windows Defender, and I thought the same, but I quickly discovered, that the recommended solution

[2021-07-14 09:05] zurstegen commented on #314
Hi @xenadmin!

Thanks for the detailed introduction. The way to point the defender service to a SMB share sounds very interest and we will test it.

I agree with you that on MCS/ PVS the Windows Update service normally should be disabled, but in my scenario we didn't found a solution to get around this. The mycugc article could be solution for us!

Thanks!

[2021-07-14 09:05] #314 closed, assigned to nobody

[2021-08-03 19:36] matthias-schlimm commented on #318
it's hardcoded in Citrix MCS deployment to use driveletter D: Sending a Feature Request to Citrix to put this in the next LTSR Release, to change to driveletter in Citrix Studio Wizard

[2021-08-03 19:36] #318 closed, assigned to matthias-schlimm

[2021-08-03 19:43] matthias-schlimm opened #321 "BISF fails to run on new Windows 10 Multi-session image with FSLogix preinstalled"
Steps to reproduce

1. Create AzureVM based on the following image from MS Gallery: (use the New-TestVM.ps1 script)

$PublisherName = 'MicrosoftWindowsDesktop'
$Offer = 'office-365'
$SkuName = '20h2-evd-o365pp'
$version = 'latest' #at the time i tested it was version 19042.867.2103100552

Note: Update install not required to reproduce error
2. Install Windows updates (list is what was available at

[2021-08-03 19:47] matthias-schlimm opened #322 "FireEye Enterprise Security as Antivirus"
**Installing Agents Using a Golden or Master Image**

You can use a master or golden image to deploy the FireEye Endpoint Security software to
multiple physical or virtual host endpoints in your enterprise. When you install the
FireEye Endpoint Security software on an endpoint, the agent creates a private key, using
information from the endpoint, to encrypt and decrypt all agent data. After instal

[2021-08-03 19:50] matthias-schlimm opened #323 "Hydration Time Schedule"
Using Hydration during GPO specified timerange only

[10_PersBISF_HydratePVS.TXT](https://github.com/EUCweb/BIS-F/files/6926714/10_PersBISF_HydratePVS.TXT)

[2021-08-03 19:53] matthias-schlimm opened #324 "Sophos AntiVirus does not request Updates"
https://docs.citrix.com/en-us/citrix-app-layering/4/layer/layer-antivirus-apps.html

6. Rename the following directories:

From: C:\ProgramData\Sophos\AutoUpdate\Cache\savxp

To: C:\ProgramData\Sophos\AutoUpdate\Cache\savxp.copy

From: C:\ProgramData\Sophos\AutoUpdate\Cache\rms

To: C:\ProgramData\Sophos\AutoUpdate\Cache\rms.copy

Renaming the directories is required because App Layering blocks at

[2021-08-03 19:56] matthias-schlimm opened #325 "Revert Redirection"
disabling MCSIO in the Golden Image and want to revert the Evenlogs to the default system location instead of the MCSIO disk.

[2021-08-03 19:59] matthias-schlimm opened #326 "ProfileUnity, FlexApp and Stratusphere cleanup before sealing an image."
After E2E I spoke to Matthias about the Liquidware Solutions and what needs to be done to clean up a base image. I seems I never sent my previous email.
With a huge delay here is the information needed to clean up a base image when ProfileUnity, FlexApp and Stratusphere are installed.

Let met know if you need more information.

For ProfileUnity and FlexApp on the base image the following has to b

[2021-08-03 20:00] matthias-schlimm commented on #326
These are the services for Stratusphere UX.

Service name: tntuidsvc
Display name: Liquidware Labs User Identification Service

Service name: tntupdsvc
Display name: Liquidware Labs Software Update Service

Service name: tntgrd
Display name: Liquidware Labs Connector ID Service

These are the services for ProfileUnity and FlexApp. They use the same client so are always installed even though you ca

[2021-08-03 20:01] matthias-schlimm commented on #326
In here HKEY_LOCAL_MACHINE\SOFTWARE\WOW6432Node\Liquidware Labs\ConnectorID
The default is “C:\Program Files (x86)\Liquidware Labs\Connector ID\”

![image](https://user-images.githubusercontent.com/34108484/128078386-04a070a5-ae68-4f61-a110-597b268f91c2.png)

[LWL_ConnectorID.txt](https://github.com/EUCweb/BIS-F/files/6926766/LWL_ConnectorID.txt)

Kind regards,

Perparim Bislimi
Solutions Architec

[2021-08-03 20:39] matthias-schlimm opened #327 "BIS-F doesn't create PVS VHDX from 98_PrepBISF_BUILD_BaseImage.ps1"
BIS-F Version: 7.1912.6.11041
from the Powershell transcript gettign the following error

[code]

This will come from the fucntion Get-DiskMode in the BISF.psm1 module  https://github.com/EUCweb/BIS-F/blob/develop/Framework/SubCall/Global/BISF.psm1#L1635

No Diskmode is returned and BIS-F doesn't know how the further process works

In the BIS-F standard preparation log you will see, the lines as f

[2021-08-03 20:48] matthias-schlimm commented on #327
In addition, pleas see the empty line in the screenshot, grabbed from the log. It looks like you have a space in the BIS-F GPO ?

![image](https://user-images.githubusercontent.com/34108484/128083657-9c70ef65-d1d6-487d-9cc9-b47073844876.png)

please Upload this items here:

- screenshot from the **BIS-F GPO > Citrix > Configure PVS Device**
- registry export from the Master-VM HKLM:\SOFTWARE\Polic

[2021-09-04 04:14] Richgang18 commented on #322
For sale?

[2021-09-14 08:07] matthias-schlimm opened #328 "AppLayering, ghost devices are deleting"
at the end of the script another part is deleting all NICs.  It seems that in the script “99_PrepBISF_POST_BaseImage.ps1” a part of the AppLayering is deleting these NICs too.

This is the part which is deleting all NICs at the end. When we comment out these lines then it is fine:
<image005.png>

How we can set this up? Is there something to disable in the script ”99_PrepBISF_POST_BaseImage.ps1” t

[2021-09-14 08:09] matthias-schlimm commented on #328
as a workaround, please comment out the following lines

**script:** https://github.com/EUCweb/BIS-F/blob/develop/Framework/SubCall/Preparation/99_PrepBISF_POST_BaseImage.ps1#L235
**Lines:** 232 - 238

[2021-10-13 07:21] PatrickvanderKnaap commented on #284
Hi Matthias, I do experience the same issue with defender and the 10 minute finish and stopping of the script progress. I did disabled the av part to continue testing the creating of the image. I do use the last downloadable version of BIS-F do I need to add or replace something in the 10_PrepBISF_AV-WinDefend.ps1?

[2021-10-13 16:16] matthias-schlimm commented on #284
It's possible that's the script has some bugs too. please upload the BIS-F log and BIS-F Transaction log of the preparation phase here, to have a look into it. before upload, please search and replace sensitive data . Thank you

[2021-10-14 07:22] PatrickvanderKnaap commented on #284
Hi Matthias,

Hereby the two log files.

If you need anything more please let me know,

Citrix 7.15 LTSR Cu5

Windows 2016

Bisf 7.1912.6.11041

Kind Regards

Patrick van der Knaap

Matthias Schlimm schreef op 2021-10-13 18:16:

Links:
------
[1] https://github.com/EUCweb/BIS-F/issues/284#issuecomment-942466863
[2]
https://github.com/notifications/unsubscribe-auth/AWBE7XFYMMRBM4GSN4Y67BLUGWWHJANCN

[2021-10-15 08:22] matthias-schlimm commented on #284
@PatrickvanderKnaap  please upload the 2 logfiles here, its better for me to read. thx

[2021-10-15 11:40] PatrickvanderKnaap commented on #284
[PREP_BISF_server_20211014-083957.log](https://github.com/EUCweb/BIS-F/files/7353118/PREP_BISF_server_20211014-083957.log)
[MpCmdRun.log](https://github.com/EUCweb/BIS-F/files/7353120/MpCmdRun.log)

Hereby the 2 logs files

[2021-10-15 11:46] matthias-schlimm commented on #284
please upload the BIS-F transcript too, this must be enabled separately https://eucweb.com/docs/bisf-7-1912/gpo-configuration/global/configure-logging

[2021-10-18 18:02] PatrickvanderKnaap commented on #284
I did Create new log files from the prep phase.
It does wait for the 60 minute timeout before continue in the prep phase.
If I start the pers phase the script does not continue and waits for ever.
When AV is disabled in the gpo both phases run well.

[PREP_BISF_builtservera_20211018-151238.log](https://github.com/EUCweb/BIS-F/files/7367584/PREP_BISF_builtservera_20211018-151238.log)
[PREP_BISF_WPT

[2021-10-27 14:20] matthias-schlimm opened #329 "offline defrag on UEFI Disks not running"
**OLD BIS-F Version: Running Version 6.1.0 build 01.103**

26-10-2021 16:57:16 | sys_res_am | INFORMATION... | Retrieve available drives (before mount): C D X
26-10-2021 16:57:16 | sys_res_am | INFORMATION... | Mount (attach) the vhdx (using cvhdmount.exe)
26-10-2021 16:57:18 | sys_res_am | INFORMATION... | Processing function Get-BISFLogContent
26-10-2021 16:57:18 | sys_res_am | INFORMATION... |

[2021-11-15 08:57] xenadmin opened #330 "PREP: Azure AD leave doesn't work"
**Describe the bug**
Although configured via GPO, the Azure AD **leave** during the PREP phase never works.

**To Reproduce**
Steps to reproduce the behavior:
1. Set in GPO: Preparation Phase: Leave Azure Active Directory: Enabled
2. Create a new Master Image
3. Read the PREP log which says:
11.11.2021 10:07:09 | SetupAccount | INFORMATION... | Processing function New-BISFGlobalVariable
11.11.2021

[2021-11-24 12:26] KUESTER-Group-Florian-Seip opened #332 "Matrix42 UEM Agent Windows"
The new Empirum Agent named "Matrix42 UEM Agent Windows" is not supported by BISF.

The UEM Agent no longer uses the "eris" service, but only the "Matrix42UAF" service and the AgentConfig.xml file is now located at C:\Program Files\Matrix42\Universal Agent Framework\AgentConfig.xml. So the script does not really clean up the agent configuration.

Some people will still use this agent because the v

[2021-11-25 12:56] KUESTER-Group-Florian-Seip opened #333 "Feature request: Preparation Empirum Script"
Can you please add to the script 10_PrepBISF_Empirum.ps1 the path PatchManagement\Repository\Patches to empty the folder Patches? I am using Empirum Patch Management from Matrix42 to provide Citrix PVS TerminalServer Master Images with Windows Updates.

The code to add should be:
Remove-Item "$cachelocation\PatchManagement\Repository\Patches\*" -Force -Recurse

Thank you very much.

[2021-12-29 11:31] ollivetti4 opened #334 "MCSIO CacheDisc Problem / LOG Redirect to D:\ / Machine BSOD"
**Describe the bug**
Hello, unfortunately I have a problem with my master image after sealing it with BIS-F. It seems soething is going wrong with the cache disc.
Server 2019 with MCS and XA 1912cu3

First thing I notice is that the logs are not redirected to D:\ (cache disc).
Next when I open Chrome or another internal Application the server crashes and I get a BSOD.

I tried all kind of configur

[2022-01-04 19:55] zimbo86 commented on #327
just noticed that I have the same empty line here - but it works.
I stumbled over this because I had exactly the same error:

![image](https://user-images.githubusercontent.com/69269000/148115704-08be0e64-363f-48de-92e7-ad99f6d5e6ec.png)

In my case there was a syntax error in a custom line which I added to BISF.ps1
After fixing this syntax error all went fine. I think this happend because the lin

[2022-01-12 14:09] zimbo86 opened #335 "Search for vietool recursive"
**Is your feature request related to a problem? Please describe.**
When vietool is placed in a subfolder inside ${env:ProgramFiles(x86)} it is not found via function "RunVIE"
**Describe the solution you'd like**
When vietool is placed in a subfolder inside ${env:ProgramFiles(x86)} it is not found via function "RunVIE"

**Describe alternatives you've considered**
Add -recurse  parameter in line 152

[2022-01-31 09:30] Tschensi71 commented on #316
I have the same issue, with Server 2016.
I'm not shure, is that BIS-F sealing finished proceeded, with this error?
![BIS-F-2022-01-31_10-24-09](https://user-images.githubusercontent.com/74136021/151768948-68511eb1-bce6-49f1-9973-f2bdf63ab843.jpg)

[2022-02-19 00:20] jmloubser commented on #207
I believe you still have a bug in the latest version: 7.1912.6
File: 10_PrepBISF_SetPageFile.ps1
Line: 29: `if ($LIC_BISF_CLI_PAGEFILE_DRIVE -eq "$PVSWriteCacheDrive") {`
As @Trentent said: `PVSWriteCacheDrive` was set as a variable with a dollar sign instead of a string.

[2022-02-19 00:43] jmloubser commented on #207
But, the ADMX policy (BIS-F > Microsoft > Configure Page File > Enabled: Page file drive) only allows you to select a drive letter from the dropdown.

I searched all the scripts and there is no other reference to `$PVSWriteCacheDrive`. Thus, my conclusion is that the `$PVSWriteCacheDrive` variable in this case is a bug.

`$LIC_BISF_CLI_PAGEFILE_DRIVE `should use a valid drive letter.  Should the c

[2022-02-22 17:08] jmloubser opened #336 "CMTrace - Custom Search and Location ignored."
When this script executes during preparation phase, it ignores the Custom Search and Location for `CMTrace.exe`
Filename: `10_PrepBISF_CMTrace.ps1`

When reviewing the BIS-F log file, I can see the variables are initialized correctly:
[code]

[code]

Notice that the Search location is incorrect, searching in %ProgramFiles(x86)%\BIS-F\Framework\Tools\VMwareOSOT

Reviewing the script reveals that th

[2022-03-09 08:47] rockstarcloud commented on #334
Hi,
try to set the policy "Configure Citrix MCS Device" on your template/master device to disabled, for your workers to enabled.

[2022-03-18 07:47] thomaskrampe opened #337 "Windows Updates pushing down VMware driver, images non-bootable after"
**Describe the bug**
Running into issue with Microsoft Windows Updates pushing down VMware driver updates that render R/W images non-bootable.
Found in CTP Slack Channel from Joe Shonk

**Additional context**
Possible solution (answer from Guy Leech)
I've suffered this. Been working on a script that **changes the NIC to Intel** so you can run updates and **then switch back to vmxnet3**

[2022-04-12 07:35] thewitscher opened #338 "Adjustment of VMware OSOT due to naming changes"
Hallo Matthias,

einer unserer VMware EUC Kollegen hat bemerkt, dass VMware das OSOT Tool umbenannt haben.
Du startest über BIS-F die "VMwareOSOptimizationTool*.exe", die nun geändert wurde auf:
"VMwareHorizonOSOptimizationTool*.exe". Hier muss quasi eine Unterscheidung der gefundenen VMware*.exe gemacht werden.
Kannst Du das bitte anpassen und eine neue Version / ein neues Build publishen?

![gra

[2022-04-12 08:20] thewitscher opened #339 "If using the OSOT default template add a .josn file with particular settings"
Hallo Matthias,

hier kommt noch ein guter Vorschlag von einem unserer VMware EUC Kollegen bzgl. einer Ergänzung zur Verwendung von OSOT:

Es gibt in der neuen OSOT Version keine Community Templates mehr, wie es früher der Fall war.
Man kann zwar nach wie vor vorhandene (alte) Templates als XML File importieren, aber per Default gibt es nur noch ein einziges, von der VMware bereitgestelltes Templa

[2022-04-14 09:25] matthiaseckerle commented on #290
[code]

[2022-04-17 10:25] ulaaser commented on #313
Hi Frank, have you achieved to use sccm in non-persistent VM. Im mean so that it is usable over prolonged time? My concern is the consistency of SCCM LOGs and Inventory like Software Metering etc.. specially after reboot of non persistent VM. Of course i already investigate the option deploying the SCCM Agent in the Master image and at the end remove/clean specific parts of the sccm agent in regis

[2022-05-07 09:24] badnatho opened #340 "Multiple FQDN Machine Certificates breaks EnableSSLVDA.ps1"
**Describe the bug**
- When: Citrix VDA SSL being armed.
- When: machine has multiple FQDN certificates issued.
- When: not all certificates have the Client/Server Authentication purpose.
- Outcome: EnableSSLVDA.ps1 picks first certificate in list. (Regardless of purpose)
- Outcome: First certificate in list may not have Server Authentication purpose.
- Outcome: Incorrect certificate thumbprint pu

[2022-05-20 15:59] jeremyts commented on #316
Since version 7.1912 I had found that we sometimes get a "powershell has stopped working" error as PrepBISF_Start.ps1 completes/exits as documented in this issue.

I tried several different fixes, but ultimately disabling Windows Error Reporting (WER) prevents the error from popping up and allows BISF to complete successfully. A quirk with PowerShell that I was unable to isolate any further. So se

[2022-05-23 11:53] jeremyts commented on #330
Nice work Marco. I can confirm this works.

[2022-06-01 07:14] mkools opened #342 "Dead?"
Is this project dead? Should we still be using this? I see there are no more updates.

Would be very sad :(

[2022-06-01 07:53] matthias-schlimm commented on #342
it's not dead, but hasn't time for developing something on it. I will do my best for some improvements later in 2022

[2022-06-08 09:41] hebgit opened #343 "Set-BISFPreparationState -RebootRequired does not work"
**Describe the bug**
I'm running a custom preparation script which may need a reboot. If the script needs a reboot it calls `Set-BISFPreparationState -RebootRequired`
BIS-F seems to not use the preparation state in any function. There is no scheduled task created as well.

**To Reproduce**
Steps to reproduce the behavior:
1. Call `Set-BISFPreparationState -RebootRequired` in a custom script.

**Ex

[2022-07-18 10:24] fgottilu commented on #337
This workaround to move to Intel doesn't work on UEFI.

[2022-07-18 10:31] fgottilu opened #344 "Citrix 2203 LTSR support + windows 2022 Support."
**Is your feature request related to a problem? Please describe.**
Some times on Windows 2022, when I launch the script, I have some errors related to files that doesn't exist.

**Describe the solution you'd like**
To integrate citrix versioning and to have different approach depending of the OS.

[2022-08-14 06:30] bladeoner commented on #337
@thomaskrampe you should disable driver update for Windows Update, you can do this by GPO or registry:

GPO method:
- Op Group Policy Management Console
- Browse the following path: Computer Configuration > Administrative Templates > Windows Components > Windows Update
- On the right side, double-click the Do not include drivers with Windows Update policy.
- Select the Enabled option.
- Click Appl

[2022-08-14 06:59] bladeoner commented on #332
@FSE-SYSADMIN can you test the attached script by replacing 10_PrepBISF_Empirum.ps1?
[10_PrepBISF_Empirum.zip](https://github.com/EUCweb/BIS-F/files/9332856/10_PrepBISF_Empirum.zip)

I've added the following:
Old: ```$ServiceNames = @("Eris", "MATRIXAUT")```
New: ```$ServiceNames = @("Eris", "MATRIXAUT", "Matrix42UAF")```

Thanks in advance.

If it works I can be send in as a PR.

[2022-08-14 07:28] bladeoner commented on #335
@zimbo86 can you replace the 10_PrepBIS_AV-SEP.ps1 script with the attached one and see if it works?
[10_PrepBISF_AV-SEP.zip](https://github.com/EUCweb/BIS-F/files/9332876/10_PrepBISF_AV-SEP.zip)

I added the following online 84:
Old: ```$VIESearchFolders = @("C:\Windows", "C:\Windows\system32", "$env:ProgramFiles", "$(${env:Programfiles(x86)})", "$SEP_path")```
New: ```$VIESearchFolders = @("C:\W

[2022-08-16 05:41] KUESTER-Group-Florian-Seip commented on #332
It doesn't work unfortunately.
![image](https://user-images.githubusercontent.com/94964691/184804664-293c0188-30af-49e9-8942-dd959f1a2891.png)

I think that the variable $empirum_path must be changed to "C:\Program Files\Matrix42\Universal Agent Framework\". But as written in my previous post, the old agent should still be supported as well. We are currently in a transition phase. Unfortunately my

[2022-08-17 05:16] bladeoner commented on #332
@FSE-SYSADMIN thank you for the quick response.

I have an idea how to do it, I will look into it later this week and keep you informed.

[2022-08-18 06:52] bladeoner commented on #332
@FSE-SYSADMIN I've added a ForEach, with that it can go through both locations.
[10_PrepBISF_Empirum_08182022.zip](https://github.com/EUCweb/BIS-F/files/9368297/10_PrepBISF_Empirum_08182022.zip)

Can you test if it works and let me know?

Thanks in advance.

[2022-08-18 11:51] KUESTER-Group-Florian-Seip commented on #332
The same error in the BISF log file as above.

It seems that only the first service from the $servicename array is checked and since it is not present, the script exits.

[2022-08-24 09:19] bladeoner commented on #332
I've replaced the function with the following:

	$svc = Test-BISFService -ServiceName "$Svc1"
	if ($svc -eq $true) {
		Invoke-BISFService -ServiceName "$Svc1" -Action Stop
	}

	$svc = Test-BISFService -ServiceName "$Svc2"
	if ($svc -eq $true) {
		Invoke-BISFService -ServiceName "$Svc2" -Action Stop
	}

	$svc = Test-BISFService -ServiceName "$Svc3"
	if ($svc -eq $true) {
		Invoke-BISFService -Servi

[2022-08-25 05:33] KUESTER-Group-Florian-Seip commented on #332
Now it works a little bit. The BISF log file is there now:
![image](https://user-images.githubusercontent.com/94964691/186582902-8a5d54a9-0a6c-4971-acf4-f78abc90e066.png)

But there are some errors in the PS output:
![image](https://user-images.githubusercontent.com/94964691/186582265-4657f019-2de6-4c4e-905d-ac3a57417667.png)

[2022-08-25 05:52] bladeoner commented on #332
@FSE-SYSADMIN thank you for your patience and testing.

I made some adjustments on how to handle the errors.

When you find some time can you test the following file?
[10_PrepBISF_Empirum_08252022.zip](https://github.com/EUCweb/BIS-F/files/9421744/10_PrepBISF_Empirum_08252022.zip)

Thanks in advance.

[2022-08-25 06:05] KUESTER-Group-Florian-Seip commented on #332
Yes, that looks much better! The first part of the removal (Agent LocalCache) works! Thank you very much for your work!

In the second part of the removal (reg keys) there are some reg keys that are not removed by the script:
		Remove-Item "$hklm_sw\MATRIX42\AGENT" -Force -ErrorAction SilentlyContinue
Has no change:
![image](https://user-images.githubusercontent.com/94964691/186587521-4a715e00-b7a

[2022-08-25 06:12] bladeoner commented on #332
Does it work when you run the following manually from a Powershell shell (admin)?
```Remove-Item "$hklm_sw\MATRIX42\AGENT" -Force```
```Remove-Item "$hklm_sw\MATRIX42\EmpInv" -Force```

[2022-08-25 06:19] KUESTER-Group-Florian-Seip commented on #332
No. I get the error:
![image](https://user-images.githubusercontent.com/94964691/186589449-65b184b8-c6a9-46eb-961d-38ec8e83d3ac.png)

It seems that the variable $hklm_sw has no content.

[2022-08-25 06:23] bladeoner commented on #332
I was testing it at the same time with another registry value on my machine, I also get an error.

Can you verify the following works?
```Remove-Item "HKLM:\Software\MATRIX42\AGENT" -Force```
```Remove-Item "HKLM:\Software\MATRIX42\EmpInv" -Force```

[2022-08-25 06:30] bladeoner commented on #332
If it works attached is a new file containing the changes:
[10_PrepBISF_Empirum_08252022.zip](https://github.com/EUCweb/BIS-F/files/9421997/10_PrepBISF_Empirum_08252022.zip)

[2022-08-25 06:53] KUESTER-Group-Florian-Seip commented on #332
Oh, this change needs to be confirmed:
![image](https://user-images.githubusercontent.com/94964691/186595389-97a763ac-0ef8-42e3-bb77-0d7cddf7acb1.png)

[2022-08-25 08:28] bladeoner commented on #332
@FSE-SYSADMIN I've added the -Recurse parameter to the cleanup of the registry keys.
[10_PrepBISF_Empirum_08252022.zip](https://github.com/EUCweb/BIS-F/files/9422914/10_PrepBISF_Empirum_08252022.zip)

[2022-08-25 09:56] KUESTER-Group-Florian-Seip commented on #332
YES. Now it works!
Thank you very much again!

[2022-08-25 10:03] bladeoner commented on #332
That's good to hear, I will open a PR.

[2022-08-26 09:38] Tunu-de opened #351 "[Issue]: Perform WinSxS Optimization | WinSxS Error:5"
When running WinSxS Optimization, an error code 5 is returned with the message Access Denied.

After a reboot and running the following command sfc /scannow, WinSxS Optimization

[2022-09-01 06:36] matthias-schlimm opened #352 "Eventlog redirection exlusion"
During Image sealing all eventlogs are redirected to the persistend disk. But for some Logs like esi.evt from Ivanti DSM Client it's not possible to redirect, after DSM Update the Client isn't working anymore.

Update the GPO is possible to extend it with a comma-sperated Exclusion Textbox

[2022-09-22 13:25] DrB389 opened #354 "Program pauses when console is closed"
**Describe the bug**
When I run seal process at the end of the day, to allow the program to finish overnight, the process seems to stop when the console window is closed. When I return and open the console the next day, the process unpauses and continues normally. The Window session is not logged out, nor does the screen lock.

This is a Citrix PVS image open on a VMWare device. My desktop is a Ci

[2022-10-10 08:29] mkools commented on #344
+1

It's a shame there are no more updates.

[2022-10-10 18:22] EUCweb commented on #344
An Update is planned with some small fixes: I don’t see any current issue with BIS-F 7.1912.6 on Server 2022 and 2203 top, please let me know.
describe it in more detail, upload screenshots, BIS-F Transcript log, etc.

	Message ID: ***@***.***>

[2022-10-31 09:27] mkools opened #355 "Out-File: The network path was not found"
Config: Windows Server 2019, Citrix 2203 LTSR. I'm getting an error after the image is succesfully created using the imagingwizard (UEFI bios).

Screenshot here: https://i.imgur.com/e3Y7qYU.png

Error:

[code]

Because of this error the defrag phase is skipped and the master machine isn't being shut down. The vdisk is succesfully created though. There are no errors in the BIS-F log.

Any idea how

[2022-10-31 09:37] mkools commented on #313
Bumping an old topic but I get the same error. I don't see any reason though to run a SCCM client on a non-persistent image, so I just created a SMS post ts task that removes the SCCM client once the TS is complete.

[2022-11-07 11:52] MarcelNoe opened #356 "Deselecting an option in GPO under Citrix - Configure Citrix PVS Target Device wont work"
Hello community,

i have the problem that i cant deselect an option under Citrix - Configure Citrix PVS Target Device.

When i initially configurating this policy setting, the option "Enable manually Configuration of the Cache Disk ID" is unselected. But after enabling and applying this policy, the option is selected and cannot be deselected again. I tryied that many times, but the option is alway

[2022-11-17 21:36] infecticide opened #357 "Multithreaded PVS Rehydration Script"
I have revamped the PVS rehydration script to be multithreaded.   I noticed that the existing script is single threaded and thought that having more than one process pulling data should help.

In our environment we reach registration at about 7mins.  I was able to shave off 30 seconds (big whoop) but progress in progress.

I don't have a repo to create a pull request so here's a link to download i

[2022-11-19 10:54] Darth-Mittens opened #358 "FSLogix rule files not being copied"
Im having an issue where the FSLogix rule files are not being copied to C:\Program Files\FSLogix\Apps\Rules when PersBISF_Start.ps1 is run on startup.

Windows 10 22H2 virtual desktop MCS master image
BIS-F settings are being configured using group policy
I have two other master image VMs in the same OU that BISF is working OK on so I dont think there is an issue with the GPO settings

This regist

[2022-11-19 12:25] matthias-schlimm commented on #358
Please set the device personalisation to “never” in the BIS-F GPO, check out

https://eucweb.com/docs/bisf-7-1912/gpo-configuration/global/configure-the-device-personalization

On 19. Nov 2022 at 11:54 +0100, Darth-Mittens ***@***.***>, wrote:

[2022-11-19 12:52] EUCweb commented on #358
In addition, please upload the BIS-F personalisation log here, anonymous any sensitive data in the log before please

On 19. Nov 2022 at 11:54 +0100, Darth-Mittens ***@***.***>, wrote:

[2022-11-19 12:56] matthias-schlimm commented on #330
Pullrequest is merged in to dev branch nox, for 7.1912.7 bugfix release

[2022-11-19 12:56] #330 closed, assigned to matthias-schlimm

[2022-11-19 13:06] matthias-schlimm commented on #340
Thanks for your PR; I'm put it in the 7.1912.7 bugfix release

[2022-11-19 13:07] #340 closed, assigned to matthias-schlimm

[2022-11-19 13:10] #284 closed, assigned to matthias-schlimm

[2022-11-19 13:12] #333 closed, assigned to nobody

[2022-11-19 13:15] #335 closed, assigned to nobody

[2022-11-19 13:23] matthias-schlimm commented on #344
Support is already done with 7.1912.6 and alter. tested on different customers too

[2022-11-19 13:24] matthias-schlimm commented on #342
7.1912.7 bugfix release is in progress

[2022-11-19 13:24] #342 closed, assigned to matthias-schlimm

[2022-11-19 16:05] Darth-Mittens commented on #358
@matthias-schlimm thank you! changing that setting fixed it :)

check out https://eucweb.com/docs/bisf-7-1912/gpo-configuration/global/configure-the-device-personalization

[2022-11-19 16:05] #358 closed, assigned to nobody