[2018-03-12 19:58] matthias-schimm commented on #2
If you booting up your Device in PVS private or Maintenance Mode and the WriteCacheDisk would not formatted, BIS-F does cuurently format the Disk on shared Images only but performed a reboot and this ends up in a reboot loop.

A reboot is necassary if the WCD is previous formatted only.

[2018-03-12 20:41] matthias-schimm commented on #1
Create dedicated script for CCleaner with advanced options

- Add search folder option in AMDX
- Prepopulate ccleaner.ini file with the appropriate settings for silent execution
- Automatically download/suggest winapp2.ini for deeper cleaning (http://www.winapp2.com/downloads.html)
- Merges your custom entries from custom.ini into winapp2.ini.
- Automatically trims the entries from the full Winapp

[2018-03-13 19:45] EUCweb opened #1 "Consolidate Scripts from Prep and Pers to one script for each product"
_From @matthias-schimm on March 12, 2018 20:57_

For simpler Handling consolidate scripts from Prep and Pers to one script for each product

use the global variable $State for Preparation or Personalization

_Copied from original issue: EUCweb/BIS-F#31_

[2018-03-13 19:45] EUCweb commented on #31
This issue was moved to EUCweb/BISF#1

[2018-03-13 19:45] EUCweb opened #2 "Create BISF Service instead of schedule Task"
_From @matthias-schimm on March 12, 2018 20:56_

possible to create BISF Service instead of scheduled task

_Copied from original issue: EUCweb/BIS-F#30_

[2018-03-13 19:45] EUCweb commented on #30
This issue was moved to EUCweb/BISF#2

[2018-03-13 19:46] EUCweb opened #3 "Remove all Message boxes, Input boxes"
_From @matthias-schimm on March 12, 2018 20:53_

ADMX or shared configuration required only, otherwise BIS-F will not be run.

_Copied from original issue: EUCweb/BIS-F#28_

[2018-03-13 19:46] EUCweb commented on #28
This issue was moved to EUCweb/BISF#3

[2018-03-13 19:46] EUCweb opened #4 "WhoAmI function Computername WIN- or Desktop-"
_From @matthias-schimm on March 12, 2018 20:51_

If No Image Management Software is detected (like Citrix PVS, VDA or VMware View) BIS-F ask with an popup message to personalize the system next time if the Computername starts with the character WIN-

No: The Computername would we checked, if matched WIN- some personalization scripts does not start his service to prevent wrong GUID's in the Managem

[2018-03-13 19:46] EUCweb commented on #27
This issue was moved to EUCweb/BISF#4

[2018-03-13 19:48] EUCweb opened #5 "Get-FileVersion"
_From @matthias-schimm on March 12, 2018 20:50_

Returns a version object of a file to compare against known values.  Eg, Is the Symantec version greater than <version with known issue>.

This will allow BISF to operate in a more precise if-then paradigm for working around bugs and issues in 3rd party products.

_Copied from original issue: EUCweb/BIS-F#26_

[2018-03-13 19:48] EUCweb commented on #26
This issue was moved to EUCweb/BISF#5

[2018-03-13 19:48] EUCweb opened #6 "Add Parallels RAS support"
_From @matthias-schimm on March 12, 2018 20:48_

Service Name = RAS RD Session Host Agent
Display Name = RAS RD Session Host Agent
EXE = C:\Program Files (x86)\Parallels\ApplicationServer\2XAgent.exe

Parallels Remote Appilcation Server // https://www.parallels.com/products/ras/remote-application-server/

RAS is a add on product to regular RDSH so treat it as that

basically one or two controllers

[2018-03-13 19:48] EUCweb commented on #25
This issue was moved to EUCweb/BISF#6

[2018-03-13 19:49] EUCweb opened #7 "Support for Solarwinds Ncentral"
_From @matthias-schimm on March 12, 2018 20:42_

If you can use it, I have been troubleshooting a lot with Solarwinds Ncentral with there N-Abel agent, witch include AV Defender(white label of bitdefender)
Use the follow shutdown script, to clean the PVS image, before settings in production (Requires other steps as well, but there guide to not work out of the box https://support.solarwindsmsp.com/

[2018-03-13 19:49] EUCweb commented on #22
This issue was moved to EUCweb/BISF#7

[2018-03-13 19:49] EUCweb opened #8 "VMWare RSS and TCPIP Optimizations"
_From @matthias-schimm on March 12, 2018 20:38_

Script to enable or disable RSS via Policy.  If enabled via Policy then configuration should take place to try and set performance-based results.  2017 "best practices" are to configure RSS as follows:

- Use "N-1" CPU's and assign to RSS.
    EG, if a system has 4 CPU's, assign 3 to RSS for a single NIC
- Use NUMA for RSS and divide CPU time along

[2018-03-13 19:49] EUCweb commented on #20
This issue was moved to EUCweb/BISF#8

[2018-03-13 19:49] EUCweb opened #9 "Microsoft LAPS support"
_From @matthias-schimm on March 12, 2018 20:37_

See https://blog.thesysadmins.co.uk/deploying-microsoft-laps-non-persistent-vdi.html

Or make use of the PowerShell Module...
![laps](https://user-images.githubusercontent.com/34108484/37308176-1db34338-2635-11e8-8604-d5d6fba8ac55.png)

_Copied from original issue: EUCweb/BIS-F#19_

[2018-03-13 19:49] EUCweb commented on #19
This issue was moved to EUCweb/BISF#9

[2018-03-13 19:49] EUCweb opened #10 "ADMX Extension: Configure AdminAutoLogon"
_From @matthias-schimm on March 12, 2018 20:35_

During automated Installation customer uses often AutoAdminLogon, during sealing with BIS-F you can reset this registry value if configured in the ADMX

AutoAdminLogon
HKLM\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon
Data type
 Range
 Default value

REG_SZ
 0 | 1
 0

Determines whether the automatic logon feature is enabled. Automatic logo

[2018-03-13 19:49] EUCweb commented on #18
This issue was moved to EUCweb/BISF#10

[2018-03-13 19:49] EUCweb opened #11 "ADMX extension: Configure WEM Cache to persistent drive"
_From @matthias-schimm on March 12, 2018 20:31_

I have a feature request - can we make the move of the WEM cache optional?? At the moment i believe BIS-F moves it to the PVS Cache Drive, I don't always want that Happening

seeing more and more problems with the cache being moved to non standard location - seems to be far more reliable to run the refreshcache startup script and leave the cache in

[2018-03-13 19:49] EUCweb commented on #17
This issue was moved to EUCweb/BISF#11

[2018-03-13 19:50] EUCweb opened #12 "AMDX Extension: Configure sDelete"
_From @matthias-schimm on March 12, 2018 20:30_

if using Citrix MCS, VMware Horizon View, Microsoft only sDelete can be run on the Systemdrive during sealing only.

IF Citrix PVS is used, if sDelete is enabled in the ADMX, it runs on the PVS WriteCacheDisk if the Disk is in shared Mode only every boot.

sdelete can alos be run on:
MCS (c:drive)
AppLayering - outside ELM

_Copied from original iss

[2018-03-13 19:50] EUCweb commented on #16
This issue was moved to EUCweb/BISF#12

[2018-03-13 19:50] EUCweb opened #13 "Detect different Hypervisortools and Version"
_From @matthias-schimm on March 12, 2018 20:28_

add a central function to get back the installed Hypervisortools and the version of it

- VMware ESXI
- Hyper-V
- XenServer
- Nutanix AHV

_Copied from original issue: EUCweb/BIS-F#15_

[2018-03-13 19:50] EUCweb commented on #15
This issue was moved to EUCweb/BISF#13

[2018-03-13 19:50] EUCweb opened #14 "ADMX: enable additional time for Delay Desktop Service"
_From @matthias-schimm on March 12, 2018 20:26_

ADMX Extension:
add checkbock -> enable additional time
add number field -> Delay in seconds (default: 0)

If BIS-F is finished with the personalization task, you can enter here an additional time value to start the Desktop Service after this time value.
Please Note: if BIS-F is crashed during personalization, the Desktop Service is not started and

[2018-03-13 19:50] EUCweb commented on #14
This issue was moved to EUCweb/BISF#14

[2018-03-13 19:50] EUCweb opened #15 "Office 365 detection"
_From @matthias-schimm on March 12, 2018 20:25_

check root path HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Office\ClickToRun
<img width="353" alt="o365" src="https://user-images.githubusercontent.com/34108484/37307621-764dc628-2633-11e8-93c9-1e5fc8e9e45c.png">

_Copied from original issue: EUCweb/BIS-F#13_

[2018-03-13 19:50] EUCweb commented on #13
This issue was moved to EUCweb/BISF#15

[2018-03-13 19:50] EUCweb opened #16 "Add nVidia driver support"
_From @matthias-schimm on March 12, 2018 20:22_

**#HINT (Citrix XenDesktop 7.6-7.11 customers)**
The NVIDIA GRID API provides direct access to the frame buffer of the GPU, providing the fastest possible frame rate for a smooth and interactive user experience. If you install NVIDIA drivers before you install a VDA with HDX 3D Pro, NVIDIA GRID is enabled by default.
To enable NVIDIA GRID on a VM, d

[2018-03-13 19:50] EUCweb commented on #12
This issue was moved to EUCweb/BISF#16

[2018-03-13 19:50] EUCweb opened #17 "ADMX extension: Configure TimeValue $MaximumExecutionMinutes"
_From @matthias-schimm on March 12, 2018 20:21_

For some customers is possible to configure the $MaximumExecutionMinutes = 60 through ADMX

_Copied from original issue: EUCweb/BIS-F#11_

[2018-03-13 19:50] EUCweb commented on #11
This issue was moved to EUCweb/BISF#17

[2018-03-13 19:50] EUCweb opened #18 "XA/ XD 7.x Cache folder will be created"
_From @matthias-schimm on March 12, 2018 20:20_

IF XA/XD 7.x is installed, the Cache folder will be created in PVSWriteCacheDisk\Citrix\Cache or C:\Windows\Logs\

_Copied from original issue: EUCweb/BIS-F#10_

[2018-03-13 19:50] EUCweb commented on #10
This issue was moved to EUCweb/BISF#18

[2018-03-13 19:51] EUCweb opened #19 "Rearm state for Office and Operating system not detected in real time"
_From @matthias-schimm on March 12, 2018 20:18_

Rearm state for Office and Operating system not detected in real time, value is stored in the BIS-F registry location during first run

_Copied from original issue: EUCweb/BIS-F#9_

[2018-03-13 19:51] EUCweb commented on #9
This issue was moved to EUCweb/BISF#19

[2018-03-13 19:51] EUCweb opened #20 "Installer Script - Scripts not in custom folders being kept during Update"
_From @matthias-schimm on March 12, 2018 20:17_

After copy the custom scripts to the temp folder, clean the entire BIS-F folder. If a customer place own scripts to the other folders (not custom folder), this files are being kept from the installer.

_Copied from original issue: EUCweb/BIS-F#8_

[2018-03-13 19:51] EUCweb commented on #8
This issue was moved to EUCweb/BISF#20

[2018-03-13 19:51] EUCweb opened #21 "PVS WriteCacheDisk - endless Reboot if System Reserved Parttion exists"
_From @matthias-schimm on March 12, 2018 20:16_

If the System Reserved Partition exists, the formating of the WriteCacheDisk run in a endless reboot, beacuse in the script 00_PersBISF_WriteCacheDisk.ps1, line 102 -> If ((Get-WmiObject -Class Win32_volume).count -lt 3)  it checks the count of the drives <3, means SystemDrive and WriteCache only.

**Workaround:**
IF you have System Reserverd Partat

[2018-03-13 19:51] EUCweb commented on #7
This issue was moved to EUCweb/BISF#21

[2018-03-13 19:51] EUCweb opened #22 "Endless Reboot with VMware Paravirtual SCSI disk"
_From @matthias-schimm on March 12, 2018 20:15_

we discovered a bug when using VMware Paravirtual SCSI disk controller (get disk ID 1) compared to default OOTB LSI Logic SAS (disk 0). Goes into a endless reboot

More info : https://www.vladan.fr/performance-optimized-vm-of-windows-server-2016-on-esxi-6-5-creation-steps-guide/

_Copied from original issue: EUCweb/BIS-F#6_

[2018-03-13 19:51] EUCweb commented on #6
This issue was moved to EUCweb/BISF#22

[2018-03-13 19:51] EUCweb opened #23 "Citirx AppLayering: Outside ELM Uniservice.exe -L must be run"
_From @matthias-schimm on March 12, 2018 20:13_

If you sealing up a layer and from this message it appears that BIS-F believes the layer is not in the ELM but it is and not running the uniservice –L

_Copied from original issue: EUCweb/BIS-F#5_

[2018-03-13 19:51] EUCweb commented on #5
This issue was moved to EUCweb/BISF#23

[2018-03-13 19:51] EUCweb opened #24 "Delay Citrix Desktop Service"
_From @matthias-schimm on March 12, 2018 20:12_

If you have enabled the Delay of the Citrix Desktop Service in the BIS-F ADMX and run the preparation the Service is set to manual. If you configure the ADMX back to disable to Service will not be reconfigured to automatic, you must change the Citrix Desktop Service manually

_Copied from original issue: EUCweb/BIS-F#4_

[2018-03-13 19:51] EUCweb commented on #4
This issue was moved to EUCweb/BISF#24

[2018-03-13 19:54] EUCweb opened #25 "Add Acrobat DC support/Fix for licensing issue"
https://www.reddit.com/r/Citrix/comments/4k2pim/citrix_xendesktop_76_and_the_endless_war_with/
https://helpx.adobe.com/creative-cloud/packager/provisioning-toolkit-enterprise.html

There's the problem. Look into Adobe Provisioning Toolkit Enterprise (PRTK). I wrestled with this same problem when we rolled Acrobat DC out in our PVS environment. Even though I did everything the PRTK documentation sa

[2018-03-13 19:55] EUCweb opened #26 "Add Sophos Endpoint Protection support"
[SophosCentralEndpointPrep.ps1.txt](https://github.com/EUCweb/BISF/files/1808456/SophosCentralEndpointPrep.ps1.txt)

https://community.sophos.com/kb/en-us/120560
https://community.sophos.com/kb/en-us/28591
https://community.sophos.com/kb/en-us/117702
https://community.sophos.com/kb/en-us/12561
http://www.stephenjc.com/2011/08/23/sophos-duplicate-ids/
https://community.sophos.com/products/sophos-ce

[2018-03-13 19:56] EUCweb opened #27 "Move PageFile and configure values via policy"

[2018-03-13 19:56] EUCweb opened #28 "Check if there's enough disk space on P2V Custom UNC-Path"
Please add a feature to check if there's enough disk space on P2V Custom UNC-Path - Right now the error is just logged to P2PVS.txt

Saturday, November 25, 2017 7:49:21 AM
 11/25/17 07:49:21: Provisioning Services 7.15.0 Copyright (c) 2001-2017 Citrix Systems, Inc. All rights reserved.
 11/25/17 07:49:21: Microsoft Windows 6.2.9200 Server
 11/25/17 07:49:21: Suite=0x00000090
 11/25/17 07:49:21: Pr

[2018-03-13 19:57] EUCweb opened #29 "AppLayering does not detect the right Layer"
detect errors, test Test-AppLayering function must re-developed based on the following matrix
[BIS-F AppLayering RegValues.xlsx](https://github.com/EUCweb/BISF/files/1808467/BIS-F.AppLayering.RegValues.xlsx)

[2018-03-13 19:58] EUCweb opened #30 "Format Write Cache Disk on private image would skipped, but performed a reboot loop"
PVS: Format WriteCacheDisk on private Image would skipped, but performed a reboot loop

[2018-03-13 19:59] EUCweb opened #31 "Proper Disk Cleanup (cleanmgr.exe) support"
Cleanmgr.exe is not installed by default on Windows 2008 or 20008 R2, desktop experience installation is required or manual installation of the binary (language specific)

https://www.lisenet.com/2014/disk-cleanup-on-windows-server-2008-without-installing-desktop-experience
https://technet.microsoft.com/en-us/library/ff630161(WS.10).aspx
https://support.appliedi.net/kb/a110/how-to-enable-the-disk-

[2018-03-13 20:02] EUCweb opened #32 "FSLogix - prompt for the path"
Fslogix - When in the GPO specify "Configure FSLogix central rule share" to Disabled, the script still prompt for the path when is executed.

[2018-03-13 20:03] EUCweb opened #33 "if sysprep is enabled and other Management SW like Citrix VDA, PVS Target Device Driver, VMWare View Agent is installed, the script breaks"
Symptoms:

the BIS-F scheduled task is created with an empty pat
 personalization will not be run
 if the enabled Citirx Desktop Service is configured, it will not be started. All VDA's will be in unregistered state

Please disable sysprep in ADMX POlicy

[2018-03-13 21:22] EUCweb commented on #33
implement in BIS-F 6.1.0 build 01.101

[2018-03-13 21:22] #33 closed, assigned to matthias-schlimm

[2018-03-13 21:23] EUCweb commented on #32
implement in BIS-F 6.1.0 build 01.101

[2018-03-13 21:23] #32 closed, assigned to matthias-schlimm

[2018-03-13 21:50] matthias-schlimm commented on #29
Awaiting feedback from testers

[2018-03-14 18:39] EUCweb commented on #29
First feedback from customer, all tests passed.
---snip---
I tested all my scenarios, updating the OS Layer, new App Layer, updated Platform Layer, sealing a PvS Layered Image (Private Image Mode boot).

Everything appears to work as expected.  Attached are the logs.

---snap---

[2018-03-14 18:42] EUCweb commented on #23
it's not right, customer tested it again. See result there https://github.com/EUCweb/BIS-F/issues/29

[2018-03-14 18:42] #23 closed, assigned to matthias-schlimm

[2018-03-17 20:13] #29 closed, assigned to matthias-schlimm

[2018-03-21 05:18] EUCweb commented on #24
21.03.2018 MS: Bugfix 24: reconfigure Citrix Broker Service if disabled / not configured in ADMX

[2018-03-21 05:18] #24 closed, assigned to matthias-schlimm

[2018-03-22 04:50] matthias-schlimm commented on #15
22.03.2018 MS: Feature 15 - support for Office 365 ClicktoRun

[2018-03-22 04:50] #15 closed, assigned to matthias-schlimm

[2018-03-23 11:38] EUCweb opened #35 "ADMX extension: Copy all logfiles to BIS-F Logshare"
Enter the path to the logfiles like C:\Windows\Temp in the BIS-F AMX, and BIS-F will copy all files *.log,*.txt,*.bis recurse to the BIS-F Shared logfile. This will take affect if the BIS-F Logshare is configured and enabled and during preparation only.

---snip---
I'm using PowerShell wrappers to install all my software using MDT. Is there an easy way to also copy C:\Windows\Temp to the BISF log

[2018-03-24 06:00] EUCweb opened #36 "Shared Configuration - JSON Export and Import"
additional option to export the Shared Configuration to xml and json file, default is xml file

[2018-03-25 08:33] EUCweb commented on #17
PARAM(
		[parameter()][string]$CheckProcess,
        [parameter()][int]$CheckProcessId,
		[parameter(Mandatory=$True)][string]$ActivityText,
		[parameter()][int]$MaximumExecutionMinutes,
        [parameter()][switch]$TerminateRunawayProcess
	)
	Write-BISFFunctionName2Log -FunctionName ($MyInvocation.MyCommand | % {$_.Name})  #must be added at the begin to each function
    $a=0
	if ($MaximumExecut

[2018-03-25 08:33] #17 closed, assigned to nobody

[2018-03-25 08:57] EUCweb commented on #14
IF ($returnTestXDSoftware -eq "true")   # Citrix VDA only
	{
		$servicename = "BrokerAgent"
		IF ($LIC_BISF_CLI_CDS -eq "1") {
			Write-BISFLog -Msg "The $servicename would configured through ADMX.. delay operation configured" -ShowConsole -Color Cyan

			IF ($LIC_BISF_CLI_CDSdelay = "") {$LIC_BISF_CLI_CDSdelay = 0 }
			Write-BISFLog -Msg "Additional Citrix Desktop Service delay is set to $LIC_BIS

[2018-03-25 08:57] #14 closed, assigned to nobody

[2018-03-26 08:22] EUCweb commented on #13
**XenServer:**
DisplayName: XenServer Agent
ServiceName: xenagent

**VMware:**
DisplayName: VMware Tools
ServiceName: vmtools

**Hyper-V**
DisplayName: Hyper-V Guest Service Interface
ServiceName: vmicguestinterface

**AHV:**
DisplayName: Nutanix Guest Tools Agent
ServiceName: Nutanix Guest Agent

[2018-03-26 16:40] EUCweb commented on #13
Function Get-Hypervisor {
<#
    .SYNOPSIS
        Get the installed Hypervisor like XenServer, VMware, Hyper-V, Nutanix AHV

		use get-help <functionname> -full to see full help
    .EXAMPLE
		Get-BISFHypervisor

    .Inputs
    .Outputs
    .NOTES
		Author: Matthias Schlimm
		Company: EUCweb.com

		History
      	Last Change: 26.03.2018 MS: Script created

	.Link
	  #
#>

#Xenserver
	$svc = Test

[2018-03-26 16:40] #13 closed, assigned to nobody

[2018-03-26 17:05] EUCweb commented on #22
Clear-Host
[string]$BootDisk = Get-WmiObject Win32_DiskPartition |Where-Object {$_.BootPartition -eq "true"} | % {$_.DeviceID}
$BootDisk = $BootDisk.split(",");$BootDisk = $BootDisk[0];$BootDisk = $BootDisk.Length -1
Write-Host "BootDisk has Disk ID $BootDisk"

$disks = "list disk" | diskpart | where {$_ -match "online"}
$i=0
ForEach ($disk in $disks)
{
    $i++
    $onlinedisk = $onlinedisk + $i

[2018-03-28 09:00] Aaron- opened #37 "SCOM 2016 uses new certificate store"
SCOM 2016 is using a new certificate store named "Microsoft Monitoring agent" so the current SCOM prep script does not work.
Working command for scom 2016:
`& Invoke-Expression "certutil -delstore ""Microsoft Monitoring Agent"" 0"`

[2018-03-28 10:02] EUCweb commented on #37
thx, AAron. can you send me back the right version of SCOM 2016 or can send me back the current BIS-F preparation log, to see the version of SCOM is detected during sealing

[2018-03-28 10:07] Aaron- commented on #37
Here you go
27-3-2018 23:10:08 | xxx$ | INFORMATION... | Product Microsoft SCOM Agent (Version 8.0.10918.0) installed
27-3-2018 23:10:08 | xxx$| INFORMATION... | Path C:\Program Files\Microsoft Monitoring Agent\Agent\Health Service State detected

[2018-03-29 12:09] EUCweb commented on #37
Aaron, please take a copy of 10_PrepBISF_SCOM.ps1 from https://github.com/EUCweb/BIS-F/tree/bugfix/37_SCOM_CertStore to see if works

[2018-03-29 15:05] Aaron- commented on #37
Works, first certutil command returns an error (as expected), the 2nd one will delete the certificate:
[code]
`

[2018-03-29 16:41] EUCweb commented on #37
pls got a second copy of the script, to see if the it works without the error output

[2018-03-29 17:09] EUCweb opened #38 "AppLayering: Layer finalize is blocked"
if you prepare the VM step by step before import them into ELM and run BIS-F to finalize the image, BIS-F prompt the Error: **Layer Finalized is blocked**

29/03/2018 11:38:47 | Administrator | INFORMATION... | Processing function Test-BISFAppLayeringSoftware
29/03/2018 11:38:47 | Administrator | INFORMATION... | Processing function Test-BISFService
29/03/2018 11:38:47 | Administrator | INFORMATIO

[2018-03-29 17:09] EUCweb commented on #38
Bugfix is required check MachineState 3 also

[2018-03-29 17:33] EUCweb commented on #38
add on Line 2276 BISF.psm1
[code]

[2018-03-30 09:26] Aaron- commented on #37
Used the script from https://github.com/EUCweb/BIS-F/blob/a9d1603f0c406b75c5dbdb0bdc9f857627fd7ebc/Framework/SubCall/Preparation/10_PrepBISF_SCOM.ps1 with the erroraction silently continue, still gives the same error.

Would it be an option to use the following (supported powershell 3.0 onwards)
`get-childitem "Cert:\LocalMachine\Microsoft Monitoring Agent" -errorAction SilentlyContinue | %{ remov

[2018-03-30 16:47] EUCweb commented on #37
updated it now wit a try / catch errorhandling in, please test it again https://github.com/EUCweb/BIS-F/blob/develop/Framework/SubCall/Preparation/10_PrepBISF_SCOM.ps1

[2018-03-30 17:41] EUCweb commented on #38
implement in Bugs Bunny and developer branch

[2018-03-30 17:41] #38 closed, assigned to matthias-schlimm

[2018-03-31 05:08] EUCweb commented on #11
Open topic: if the policy is disabled, the WEM Cache must configured back to the origin path if previous configured to persistent drive

[2018-03-31 05:10] EUCweb commented on #27
Policy exists, but no script configuration

[2018-04-02 06:38] EUCweb commented on #38
Here you go, I can reproduce the problem on a new OS Layer.  I would recommend they create their base OS Layer from the ISO with the minimum installed, import the layer into the ELM then introduce BIS-F in a version of the OS Layer.

I don’t remember where I saw it but one of the original Unidesk engineers recommended creating an OS Layer with the ISO only and import that into the ELM.  Create an

[2018-04-02 06:40] EUCweb commented on #38
Cherry Pick and commit to https://github.com/EUCweb/BIS-F/blob/develop/Framework/SubCall/Global/BISF.psm1

[2018-04-02 15:01] Trentent commented on #27
First pass of feature completed

[2018-04-02 15:01] #27 closed, assigned to Trentent

[2018-04-02 15:02] Trentent commented on #2
Hi Matthias, are you thinking about this for prep or pers?  Or both?

[2018-04-02 15:06] Trentent commented on #8
First draft of this is complete.  Requires creating policy configuration to enable/disable feature.

I imagine if we "disable" this feature then no NUMA math or anything assigned...

2nd question is should we detect if NUMA is available on the VM/machine?  There are configurations in both BIOS and on the VM level that can disable NUMA so any configuration is useless anyways.  I do have a working P

[2018-04-02 15:24] Trentent commented on #5
Get-BISFFileVersion exists in Bugs Bunny (6.2.0).  Updated the function with a better Synopsis.

[2018-04-02 20:35] matthias-schlimm commented on #2
As I born this idea, only for the Personalization for the first time, but if works we can also use it for preparation

[2018-04-03 09:12] Aaron- commented on #37
Works without error :)

[2018-04-03 14:00] matthias-schlimm commented on #5
it works for services only, but if we grab executable only, like smc.exe or vietool.exe from symantec the Version is not shown

[2018-04-03 14:55] Trentent commented on #5
Interesting.  I get a different result:

[code]

Can you confirm your results?

[2018-04-03 19:24] EUCweb commented on #5
[code]

[2018-05-23 17:25] EUCweb opened #40 "Pending Reboot"
After a System reboot, sometimes BIS-F detect also a pending system reboot
![image](https://user-images.githubusercontent.com/34108095/40440690-0ce0c39c-5ebf-11e8-87af-9758d1ccdbdc.png)

[2018-05-23 17:33] matthias-schlimm commented on #40
BIS-F using this Script https://gallery.technet.microsoft.com/scriptcenter/Get-PendingReboot-Query-bdb79542 to detect the pending Reboot, the error comes from this script, that is a part of the BISF.psm1

[2018-05-23 17:33] matthias-schlimm commented on #40
we must replace this in a better way with http://ilovepowershell.com/2015/09/10/how-to-check-if-a-server-needs-a-reboot/

`#Adapted from https://gist.github.com/altrive/5329377
#Based on <http://gallery.technet.microsoft.com/scriptcenter/Get-PendingReboot-Query-bdb79542>
function Test-PendingReboot
{
 if (Get-ChildItem "HKLM:\Software\Microsoft\Windows\CurrentVersion\Component Based Servicing\Rebo

[2018-05-25 05:23] matthias-schlimm opened #41 "during sealing Splunk Universal Forwarder Service is set to manualy instead to automatic"
as describes here, the Service must set to automatic http://docs.splunk.com/Documentation/Forwarder/7.1.0/Forwarder/Makeauniversalforwarderpartofahostimage

Currently BIS-F set it to manualy

[2018-05-27 21:32] EUCweb commented on #40
replace  Get-PendingReboot function in BISF.psm1 with above script, see https://github.com/EUCweb/BIS-F/blob/develop/Framework/SubCall/Global/BISF.psm1

**Installation instructions:**
1. Open up the global Folder of your BIS-F Installation folder
2. Rename or take a copy of the exitisting BISF.psm1
3. copy the complete BISF.psm1 from the above path to the global Folder
4. Test the functionality an

[2018-05-28 09:08] matthias-schlimm commented on #41
Hotfix released in https://github.com/EUCweb/BIS-F/blob/develop/Framework/SubCall/Preparation/10_PrepBISF_Splunk.ps1

test it and send feedback here

[2018-05-29 04:28] matthias-schlimm opened #42 "EventLog is moved, but Path is never changed"
issues with Event log redirections on some Projects,  i beleive the commonality is IF  BIS-F is run to move the event logs to say "D: but then that needs to be changed to "E" - I am not sure why, but it only changes some event logs and leaves the rest broken

Fix it with the following script
https://gallery.technet.microsoft.com/scriptcenter/Change-the-path-of-the-f86d2427

[2018-05-29 13:53] EUCweb commented on #42
[code]

[2018-05-29 13:58] EUCweb commented on #42
[code]

[2018-05-30 05:50] EUCweb opened #43 "sihclient.exe consumes CPU load with disabled WSUS Service"
Anyone else seeing Trusted Installer kicking in, stealing CPU even when WSUS is set to Disabled on WS2016? And system is deploy from WIM already patched w latest CU. Very strange. Weak internet connection makes it even worse, so for now disabling WU/ TrustedInstaller (Class)

![image](https://user-images.githubusercontent.com/34108095/40701356-ec8b9580-63dd-11e8-971c-a5391d3ef87d.png)

For BIS-F p

[2018-05-30 09:49] JamesKindon opened #44 "Citrix Optimizer Not operating via BIS-F"
Optimization Templates are not being picked up when NOT specified via ADMX.

This is when looking for default templates.

Issue is looking like the "90_PrepBISF_CTX.ps1" file. The Template names are incorrect

Example
(current = $template = 'Citrix_WindowsServer2016_x64' actual = Citrix_WindowsServer2016_1607.xml")

[2018-05-30 09:55] JamesKindon opened #45 "PVS Optimizer Tool Disables Windows Search"
Annoyingly, the PVS Optimization tool disables the windows search service. This is a bit silly in this day and age, particularly when dealing with FSLogix and Outlook Indexing

Would be good to have a setting that is applied at the end the sealing routine that reverses this, and sets the search back to automatic. This would be ideal via an ADMX setting as not all environments will want search

[2018-05-30 09:58] JamesKindon opened #46 "Make any PVS conversion work Optional"
It would be great to be able to continue with the BIS-F Routines even IF the PVS Target is installed, but we DON'T want BIS-F to do any conversion....A setting to say do nothing would be great

[2018-05-30 10:36] matthias-schlimm commented on #44
I think it's possible to pre-defined all default templates in the ADMX, that's can also be easily changed for further usage

[2018-05-30 10:38] matthias-schlimm commented on #46
good idea, we can add a option here

![image](https://user-images.githubusercontent.com/34108484/40715572-4a0387e0-6406-11e8-9d9a-92e9d5ed3e59.png)

[2018-05-30 10:41] JamesKindon commented on #44
Specifying the Template works, the problem occurs if we don't specify a template. If Martin and the optimizer team are going to release new templates regularly, it might be worth having an option in the ADMX that says Server 2008 R2 Template = "Defined by User", Server 2016 Template - "Defined by user".

The default could change depending on their release

[2018-05-30 10:42] matthias-schlimm commented on #45
good point, will add create a new entry under ADMX BIS-F > Citrix > PVS / VDA Optimizer and start with Service

[2018-05-30 10:45] matthias-schlimm commented on #44
depending on the OS the template will be picked up if not specified in the ADMX. If Citrix changes this in the future we can handle it easier in the ADMX instead of the code

[2018-05-30 10:46] matthias-schlimm commented on #44
@JamesKindon can you list all templates here, so we can change it in the code for the next minor update and for Major Release we add them to the ADMX

[2018-05-30 10:48] JamesKindon commented on #44
Here are the latest ones

Citrix_Windows7_SP1.xml
Citrix_Windows10_1607.xml
Citrix_Windows10_1703.xml
Citrix_Windows10_1709.xml
Citrix_Windows81.xml
Citrix_WindowsServer2008R2.xml
Citrix_WindowsServer2012R2.xml
Citrix_WindowsServer2016_1607.xml

[2018-05-30 12:13] matthias-schlimm commented on #43
Actually I haven't disabled the sih task in my startup script (haven't seen that task running and consuming CPU yet), this is the task I regularly see consuming CPU on sealed images (if not disabled):
"\Microsoft\Windows\Servicing\StartComponentCleanup", also all .net tasks..

[2018-05-31 07:57] JamesKindon opened #47 "2008 R2 check disk issues"
Interestingly, after running BIS-F Against 2008 R2, when the machine is rebooted, it goes into a chk disk cycle. This happens every time BIS-F was run

I have resolved it for now with the following
https://blogs.technet.microsoft.com/ganand/2009/03/17/how-to-stop-chkdsk-from-running/
https://discussions.citrix.com/topic/374202-pvs-77-disk-check-runs-on-boot/

I know Server 2008 R2 is old (I haven'

[2018-06-06 16:13] matthias-schlimm opened #48 "Citrix AppLayering does not detect the right layer"
It‘s possible to use the runMode to detect the right layer. Got this informations behind

1: Published image, all normal filtering takes place

2: Not used

3: Editing the OS Layer, no filtering takes place

4: Editing any app or platform layer

KEY_NAME="HKEY_LOCAL_MACHINE\System\CurrentControlSet\services\unifltr"

VALUE_NAME=RunMode

[2018-06-08 06:55] matthias-schlimm opened #49 "Test Service state after invoke service"
IF BIS-F Change a service to start or stop, it's possible to test the state after if has be changed succesfully and write a eventlog entry information or warning.

[2018-06-25 13:52] EUCweb commented on #11
Default Settings from the WEM Agent

Windows Registry Editor Version 5.00

[HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Norskale\Agent Host]
"AgentServiceDebugModeLocalOverride"=dword:00000000
"AgentLocation"="C:\\Program Files (x86)\\Norskale\\Norskale Agent Host\\"
"AgentDebugModeLocalOverride"=dword:00000000
"AgentServiceUseCacheEvenIfOnline"=dword:00000000
"AgentCacheAlternateLocation"

[2018-07-01 07:42] matthias-schlimm commented on #11
- Read $AgentLocation from HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Norskale\Agent Host

- Default $AgentLocation\Local Databases\LocalAgentCache.sdf

[2018-07-01 08:49] matthias-schlimm commented on #48
There are currently 4 valid numbers, 5 if you include the implicit "0, or not present, == not running at all":

1: Published image, all normal filtering takes place
2: Not used
3: Editing the OS Layer, no filtering takes place
4: Editing any app or platform layer

KEY_NAME="HKEY_LOCAL_MACHINE\System\CurrentControlSet\services\unifltr"
VALUE_NAME=RunMode

[2018-07-01 10:36] matthias-schlimm commented on #49
can be tested now
https://github.com/EUCweb/BIS-F/blob/hotfix/49_Test_ServiceState-after-InvokeService/Framework/SubCall/Global/BISF.psm1

https://github.com/EUCweb/BIS-F/blob/hotfix/49_Test_ServiceState-after-InvokeService/Framework/SubCall/Personalization/10_PersBISF_AV-SEP.ps1

[2018-07-01 10:37] matthias-schlimm commented on #49
created new function in BISF.psm1

`function Test-ServiceState {
	<#
    .SYNOPSIS
        check the State of the Service
	.Description
      	After changing a Service from automatic to manual for example, it's necasaary to test of the service has the right state before continue
		use get-help <functionname> -full to see full help
    .EXAMPLE
		The Windows Update Service will be checked if the st

[2018-07-01 18:19] matthias-schlimm commented on #44
get the Right ReleaseID with
`(Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows NT\CurrentVersion\" -Name ReleaseID).ReleaseId`

[2018-07-01 18:35] matthias-schlimm commented on #44
try a test, grab a copy of the script and test it https://github.com/EUCweb/BIS-F/blob/bugfix/44_Pickup-CiitrixOptimizer-DefaultTemplates/Framework/SubCall/Preparation/90_PrepBISF_CTX.ps1

[2018-07-02 09:36] matthias-schlimm opened #50 "After LogShare is changed in ADMX, the old path will also be checked and skips execution"
After you change the central Logshare in the BIS-F ADMX, the LogShaare is also stored with the old value in HKLM:\Software\Login Consultants\BISF and never updated with the new one

[2018-07-02 09:46] matthias-schlimm commented on #50
please get a copy of this 2 files to get the Bugfix:

https://github.com/EUCweb/BIS-F/blob/develop/Framework/SubCall/Global/BISF.ps1
https://github.com/EUCweb/BIS-F/blob/develop/Framework/SubCall/Global/BISF.psm1

[2018-07-02 10:34] matthias-schlimm opened #51 "ADMX Extension: select AnitVirus full scan or custom Scan arguments"
extend ADMX to select between Quick and FullScan.

Enable custom Arguments: admin can enter own commandline Options to be used for the scan.

[2018-07-04 18:15] EUCweb opened #52 "Citrix AppLayering - different shared configuration based on Layer"
ADMX Extension: Configure different configurations based on AppLayer

![BISF_AppLayering](https://user-images.githubusercontent.com/34108484/66257753-49781900-e79d-11e9-8cdc-963d68ea871c.JPG)

LIC_BISF_CLI_AppLayOSCfg | DWORD | 1 | If CheckBox is enabled, registry   Data is set to 1, otherwise not exist
LIC_BISF_CLI_AppLayAppPltCfg | DWORD | 1 | If CheckBox is enabled, registry   Data is set to 1,

[2018-07-04 18:18] EUCweb opened #53 "ADM Extension to configure own BIS-F Optimization"
add this configiration items to the ADMX, to make this configurable

- Configure Clear all event logs
- Configure Disabling TCP/IP task offloading
- Configure Increases the UDP packet size to 1500 bytes for FastSend
- Configure Set multiplication factor to the default UDP scavenge value (MaxEndpointCountMult)
- Configure Disable Receive Side Scaling (RSS)
- Configure Disable Data Execution Prevent

[2018-07-05 11:47] EUCweb commented on #48
In the layered Image the "Start"=dword:00000004 is set , in all other layers it's set to "Start"=dword:00000001. at the moment this is the only value to detect the layered image.

Windows Registry Editor Version 5.00

[HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\unifltr]
"Type"=dword:00000002
"Start"=dword:00000004
"ErrorControl"=dword:00000001
"Tag"=dword:00000002
"ImagePath"=hex(2):73,0

[2018-07-09 14:09] EUCweb commented on #48
with DiskMode from BIS-F, we are able now to detect the No-ELM and n private boot based on CTX226062

OS-layer: UnmanagedAppLayering
Platform layer: VDAPrivateAppLayering
App layer: UnmanagedAppLayering
Outside ELM: ReadWriteAppLayering

[2018-07-11 15:56] EUCweb opened #54 "ADMX: Configure BIS-F Desktop Shortcut"
you can configure, if a BIS-F Desktop shortcut is created during preparation on the Desktop of the admin, who starts BIS-F

[2018-07-11 16:31] EUCweb commented on #40
No return of the Pending reboot state in BETA 02.105

7/9/2018 12:19:43 PM | Administrator | INFORMATION... | Processing function Get-BISFPendingReboot
7/9/2018 12:19:43 PM | Administrator | INFORMATION... | Pending system reboot is

[2018-07-16 19:08] EUCweb opened #55 "Windows Defender -ArgumentList failing"
Firstly, thank you for creating BIS-F. I'm an SCCM engineering who is moving into the Citrix PVS space, BIS-F integrated with our OSD task sequences really simplifies the whole processes.

I noticed that during the task sequence the step for updating virus definitions for Windows Defender sits idle and then fails after 60 maximum run time. Looking into the script further, the command line is **Sta

[2018-08-28 10:34] matthias-schlimm opened #56 "Office click to run issue after BIS-F seal"
Starting to see an issue in recent Office click-to-run installations when sealing with BIS-F. After publishing the images, Office apps won't launch and event viewer shows "application was unable to start correctly (0xc0000142). Click OK to close the application".
[BIS-F.zip](https://github.com/EUCweb/BIS-F/files/2327626/BIS-F.zip)

[2018-08-28 10:35] matthias-schlimm commented on #56
can you run a additional test with BIS-F but disable  Citrix optimizer inside the BIS-F Policy, i will check if the issue comes from BIS-F or Citrix Optimizer

[2018-08-28 10:37] matthias-schlimm opened #57 "MSMQ windows services will fail to start in App Layering"
MSMQ windows services will fail to start if you create a new version of Platform Layer or App Layer or in a published image, and therefore Citrix Session Recording Agent service will never start. The current workaround is to reset the value of a registry entry called LogDataCreated to 0 when the machine starts up.

In order to automate this behavior, I modify the value in 02_PersBISF_CTX.ps1 and a

[2018-08-28 16:47] brettkmolitor commented on #56
[bis-fnooptimizer.zip](https://github.com/EUCweb/BIS-F/files/2328978/bis-fnooptimizer.zip)

Okay - test was done without Citrix Optimizer and issue remained. I attached logs here.

[2018-08-28 18:37] matthias-schlimm commented on #56
Inside of your BIS-F installation, please replace 96_PrepBISF_Rearm.ps1
and 10_PersBISF_OfficeKMS.ps1 with, take a backup of the old files before replace
https://github.com/EUCweb/BIS-F/blob/6.2.0_Bugs_Bunny/Framework/SubCall/Preparation/96_PrepBISF_Rearm.ps1

https://github.com/EUCweb/BIS-F/blob/6.2.0_Bugs_Bunny/Framework/SubCall/Personalization/10_PersBISF_OfficeKMS.ps1

[2018-08-28 18:52] matthias-schlimm commented on #56
out of the replacement of the 2 files above, please check if the Windows Update Service is running on the PVS Target Device, if not start the service and test if Office can be executed without any issue.

[2018-08-28 20:14] trhymers commented on #56
I have checked windows update service and it is running.  Office works just fine after the online repair.  I replaced the two files, and ran the script again.  Office broke again. I included the most recent log files.

[Pers_BIS_2016PVSGOLD_GEN_20180828-150813.zip](https://github.com/EUCweb/BIS-F/files/2329724/Pers_BIS_2016PVSGOLD_GEN_20180828-150813.zip)

[2018-08-28 20:57] matthias-schlimm commented on #56
ok, currently not a Idea where it come from. Do you deploy office, as describes here https://msandbu.wordpress.com/2016/02/04/office365-on-terminal-server-done-right/ ?

[2018-08-28 21:11] trhymers commented on #56
I will dig into that. We call a bat file that reads an xml.  here is the contents of the xml.  and it also runs a reg setting i will paste below the xml contents.

<Configuration>
    <Add OfficeClientEdition="32" Channel="Current" SourcePath="\\vs-mpls2\DFSMapF\APPS\O365\" OfficeMgmtCOM="TRUE">
        <Product ID="O365ProPlusRetail">
            <Language ID="en-us"/>
            <ExcludeApp ID=

[2018-08-28 21:12] trhymers commented on #56
looks like contents of xml where yanked.  here is the file.

[SRF-RDS.zip](https://github.com/EUCweb/BIS-F/files/2329864/SRF-RDS.zip)

[2018-08-29 03:35] matthias-schlimm commented on #56
looks good so far

[2018-08-29 03:43] matthias-schlimm commented on #56
Please check the following on the PVS Server:
1. Select the vDisk in the Console, then right-click and select File Properties. The vDisk File Properties dialog appears.
2. Click the Microsoft Volume Licensing tab and send me the selected Licencing Mode

[2018-08-29 03:48] matthias-schlimm commented on #56
check out https://support.office.com/en-us/article/error-0xc0000142-when-you-start-an-office-2016-application-0249adb1-06d7-41a3-b2df-da5ff57fab37?ui=en-US&rs=en-US&ad=US

do you also have the latest windows updates installed ?

[2018-08-29 13:24] trhymers commented on #56
KMS is the licensing option. I am checking out the link you sent.  And latest updates should be applied.
But to mention again, Office works till i run BIS-f, then it breaks.  I can then run an office online repair and it works again.  Then can run the script to break it again, and continue that cycle as long as I want.

[2018-08-29 13:40] matthias-schlimm commented on #56
Can you set it back to NONE

[2018-08-29 13:44] trhymers commented on #56
I can, and then try to run the script again?

[2018-08-29 14:38] trhymers commented on #56
and to mention after i run the script, the shortcuts to the offices apps are removed.

[2018-08-29 15:11] matthias-schlimm commented on #56
Yes, please. I think it helps if you build the vDisk from scratch only

Second test: remove 2 BIS-F office scripts completely from the bis-f installation and run the script again. Works on a fresh new vDisk only.

If the problem still exists, I think it will not work if you change something like above on the old vDisk

[2018-08-29 15:12] matthias-schlimm commented on #56
Do you have the cleanup Startmenue configured in the BIS-F policy ?

[2018-08-29 15:29] trhymers commented on #56
where do i remove the office scripts?  thx.  i found the cleanup starmenu, so that answers why the disappear.

[2018-08-29 15:46] EUCweb commented on #56
please remove:

C:\Program Files (x86)\Base Image Script Framework (BIS-F)\Framework\SubCall\Preparation\96_PrepBISF_Rearm.ps1

C:\Program Files (x86)\Base Image Script Framework (BIS-F)\Framework\SubCall\Personalization\10_PersBISF_OfficeKMS.ps1

[2018-08-29 16:03] trhymers commented on #56
ok, i kind of did this a little different and only had it run the 97_PrepBISF_PRE_BaseImage script, and it breaks office.  so i will try what you said and see what that does.

[2018-08-29 16:43] trhymers commented on #56
I repaired office and confirmed it work.  Ran the script without those 2 being processed.  It broke again.

[2018-08-30 05:16] EUCweb commented on #56
Does it broke immediately after you run the script or after the reboot ?

[2018-08-30 15:07] trhymers commented on #56
immediately.

[2018-08-30 15:56] EUCweb commented on #56
Ok, i will check the logs again and come back to you

[2018-08-30 17:39] matthias-schlimm commented on #56
In the BIS-F GPO > Microsoft , please disable the .net optimization first and run the script again

2. please disable the Ghost devices to remove in the BIS-F GPO as well

[2018-08-30 20:52] trhymers commented on #56
![image](https://user-images.githubusercontent.com/42785091/44878448-87d30880-ac6c-11e8-947b-a2ba3a013f7f.png)

i disabled .net, didnt work.  which Ghost device should i disable, all 3?

[2018-08-31 01:52] matthias-schlimm commented on #56
Yes, please disable all 3 of them

[2018-08-31 15:43] trhymers commented on #56
i disabled them also and tried again. still breaks.

[2018-08-31 15:48] matthias-schlimm commented on #56
Ok, please remove from the PrepBISF folder the complete script 97_PrepBISF....

Try and error

[2018-08-31 16:29] trhymers commented on #56
i removed that script, and office products work.

[2018-08-31 16:35] matthias-schlimm commented on #56
Couple of optimization running there and also deleting temp files, we are going into this next week

[2018-09-04 09:08] matthias-schlimm opened #58 "Mc Afee - remove hardcoded maconfig.exe path"
In script 10_PrepBISF_AV-McAfee.ps1 the executable is hardcoded

$PrepApp_x64 = "${env:ProgramFiles}\McAfee\Common Framework\maconfig.exe"
$PrepApp_x86 = "${env:ProgramFiles(x86)}\McAfee\Common Framework\maconfig.exe"

possible search in ${env:ProgramFiles(x86)}\McAfee or ${env:ProgramFiles}\McAfee

[2018-09-05 19:08] musklor opened #59 "Function DelSepData inside the personalization SEP script"
Hi, I've made some test and I think it could be a great idea if you put the DelSepData function inside the sep personalization script.
Why? If someone forget the most important task : sealing. It's a security and best practices from Symantec.

[2018-09-05 19:19] vMathias79 commented on #56
I think I can contribute the solution to this, because I have sort of run into this too. In my case it wasn't directly BIS-F itself, but the same approach, just executed through Ivanti EM instead of BIS-F.

The problem lies in the deletion of the AllUsersStartmenu. As the office clicktorun installer utilizes parts of App-V/App-X technology what they basically do is to use their virtualization tech

[2018-09-06 09:59] musklor opened #60 "Script 10_PrepBISF_AV-SEP.ps1 : skip if reg entry already exist and add new values"
I think we should add these keys CloseUserLogFile (1) and LaunchSMCGui (0).

##Delete profils on exit
Set-ItemProperty -Path "HKLM:\SOFTWARE\Wow6432Node\Symantec\Symantec Endpoint Protection\AV\AdministratorOnly\General"  -Name "CloseUserLogFile" -Value 1

##Icon Off
Set-ItemProperty -Path "HKLM:\SOFTWARE\Wow6432Node\Symantec\Symantec Endpoint Protection\SMC"  -Name "LaunchSMCGui" -Value 0

##PVS

[2018-09-06 13:32] trhymers commented on #56
I had read some things like that.  I will try and block that part out and see what happens.

[2018-09-06 15:18] trhymers commented on #56
so I remed out the following and ran the script.  Office products worked.

	#$Dir_AllUsersStartMenu = "C:\ProgramData\Microsoft\Windows\Start Menu\*"
and
 #$PrepCommands += [pscustomobject]@{
			#Order="$ordercnt";
			#Enabled="$true";
			#showmessage="Y";
			#CLI="LIC_BISF_CLI_SM";
			#TestPath ="";
			#Description="Delete AllUsers Start Menu $Dir_AllUsersStartMenu ?";
			#Command="Remove-Item '$

[2018-09-06 15:31] musklor opened #61 "Script 10_PrepBISF_AV-SEP and 10_PersBISF_AV-SEP"
We could put the Server in the right SEP GROUP (tamper protection disabled) before processing.

Before:
C:\Program Files (x86)\Symantec\Symantec Endpoint Protection\smc -start
C:\Program Files (x86)\Symantec\Symantec Endpoint Protection\smc -importsylink
C:\Program Files (x86)\Symantec\Symantec Endpoint Protection\smc -updateconfig
C:\Program Files (x86)\Symantec\Symantec Endpoint Protection\smc -

[2018-09-06 16:32] matthias-schlimm commented on #56
This can be configured through the BIS-F ADMX to not delete the AllUsersStartMenu

[2018-09-06 16:43] trhymers commented on #56
ok I will check that out.

[2018-09-06 17:49] trhymers commented on #56
so I disabled it in policy, and everything still works.  So I guess I am left with not being able to delete the AllUsersStartMenu if I want office products to continue to work.

[2018-09-06 18:00] matthias-schlimm commented on #56
with the current BIS-F release not possible. As @MathiasSVA has described BIS-F must re-create the "Programs" Folder after deletion to get Office 365 C2R working.

[2018-09-06 18:08] trhymers commented on #56
OK. That is going to be beyond me at this time.  So I guess I will just not delete the start menu for now.

[2018-09-06 18:12] matthias-schlimm opened #62 "BIS-F AppLayering - Layer Finalzed is blocked with MCS - Booting Layered Image"
From @MathiasSVA
I let Applayering create a machine that is meant for an MCS distribution, but in the environment the VM needs to be rebooted once and an adaptation made, due to a special software. If I then want to run BIS-F, then it bangs accordingly, because BIS-F makes the assumption it is an OS layer. As mentioned above, the AppLayering service has been set to disabled by itself

The RunMode

[2018-09-06 18:29] matthias-schlimm commented on #62
@MathiasSVA please upload the logs from OS, Platform and App-Layer. I will check it and compare before proceed, thx.

[2018-09-06 18:37] matthias-schlimm commented on #61
what you mean with Before and After ? in which of the both SEP scripts possible to run, please explain it in more detail, thx.

[2018-09-06 18:45] matthias-schlimm commented on #62
Please fix it temp. with the following manual code change

In **BISF.psm1** - Function **Test-AppLayeringSoftware** - change Line 2090

**from:**
`IF ($DiskMode -eq "ReadWriteAppLayering") {`

**to:**
`IF (($DiskMode -eq "ReadWriteAppLayering") -or ($svc.Status -ne 'Running')) {`

[2018-09-06 18:48] musklor commented on #61
Beginning and end of script

[2018-09-06 18:51] matthias-schlimm commented on #61
if you start the smc.exe at the end of the preparation, it's not possible. this will create a new GUID on the Master itself, which was deleted before in the registry and the filesystem

[2018-09-06 18:54] matthias-schlimm opened #63 "Citrix AppLayering - Create C:\Windows\Logs folder automatically if it doesn't exist"
From @FangLudi
Citrix App Layering will delete C:\Windows\Logs folder when you finalize the layer and this folder won't be created immediately (or you can wait a few hours to let this folder automatically created by OS) when you start up the packaging machine or target device next time, however, BIS-F personalization script needs this folder to generate log files when the server starts up. Even if

[2018-09-06 19:15] musklor commented on #61
Of course. My idea isn't good. I don't want to put the sep password inside the script. I think I'll deactivate the tamper protection for the updater AND the target devices. And all your scripts will be fully functional.

[2018-09-06 19:45] matthias-schlimm commented on #61
sounds good

[2018-09-06 19:45] #61 closed, assigned to Trentent, matthias-schlimm

[2018-09-06 19:47] matthias-schlimm commented on #59
Without sealing, personalization won't work, because the scheduled task isn't created. this is required to run the BIS-F personalization on startup

[2018-09-06 20:45] musklor commented on #59
Obviously, the first time we need to seal with the script, but my idea is for the others times when we need to update the vdisk.

[2018-09-06 20:49] matthias-schlimm commented on #59
Everytime after an update run the BIS-F Preperation to seal the image

[2018-09-06 21:06] musklor commented on #59
Yes I agree. We can close.
Thanks for your script.
Viva Kaspersky, the perfect av for PVS :)

[2018-09-06 21:22] #59 closed, assigned to Trentent, matthias-schlimm

[2018-09-10 16:03] musklor opened #64 "personal vdisk inventory on vdi clients only"
Hi, could you explain me this feature, please?

[2018-09-10 16:36] matthias-schlimm commented on #64
Sorry, this is not the right Place to discuss, please join the BIS-F Slack channel to discuss your questions

Join it here https://join.slack.com/t/bis-f/shared_invite/enQtNDMyNDU4NzU2Mzg3LWI3OGJjNDgwNTU2OTgxZTQyYmFiNTBlNjlhY2EzNzIzZWVjNzM1MWE0YTg4ZjY5YTc3NTQwNTA3OGJhZmFhNTg

[2018-09-10 16:46] musklor commented on #64
Sorry

[2018-09-10 16:46] #64 closed, assigned to nobody

[2018-09-17 11:20] EUCweb opened #65 "Add an option to delete the log files for Citrix Optimizer"
Created from @fangludi

If users enable Citrix Optimizer in BIS-F, three files (execute_History.html, execute_History.xml, and Log_Debug_CTXOE.log) will be generated in Logs folder by date/time inside the installation location of Citrix Optimizer every time they run the BIS-F preparation script, so it's better to add an option to delete those log files after executing the Citrix Optimizer.

[2018-09-17 11:34] EUCweb opened #66 "[02.105] vietool.exe - custom searchpath not working correctly"
Just noticed that in build 02.105, The custom search path for the vietool.exe is not picking up the executable while it does exist in the provided folder. It does pick up correctly from \System32 when you do not configure a custom search path though

[2018-09-24 13:30] musklor commented on #44
An issue for me too. Infinite boot loop during process.

Before : $template = 'Citrix_WindowsServer2016_$($ReleaseID)'
After : $template = "Citrix_WindowsServer2016_$($ReleaseID)"

Same issue with the others OS

Yes ! It works !

[2018-09-24 14:37] vMathias79 opened #67 "00_PersBISF_WriteCacheDisk.ps1 function CheckWriteCacheDrive fails if partition type is UEFI"
Due to different Volume count on an UEFI parition type system this check inside of the function CheckWriteCacheDrive

If ((Get-WmiObject -Class Win32_volume).count -lt 3)

does not apply due to different volume count on UEFI (already 3 partitions present).

Maybe an alternate check method should be implemented to make this failsafe?

[2018-09-25 08:58] musklor opened #68 "Citrix Optimizer - infinite loop"
Infinite boot loop during process.

Just replace ' by " (\SubCall\Preparation\90_PrepBISF_CTX.ps1)

Before : $template = 'Citrix_WindowsServer2016_$($ReleaseID)'
After : $template = "Citrix_WindowsServer2016_$($ReleaseID)"

Same issue and solution with Windows 10 and Windows 2019

$template = "Citrix_Windows10_$($ReleaseID)"
$template = "Citrix_WindowsServer2019_$($ReleaseID)"

And the second fix

[2018-09-26 05:44] matthias-schlimm commented on #68
sorry, don't see and differences between before and after, can you explain a little bit more detailed

[2018-09-26 05:48] musklor commented on #68
The first fix : just replace ' by "
The second : just add a space at the end of the line "add key="
When you launch CitrixOptimizer.exe, the tool add a space at the end of the lines (add key=) before the / in the config file. I have reported the bug to the citrix team.
The plugin 'compare' (notepad++) show me the difference.

[2018-09-27 12:23] musklor commented on #67
UEFI : If ((Get-WmiObject -Class Win32_volume).count -lt 4)

or for English OS : If ((Get-WmiObject -Class Win32_volume | where {$_.Label -notlike "system reserved"}).count -lt 3)

[2018-09-27 14:01] vMathias79 opened #69 "If WriteCache disk on master is GPT-partiton then uniqueid doesn't match"
If the WriteCache disk on the master is formatted in GPT-style the uniqueid that is saved to the registry will not be applied correctly because BIS-F always creates a MBR-partition for the writecache.

Suggestion: If the uniqueid saved in the registry has a length of a GUID, then create a GPT partition, else if length = 8 create MBR

furthermore when getting the uniqueid via diskpart the curly bra

[2018-09-27 14:38] madrianr commented on #46
I Need this too - I thought that this tool is also usefull if I update the master image in private mode so I don't have to run Imaging Wizard...

[2018-09-27 14:45] matthias-schlimm commented on #46
BIS-F automatically detect the bootmode and run the imagingwizard if you boot up from Harddisk only, this can be fullfill from bis-f with the current release.

[2018-09-27 17:11] madrianr commented on #46
Thanks

Von: Matthias Schlimm [mailto:notifications@github.com]
Gesendet: Donnerstag, 27. September 2018 16:45
An: EUCweb/BIS-F
Cc: Robert Madrian (madrian e-dbsolutions); Comment
Betreff: Re: [EUCweb/BIS-F] Make any PVS conversion work Optional (#46)

BIS-F automatically detect the bootmode and run the imagingwizard if you boot up from Harddisk only, this can be fullfill from bis-f with the curre

[2018-09-28 06:58] madrianr opened #70 "VDA Configuration results in Citrix Desktopservice as Disabled"
**Describe the bug**
If I activate the Delay Citrix Desktop Service then after runnig BIS-F the  Citrix Desktopservice as Disabled...

**Screenshots**
![unbenannt1](https://user-images.githubusercontent.com/10518186/46192812-d61b0c00-c2eb-11e8-96a7-e1b673473422.JPG)
![unbenannt2](https://user-images.githubusercontent.com/10518186/46192820-dadfc000-c2eb-11e8-8da6-d1d2e9248c2d.JPG)

**Desktop (pleas

[2018-09-28 07:26] matthias-schlimm commented on #70
RTFM :-)

https://edocs.eucweb.com/docs/bis-f-6-1-0/configure/citrix/

[2018-09-28 07:31] matthias-schlimm commented on #68
second one is not BIS-F related, is an CTX Optimizer Issue.
The first one is also reported here https://github.com/EUCweb/BIS-F/issues/44

Close this issue and working again on Nbr. 44

[2018-09-28 07:31] #68 closed, assigned to nobody

[2018-09-28 07:32] matthias-schlimm commented on #69
thx, good point

[2018-09-28 07:34] matthias-schlimm commented on #70
any questions ? otherwise I will close it

[2018-09-28 07:36] madrianr commented on #70
First it is not fine to see RTFM :-(

I'm new to BIS-F and it seems that I do something wrong - so it would be nice to Point me in the Right direction - what I'm missing?

robert

[2018-09-28 07:41] musklor commented on #67
If ((Get-WmiObject -Class Win32_volume | where {$_.Label -notmatch "syst.m|r.serv."}).count -lt 3)
(ok for English And French OS)

[2018-09-28 07:51] matthias-schlimm commented on #70
no worries ...

If you enable this policy, BIS-F disable the service during sealing and on startup, the BIS-F scheduled task starts the Desktop  Service at the end of the BIS-F personalization.

[2018-09-28 07:54] madrianr commented on #70
what is the BIS-F scheduled task - do you mean the Service should be startet after sealing?

[2018-09-28 07:58] matthias-schlimm commented on #70
The BIS-F scheduled task is creating during sealing. It's needed on startup and processes all scripts in the personalization folder

https://edocs.eucweb.com/docs/bis-f-6-1-0/flow-diagramm/personalization-system/

[2018-09-28 08:01] #70 closed, assigned to nobody

[2018-10-08 15:48] matthias-schlimm commented on #44
fix it here https://github.com/EUCweb/BIS-F/blob/develop/Framework/SubCall/Preparation/90_PrepBISF_CTX.ps1

[2018-10-08 15:48] #44 closed, assigned to JamesKindon, matthias-schlimm

[2018-10-12 10:43] matthias-schlimm opened #71 "not to process ANY scheduled task disable actions."
I would like to let you know that there are a set of bugs in the latest version of BIS-F (6.1.0 build 01.101) that are causing it not to process ANY scheduled task disable actions.

After LINE 356 in '97_PrepBISF_PRE_BaseImage.ps1' you are missing 'TestPath ="";'. You aren't setting a TestPath property, so when the script goes to process the 'Disable scheduled Task' commands it errors out because

[2018-10-19 02:20] EUCweb commented on #58
fixed in https://github.com/EUCweb/BIS-F/blob/develop/Framework/SubCall/Preparation/10_PrepBISF_AV-McAfee.ps1

[2018-10-19 02:20] #58 closed, assigned to matthias-schlimm

[2018-10-19 03:12] EUCweb opened #72 "MCS Deployment: SCOM Agent - creates OpsStateDir in C: drive"
with Citrix MCS Deployment, during personalization the script creates the C:\OpsStateDir instead leave them in the origin path

**Screenshots**
![image](https://user-images.githubusercontent.com/34108095/47195696-481bc980-d35d-11e8-86ee-e443a8bfcaad.png)

[2018-10-19 05:48] matthias-schlimm commented on #72
under review on customer level

[2018-10-19 05:58] matthias-schlimm commented on #71
review and test, take a copy of https://github.com/EUCweb/BIS-F/blob/bugfix/71_not_process_schtasks_disable_action/Framework/SubCall/Preparation/97_PrepBISF_PRE_BaseImage.ps1

[2018-10-20 07:04] matthias-schlimm opened #73 "MCS Image in Private Mode does not start the Windows Update Service"
If the Image booting up in Private mode the Windows update Service does not start

![image](https://user-images.githubusercontent.com/34108484/47252542-ecc60600-d446-11e8-93f8-00c3355f58cf.png)

![image](https://user-images.githubusercontent.com/34108484/47252549-08311100-d447-11e8-9e83-d78b32441414.png)

[2018-10-20 07:24] matthias-schlimm commented on #73
adding to 99_PersBISF_StartUp

![image](https://user-images.githubusercontent.com/34108484/47252753-d40b1f80-d449-11e8-82ad-c4e63bea7086.png)

[code]
![image](https://user-images.githubusercontent.com/34108484/47252742-b2119d00-d449-11e8-9503-dbcd85d850be.png)

[2018-10-20 08:12] matthias-schlimm commented on #71
fixed and merged into https://github.com/EUCweb/BIS-F/blob/develop/Framework/SubCall/Preparation/97_PrepBISF_PRE_BaseImage.ps1

[2018-10-20 08:12] #71 closed, assigned to matthias-schlimm

[2018-10-20 08:12] matthias-schlimm commented on #72
fixed

[2018-10-20 08:12] #72 closed, assigned to matthias-schlimm

[2018-10-20 08:17] matthias-schlimm commented on #73
fixed in https://github.com/EUCweb/BIS-F/blob/develop/Framework/SubCall/Personalization/99_PersBISF_StartUp.ps1

[2018-10-20 08:17] #73 closed, assigned to matthias-schlimm

[2018-10-20 08:19] #37 closed, assigned to matthias-schlimm

[2018-10-20 08:36] matthias-schlimm commented on #56
creating Fix, take a Copy and test (line 813 function Create-AllusersStartmenuPrograms)https://github.com/EUCweb/BIS-F/blob/develop/Framework/SubCall/Preparation/97_PrepBISF_PRE_BaseImage.ps1

[2018-10-20 08:52] matthias-schlimm commented on #63
please test it https://github.com/EUCweb/BIS-F/blob/develop/Framework/SubCall/Global/BISF.ps1

[2018-10-20 09:05] matthias-schlimm commented on #40
fixed in https://github.com/EUCweb/BIS-F/blob/develop/Framework/PrepBISF_Start.ps1

line 216
$CheckPndReboot = Get-BISFPendingReboot

[2018-10-20 09:05] #40 closed, assigned to matthias-schlimm

[2018-10-20 09:07] matthias-schlimm commented on #50
add to milestone https://github.com/EUCweb/BIS-F/milestone/1 for next minor release

[2018-10-20 09:07] #50 closed, assigned to matthias-schlimm

[2018-10-20 09:13] matthias-schlimm commented on #55
fixed in 20.10.2018 MS: Bugfix 55: Windows Defender -ArgumentList failing

https://github.com/EUCweb/BIS-F/blob/develop/Framework/SubCall/Preparation/10_PrepBISF_AV-WinDefend.ps1

[2018-10-20 09:13] #55 closed, assigned to matthias-schlimm

[2018-10-20 09:13] #63 closed, assigned to matthias-schlimm

[2018-10-20 09:29] matthias-schlimm commented on #62
@MathiasSVA

fixed in https://github.com/EUCweb/BIS-F/blob/develop/Framework/SubCall/Global/BISF.psm1

[2018-10-20 09:43] matthias-schlimm commented on #66
Change line 142:

**old:**
$VIEExists = Get-ChildItem -Path "$VIESearchFolder" -filter "$VIEApp" -ErrorAction SilentlyContinue | Where {$_.FullName -notlike "*Tools\*"} | % {$_.FullName}

**new:**

$VIEExists = Get-ChildItem -Path "$VIESearchFolder" -filter "$VIEApp" -ErrorAction SilentlyContinue | % {$_.FullName}
		    }
		    }

[2018-10-20 09:49] matthias-schlimm commented on #66
vietool. in a Path like Tools will not work, fix it in
https://github.com/EUCweb/BIS-F/blob/develop/Framework/SubCall/Preparation/10_PrepBISF_AV-SEP.ps1

[2018-10-20 09:50] #66 closed, assigned to matthias-schlimm

[2018-10-20 10:55] matthias-schlimm commented on #49
working as exptected

[2018-10-20 10:55] #49 closed, assigned to matthias-schlimm

[2018-10-20 12:14] matthias-schlimm opened #74 "The Version from the Service could not extracted"
During BIS-F preparation/personlization it gets the Version of the Services, this does not work sometimes and BIS-F send the Output to the logfile

![image](https://user-images.githubusercontent.com/34108484/47255496-63c4c400-d472-11e8-8a1a-b094b8db255d.png)

[2018-10-20 12:16] matthias-schlimm commented on #74
in function Test-BISFService
add line 1333

$SVCImagePath = $SVCImagePath -replace ('"','')

and debug it

![image](https://user-images.githubusercontent.com/34108484/47255516-b4d4b800-d472-11e8-8536-b5770b82dbfa.png)

[2018-10-20 12:26] #74 closed, assigned to matthias-schlimm

[2018-10-20 15:50] matthias-schlimm commented on #62
@fangludi reported the Layer is not Right detected with this Change above

[2018-10-20 15:53] matthias-schlimm commented on #62
I have removed the fix above from the developer branch

[2018-10-20 16:07] fangludi commented on #62
Thanks, if $svc = Test-BISFService -ServiceName "UniService" -ProductName "Citrix AppLayering", it will only return true or false.. Maybe you need Test-BISFServiceState instead of Test-BISFService to let it show the status which is running or not.

[2018-10-20 22:38] matthias-schlimm commented on #62
Thanks Fangludi, you are Right.. my fault

Please grab a copy of the developer branch and test ot again, possible in all Layers
https://github.com/EUCweb/BIS-F/tree/develop

[2018-10-21 02:41] fangludi commented on #62
Now it works in all layers, I just test, thanks!

[2018-10-21 04:39] matthias-schlimm commented on #62
Please send me the BIS-F logs from all layers, I will have a look under the hood. Prep and Pers log please

[2018-10-21 05:24] matthias-schlimm commented on #57
bugfix https://github.com/EUCweb/BIS-F/blob/develop/Framework/SubCall/Personalization/02_PersBISF_CTX.ps1

[2018-10-21 05:24] #57 closed, assigned to matthias-schlimm

[2018-10-21 05:49] matthias-schlimm commented on #18
fixed in https://github.com/EUCweb/BIS-F/blob/develop/Framework/SubCall/Personalization/02_PersBISF_CTX.ps1

[2018-10-21 05:49] #18 closed, assigned to nobody

[2018-10-21 05:56] #41 closed, assigned to matthias-schlimm

[2018-10-21 07:12] matthias-schlimm opened #75 "CTXO: If template not exist, end BIS-F execution"
During BIS-F sealing, if Citrix Optimizer is enabled and the Template is not found, send Error Output and Exit BIS-F sealing

21.10.2018 08:55:41 | administrator | EXTERNAL LOG.... | Get-Content : Cannot find path 'C:\Program Files
21.10.2018 08:55:42 | administrator | EXTERNAL LOG.... | (x86)\CitrixOptimizer\Templates\EUClab_WindowsServer2016_1607.xml' because it does not exist.

[2018-10-21 16:08] matthias-schlimm commented on #75
fixed in https://github.com/EUCweb/BIS-F/tree/develop

[2018-10-21 16:08] #75 closed, assigned to matthias-schlimm

[2018-10-22 05:58] fangludi commented on #62
[log.zip](https://github.com/EUCweb/BIS-F/files/2500293/log.zip)

[2018-10-22 14:27] trhymers commented on #56
I enabled the start menu policy.  I copied the contents of the script into 97_PrepBISF_PRE_BaseImage.ps1 and executed the initial script. It still broke office.

[2018-10-22 15:12] trhymers commented on #56
[Doc1.docx](https://github.com/EUCweb/BIS-F/files/2501955/Doc1.docx)

[2018-10-22 17:17] matthias-schlimm commented on #56
Office can‘t start after the sealing or did you mean, BIS-F did not detect the Office installation ?

[2018-10-22 17:24] trhymers commented on #56
Office apps will not start.

[2018-10-22 17:24] matthias-schlimm commented on #56
Why run‘s the office check after the final step ?

[2018-10-22 17:28] matthias-schlimm commented on #56
But you tested it manually, if you create the programs folder. Right ?

[2018-10-22 17:32] trhymers commented on #56
i have never tried to create the folder manually.  not sure which folder i need to created.

[2018-10-22 17:37] trhymers commented on #56
![image](https://user-images.githubusercontent.com/42785091/47308438-38b7ad00-d5f7-11e8-88b8-a398f64e17ea.png)

[2018-10-22 17:43] matthias-schlimm commented on #56
as @MathiasSVA descibribes above

--snip--I think I can contribute the solution to this, because I have sort of run into this too. In my case it wasn't directly BIS-F itself, but the same approach, just executed through Ivanti EM instead of BIS-F.
The problem lies in the deletion of the AllUsersStartmenu. As the office clicktorun installer utilizes parts of App-V/App-X technology what they basical

[2018-10-22 17:45] matthias-schlimm commented on #56
https://github.com/EUCweb/BIS-F/issues/56#issuecomment-419134012

[2018-10-22 17:45] trhymers commented on #56
sorry, i went back and read that also.  i previously posted a screenshot of that folder.  there is a programs folder there.

[2018-10-22 17:46] matthias-schlimm commented on #56
can you check the NTFS rights if the Programs Folder has the same rights. Otherwise replace the NTFS manually and check of office works

[2018-10-22 17:50] trhymers commented on #56
i checked permissions against a working server and they appear to be the same.

[2018-10-22 17:57] matthias-schlimm commented on #56
and if you disbale the "Remove AllusersStartmenu" in ADMX, it should work, i must check it in my lab, but time only for this on weekend

[2018-10-22 18:27] trhymers commented on #56
i disabled that option in ADMX and it works as expected.

[2018-10-22 19:14] matthias-schlimm commented on #56
can you get a copy of the content from the Programs folder and if you enable the policy and bis-f is run, please copy the content back to see if office works.

If it works, please remove folder step-by-step to see, which folder of it affect the office installation

[2018-10-22 19:23] trhymers commented on #56
ok i will give it a try.

-------- Original Message --------
Subject: Re: [EUCweb/BIS-F] Office click to run issue after BIS-F seal
(#56)
From: Matthias Schlimm <notifications@github.com>
Date: Mon, October 22, 2018 2:16 pm
To: EUCweb/BIS-F <BIS-F@noreply.github.com>
Cc: trhymers <Terry@rhymers.com>,  Comment <comment@noreply.github.com>

can you get a copy of the content from the Programs folder

[2018-10-23 05:45] matthias-schlimm commented on #71
Mark reported "This works well now"

[2018-10-23 15:07] trhymers commented on #56
it seems to be working now.  i copied contents of that script file to older ps1 file.  made sure start menu and citrix optimization were enabled in GP.  ran gpupdate /force and rebooted.  then ran the initial launch script for BIS as an administrator and office worked fine.  did it on my 2 other images and everything worked fine also.  so i think all is well now.

[2018-10-23 16:28] matthias-schlimm commented on #56
ok, thx for your reply. so this issue can be closed now ?

[2018-10-23 16:57] trhymers commented on #56
sure.  that should be fine.  thx.

-------- Original Message --------
Subject: Re: [EUCweb/BIS-F] Office click to run issue after BIS-F seal
(#56)
From: Matthias Schlimm <notifications@github.com>
Date: Tue, October 23, 2018 11:34 am
To: EUCweb/BIS-F <BIS-F@noreply.github.com>
Cc: trhymers <Terry@rhymers.com>,  Comment <comment@noreply.github.com>

ok, thx for your reply. so this issue can be clos

[2018-10-23 18:09] #56 closed, assigned to EUCweb, matthias-schlimm

[2018-10-26 13:28] FlorianHeigl opened #76 "Adding more detected hypervisors/agents"
**Is your feature request related to a problem? Please describe.**
Adding support of KVM, Xen

**Describe the solution you'd like**
I'd like to provide a patch extending the list of VM tools to also find the free hypervisors that could be relatively easily used with VDI. (I mean, I would skip VirtualBox :)

I saw the issue that added i.e. Nutanix support:
https://github.com/EUCweb/BIS-F/issues/13

[2018-10-26 13:35] FlorianHeigl commented on #76
If you just want the info

## KVM (need to look for QEMU since KVM is just QEMU with hardware virt)

* QEMU Guest Agent
* QEMU Guest Agent VSS Provider

(There's a third service, for the hypervisor hardware watchdog, but to my knowledge there is no person on earth who got that service to run, it seemed largely unmaintained)

I do not have the Service names for Red Hat "RHEV", the commercial offspr

[2018-10-28 08:55] matthias-schlimm commented on #76
It's a part of the Bugs Bunny Release, here https://github.com/EUCweb/BIS-F/blob/6.2.0_Bugs_Bunny/Framework/SubCall/Global/BISF.psm1

You need to edit the function _Get-Hypervisor_

**Please note**: Bugs Bunny release is not finalized yet, this is the next release of BIS-F, will be available next year

[2018-10-29 19:53] musklor commented on #75
Thanks but just one correction
IF (Test-Path "$CTXOTemplatePath\$template")
Just miss the XML extension
IF (Test-Path "$CTXOTemplatePath\$template.XML")

[2018-10-31 07:08] matthias-schlimm commented on #75
you're right, but I must doing it here

if ($OSName -like '*Windows 10*') {
									$ReleaseID = (Get-ItemProperty "HKLM:\SOFTWARE\Microsoft\Windows NT\CurrentVersion\" -Name ReleaseID).ReleaseId
									$template = "Citrix_Windows10_$($ReleaseID).xml"
								}
								elseif ($OSName -like '*Windows 7*') {
									$template = "Citrix_Windows7_SP1.xml"
								}
								elseif ($OSName -like '

[2018-10-31 08:04] musklor commented on #75
OK but more changes.
Just one question, why don't you use "switch" instead of "if"," if else ".

https://sys-advisor.com/2015/09/27/tips-powershell-comment-utiliser-la-commande-switch/

https://ss64.com/ps/switch.html

Thanks a lot for all your work

[2018-10-31 23:26] musklor opened #77 "Reset wsus"
Hello, here an interesting page for resetting WSUS.
https://support.microsoft.com/en-au/help/971058/how-do-i-reset-windows-update-components

You could add some of this commands.
Yesterday, I had two servers (pvs updater, one vdisk 2016base and one copy 2016admin) but with one id in the wsus panel. (Bis-f script used)

[2018-11-05 08:43] Siebrandf opened #78 "Provide Prepare4Image for the Ivanti Automation agent as choice"
I want BIS-F not to touch the RESWAS service and agent settings. Despite that it removes settings like the CachedDispatcher and CommunicationID settings which breaks the agent. I have the Ivanti Agent in a Platform Updating Layer, which provides me the opportunity to automate and secure layer creation and maintenance. I want the agent to survive BIS-F preparation activities (I run BIS-F for layer

[2018-12-07 18:38] matthias-schlimm commented on #42
can't reproduce this issue on a new image many times. All logs are redirected ?
The new function, also tested but it's not working. The redirected logs are stored in the BIS-F installation folder instead of the writeCacheDisk.

Move the issue outside of this Milestone

[2018-12-07 18:40] #62 closed, assigned to matthias-schlimm

[2018-12-07 18:41] #48 closed, assigned to matthias-schlimm

[2018-12-07 19:40] matthias-schlimm opened #79 "BIS-F Installer can't be used on x86 systems"
Error during registry operations on x64 system.#
fix Template to create the installer build, to use it on both architectures

[2018-12-07 19:40] #79 closed, assigned to matthias-schlimm

[2018-12-17 11:23] matthias-schlimm opened #80 "CitrixOptimizer: Wrong template Names"
regarding Citrix Optimizer v2 and BIS-F 6.1.0 build 01.102, it gave me an error since BIS-F Search for Templates like
Citrix_WindowsServer2016_$($ReleaseID).xml Citrix_WindowsServer2019_$($ReleaseID).xml
And Citrix Optimizer v2 named them
Citrix_Windows_Server_2016_1607.xml
Citrix_Windows_Server_2019_1809
I just changed it in 90_PrepBISF_CTX.ps1, but think one of you should change it

<img width="

[2018-12-17 14:30] matthias-schlimm commented on #80
Feedback from Martin Zugec: Yes, these names are final... We have decided to rename templates in order to support auto-selection

[2018-12-17 15:27] EUCweb commented on #80
fixed in Release 6.1.0. build 01.103

[2018-12-17 15:27] #80 closed, assigned to matthias-schlimm

[2018-12-27 18:02] EUCweb opened #81 "Signed Installer"
During packaging the installer, sign the POSH scripts with CodeSigning Certificate.
**dependency:** remove executionpolicy bypass from PrepareBaseImage.cmd

[2019-01-17 07:04] matthias-schlimm opened #82 "RES ONE Automation Agent - Action is missing"
During sealing the preparation of the RES ONE Automation Agent stucks

![image](https://user-images.githubusercontent.com/34108484/51301085-416d2300-1a2e-11e9-8d78-646b53cba98f.png)

Script **10_PrepBISF_RES.ps1** - Change Line 204 to the following:
_Invoke -BISFService -ServiceName "$Svc3" -StartType Disabled -Action Stop_

[2019-02-23 08:00] matthias-schlimm opened #83 "McAfee MOVE AV Solution"
### **Prepare MCS / PVS Master Image for McAfee MOVE AV Solution**
**_(with installed Agent)_**
**Vendor Best Practices:**
Deploy client in a Virtual Desktop Infrastructure environment
When operating in a Virtual Desktop Infrastructure (VDI) environment, follow these steps to create a master
image of a client system and clone the virtual machines.

**Before you begin**
• The McAfee Agent is instal

[2019-02-23 08:10] matthias-schlimm opened #84 "Azure: Activation Problems for all Office 365 users"
We recently had some problems with an azure ad joined deployment. our base disk joined azure ad which lead to activation problems for all o365 users. The root cause was, that our base image silently joined azure ad - according to MS this is not supported.

So best practice is to run a "**dsregcmd.exe /leave**" before sealing the image.

also there is an article about deleting some crypto keys when

[2019-02-23 08:11] matthias-schlimm commented on #84
this can be useful for BIS-F  https://gallery.technet.microsoft.com/scriptcenter/Detect-Windows-Azure-aed06d51 to detect if the VM is running inside Azure and trigger the Right command for azure deployed vm's only

[2019-02-23 12:33] matthias-schlimm opened #85 "Make SCCM / MDT Tasksequence Logfile redirection optional"
IF BIS-F is triggered from MDT or SCCM Tasksequence, the Shared logfile configuration is ignored and the BIS-F logs are stored in the TS Logpath on the VM.

Configuration will be possible through ADMX

[2019-03-02 17:49] matthias-schlimm commented on #83
create branch for testing, got the script here (https://github.com/EUCweb/BIS-F/blob/feature/83_FRQ_McAfee-Move/Framework/SubCall/Preparation/10_PrepBISF_AV-McAfee.ps1)

after succesfull test the branch will merged into develop

[2019-03-03 08:39] matthias-schlimm commented on #65
the log can be deleted, but not the XML file

[2019-03-03 08:42] matthias-schlimm commented on #35
if you trigger BIS-F from MDT or SCCM Tasksequence the BIS-F logfile will be automatically redirect to the TS logfolder

[2019-03-08 09:16] matthias-schlimm commented on #45
@JamesKindon Services optimization is not a part of BIS-F anymore, use CTX optimizer or GPP

[2019-03-08 09:18] #45 closed, assigned to matthias-schlimm

[2019-03-28 07:41] matthias-schlimm opened #86 "Office 2019 detection"
latest BIS-F release 6.1.0 build 01.103 does not detect Office 2019. Possible to integrate it in 6.1.0 too and do not wait for Bugs Bunny release later this year

[2019-03-29 20:30] EUCweb commented on #86
FRQ is here: grab this files and copy it to your installation directories and replace the old one
checkout https://github.com/EUCweb/BIS-F/blob/master/ReleaseNotes.txt

https://github.com/EUCweb/BIS-F/blob/master/Framework/SubCall/Preparation/96_PrepBISF_Rearm.ps1

https://github.com/EUCweb/BIS-F/blob/master/Framework/SubCall/Personalization/10_PersBISF_OfficeKMS.ps1

[2019-03-29 20:48] EUCweb commented on #86
**must added for Bugs Bunny Release too, but keep O365 in BB release. Files above are different in BB Release**

[2019-03-31 18:25] matthias-schlimm commented on #86
added Office 2019 support for BB Release too:

https://github.com/EUCweb/BIS-F/blob/6.2.0_Bugs_Bunny/ReleaseNotes.txt

https://github.com/EUCweb/BIS-F/blob/6.2.0_Bugs_Bunny/Framework/SubCall/Preparation/96_PrepBISF_Rearm.ps1

https://github.com/EUCweb/BIS-F/blob/6.2.0_Bugs_Bunny/Framework/SubCall/Personalization/10_PersBISF_OfficeKMS.ps1

[2019-03-31 19:49] matthias-schlimm commented on #86
build release 6.1.0 build 01.104

[2019-03-31 19:49] #86 closed, assigned to matthias-schlimm

[2019-04-11 05:28] matthias-schlimm opened #87 "Symantec Endpoint Protection 14.0 MP2 prevents graceful Citrix session logoff"
**Situation**
After installing or upgrading to Symantec Endpoint Protection (SEP) 14.0 MP2 in a Citrix environment, you find that it prevents graceful session logoff.

**Cause**
Our SymQual error reporting service prevents graceful session logoff due to locked WER folders:

Users\%username%\AppData\Local\Microsoft\Windows\WER\ReportArchive
Users\%username%\AppData\Local\Microsoft\Windows\WER\Repor

[2019-04-11 19:27] matthias-schlimm commented on #87
waiting for customer feedback. As described above, the files are renamed

![image](https://user-images.githubusercontent.com/34108484/55987573-1d725400-5ca2-11e9-991b-41bfac72116b.png)

**get the Hotfix here and replace the file in the BIS-F preparation folder:** https://github.com/EUCweb/BIS-F/blob/develop/Framework/SubCall/Preparation/10_PrepBISF_AV-SEP.ps1

[2019-04-12 08:55] matthias-schlimm commented on #87
test at customer level, running without issues:

Hotfix available for CR and future BB release

[2019-04-12 08:55] #87 closed, assigned to matthias-schlimm

[2019-04-12 08:57] matthias-schlimm commented on #83
customer approved this https://github.com/EUCweb/BIS-F/blob/BB_develop/Framework/SubCall/Preparation/10_PrepBISF_AV-McAfee.ps1

[2019-04-13 20:53] musklor commented on #77
I saw a piece of code to reset the susclientid inside bis-f script, but only with targeting enabled. So I've disabled this test (I don't use targeting for the moment) and the keys are killed now.

[2019-04-24 06:30] jeremyts commented on #87
Note that Symantec has confirmed that this issue is also present in 14.2 MP1, so it's not just a 14.0 MP2 issue.

[2019-04-24 13:28] mschaepers commented on #56
FYI
this issue happened to me with Office365 Pro Plus after running BIS-F in the latest version (v6.1.0 build 01.101)
even reinstalling office365 was failing, recreating "C:\ProgramData\Microsoft\Windows\Start Menu\Programs" made the trick and office is able to start again.

[2019-04-24 14:48] EUCweb commented on #56
This is fixed in 102 or above, checkout https://eucweb.com/download-bis-f

[2019-04-24 22:20] mschaepers commented on #56
Oh, I was downloading BIS-F by the login consultants download Formular, assuming that that one provides the latest version.

Thanks!

________________________________

Von: EUCweb.com <notifications@github.com>
Datum: 24. April 2019 um 16:46:05 MESZ
An: EUCweb/BIS-F <BIS-F@noreply.github.com>
Cc: Mauricio Schäpers <m.schaepers@vsqloud.de>, Comment <comment@noreply.github.com>
Betreff: Re: [EUCweb/

[2019-04-28 08:12] wing2005 opened #88 "Request: Mcafee Endpoint security Detection"
Hi,
We have Mcafee ENS, its using the same Agent and reg keys that needs to be deleted, but the script is not running because its looking for the old Engine VSE.

[2019-04-28 08:21] EUCweb commented on #88
Can you send us the new one, means the servicename,  displayname and other relevant informations

[2019-04-28 08:30] wing2005 commented on #88
display name: mcafee endpoint security

service file: (x64)
c:\program files\mcafee\mcafee endpoint security\endpoint security platform\mfeesp.exe

i have added elseif clause in the script to check the file and run the cleanup, i'll test run it...

[2019-04-28 08:34] wing2005 commented on #88
how do i test only the av script without running the whole sealing process?

[2019-04-28 09:29] EUCweb commented on #88
checkout Run single Script for Testing https://eucweb.com/kba/27190824

[2019-04-28 11:00] wing2005 commented on #88
i have tested it and its working. how do i submit for your review?

[2019-04-28 11:38] EUCweb commented on #88
you can upload it here in the issue itself, thanks for help to make this tool even better

[2019-04-28 11:39] EUCweb commented on #88
what's the Name of the service itself, same as Display Name ?

[2019-04-28 11:59] wing2005 commented on #88
attached image  -the file properties
i have commented all my add ins and changes. if variables are not in convention, edit them
[bisf-mcafee.zip](https://github.com/EUCweb/BIS-F/files/3124934/bisf-mcafee.zip)

[2019-04-28 12:23] EUCweb commented on #88
thx, I must convert your changes to my new script, this is for the new BIS-F version with MC Afee Move
https://github.com/EUCweb/BIS-F/blob/develop/Framework/SubCall/Preparation/10_PrepBISF_AV-McAfee.ps1

[2019-04-28 12:37] wing2005 commented on #88
glad to help, its a great tool! until the updated version comes, i'm using my file.

[2019-05-02 17:40] ozzy01 opened #89 "Cylance generalization / Citrix 'compatibility mode' enablement"
Per https://support.citrix.com/article/CTX232722, for Cylance, I always have make sure and enable the registry key for 'compatibility mode' as described therein.  Has hampered me on non-Citrix stuff as well.  I think there is some generalization as well from a Cylance perspective to clear a reg key that Matthias K was describing. Anyway, thought it would be good to add in under the AV options or w

[2019-05-02 17:44] EUCweb commented on #89
Thx Ozzy, BIS-F detects the  Software if a service is available or not, please send me the servicename and displayname

[2019-05-02 17:51] EUCweb opened #90 "New BIS-F version numbers like yymm.v"
For new BIS-F Release it's possible to create new Version numbers like 1905.1 (looks like MS and CTX)

Currently the build number increases automatically during creating the installer:

01 = PROD
02 = ACCEPTANCE
03 = TEST
04 = DEV

internal build numbers also required, for the frontend:
yymm.v = 1905.0
Version = 6.5.0 build 01.nnn

[2019-05-02 18:38] EUCweb opened #91 "ADMX: Move FSlogix to Microsoft"
FSLogix is now a part of Microsoft, possible to move to ADMX as well

[2019-05-02 20:29] ozzy01 commented on #89
Yea, so its a service called " Cylance Protect"
![image](https://user-images.githubusercontent.com/24480911/57104873-106be200-6cef-11e9-8980-4595c9a26b73.png)

[2019-05-03 01:30] EUCweb commented on #89
Display and Servicename are still the same ? Please open up the service and take a screenshot of the properties first tab.

[2019-05-03 14:55] ozzy01 commented on #89
![image](https://user-images.githubusercontent.com/24480911/57145831-a48a8780-6d89-11e9-8f93-b3362125d6a8.png)

[2019-05-04 20:11] EUCweb commented on #82
fixed in https://github.com/EUCweb/BIS-F/blob/develop/Framework/SubCall/Preparation/10_PrepBISF_RES.ps1

[2019-05-04 20:11] #82 closed, assigned to matthias-schlimm

[2019-05-07 01:23] JonathanPitre commented on #91
@matthias-schlimm It was done already in the develop branch.

[2019-05-07 01:25] JonathanPitre commented on #91
@matthias-schlimm Oh I see, it was overwritten by the bugs bunny branch, I'll redo the change then, np

[2019-05-07 04:19] EUCweb commented on #91
Please add your changes from the admx again, but do not replace it with your local copy, the admx between 6.1.0 and bugs bunny release is different, wem changes and some others.

[2019-05-07 21:45] JonathanPitre commented on #91
Done in latest develop commit

[2019-05-07 21:46] #91 closed, assigned to JonathanPitre

[2019-05-09 09:55] EUCweb opened #92 "Server 2019 Support"
# OS Windows 2016
    IF (($OSVersion -like "10*") -and ($ProductType -eq "3"))
    {
        Write-BISFLog -Msg "Running PreCommands for Windows Server 2016" -ShowConsole -Color Cyan
        Pre-Win2016
    }

On Server 2019 send out 2016, possible to check if other pre-Command are usefull for 2019, otherwise change command

[2019-05-09 16:07] JonathanPitre opened #93 "Detect Citrix Cloud Connector installation"
Each machine hosting the Cloud Connector must have **a unique SID and connector ID** so that Citrix Cloud can communicate reliably with the machines in your resource location.

Installing the Cloud Connector on a machine template (before cloning) is not supported. If you clone a machine with the Cloud Connector installed, the Cloud Connector services will not run and the machine cannot connect to

[2019-05-09 16:14] JonathanPitre opened #94 "Add sysprep command-line options to ADMX"
Adding the option to customize the sysprep command-line via ADMX so customer can provide a custom answer file or use the /mode:vm switch.

The /mode:vm switch can only be used on VHD and Windows 8 and above. Also that VHD can only be deployed on the same hardware profile.

[Sysprep Command-Line Options](https://docs.microsoft.com/en-us/windows-hardware/manufacture/desktop/sysprep-command-line-opti

[2019-05-09 16:18] JonathanPitre opened #95 "Delete Office 365 credentials on current profile"
Delete Office 365 on current profile.

https://answers.microsoft.com/en-us/office/forum/office_2016-office_account/persisten-request-for-user-credentials-in-office/49add2f2-954f-404e-9367-fe090584fa16

[2019-05-09 16:23] JonathanPitre opened #96 "Disable Microsoft Office updates"
Microsoft Updates updates should be disabled during the sealing process to avoid updates from running on production machines. The installed version Office should be detected and the registry values to disable Office updates should be added automatically.

https://social.technet.microsoft.com/Forums/en-US/9124a98f-50c8-4bde-8104-5d18200a31b4/office-365-how-to-temorarily-disable-the-update-feature-f

[2019-05-09 17:29] matthias-schlimm opened #97 "Nutanix Xi Frame Support"
I would like to integrate Frame in the next major release, need a screenshot of the Frame Agent service , the displayname and the servicename that is installed inside the Windows VM, to detect Xi Frame with BIS-F.

[2019-05-09 17:36] matthias-schlimm opened #98 "Skip execution of PVS Target OS Optimization"
recommend to use CTXO, vmOSOT or GPP to control optimization instead of Target OS Optimizer.

[2019-05-09 17:56] JonathanPitre opened #99 "Detect and fix trust relationship issue automatically"
It,s quite common with master images to get trust relationship issues when they get disconnected from the domain for too long for instance. We could detect the event log that indicate that there is a trust relationship issue and run the appropriate powershell commands to fix it automatically.

https://theitbros.com/fix-trust-relationship-failed-without-domain-rejoining/

Reset-ComputerMachinePassw

[2019-05-09 18:47] EUCweb commented on #95
BIS-F does nothing on the user itself, this is a part of GPP, or I‘m wrong with the above link ?

[2019-05-09 19:58] ryancbutler commented on #46
Is it possible to create a workaround by modifying personality.ini?  Set the INI to think its in private mode?  Would this still allow bis-f to run but not the disk convert?

[2019-05-09 22:05] vMathias79 commented on #97
**As per current analysis of a running Frame Sandbox:**

Service name: MF2Service
Display name: MF2Service
Description: Mainframe2 service for starting MF2Server
Path to executable: "c:\Program Files\Frame\service\Service.Windows.exe"

![image](https://user-images.githubusercontent.com/475729/57489756-5577b180-72b7-11e9-8e92-0f0d75d38b27.png)

[2019-05-10 02:30] matthias-schlimm commented on #46
I think not good idea to modify a file, personality.ini also used for BIS-F diskmode and other optimizations are might to fail.

I think about to add an option to the ADMX

[2019-05-10 03:50] JonathanPitre commented on #95
Yeah the idea was to depersonalize the current user profile to ensure sign in info for Office 365 was removed. If you prefer to leave the user profile untouch we can skip this one.

[2019-05-10 03:53] JonathanPitre opened #101 "Use sdelete64.exe on x64 system"
Since the last couple version of sdelete, there's an x64 binary.

We should the appropriate binary one according to the system architecture.

[2019-05-10 03:55] JonathanPitre opened #102 "Use CCleaner64.exe on x64 system"
There's two executable for CCleaner, we should the appropriate one according to the system architecture.

[2019-05-10 03:58] JonathanPitre opened #103 "Add script to delete temporary *.bak profile"
Something similar to this
https://gallery.technet.microsoft.com/Script-to-delete-bak-2ebd222f
https://gallery.technet.microsoft.com/scriptcenter/Fix-temporary-profile-535ae062

[2019-05-10 04:04] #103 closed, assigned to nobody

[2019-05-10 04:05] JonathanPitre commented on #103
This is already covered by Delprof2, I was under the impressions it was not since I had issue in the past with this...perhaps it was just me.

[2019-05-10 11:24] vMathias79 opened #104 "Matrix42 Empirum Preparation > Service MATRIXAUT not always exists"
Not in all installations of the Matrix42 Empirum agent the MATRIXAUT service does exist. Therefore the script tries to stop/start a non-existing service in 10_PrepBISF_Empirum.ps1

Suggestion: Wrap it in a condition if the service exists.

[2019-05-10 17:27] matthias-schlimm commented on #89
merged pull request https://github.com/EUCweb/BIS-F/pull/100 into develop branch
@ozzy01 please grab a copy of https://github.com/EUCweb/BIS-F/blob/develop/Framework/SubCall/Preparation/10_PrepBISF_AV-CylanceProtect.ps1 and copy it to your installation to test the Cyclance script

[2019-05-10 21:18] vMathias79 commented on #104
Updates script already in testing on customer site. Will create pull request as soon as I get a positive reply

[2019-05-12 09:28] EUCweb commented on #97
integrated in https://github.com/EUCweb/BIS-F/blob/develop/Framework/SubCall/Global/BISF.psm1

[2019-05-12 09:30] EUCweb commented on #97
@MathiasK-SVA can you grab a copy of this 2 files:
https://github.com/EUCweb/BIS-F/blob/develop/Framework/SubCall/Global/BISF.ps1
https://github.com/EUCweb/BIS-F/blob/develop/Framework/SubCall/Global/BISF.psm1

and make a review if the XI Frame is detected from BIS-F ?

[2019-05-12 18:33] EUCweb commented on #76
with POSH command, can get Manufacturer and Model

`Get-WmiObject -query 'select * from Win32_ComputerSystem' | select-object Manufacturer,Model`

**Oracle VirualBox**
Manufacturer:  innotek GmbH
Model: virtualBox

**Nutanix AHV**
Manufacturer:  Nutanix
Model: AHV

**Citrix Hypervisor**
Manufacturer: Xen
Model: HVM domU

**Vmware:**
Manufacturer: VMware, Inc.
Model: VMware Virtual Platform

 **Hyp

[2019-05-13 07:15] matthias-schlimm opened #105 "Keep Windows Administrative Tools in Startmenu"
keep Windows Admistrative Tools ins Startmenu.

Workaround `97_PrepBISF_PRE_BaseImage.ps1`, line

`replace line 194 `

**old:**
Command="Remove-Item '$Dir_AllUsersStartMenu' -Recurse -Force -ErrorAction SilentlyContinue"};

**new:**
Command="Get-ChildItem -path '$Dir_AllUsersStartMenu' -Exclude 'Administrative Tools' | remove-item -Force -Recurse"};

[2019-05-13 18:20] matthias-schlimm commented on #76
@FlorianHeigl can you run the following Powershell Command on Windows VM hosted on KVM and share the output ?

`Get-WmiObject -query 'select * from Win32_ComputerSystem' | select-object Manufacturer,Model`

[2019-05-17 19:05] matthias-schlimm opened #106 "in function Optimize-WinSxs remove out-null"
in BISF.psm1 `Optimize-WinSxs`. WinSxS is not running leading to large WinSxs-Folder. Think the `| Out-Null` is misplaced.

![image](https://user-images.githubusercontent.com/34108484/57950477-a9058300-78e7-11e9-8b95-2481bac74aa0.png)

[2019-05-17 19:22] matthias-schlimm commented on #106
fixed in master and develop branch

[2019-05-17 19:22] #106 closed, assigned to matthias-schlimm

[2019-05-17 19:30] matthias-schlimm commented on #47
is this really possible or can we skip it ?

[2019-05-18 06:43] matthias-schlimm opened #107 "ADMX: Trigger Enable-VdaSSL.ps1 during personalization"
As stated the script needs to run at startup, so using personalization:
.\Enable-VdaSSL.ps1 -Enable -CertificateThumbPrint $strThumb -Confirm:$false

More information [https://support.citrix.com/article/CTX220062]

[2019-05-18 07:10] matthias-schlimm opened #108 "NTFS Rights not set correctly for the Eventlogs on WCD"
The NTFS rights on **d:\eventslog** are not set correctly for my customer. I have created a custom Prep script which i put in **"C:\Program Files (x86)\Base Image Script Framework (BIS-F)\Framework\SubCall\Personalization\Custom"**

Script is attached

[00_PersBISF_Custom_FS_Rigths.ps1.txt](https://github.com/EUCweb/BIS-F/files/3193771/00_PersBISF_Custom_FS_Rigths.ps1.txt)

[2019-05-24 23:00] JamesKindon commented on #47
Lets kill it

On Fri, 17 May 2019 at 3:30 pm, Matthias Schlimm <notifications@github.com>
wrote:

[2019-05-26 21:38] matthias-schlimm opened #109 "Citrix BrokerAgent Service set to manual"
If ADMX VDA Configuration is enabled, the Citrix BrokerAgent Service is disabled during preparation, it's possible to stop and set to manual.

Sometimes is see the BrokerAgent service is not started on BIS-F personalization.

[2019-05-26 21:40] matthias-schlimm commented on #47
no further investigation on this issue

[2019-05-26 21:40] #47 closed, assigned to JonathanPitre, JamesKindon

[2019-05-28 08:49] vMathias79 commented on #97
Yes will do over the upcoming weekend!

[2019-05-29 08:56] matthias-schlimm opened #111 "Run multiple Citrix Optimizer templates"
In the current BIS-F Release you can enter one Optimizer Template only, for multiple templates BIS-F must trigger CTXO multiple times with different templates.

[2019-05-29 08:59] matthias-schlimm commented on #111
BIS-F could look for delimiter (";") in ADMX. If found, just parse it and run Optimizer multiple times. In the near future, I would like to add a summary field in XML to identify overall status (and make it very easy to decide if run was successful or not)

[2019-05-30 21:49] matthias-schlimm commented on #104
update ReleaseNotes.txt

[2019-05-30 21:51] #104 closed, assigned to MathiasK-SVA

[2019-05-30 22:10] matthias-schlimm commented on #111
Enter Templates in BIS-F ADMX with Commaseperator without any space, eg.g
**Windows_10_1809.xml,PVS_Target.xml**

### Grab a copy of the scripts below based on your BIS-F Release

**BIS-F 6.1.0 build 01.xxx**
https://github.com/EUCweb/BIS-F/blob/master/Framework/SubCall/Preparation/90_PrepBISF_CTX.ps1

**Bugs Bunny Release:**
https://github.com/EUCweb/BIS-F/blob/develop/Framework/SubCall/Preparati

[2019-05-30 22:48] ozzy01 commented on #89
FYI, we have/are testing this. It failed on something so we are reviewing log tomorrow and will comment back in here

[2019-05-31 08:03] EUCweb commented on #92
### Grab a copy of the scripts below based on your BIS-F Release

**BIS-F 6.1.0 build 01.xxx**
https://github.com/EUCweb/BIS-F/blob/master/Framework/SubCall/Preparation/97_PrepBISF_PRE_BaseImage.ps1

**Bugs Bunny Release:**
https://github.com/EUCweb/BIS-F/blob/develop/Framework/SubCall/Preparation/97_PrepBISF_PRE_BaseImage.ps1

[2019-05-31 08:09] #111 closed, assigned to matthias-schlimm

[2019-05-31 08:10] #92 closed, assigned to matthias-schlimm

[2019-05-31 08:10] EUCweb commented on #109
will have a deeper look into it

[2019-05-31 08:15] EUCweb commented on #105
### Grab a copy of the scripts below based on your BIS-F Release

**BIS-F 6.1.0 build 01.xxx**
https://github.com/EUCweb/BIS-F/blob/master/Framework/SubCall/Preparation/97_PrepBISF_PRE_BaseImage.ps1

**Bugs Bunny Release:**
https://github.com/EUCweb/BIS-F/blob/develop/Framework/SubCall/Preparation/97_PrepBISF_PRE_BaseImage.ps1

[2019-05-31 08:18] #105 closed, assigned to matthias-schlimm

[2019-05-31 08:19] #76 closed, assigned to FlorianHeigl, matthias-schlimm

[2019-05-31 08:20] EUCweb commented on #53
skipped, more goes into Citrix Optimizer

[2019-05-31 08:20] #53 closed, assigned to matthias-schlimm

[2019-05-31 13:08] FlorianHeigl commented on #76
Sorry that this fell down on my end.

[2019-06-05 08:00] EUCweb opened #112 "CTX optimizer: Multiple Templates with AutoSelect for OS Template"
With the new Feature called [multiple Templates](https://github.com/EUCweb/BIS-F/issues/111) you will loose AutoSelect for the OS Template.

In 10_PrepBISF_CTX.ps1 remove Line 418 as follows

`"& ""$fileExists"" -Source ""$template""$groups-mode $mode -OutputXml ""$output_xml""" | Out-File $tmpPS1 -Encoding default`

and replace with this special code

[code]

In the BIS-F ADMX for the CTX Templat

[2019-06-06 09:23] EUCweb opened #113 "WinSxs optimization reached the MaxExecutionTime"
As I heard from some customers, the WinSxs optimizations that is executed since Version 6.1.1, was reached the MaxExecutionTime per default of 60 minutes and the process is terminated, not possible for future update.

You can change it manually, until a patch is available as follows:

1. open up https://github.com/EUCweb/BIS-F/blob/release/6.1.1_build_01.105/Framework/SubCall/Global/BISF.psm1

2.

[2019-06-12 18:42] korbinianthiel opened #114 "App Crash since sealing with 6.1.1"
When image is sealed with BIS-F 6.1.1 our CAD software crashes with access violation in mfc140u.dll
With previous 6.1.0 this does not happen. What have changed, which might causes this crash?

Thanks
Korbinian

[2019-06-12 19:33] matthias-schlimm commented on #114
Please check https://eucweb.com/docs/bis-f/whats-new

Please have a look to https://github.com/EUCweb/BIS-F/issues/113 can you comment out line 1554 the start-process line.

[2019-06-12 19:47] korbinianthiel commented on #114
I will try version 6.1.1 with WinSxS optimizations disabled.

Thanks for the quick reply.

[2019-06-13 18:14] matthias-schlimm opened #115 "ADMX: Control of WinSxS Optimization"
Add feature for enable/disable WinSXS optimization from ADMX

In addition an checkbox for run WinSxS on BaseDisk only

[2019-06-21 08:38] matthias-schlimm commented on #113
will fixed with https://github.com/EUCweb/BIS-F/issues/115

[2019-06-21 08:38] matthias-schlimm commented on #114
Will fixed with https://github.com/EUCweb/BIS-F/issues/115

[2019-06-21 15:10] matthias-schlimm opened #116 "During Preparation, BIS-F Shows Versionnumber instead of OSName"
showing Running PreCommands for Windows Server 10.* instead of Windows Server 2016

[2019-06-27 06:01] matthias-schlimm opened #117 "ENH: WinSxS hide DISM process and get logfile"
During WinSxS Optimization a black process screen is shown, this will be hide.
The Output form the WinSxS optimization is included in the BIS-F log too

[2019-07-11 19:32] matthias-schlimm commented on #112
- If no template is specified, BIS-F triggers Optimizer with AutoSelect

- Optimizer XML filename  has the template Name included

[2019-07-11 19:33] matthias-schlimm commented on #112
complete description https://eucweb.com/kba/0107190500

[2019-07-13 09:23] matthias-schlimm commented on #107
@Trentent has added this great feature, so will merge this into Bugs Bunny Release

[2019-07-13 09:25] matthias-schlimm commented on #107
[BISF_SSL.zip](https://github.com/EUCweb/BIS-F/files/3388659/BISF_SSL.zip)

[2019-07-13 09:27] matthias-schlimm commented on #107
GPO Config
![image](https://user-images.githubusercontent.com/34108484/61169728-2e608900-a561-11e9-8dd8-0354ec0c848f.png)

I've written it to have very verbose output as I think troubleshooting this will be tricky:

![image (1)](https://user-images.githubusercontent.com/34108484/61169730-39b3b480-a561-11e9-8d02-93d6f438439d.png)

![image (2)](https://user-images.githubusercontent.com/34108484/6116

[2019-07-18 07:21] toussman opened #118 "Add Tanium support"
The Tanium Client requires generalization during the image seal.

Solution consists in stopping the service and delete client specific data, as per vendor documentation:
https://docs.tanium.com/client/client/os_imaging.html

See attached script:

[10_PrepBISF_Tanium.txt](https://github.com/EUCweb/BIS-F/files/3405202/10_PrepBISF_Tanium.txt)

[2019-07-18 07:29] toussman opened #119 "Add Support for Symantec Data Center Security Server Agent (DCSSA)"
The Symantec Data Center Security Server Agent (DCSSA) requires generalization during the image seal.

Solution consists in stopping the service and delete client specific data, as per vendor documentation:
https://support.symantec.com/us/en/article.tech239628.html

See attached script:
[10_PrepBISF_DCSA.txt](https://github.com/EUCweb/BIS-F/files/3405275/10_PrepBISF_DCSA.txt)

[2019-07-18 08:13] toussman opened #120 "Add Symantec Sylink Drop Feature"
Scenario, SEP unmanaged Client is installed in the image.
When the image is booted in Standard mode a Sylink drop is performed so that new servers are registered in the appropriate SEP Group and get the policies for that group.

Add logic to the SEP personalization script as per sript attached, but enhance with LGPO settings to enable/disable sylink drop and specify xml file path or xml folder pat

[2019-07-19 20:21] matthias-schlimm commented on #118
Thank you very much, I will change the Code for more BIS-F complaint

[2019-07-19 20:21] matthias-schlimm commented on #119
Thank you very much, I will change the Code for more BIS-F complaint

[2019-07-19 20:21] matthias-schlimm commented on #120
Thank you very much, I will change the Code for more BIS-F complaint

[2019-07-19 20:41] matthias-schlimm commented on #114
With the upcoming 6.1.2 Version you can Control WinSxS with the GPO, check out https://eucweb.com/docs/bis-f/run-bis-f/winsxs-optimization. this will fix the issue

[2019-07-19 20:41] #114 closed, assigned to matthias-schlimm

[2019-07-19 20:42] matthias-schlimm commented on #112
ToDo: merge code from 6.1.2 to BB_develop

[2019-07-19 20:43] matthias-schlimm commented on #116
ToDo: merge code from 6.1.2 to BB_develop

[2019-07-19 20:43] matthias-schlimm commented on #115
ToDo: merge code from 6.1.2 to BB_develop

[2019-07-19 20:44] #113 closed, assigned to matthias-schlimm

[2019-07-26 14:13] matthias-schlimm opened #121 "Logfile using *.log filenameextension"
currently the logfile is using the filenameextension *.bis, for better support change it to *.log

[2019-07-26 14:16] matthias-schlimm opened #122 "Citrix Optimizer Templateprefix support"
Custom Templates with AutoSelect does not work.

For AutoSelect to work with custom templates, BIS-F would need to add support for -TemplatePrefix argument. This however means that they will need to rename all templates to match this syntax.

Means, if I have a template called **EUCweb_Windows_10_1903.xml** I must use -TemplatePrefix **EUCweb_Windows** as an additional argument to get this work.

[2019-07-26 20:13] matthias-schlimm commented on #122
- Codechange in 90_PrepBISF_CTX.ps1
- ADMX Change

Codechange done

branch https://github.com/EUCweb/BIS-F/tree/develop

![CTXO_TemplatePrefix_default](https://user-images.githubusercontent.com/34108484/61978869-92b82980-aff2-11e9-8cb5-1f8b432f1cef.jpg)

[2019-08-11 19:07] EUCweb commented on #122
[HOW TO] Using Citrix Optimizer with TemplatePrefix https://eucweb.com/kba/1208191514

[2019-08-11 19:14] EUCweb commented on #83
some code from latest BIS-F release must be merged into Bugs Bunny

[2019-08-13 07:48] EUCweb opened #124 "Merge ADMX from develop into BB_develop"
All ADMX / ADML changes from **develop** Branch for **Citrix Optimizer** and **WinSxS optimization** must be merged into the **BB_develop** branch

[2019-08-13 07:49] EUCweb commented on #122
Release with 6.1.3 and merged now into BB_develop

[2019-08-13 07:49] #122 closed, assigned to matthias-schlimm

[2019-08-13 07:49] EUCweb commented on #117
merged now into BB_develop

[2019-08-13 07:49] #117 closed, assigned to matthias-schlimm

[2019-08-13 07:50] EUCweb commented on #112
merged now into BB_develop

[2019-08-13 07:50] #112 closed, assigned to matthias-schlimm

[2019-08-13 07:57] EUCweb commented on #116
merged into BB_develop

[2019-08-13 07:57] #116 closed, assigned to matthias-schlimm

[2019-08-13 08:11] EUCweb commented on #97
it's now in BB_develop branch @MathiasK-SVA

[2019-08-13 08:11] #97 closed, assigned to matthias-schlimm

[2019-08-13 08:29] EUCweb commented on #124
merged into BB_develop

[2019-08-13 08:29] #124 closed, assigned to matthias-schlimm

[2019-08-13 08:29] EUCweb commented on #115
merged into BB_develop

[2019-08-13 08:29] #115 closed, assigned to matthias-schlimm

[2019-08-13 08:33] EUCweb commented on #121
must be changed in the following scripts

- [x] PersBISF_Start.ps1

- [x] PrepBISF_Start1.ps1

- [x] CMTrace Logfileviwer, remove bis extension

[2019-08-13 08:42] EUCweb commented on #121
BB_develop branch

[2019-08-13 08:42] #121 closed, assigned to matthias-schlimm

[2019-08-13 08:44] EUCweb commented on #90
created in the Installer script on BitBucket repro, will test it shortly

New Version are create like This
7 1912.0.nnnn

Major = 7
Minor = 1912
Patch = 0
nnnn = incremental buildnumber through all DTAP Stages

The DTAP stage must be written to a different Registry Value to pickup from BISF.psm1 and analyze the DTAP Stage.

In the current registry value the Version as shown above will be written (

[2019-08-13 08:59] EUCweb commented on #83
done in BB_develop branch

[2019-08-13 08:59] #83 closed, assigned to matthias-schlimm

[2019-08-13 09:50] EUCweb commented on #46
manually merged from above PR, wrong branch for PR selected

[2019-08-13 09:50] #46 closed, assigned to nobody

[2019-08-13 10:11] xenadmin opened #125 "ADMX: Wrong description in Global -> Configure Personalization"
**Describe the bug**
The dropdown values don't fit the Policy description.
Never <-> None
All <-> All
PrivateMode <-> ReadWrite

**To Reproduce**
ADMX in Central Store -> open GPMC -> Computer -> BISF -> Global -> Configure Personalization

**Expected behavior**
The values should match.

**Screenshots**
![image](https://user-images.githubusercontent.com/12057348/62933468-88ec3f80-bdc2-11e9-9a47-f8

[2019-08-13 10:34] matthias-schlimm commented on #125
Thanks Marco, you‘re right.

[2019-08-14 06:16] matthias-schlimm commented on #98
done in BB_develop branch

[2019-08-14 06:16] #98 closed, assigned to matthias-schlimm

[2019-08-14 06:20] matthias-schlimm commented on #99
@JonathanPitre Good idea, but how can we automate this ? this can be done during BIS-F personalization but we need account with the privileged rights. I' don't want to store the password in the BIS-F policy

[2019-08-14 06:35] matthias-schlimm commented on #3
remove MSG Boxes from this scripts and set defaultvalue
10_PrepBISF_FSLogix.ps1
BISF.psm1 - Function Request-Sysprep
BISF.psm1 - Function Invoke-LogShare
10_PrepBISF_AppVClient.ps1
10_PrepBISF_AV-F-Secure.ps1
10_PrepBISF_AV-McAfee.ps1
10_PrepBISF_AV-SEP.ps1
10_PrepBISF_AV-Sophos.ps1
10_PrepBISF_AV-TM.ps1
10_PrepBISF_AV-WinDefend.ps1
10_PrepBISF_RES.ps1
10_PrepBISF_Turbo.ps1
10_PrepBISF_vmOSOT.ps1

[2019-08-14 07:40] matthias-schlimm commented on #3
- [x] Verysilent Option must be removed from ADMX too

- [x] Review AMDX for Msg Boxes and describe Defaultvalue if the GPO is not configured

[2019-08-14 07:54] matthias-schlimm commented on #60
@musklor any reference from Symantec about your Registry values your a re mentioned. I will check it before about vendor best practices before go further with it

[2019-08-14 07:56] matthias-schlimm commented on #96
Good point, but if we stop the Windows Update Service during preparation, I think this will help too ?

[2019-08-14 08:11] matthias-schlimm commented on #108
Create function Set-BISFACLrights, but must be included in personalization

[2019-08-14 08:27] matthias-schlimm commented on #108
included in Use-BISFPVSConfig and Move-BISFEvtLogs function

[2019-08-14 08:29] #108 closed, assigned to matthias-schlimm

[2019-08-14 11:40] JamesKindon opened #126 "MCSIO and persistent data"
MCSIO now introduces the ability to have persistent data on MCS provisioned machines since the shift in architecture to that of PVS. https://docs.citrix.com/en-us/citrix-virtual-apps-desktops/install-configure/machine-catalogs-create.html (Under Machine Creation Services (MCS) storage optimization)

We should make this configurable the same as PVS, but need to be aware of
a) the version of the VDA

[2019-08-14 11:45] JamesKindon opened #127 "Personalization is in Active State Override"
As per https://eucweb.com/kba/27190801 this occasionally happens and BIS-F requires changing the key for it to proceed. Can we add an option to automatically change this and re-run the optimization via user input rather than having to go into the registry and change the key manually?

Well aware that this happens due to an underlying issue of some sort, but more often than not it's random and hard

[2019-08-14 11:50] matthias-schlimm commented on #89
@ozzy01 can you grab a copy of https://github.com/EUCweb/BIS-F/blob/BB_develop/Framework/SubCall/Preparation/10_PrepBISF_AV-CylanceProtect.ps1 this is now with CompatibilityMode enabled, currently not controlled via ADMX..

[2019-08-14 12:10] matthias-schlimm commented on #6
included in BB_develop

[2019-08-14 12:10] #6 closed, assigned to matthias-schlimm

[2019-08-14 12:16] matthias-schlimm commented on #127
We can change the MaxExecutionTimeOut via ADMX for this and afterwards the preparation starts automatically. Can this be a option ?

And additional in ADMX to options:

- Change and Continue
- Do not change and wait

[2019-08-14 12:21] matthias-schlimm commented on #126
is there something AppLayering special for MCSIO ?

[2019-08-14 12:22] matthias-schlimm commented on #126
VDA Version is 1903 minimum, but need the exact Build number that is given out from the BrokerAgent.exe

[2019-08-14 12:42] JamesKindon commented on #126
Let me see if can track down a 1903 deployment and get the output
version to you. No idea on app layering - I prefer to pretend it’s not real
:-)

On Wed, 14 Aug 2019 at 10:22 pm, Matthias Schlimm <notifications@github.com>
wrote:

[2019-08-14 12:43] JamesKindon commented on #127
Yep that would work well I think - easier option

On Wed, 14 Aug 2019 at 10:16 pm, Matthias Schlimm <notifications@github.com>
wrote:

[2019-08-14 13:16] matthias-schlimm commented on #118
@toussman can you grab a copy https://github.com/EUCweb/BIS-F/blob/BB_develop/Framework/SubCall/Preparation/10_PrepBISF_Tanium.ps1 and check it please, I have re-written it to the standard BIS-F usage

[2019-08-14 15:22] ozzy01 commented on #89
Perfect Thanks!

[2019-08-14 15:56] matthias-schlimm commented on #89
Possible to send feedback, no chance to test it. It‘s a blind audition for me

[2019-08-14 18:45] matthias-schlimm opened #128 "PVS configuration without Persistent drive"
For HP Moonshot or other Hardware Deployment PVS can be used without PVS WriteCache Disk. This option must be added to the BIS-F ADMX > Citrix > Configure Citrix PVS Target Device Driver and redirection must be disabled for this.

[2019-08-15 05:54] matthias-schlimm commented on #95
In a normal deployment the user who seal the image does not have an office 365 account, for my opinion it's not necessary to do anything here with BIS-F

[2019-08-15 05:54] #95 closed, assigned to nobody

[2019-08-15 06:42] matthias-schlimm commented on #88
@wing2005 merged your script into the existing one, can you grab this single script only and try a test please https://github.com/EUCweb/BIS-F/blob/BB_develop/Framework/SubCall/Preparation/10_PrepBISF_AV-McAfee.ps1

[2019-08-15 08:01] toussman commented on #118
I am on holiday. Will do upon my return on September. Many thanks for
looking into it.

On Wed, 14 Aug 2019, 15:16 Matthias Schlimm, <notifications@github.com>
wrote:

[2019-08-15 14:24] matthias-schlimm commented on #126
my 1903 VDA brokeragent.exe is v7.21.0.22

[2019-08-15 18:45] matthias-schlimm commented on #120
@toussman who does generate the $SylinkDropBat_path = "C:\Apps\SymantecConfig\SylinkDrop.bat" and what is the content of it ?

[2019-08-15 18:53] matthias-schlimm commented on #119
@toussman the following command will run without enter the path ?

sisservicectrl stop sisipsservice
sisservicectrl stop sisidsservice
sisservicectrl stop sisipsutil

[2019-08-15 18:55] matthias-schlimm commented on #102
@JonathanPitre is CCleaner still supported for Win10,Server 2019 ?

[2019-08-15 18:58] matthias-schlimm commented on #101
good point, means new BIS-F relesae will support SDelete v2.02 or newer and pick up the right executable based on OS Architecture

https://docs.microsoft.com/en-us/sysinternals/downloads/sdelete

[2019-08-15 19:10] matthias-schlimm commented on #78
@Siebrandf I'm not using Ivanti RES, so you mean didn't stop the RESWAS Agent during Image sealing. ? Is that enough or some more else ?

[2019-08-15 19:12] toussman commented on #119
Yes, this is how I run this currently.
But it probably is better practice to use the full path.... I can confirm
the path to you in September if you like.

On Thu, 15 Aug 2019, 20:53 Matthias Schlimm, <notifications@github.com>
wrote:

[2019-08-15 19:15] toussman commented on #120
The sylink is generated with the SEP Magement console. It contains the
public key of certificate,  server IP and SEP group the machine belongs to.
Will send you an example in September.

On Thu, 15 Aug 2019, 20:45 Matthias Schlimm, <notifications@github.com>
wrote:

[2019-08-16 00:04] musklor commented on #60
https://support.symantec.com/us/en/article.TECH210170.html
https://support.symantec.com/us/en/article.TECH91070.html
https://support.symantec.com/fr/fr/article.TECH180229.html

[2019-08-16 07:04] matthias-schlimm opened #129 "PVS Hydration Personalization stage"
From @Trentent submitted:

See attached for hydration for PVS systems.  Written with the Citrix document as a guide, I've also included additions to the GPO for configuring some hydration options (which paths, file extensions).

[HydratePVS.zip](https://github.com/EUCweb/BIS-F/files/3508435/HydratePVS.zip)

[2019-08-16 07:07] matthias-schlimm commented on #119
sounds good

[2019-08-16 07:07] matthias-schlimm commented on #120
sounds good

[2019-08-16 07:36] matthias-schlimm opened #130 "ADMX Review"
Before I distribute the official Release, necessary tho have a complete review of the ADMX:

- [ ] Messagboxes are removed https://github.com/EUCweb/BIS-F/issues/3
- [ ] Peronalization as descibed in https://github.com/EUCweb/BIS-F/issues/125
- [ ] Better descriptioninside ADMX
- [ ] fix typos

[2019-08-16 07:58] matthias-schlimm commented on #107
@Trentent integrated now into BB_develop Branch

[2019-08-16 07:58] #107 closed, assigned to matthias-schlimm

[2019-08-16 09:56] Siebrandf commented on #78
Matthias,

The issue is that currently when an RES One Automation agent is found, it removes all these entries like CachedDispatchers and CommunicationID etc, and it sets the Prepered4Image. I now commented out lines 130-174 from the 10_PrepBISF_RES.ps1. Basically what I want is an extra option that make me choose if I want the Image preperation section to run or not. If not, it should just skip t

[2019-08-16 10:30] EUCweb commented on #78
Ok, thanks for the update. I will added an option to the ADMX as you describe.

[2019-08-16 10:32] Siebrandf commented on #78
Awesome!

[2019-08-16 10:49] EUCweb commented on #78
New Release is planned end of year 7 1912

[2019-08-16 10:57] EUCweb commented on #78
Can you upload here your modified script as a txt file please

[2019-08-16 11:33] Siebrandf commented on #78
[10_PrepBISF_RES.txt](https://github.com/EUCweb/BIS-F/files/3509403/10_PrepBISF_RES.txt)

[2019-08-17 18:36] matthias-schlimm commented on #78
@Siebrandf it looks like this

![2019-08-17_20-35-14](https://user-images.githubusercontent.com/34108484/63215987-a73d9c80-c12e-11e9-9187-6fa02d676f31.jpg)

[2019-08-17 18:56] matthias-schlimm commented on #78
it's now included in BB_develop branch, coding also done in https://github.com/EUCweb/BIS-F/blob/BB_develop/Framework/SubCall/Preparation/10_PrepBISF_RES.ps1 starting in Line 133

[2019-08-17 19:16] matthias-schlimm commented on #125
@xenadmin fixed and will be published with Bugs Bunny Release first 7 1912

![2019-08-17_21-14-13](https://user-images.githubusercontent.com/34108484/63216352-271a3580-c134-11e9-932d-5dca7d7a7540.jpg)

[2019-08-17 19:16] #125 closed, assigned to matthias-schlimm

[2019-08-17 19:19] #78 closed, assigned to matthias-schlimm

[2019-08-17 19:51] matthias-schlimm commented on #54
created in BB_develop branch

![2019-08-17_21-50-21](https://user-images.githubusercontent.com/34108484/63216678-11f3d580-c139-11e9-97b2-6d44211dcd94.jpg)

[2019-08-17 19:51] #54 closed, assigned to matthias-schlimm

[2019-08-17 19:53] #3 closed, assigned to matthias-schlimm

[2019-08-18 12:28] matthias-schlimm commented on #101
included in BB_develop and as a minimum version v2.02 or newer

[2019-08-18 12:28] #101 closed, assigned to JonathanPitre

[2019-08-18 12:49] matthias-schlimm commented on #129
included now in BB_develop branch

[2019-08-18 12:49] #129 closed, assigned to matthias-schlimm

[2019-08-18 18:49] gangsterrapper22 opened #131 "Computer not shutdown after VHDX Capture"
**Describe the bug**
I have run the BIS-F Script on a Windows Server 2016 and after the VHDX has finished capture, then the VM isn't Shutdown but it is configured in the GPO. See this also in the attached Screenshot.
![gpo](https://user-images.githubusercontent.com/26838368/63228805-f5b76d80-c1f8-11e9-9898-76de65038551.PNG) The last Line I see in the Log is "INFORMATION... | Processing function Sh

[2019-08-18 19:01] matthias-schlimm commented on #131
Did you start BIS-F sealing from a SCCM or MDT tasksequence ?

and check this one please: Delete that value "DirtyShutdown" from HKLM\Software\Microsoft\Windows\CurrentVersion\Reliability

Will fixed in next BIS-F release

Please also upload here the BIS-F preparation log

[2019-08-18 19:03] matthias-schlimm commented on #131
The shutdown is supressed if BIS-F sealing is triggered from SCCM or mdt tasksequence

[2019-08-18 19:06] gangsterrapper22 commented on #131
I started the Script manually with the local Administrator Account after the OSD was done. I don't have it in the SCCM Task Sequence itself that it should run. The SCCM Client is installed on this Machine. I will check the Reg Key tomorrow.
I have uploaded also the Log for you.
[Prep_BIS_20190818-164657.txt](https://github.com/EUCweb/BIS-F/files/3513444/Prep_BIS_20190818-164657.txt)

[2019-08-18 19:16] matthias-schlimm commented on #131
Please send the C:\ProgramData\Citrix\ImagingWizard\ImagingWizard.log

[2019-08-18 19:17] matthias-schlimm commented on #131
The script runs not to the end, hopefully we see more in the ImagingWizard.log

[2019-08-18 19:17] gangsterrapper22 commented on #131
I have attached it. Thanks.
[ImagingWizard.log](https://github.com/EUCweb/BIS-F/files/3513459/ImagingWizard.log)

[2019-08-18 19:21] matthias-schlimm commented on #131
Can you create a new vDIsk on the PVS, attach this to the Image and Boot it from Hard Disk, reconfigure BIS-F without UNC path an Start the sealing again

 I‘m on the road now for the next 3 hours, will see your response Tomorrow,

[2019-08-18 19:21] matthias-schlimm commented on #131
That’s to less inside the log

[2019-08-18 19:22] gangsterrapper22 commented on #131
I will try it tomorrow again and let you know then. Thanks for your help so far.
Can you tell me what do you mean with without UNC Path?

[2019-08-19 18:12] matthias-schlimm opened #132 "Detect WVD Multi User"
During BIS-F Sealing, it's necassary to detect WVD Multi User for BIS-F System Management and not run sysprep.

Need Powershell command to see the difference characteristics

[2019-08-19 19:18] matthias-schlimm commented on #8
[05_AHSCustom_VMWareTCPIPOptimizations.ps1.zip](https://github.com/EUCweb/BIS-F/files/3517313/05_AHSCustom_VMWareTCPIPOptimizations.ps1.zip)

[2019-08-19 19:29] matthias-schlimm commented on #8
integrated into BB_develop, script is processing during preparation 05_PrepBISF_VMWareTCPIPOptimizations.ps1

[2019-08-19 19:29] #8 closed, assigned to Trentent, matthias-schlimm

[2019-08-19 21:04] gangsterrapper22 commented on #131
I created now a new vDisk and let the VM Boot from it via Hard Disk. From the GPO I removed now the UNC Path. After this the Script ran without issues and has shutdown the VM after it was finished. When I logon, I get also no warning anymore, that the Server was shutdown unexpectedly. I will close the issue then.
Thanks for your help.

[2019-08-19 21:04] #131 closed, assigned to nobody

[2019-08-20 20:21] matthias-schlimm commented on #132
AppServerClient --> Enabled is only on multiuser WVD

![image](https://user-images.githubusercontent.com/34108484/63381439-f981f600-c398-11e9-9a09-c394a3c0b9f7.png)

[2019-08-20 20:33] matthias-schlimm commented on #132
[code]

[2019-08-21 15:05] thomaskrampe commented on #132
There is also a RDAgentBootLoader and a RDAgent service running on a WVD machine.

[2019-08-22 16:39] wing2005 commented on #88
hello,
found on typo:
line 291 - should be Start-DefUpdates

working like a charm!!
thenks!
[image: image.png]
Sincerely,
Itamar Glick
MCSE 2003, MCSE+MESSAGING, MCP
itamargl@gmail.com

On Thu, Aug 15, 2019 at 9:42 AM Matthias Schlimm <notifications@github.com>
wrote:

[2019-08-22 17:32] matthias-schlimm commented on #88
fixed, thanks

will close this issue now

[2019-08-22 17:32] #88 closed, assigned to matthias-schlimm

[2019-08-22 17:37] matthias-schlimm commented on #132
(Get-WMIObject Win32_OperatingSystem).Name = "Microsoft Windows 10 Enterprise for Virtual Desktops"

[2019-08-25 06:55] matthias-schlimm commented on #132
included in BB_devlop branch now

[2019-08-25 06:56] #132 closed, assigned to matthias-schlimm

[2019-08-25 07:19] matthias-schlimm commented on #128
included in BB_develop

[2019-08-25 07:19] #128 closed, assigned to matthias-schlimm

[2019-08-25 07:30] matthias-schlimm opened #133 "Removing Disable scheduled Task"
This is no longer required from BIS-F, possible to focus on Citrix Optimizer or VMware OS Optimization Tool

[2019-08-25 07:30] matthias-schlimm opened #134 "Removing Disable Cortana"
This is no longer required from BIS-F, possible to focus on Citrix Optimizer or VMware OS Optimization Tool

[2019-08-25 07:33] matthias-schlimm commented on #134
included in BB_develop

[2019-08-25 07:33] #134 closed, assigned to matthias-schlimm

[2019-08-25 07:36] matthias-schlimm commented on #133
included in BB_develop

[2019-08-25 07:36] #133 closed, assigned to matthias-schlimm

[2019-08-25 07:48] matthias-schlimm commented on #85
Policy like this

![BISF-TS-Logredirection](https://user-images.githubusercontent.com/34108484/63647168-6d1b5e80-c71d-11e9-9551-15eff23d5caa.png)

[2019-08-25 07:56] matthias-schlimm commented on #85
inlcuded in BB_develop

[2019-08-25 07:56] #85 closed, assigned to matthias-schlimm

[2019-08-25 07:57] matthias-schlimm commented on #35
This will not be included in BIS-F, we will use the own logs only

[2019-08-25 07:57] #35 closed, assigned to nobody

[2019-08-25 07:59] matthias-schlimm commented on #67
I will add a option to BIS-F admx to select the count of partitions

[2019-08-25 08:01] matthias-schlimm commented on #67
will discuss this further here https://github.com/EUCweb/BIS-F/issues/21

[2019-08-25 08:01] #67 closed, assigned to matthias-schlimm

[2019-08-25 08:01] matthias-schlimm commented on #21
I will add a option to BIS-F admx to select the count of partitions

[2019-08-25 08:39] matthias-schlimm commented on #21
included in BB_develop

![BISF-PVSconfig](https://user-images.githubusercontent.com/34108484/63647634-84117f00-c724-11e9-810f-26c1bd31975e.png)

[2019-08-25 08:39] #21 closed, assigned to matthias-schlimm

[2019-08-25 09:11] matthias-schlimm commented on #126
`IF ($BrokerVersion -ge "7.21"){
				$Global:MCSIO = $true
				Write-BISFLog "BrokerAgent version is $BrokerVersion or greater, support for MCS IO and persistent disk can be used"
			} ELSE {
				$Global:MCSIO = $false
				Write-BISFLog "BrokerAgent version is $BrokerVersion. NO support for MCS IO and persistent disk !!"
			}`

[2019-08-25 09:11] matthias-schlimm commented on #126
use Global variable $MCSIO to use redirection

[2019-08-29 13:59] ozzy01 commented on #46
Sweet. Yea, this will be beneficial for sure. To have it really just 'do nothing' if disabled or whatever. Glad it is in Bugs

[2019-08-29 19:38] matthias-schlimm commented on #46
looks like this

![BISF-PVSconfig1](https://user-images.githubusercontent.com/34108484/63970810-553d3500-caa5-11e9-8c57-34d7e2459668.png)

[2019-09-04 17:34] matthias-schlimm commented on #9
BIS-F can use the script from this BLOG during startup https://www.citrix.com/blogs/2017/12/12/password-wars-randomizing-local-admin-passwords-in-non-persistent-environments/

[2019-09-04 17:34] matthias-schlimm commented on #9
BIS-F can use the script from this BLOG during startup https://www.citrix.com/blogs/2017/12/12/password-wars-randomizing-local-admin-passwords-in-non-persistent-environments/

[2019-09-12 06:01] BrianRiegels-Morgan opened #135 "Windows Server 2016 Modern Apps per user firewall rules"
This is a feature request for the BIS-F image sealing script in relation to the modern apps firewall rules that are created on Windows Server 2016 when a user logs in to the server.  If the script can be updated to remove the user based rules that accumulate on Citrix servers it would be really appreciated.  I've included details of the issue in a blog written by Insentra in Aus. https://www.insen

[2019-09-12 18:41] matthias-schlimm commented on #135
Thanks Brian, is this more for Citrix Optimizer instead BIS-F. The UWP are removed from Citrix Optimizer, why not the rules too ?

[2019-09-12 19:09] martinzugec-ctx commented on #135
@BrianRiegels-Morgan Can you please report this also using https://bit.ly/CitrixOptimizerFeedback? I would like to track this internally, thanks!

[2019-09-12 23:22] BrianRiegels-Morgan commented on #135
Hi Martin,
Happy to put the request in.  WIll do it later today.
Ta,
Brian Riegels-Morgan      Consultant
Professional Services
Phone: +61 431 984 764  Email: brian.riegels-morgan@insentragroup.com
[https://i.xink.io/Images/Get/I2235/i81.png]<www.insentragroup.com>     [https://i.xink.io/Images/Get/I2235/t9.png] <https://twitter.com/Insentra?lang=en>   [https://i.xink.io/Images/Get/I2235/l7.png] <

[2019-09-12 23:23] BrianRiegels-Morgan commented on #135
Hi Matthias,
Happy to drop the request over to Martin.
Ta
Brian Riegels-Morgan      Consultant
Professional Services
Phone: +61 431 984 764  Email: brian.riegels-morgan@insentragroup.com
[https://i.xink.io/Images/Get/I2235/i81.png]<www.insentragroup.com>     [https://i.xink.io/Images/Get/I2235/t9.png] <https://twitter.com/Insentra?lang=en>   [https://i.xink.io/Images/Get/I2235/l7.png] <https://www

[2019-09-13 18:13] martinzugec commented on #135
I had a look at this behavior and this is what I see (Windows 10 build 1903).

Some UWP apps will create per-user rules, on default system it means that 9 firewall rules are being created for each new profile.

After Citrix Optimizer is used to remove UWP apps, no new rules are created for applications that have been removed - this however includes only 2 apps, 'Mail and Calendar' and "Microsoft P

[2019-09-16 17:38] matthias-schlimm opened #136 "PVS - Private Image with Asynchronous IO"
BISF.psm1 Function Get-DiskMode must be changed from

**before:**
if ($WriteCacheMode -eq "0") {

**after:**
if (($WriteCacheMode -eq "0") -or ($WriteCacheMode -eq "10")) {

 **_Note:_**
0 = Private Image
10 = Private Image with Asynchronous IO

[2019-09-18 16:05] matthias-schlimm opened #137 "TrendMicro OfficeScan wrong GUID"
Topic is the capitalization of the agent GUID generated by BISF.
The MAC address is used to generate the GUID. Contains the MAC address letters are used as capitalization.

As a result, the OfficeScan client logs in with a GUID that contains uppercase letters.
From then on, the client can no longer be moved between configuration groups in the OfficeScan Admin GUI.

**Following workaround in 10_Per

[2019-09-18 16:36] matthias-schlimm commented on #137
will fixed in Get-MacAddress function / BISF.psm1

$mac = ($mac -replace "$Delimiter", "").toLower()

[2019-09-18 16:38] matthias-schlimm commented on #137
fixed in _https://github.com/EUCweb/BIS-F/blob/BB_develop/Framework/SubCall/Global/BISF.psm1_ line 2411

[2019-09-18 16:38] #137 closed, assigned to matthias-schlimm

[2019-09-20 09:22] matthias-schlimm opened #138 "uberAgent Service Control"
as discussed, the uberAgent service should not be touched, if you manually disable the service on the master image. I´ve tested the manually workarround successfully by
commenting out the line at which the service is stopped and then set to automatic

[2019-09-20 18:44] matthias-schlimm commented on #136
fixed in https://github.com/EUCweb/BIS-F/blob/BB_develop/Framework/SubCall/Global/BISF.psm1

[2019-09-20 18:44] #136 closed, assigned to matthias-schlimm

[2019-09-20 18:44] #89 closed, assigned to matthias-schlimm

[2019-09-20 18:46] #99 closed, assigned to matthias-schlimm

[2019-09-20 19:13] matthias-schlimm commented on #36
**Export to File like this:**
[Reg.json.txt](https://github.com/EUCweb/BIS-F/files/3637395/Reg.json.txt)

Default Export is set to JSON

Import using JSON with Fallback to XML if exist

[2019-09-21 05:26] #36 closed, assigned to nobody

[2019-09-21 05:27] matthias-schlimm commented on #36
[BISFconfig_MicrosoftWindows10Pro_64-Bit.json.txt](https://github.com/EUCweb/BIS-F/files/3638344/BISFconfig_MicrosoftWindows10Pro_64-Bit.json.txt)
[BISFSharedConfig.json.txt](https://github.com/EUCweb/BIS-F/files/3638345/BISFSharedConfig.json.txt)

[2019-09-21 05:41] matthias-schlimm commented on #93
need the servicenames first, to detect the installation of cloudconnector

[2019-09-21 06:22] matthias-schlimm commented on #9
![LAPS](https://user-images.githubusercontent.com/34108484/65369066-e89efb80-dc48-11e9-97ae-f7a18f9b6a47.JPG)

[2019-09-21 06:23] matthias-schlimm commented on #9
added ADMX with LAPS support and trigger script https://github.com/EUCweb/BIS-F/blob/BB_develop/Framework/SubCall/Personalization/01_PersBISF_MS.ps1

[2019-09-21 06:23] #9 closed, assigned to matthias-schlimm

[2019-09-21 07:14] matthias-schlimm commented on #127
A first draft of the new GPO @JamesKindon

![ActiveStateOverride](https://user-images.githubusercontent.com/34108484/65369665-4125c700-dc50-11e9-8b69-235e83de04d3.JPG)

![ActiveStateOverride](https://user-images.githubusercontent.com/34108484/65369680-77634680-dc50-11e9-91af-3ae0029c5ee7.JPG)

[2019-09-21 07:21] matthias-schlimm commented on #127
_LIC_BISF_CLI_PersonalizationOverride_  (DWORD)
1 = Do not change and wait
2 = Change and continue

_LIC_BISF_CLI_PersonalizationOverrideTimeOut_  (DWORD)

[2019-09-21 07:21] matthias-schlimm commented on #127
ADMX finished, coding not yet

[2019-09-21 09:06] matthias-schlimm commented on #127
Coding and ADMX done
https://github.com/EUCweb/BIS-F/blob/BB_develop/Framework/PrepBISF_Start.ps1
https://github.com/EUCweb/BIS-F/blob/BB_develop/Framework/PersBISF_Start.ps1

[2019-09-21 09:06] #127 closed, assigned to matthias-schlimm

[2019-09-21 09:08] #118 closed, assigned to matthias-schlimm

[2019-09-21 11:01] matthias-schlimm commented on #126
**GPO:**
![MCSIO](https://user-images.githubusercontent.com/34108484/65372377-c66ca400-dc6f-11e9-92c5-ecbf5553ab08.JPG)

LIC_BISF_POL_MCSCfg | REG_SZ | YES, NO | IF Policy is enabled Registry   Data is set to YES, if disabled set to NO; otherwise not exist.

LIC_BISF_CLI_MCSCfg | DWORD | 1 | If Policy is enabled Registry   Data is set to 1, otherwise it not exist
LIC_BISF_CLI_MCSIODriveLetter | RE

[2019-09-25 11:53] citrixguyblog opened #139 "Citrix WEM 1909 - Agent is not detected"
With Citrix WEM 1909 the service name changed (new installation) and is not detected by BIS-F anymore.
- No WEM Cache will get redirected
- When working with MCS/PVS the Targets are not capable of refreshing the cache

Script: 90_PrepBISF_CTX.ps1
Line: 249

#Citrix Workspace Environment Management Agent
	function Set-WEMAgent {
		$product = "Citrix Workspace Environment Management (WEM) Agent"

[2019-09-25 12:02] citrixguyblog commented on #139
Here is the modification for the Personalisation:

Script: 02_PersBISF_CTX.ps1
Line: 145

	#Citrix Workspace Environment Management Agent
    $product ="Citrix Workspace Environment Management (WEM) Agent"
    $services = "Norskale Agent Host Service", "Citrix WEM Agent Host Service"

    foreach ($service in $services)
     {
       $svc = Test-BISFService -ServiceName "$service" -ProductName "$p

[2019-09-25 12:20] matthias-schlimm commented on #139
thanks Julian, if you aware with Github pull request are welcome too and easier to handle :-)

[2019-09-25 12:23] citrixguyblog commented on #139
Going to install a new master when I find some free time and verify if everything is working as expected.
After this I will try to do a pull request. See you tomorrow @VCBAWUE

[2019-09-25 12:24] matthias-schlimm opened #140 "FSLogix CleanUp redirected Cache"
With FSLogix you can redirect the CloudCache to the persistent drive and cleanup on userlogoff. this still works, but the empty Folder still exists on the persistent drive.

![FSlogixCache](https://user-images.githubusercontent.com/34108484/65600234-0a2d1980-dfa0-11e9-9dd5-f0b36c5cd3de.PNG)

During personalization it's possible to remove all Folders in the Cachefolder

[2019-09-25 12:31] matthias-schlimm commented on #140
The configured Value can be get from the Registry

![FSlogixCache](https://user-images.githubusercontent.com/34108484/65600831-32694800-dfa1-11e9-8554-547b59d2f297.PNG)

Path :HKLM:\SYSTEM\CurrentControlSet\Services\frxccd\Parameters
Value: CacheDirectory

[2019-09-25 12:35] matthias-schlimm commented on #140
Path: HKLM: E\SYSTEM\CurrentControlSet\Services\frxccds\Parameters
Value: WriteCacheDirectory

![FSlogixCache](https://user-images.githubusercontent.com/34108484/65601096-b9b6bb80-dfa1-11e9-8a7d-5dff616a10d4.PNG)

[2019-09-25 12:37] matthias-schlimm commented on #140
The ProxyConfiguration must be checked too, the VHDX is stored there

![FSlogixProxyCache](https://user-images.githubusercontent.com/34108484/65612042-f55a8100-dfb3-11e9-8719-15dbf698cae5.JPG)

[2019-09-25 12:50] matthias-schlimm commented on #140
Check all of this Directories and cleanup on personaliation if the drive is different from OSdrive

Path :HKLM:\SYSTEM\CurrentControlSet\Services\frxccd\Parameters
Value: CacheDirectory
Value: ProxyDirectory
Value: WriteCacheDirectory

[2019-09-25 14:55] chezzer64 commented on #139
I've also come across this issue and was going to suggest the relevant code update to support both old and new WEM Agent Service names.  Looking at the proposed code fix, I'd recommend using the service name rather than display name i.e. WemAgentSvc rather than "Citrix WEM Agent Host Service".

Also, I've noticed that when using the the Citrix Cloud WEM Service, the WEM Agent uses reg key "HKLM:\S

[2019-09-25 15:40] matthias-schlimm commented on #139
If anyone has the coding finished, send a PR. We can working together on this 👍

Am 25.09.2019 um 16:55 schrieb chezzer64 <notifications@github.com>:

[2019-09-26 07:32] citrixguyblog commented on #139
@chezzer64: Can you send me your e-mail address? Implemented your suggestion with the service name and the CloudConnectorList.

[2019-09-26 12:52] chezzer64 commented on #139
@citrixguyblog - you can reach me at chezzer64.github @ outlook.com

[2019-09-30 04:07] JamesKindon opened #141 "FSLogix App Masking URL Rule Files are missing from FSLogix Personalisation"
Currently we cover FRX and FXA files, however URL rulesets are XML based. Can we please add to the BIS-F FSLogix Module
https://docs.microsoft.com/en-us/fslogix/java-version-control-rules-ht

[2019-10-02 05:17] citrixguyblog commented on #139
Here is the updated script code.
[02_PersBISF_CTX_wem1909.txt](https://github.com/EUCweb/BIS-F/files/3679591/02_PersBISF_CTX_wem1909.txt)
[90_PrepBISF_CTX_wem1909.txt](https://github.com/EUCweb/BIS-F/files/3679592/90_PrepBISF_CTX_wem1909.txt)

Thanks @chezzer64 for doing some changes and final testing.

[2019-10-03 08:04] matthias-schlimm commented on #126
must be tested now

[2019-10-03 08:04] #126 closed, assigned to matthias-schlimm

[2019-10-03 08:13] matthias-schlimm commented on #84
Here is the script **Detect Windows Azure Virtual Machine** to be added to the central functions
[Confirm-AzureVM.txt](https://github.com/EUCweb/BIS-F/files/3685051/Confirm-AzureVM.txt)

[2019-10-03 08:32] matthias-schlimm commented on #84
ENH 84 - Azure Activation for all Office 365 users and during personlization Displays the device join status

[2019-10-03 08:32] #84 closed, assigned to matthias-schlimm

[2019-10-03 08:34] matthias-schlimm commented on #119
@toussman any update on this ?

[2019-10-03 08:35] matthias-schlimm commented on #120
@toussman any update on this ?

[2019-10-03 08:42] matthias-schlimm commented on #141
MS: ENH 141 - Add FSLogix App Masking URL Rule Files for personalization

`$FSXfiles2Copy = @("*.fxr", "*.fxa", "*.xml")`

[2019-10-03 08:42] #141 closed, assigned to matthias-schlimm

[2019-10-03 09:03] matthias-schlimm commented on #140
ENH 140 - cleanup redirected CloudCache empty directories on startup

[2019-10-03 09:03] #140 closed, assigned to matthias-schlimm

[2019-10-03 09:08] matthias-schlimm commented on #138
HF 138 - UberAgent - din't change the startuptype to automatic

[2019-10-03 09:08] #138 closed, assigned to matthias-schlimm

[2019-10-03 09:34] matthias-schlimm commented on #139
@citrixguyblog @chezzer64  included now in Bugs Bunny Release

[2019-10-03 09:40] matthias-schlimm commented on #11
![BISF-WEM-ADMX](https://user-images.githubusercontent.com/34108484/66115970-37964a80-e5d2-11e9-9666-3862a244ac00.JPG)

LIC_BISF_CLI_WEMCfg set to Yes if policy is configured
LIC_BISF_CLI_WEMCache set to 1 if redirection is enabled
LIC_BISF_CLI_WEMFolder = "WEMCache"
LIC_BISF_CLI_WEMb = 1 (Enable custom WEMCache folder name)

Must be modified for MCSIO as well

[2019-10-03 09:42] matthias-schlimm commented on #139
Please note this **ADMX extension: Configure WEM Cache to persistent drive** https://github.com/EUCweb/BIS-F/issues/11 must be done as well

[2019-10-03 09:42] #139 closed, assigned to matthias-schlimm

[2019-10-03 10:02] matthias-schlimm commented on #102
Done in BB_develop

[2019-10-03 10:02] #102 closed, assigned to JonathanPitre

[2019-10-03 13:11] matthias-schlimm commented on #28
BISF.psm1 new function Get-Space and check inside of BISF.ps1

https://github.com/EUCweb/BIS-F/tree/BB_develop

[2019-10-03 14:57] #28 closed, assigned to matthias-schlimm

[2019-10-03 15:24] matthias-schlimm commented on #51
Policy updated
![BISF-AVScan](https://user-images.githubusercontent.com/34108484/66140453-6fb58180-e602-11e9-8b68-41ae248fdf43.JPG)

LIC_BISF_CLI_AV_VIE_CusScanArgsb | DWORD | 1 | If CheckBox is enabled, registry   Data is set to 1, otherwise not exist

LIC_BISF_CLI_AV_VIE_CusScanArgs | REG_SZ |   | Enter the custom arguments to   run a Scan

**All AV Scripts must be updated now:**

- [ ] 10_PrepB

[2019-10-03 15:51] #51 closed, assigned to matthias-schlimm

[2019-10-03 16:03] matthias-schlimm commented on #94
![BISF-Sysprep](https://user-images.githubusercontent.com/34108484/66143781-08023500-e608-11e9-9438-70524e7e7f9d.JPG)

LIC_BISF_CLI_SP_CusArgsb | DWORD | 1 | If CheckBox is enabled, registry   Data is set to 1, otherwise not exist
LIC_BISF_CLI_SP_CusArgs | REG_SZ |   | Enter the custom arguments tfor   sysprerp

[2019-10-03 16:07] #94 closed, assigned to nobody

[2019-10-03 16:22] matthias-schlimm commented on #65
![BISF-CTXOE](https://user-images.githubusercontent.com/34108484/66145485-39c8cb00-e60b-11e9-874d-6c66eace5541.JPG)

LIC_BISF_CLI_CTXOE_LogDelete | DWORD | 1 | If CheckBox is enabled, registry   Data is set to 1, otherwise not exist

[2019-10-03 16:30] #65 closed, assigned to matthias-schlimm

[2019-10-04 10:51] toussman commented on #120
Hi Matthias,

Sorry for the delay.

Here is the information requested.
[SylinkDrop.pdf](https://github.com/EUCweb/BIS-F/files/3695675/SylinkDrop.pdf)

If you have further questions let me know.

Thanks,
Manuel

On Thu, 3 Oct 2019 at 10:35, Matthias Schlimm <notifications@github.com>
wrote:

[2019-10-04 10:59] toussman commented on #119
Hi Matthias,

Here is the info you asked for.
[DCSA - sisservicectrl.pdf](https://github.com/EUCweb/BIS-F/files/3695679/DCSA.-.sisservicectrl.pdf)

As you can see, at install time Symantec DCSA adds the bin directory to
the system PATH variable.

Anyway full path is also included in the attached PDF file.

Thanks,
Manuel

On Thu, 3 Oct 2019 at 10:34, Matthias Schlimm <notifications@github.com>
wro

[2019-10-04 17:57] matthias-schlimm commented on #120
No additional content in your last mail ?

[2019-10-04 17:58] matthias-schlimm commented on #119
No additional content in your last mail, i think you must upload the file directly in github here and not send it as an attachment through the e-mail

[2019-10-04 20:13] matthias-schlimm commented on #11
ENH 11 ADMX extension: Configure WEM Cache to persistent drive (PVS and MCSIO)

[2019-10-04 20:13] #11 closed, assigned to matthias-schlimm

[2019-10-05 06:44] matthias-schlimm commented on #12
![BISF-sdelete](https://user-images.githubusercontent.com/34108484/66251394-f7f56d00-e74f-11e9-8348-f5d7897c52f4.JPG)

Variable | Type | Value | description
-- | -- | -- | --
LIC_BISF_CLI_SD_runBI | DWORD | 1 | If CheckBox is enabled, registry   Data is set to 1, otherwise not exist
LIC_BISF_CLI_SD_runPVSCacheDisk | DWORD | 1 | If CheckBox is enabled, registry   Data is set to 1, otherwise not exi

[2019-10-05 08:12] matthias-schlimm commented on #12
LIC_BISF_SDeleteRun is no longer needed

[2019-10-05 09:11] matthias-schlimm commented on #12
05.10.2019 MS: ENH 12 - Configure sDelete for different environments

[2019-10-05 09:11] #12 closed, assigned to matthias-schlimm

[2019-10-05 09:15] matthias-schlimm commented on #43
Services and scheduled Tasks are out of scope from BIS-F, check out https://github.com/EUCweb/BIS-F/issues/133

[2019-10-05 09:17] matthias-schlimm commented on #43
It can be done during startup with 99_PersBISF_StartUp.ps1

[2019-10-05 09:35] matthias-schlimm commented on #43
05.10.2019 MS: ENH 43 - sihclient.exe consumes CPU load with disabled WSUS Service (function invoke-sihTask) in 99_PersBISF_StartUp.ps1

[2019-10-05 09:35] #43 closed, assigned to nobody

[2019-10-05 09:43] matthias-schlimm opened #142 "Remove DirtyShutdown Flag"
What can it be when i seal my master image with bisf and the imaging wizard makes all ok that i get than on the vdisk the windows prompt that system is shutdown not correct?

Delete that value "DirtyShutdown" from HKLM\Software\Microsoft\Windows\CurrentVersion\Reliability

[2019-10-05 09:48] #142 closed, assigned to matthias-schlimm

[2019-10-05 09:55] #30 closed, assigned to matthias-schlimm

[2019-10-05 10:03] matthias-schlimm commented on #69
fixed in https://github.com/EUCweb/BIS-F/blob/BB_develop/Framework/SubCall/Preparation/80_PrepBISF_WriteCacheDisk.ps1

[2019-10-05 10:03] #69 closed, assigned to matthias-schlimm

[2019-10-05 10:11] matthias-schlimm commented on #77
Fixed in https://github.com/EUCweb/BIS-F/blob/BB_develop/Framework/SubCall/Preparation/97_PrepBISF_PRE_BaseImage.ps1

[2019-10-05 10:11] #77 closed, assigned to matthias-schlimm

[2019-10-05 10:12] #109 closed, assigned to matthias-schlimm

[2019-10-05 10:30] matthias-schlimm commented on #16
![BISF-NVIDIA](https://user-images.githubusercontent.com/34108484/66253624-e5892c80-e76b-11e9-8620-245b02605750.JPG)

LIC_BISF_CLI_VDA_NVDIAGRID | DWORD | 1 | If CheckBox is enabled, registry   Data is set to 1, otherwise not exist

[2019-10-05 11:06] matthias-schlimm opened #143 "Add Intel Graphics Support"
You can install the Intel graphics drivers before installing the VDA. The following step is required if you install Intel drivers after you install a VDA with HDX 3D Pro. The step is also required if the Intel driver has been updated.
To enable the Intel drivers required for multi-monitor support, run the following command using the IntelVirtualDisplayTool.exe, then restart the VDA: IntelVirtualDi

[2019-10-05 11:07] matthias-schlimm commented on #143
![BISF-Intel](https://user-images.githubusercontent.com/34108484/66254033-fee0a780-e770-11e9-914a-089e59f2d91b.JPG)

LIC_BISF_CLI_VDA_INTELGRFX | DWORD | 1 | If CheckBox is enabled, registry   Data is set to 1, otherwise not exist

[2019-10-05 11:16] matthias-schlimm commented on #16
https://github.com/EUCweb/BIS-F/blob/BB_develop/Framework/SubCall/Preparation/97_PrepBISF_PRE_BaseImage.ps1

[2019-10-05 11:16] #16 closed, assigned to matthias-schlimm

[2019-10-05 11:16] matthias-schlimm commented on #143
https://github.com/EUCweb/BIS-F/blob/BB_develop/Framework/SubCall/Preparation/97_PrepBISF_PRE_BaseImage.ps1

[2019-10-05 11:17] #143 closed, assigned to matthias-schlimm

[2019-10-05 11:38] matthias-schlimm commented on #22
For further anlaysis implement the function into Relase 7 1912 but for the dynmic detection only. No Action behind at the moment

[2019-10-05 12:48] matthias-schlimm commented on #22
05.10.2019 MS: ENH 22 - Get DiskID's of the system - for monitoring only ->  for later use to fix 'Endless Reboot with VMware Paravirtual SCSI disk'

Function Get-CacheDiskID in BISF.psm1 and call the Function in BISF.ps1

[2019-10-05 12:57] matthias-schlimm opened #144 "ADMX: Enable Powershell Transcript"
For Further Debugging it's possible to have the Transcript in place

[2019-10-05 13:14] matthias-schlimm commented on #144
![BISF-WPT](https://user-images.githubusercontent.com/34108484/66255360-c77af680-e782-11e9-8866-5b13f9fa1b74.JPG)

LIC_BISF_CLI_LOG_WPT | DWORD | 1 | If CheckBox is enabled, registry   Data is set to 1, otherwise not exist

Enable Windows Powershell Transcript:
For more debugging e Windows Powershell Transcript is created. This will created in C:\Windows\Logs every time and the configured of the L

[2019-10-05 15:47] #144 closed, assigned to matthias-schlimm

[2019-10-05 19:11] matthias-schlimm commented on #52
Export is finished, check Export-Registry function and BISF.ps1 too

Coding for import not yet

[2019-10-06 07:46] matthias-schlimm commented on #52
![BISF-AppLayering-Export](https://user-images.githubusercontent.com/34108484/66265895-fdb98400-e81d-11e9-99a4-a47a8586e331.JPG)

Depending on the ADMX configuration the above menu is dynamically created and shows you the Layer to be exported from the current configuration

![BISF-AppLayering_ADMX](https://user-images.githubusercontent.com/34108484/66265907-19bd2580-e81e-11e9-9220-59d7602e2040.JPG

[2019-10-06 07:48] matthias-schlimm commented on #52
During Import BIS-F gets the AppLayer with automatic Fallback to the OS configuration

![BISF-AppLayering-Import](https://user-images.githubusercontent.com/34108484/66265929-73bdeb00-e81e-11e9-8bcb-758b334fde20.JPG)

[2019-10-06 07:50] #52 closed, assigned to matthias-schlimm

[2019-10-06 08:02] matthias-schlimm opened #145 "ADMX: Disable Redirection for Citrix PVS Target"
ADMX Extension to disable Redirection, same as for MCSIO

[2019-10-06 08:08] matthias-schlimm commented on #145
![BISF-PVSconfig](https://user-images.githubusercontent.com/34108484/66266146-40c92680-e821-11e9-8e31-685b62c0a29b.png)

LIC_BISF_CLI_PVSDisableRedirection | DWORD | 1 | If CheckBox is enabled, registry   Data is set to 1, otherwise not exist
-- | -- | -- | --

[2019-10-06 08:09] matthias-schlimm commented on #145
ADMX finished, coding not yet

[2019-10-07 05:49] toussman commented on #120
Just edited my previous response and uploaded the pdf.
Thanks

On Fri, 4 Oct 2019 at 19:57, Matthias Schlimm <notifications@github.com>
wrote:

[2019-10-07 05:49] toussman commented on #119
Just edited my previous response and uploaded the pdf.
Thanks

On Fri, 4 Oct 2019 at 19:59, Matthias Schlimm <notifications@github.com>
wrote:

[2019-10-08 13:51] matthias-schlimm opened #146 "move Get-PendingReboot to earlier phase of preparation"
Pending reboot notification is getting first after event log redirection, move this test to initial start.

[2019-10-08 14:03] matthias-schlimm commented on #145
change din BISF.psm1 function Use-PVSConfig

Line 2588:
`IF ($LIC_BISF_CLI_PVSDisableRedirection -eq 1) { Global:Redirection = $false; $Global:RedirectionCode = "PVS-Global-Disabled-Redirection" ; Write-BISFLog -Msg "disable redirection - Code $RedirectionCode" -ShowConsole -SubMsg -Color DarkCyan }`

[2019-10-08 14:03] #145 closed, assigned to matthias-schlimm

[2019-10-08 14:11] matthias-schlimm commented on #146
Remove it from PrepBISF_Start.ps1 to BISF.ps1 to the preparation Check

[2019-10-08 14:11] #146 closed, assigned to matthias-schlimm

[2019-10-08 14:13] matthias-schlimm commented on #93
PS C:\windows\system32> Get-Service Citrix* | ft -AutoSize

Status  Name                                   DisplayName

Running Citrix NetScaler Cloud Gateway         Citrix NetScaler Cloud Gateway
Running CitrixConfigSyncService                Citrix Config Synchronizer Service
Running CitrixHighAvailabilityService          Citrix High Availability Service
Running CitrixITSMAdapterProvider

[2019-10-08 14:29] matthias-schlimm commented on #93
BISF.psm1 new function Test-CitrixCloudConnector and call it in preparation at BISF.ps1

[2019-10-08 14:29] #93 closed, assigned to JonathanPitre

[2019-10-08 20:40] matthias-schlimm commented on #90
Create new Packaging POSH Script to build the installer:

[2019-10-08 20:40] #90 closed, assigned to JonathanPitre, matthias-schlimm

[2019-10-08 20:42] matthias-schlimm commented on #20
with latest Installer Build to create MMYY Version, it's fixed now.

[2019-10-08 20:42] #20 closed, assigned to matthias-schlimm

[2019-10-10 18:47] matthias-schlimm commented on #130
review done by James Kindon

[2019-10-10 18:47] #130 closed, assigned to matthias-schlimm

[2019-10-17 19:59] musklor opened #147 "Force an update of the Symantec Endpoint definitions"
I think it could be a good idea to force an update of the definitions.

[2019-11-18 15:10] haavarstein opened #148 "Email Reporting"
Please include a function to send an email report with all logs files attached (BIS-F and CTXOE),

Set via GPO, To, From, Subject, SMTP, Attachment

[2019-11-18 15:18] haavarstein opened #149 "Restart Function"
The current Framework has the option to initiate a Shutdown as part of running the script. At my current project we need to have the Master Image VM's running due to SCOM.

We have developed a patching framework which runs as a scheduled task. The script patches Windows and uses Evergreen to update common apps. So instead of BIS-F just ending, we need a restart to remove AutoLogon counts.

[2019-11-18 15:30] matthias-schlimm commented on #149
It's possible to add a BIS-F ADMX extension to remove AutoLogon during sealing ?

[2019-11-18 15:38] haavarstein commented on #149
Sure that works, but would be great to have option to Restart or Shutdown

[2019-11-18 17:07] EUCweb commented on #149
Check out this one https://github.com/EUCweb/BIS-F/issues/10

Am 18.11.2019 um 16:30 schrieb Matthias Schlimm <notifications@github.com>:

[2019-11-29 16:04] Siebrandf opened #150 "Citrix App Layering 1911 changed behavior"
**Describe the bug**
Since CAL 1911 the compositing methodology has been changed. it was already for Hyper-V in 1910 but is now as well for vSphere. When a layer is created a VM is created on the Hypervisor which boots into a like preinstallation environment which contacts the ELM. Now the OS and other prerequisite layers are copied over from the ELM whereafter the preparation VM restarts and boot

[2019-11-29 16:43] EUCweb commented on #150
Thanks Siebrand, great stuff. Means BIS-F must check AppLayering version 1911 or greater to use your described procedure

[2019-11-29 16:58] Siebrandf commented on #150
Yeah, that's a possibility. But detecting the version might be challenging without the SDK or webrequests. The 'Test-Path $bootIdPath' was already used by Citrix in 1910 as far as I can see. While C:\CitrixCE did not exist in that version, restartflag remains /s. You could implement the mentioned code and reuse the $shutdownflag method instead.

[2019-11-29 17:16] matthias-schlimm commented on #150
Do you have a current BIS-F log available, to upload it here ?

[2019-11-29 19:14] Siebrandf commented on #150
[Prep_BIS_CITRXAL1a8000_20191129-112100.txt](https://github.com/EUCweb/BIS-F/files/3906242/Prep_BIS_CITRXAL1a8000_20191129-112100.txt)

In the script I used I set LIC_BISF_CLI_SB=NO just before it triggers BIS-F, in that case I prevent BIS_F to shutdown the machine while we normally want the machine to be shutdown. I now change the bootorder, reset LIC_BISF_CLI_SB=YES, and restart the box.

[2019-11-29 19:22] EUCweb commented on #150
In new BIS-F release you can use different configurations based on AppLayering Layer, checkout https://github.com/EUCweb/BIS-F/issues/52

Can this be a option too ?

[2019-11-29 19:29] Siebrandf commented on #150
Well, I guess not. BIS-F detects the existence of the layering agent in any config hence this should be solved at a more general level imho.

[2019-12-03 06:43] musklor commented on #147
https://theorypc.ca/2015/09/23/symantec-endpoint-protection-sep-12-virus-definition-download-and-installation-script/

[2019-12-03 12:14] Siebrandf commented on #150
Let me know if I should provide a code proposal

[2019-12-03 12:58] EUCweb commented on #150
Yeah sounds good

[2019-12-04 06:52] micswe opened #151 "Add Variable for Programfiles for 64 OS"
We need the variable in Custom scripts.

I make this change in BISF.psm1

[code]

[2019-12-04 07:00] micswe opened #152 "Support for Evidian"
Evidian is a SSO product.

https://www.evidian.com/

The Script is for Prepartion the MASTER ( remove ComputerID ).

`
Begin {
	$Script_Path = $MyInvocation.MyCommand.Path

	# Product specIfied
	$Product = "Enterprise Access Management"
	$reg_product_string = "HKLM:\SOFTWARE\Enatel\WiseGuard\Framework\AccessPoint\"
	$Product_Path = "$ProgramFiles\Evidian\Enterprise Access Management"
	$ServiceName

[2019-12-10 09:05] JamesKindon opened #155 "Make 01_PersBISF_TimeAndGPO Personalisation optional"
Ran into an issue where the trigger of NTP and a gpupdate via BIS-F introduced a massive delay into the machine booting times - this is an Active Directory Issue and not a BIS-F problem, but it highlights that this should be an optional component

[2019-12-11 15:31] micswe opened #156 "Master Image mode"
We need to run script at Master (Private) disk boot up. To run any automated update.

What we do, i create a new folder Structor under SubCall and Create a Imagemode folder with Custom subfolder.

I start the scripts over PersBISF_Start.ps1 in directive, Private mode yes than exit.

Any ideas for a better place ?

[2019-12-12 06:59] matthias-schlimm commented on #156
Automated update is not a part of BIS-F, please do it with your ESD but not with BIS-F.

[2019-12-12 07:27] micswe commented on #156
Hallo Matthias,

das ist ein Missverständnis. Ich möchte nicht die Updates mit BIS-F machen sondern die Maschine vorbereiten.

z.B. Es müssen für ESD verschiedene Dienste gestartet werden usw.

Wir haben in dem Spezielle fall Windows Update, DSM7 und weitere Dienste deaktiviert. Um die Updates zu automatisieren, müssen diese beim Systemstart wieder anlaufen, der rest kommt durch die Softwarevertei

[2019-12-12 07:49] matthias-schlimm commented on #156
Hallo Michael,

Ok, verstanden. Windows Update Service wird im private Mode schon gestartet, Rest kannst du ganz normal über custom scripts I’m personalization Ordner machen.

Matthias Schlimm

Am 12.12.2019 um 08:28 schrieb micswe <notifications@github.com>:

[2019-12-12 07:51] matthias-schlimm commented on #156
please have a look into https://github.com/EUCweb/BIS-F/blob/BB_develop/Framework/SubCall/Personalization/99_PersBISF_StartUp.ps1 line 128. you can adopt this to your custom script

[2019-12-12 07:53] matthias-schlimm commented on #156
but this can be a usefull function as a feature request in the ADMX to enter the servicenames to be start from BIS-F in private mode.

[2019-12-12 08:33] micswe commented on #156
Hallo,

ja das war der erste Wurf, aber vor dem Ausführen der Scripts kommt bereits der exit wegen Private mode.

Im PersBISF_Start.ps1 wird ab Zeile 99 geprüft ob wir im Private mode sind und ein Exit des scripts gemacht. In Zeile 128 werden aber die Personal Scripts erst abgearbeitet.

Deswegen war mein Vorschlag für den Private mode, personal Scripts anzubieten.

Gruß
Michael

Von: Matthias Sch

[2019-12-12 08:39] matthias-schlimm commented on #156
Dann hast du aber auch die GPO konfiguriert, dass im  private Mode keine Personalisierung laufen soll.

[2019-12-12 08:47] micswe commented on #156
Das kann sein, mach ich mal aus. Und stell für die Dienste über gpo einen Features request.

Schönen Tag noch

Am 12.12.2019 um 09:39 schrieb Matthias Schlimm <notifications@github.com>:

﻿Dann hast du aber auch die GPO konfiguriert, dass im private Mode keine Personalisierung laufen soll.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<ht

[2019-12-21 14:35] qq9338745 opened #157 "Layer finalize is NOT allowed, this issue is sending out from AppLayering and not BIS-F"
ELM version : 19.2.0.17

 when running bis-f , it failed with  at layer finalize step:

 Layer finalize is NOT allowed, this issue is sending out from AppLayering and not BIS-F

+++++++++++++++++++
[Prep_BIS_CITRXALba8000_20191218-172449.txt](https://github.com/EUCweb/BIS-F/files/3991473/Prep_BIS_CITRXALba8000_20191218-172449.txt)

+++++++++++++++++++++++++++++++++++

.............................

[2019-12-21 17:21] matthias-schlimm commented on #157
in the bis-F log you can see, why the Layer finalze is blocked

-----snip-----
Support bypass of layer integrity enforcement is NOT enabled on this machine
Layer finalize is BLOCKED
The outstanding items are:
**a Microsoft NGen operation is in progress in the background**
 -----snap-----

check out https://docs.citrix.com/en-us/citrix-app-layering/4/layer/update-layer.html and https://support.citr

[2019-12-21 18:02] matthias-schlimm commented on #157
In addition I see you use an older BIS-F version 6.1.0 build 01.101, the latest BIS-F 6.1.3 can be grabbed from my page https://eucweb.com/download-bis-f

In Version Version 6.1.0 build 01.102 I have some AppLayering approvements

[2019-12-24 13:33] matthias-schlimm commented on #150
integrated in 7.1912

[2019-12-24 13:33] #150 closed, assigned to matthias-schlimm

[2019-12-24 13:35] matthias-schlimm commented on #81
Signed Installer available now

[2019-12-24 13:35] #81 closed, assigned to matthias-schlimm

[2019-12-24 13:40] matthias-schlimm opened #158 "WinSxS Optimization - progessbar value grab from live log"
the value for the progressbar can be grabbed from _C:\Windows\Temp\WinSxs.log_

it looks like this in the last line until 100% is reached

[================88.2%================ ]

with regular expression, we can grab the value and used it for the progressbar

[regex]::matches($value, "\d\d\.\d")

Groups   : {0}
Success  : True
Name     : 0
Captures : {0}
Index    : 17
Length   : 4
Value    : 88.2

[2019-12-27 19:42] matthias-schlimm opened #159 "C:\Windows\temp not deleted"
I suspect it is due to the call in Preparation \ 97_PrepBISF_PRE_BaseImage.ps1
Line 725: Command = "Remove-BISFFolderAndContent ($ path)"

An “s” is missing when calling the function:
Line 725: Command = "Remove-BISFFolderAndContents -folder_path $ path"
(The first time I tried, I just added the missing letters, but it still didn't work. I then passed the parameter on explicitly).

For the "Remove

[2019-12-27 19:47] matthias-schlimm opened #160 "Calculation of free space for the VHDX file fails"
Calculation of free space for the VHDX file fails:

I suspect it is in line 402 in BISF.ps1:

IF (FreeSpace -le $ UsedSpace) {
A **$** is missing from Freespace:
IF ($FreeSpace -le $ UsedSpace) {

However, the function Get-Space (BISF.psm1) only partially worked for me afterwards.
(The variable $ share was also used here, probably meant $ path).
Access to the network drive (for the PVS image) was

[2019-12-27 19:49] matthias-schlimm opened #161 "Quotation marks at Move-EvtLogs"
With the Move-EvtLogs function, I noticed that different quotes (“) are still used in some cases.
I cannot judge whether this has any effect on the function, but the script parts in NotePad ++ are displayed differently.
Lines 2770, 2785, 2801, 2815, 2831 and 2844 are affected

[2019-12-27 19:50] matthias-schlimm opened #162 "Note when logging on to a created VDisk"
When I log on to a PVS-VDISK administratively, I get a message that the system was not shutdown properly.
For me, deleting the following entry helps (**'HKLM: \ SOFTWARE \ Microsoft \ Windows \ CurrentVersion \ Reliability' -> LastAliveStamp**),
added in Preparation \ **97_PrepBISF_PRE_BaseImage.ps1**

[code]

[2019-12-27 19:56] #159 closed, assigned to matthias-schlimm

[2019-12-27 20:00] #161 closed, assigned to matthias-schlimm

[2019-12-27 20:01] matthias-schlimm commented on #161
Code Change as described above

[2019-12-27 20:01] matthias-schlimm commented on #159
Code Change as described above

[2019-12-27 20:05] matthias-schlimm commented on #162
codechange as described above, I think https://github.com/EUCweb/BIS-F/issues/142 does not work alone

[2019-12-27 20:06] #162 closed, assigned to matthias-schlimm

[2019-12-27 20:23] matthias-schlimm commented on #160
codechange as described above, reference to https://github.com/EUCweb/BIS-F/issues/28

[2019-12-27 20:23] #160 closed, assigned to matthias-schlimm

[2019-12-27 20:30] matthias-schlimm opened #163 "Errorhandling different Exit Codes"
For erros and Exits during BIS-F execution, possible to have different ExitCodes for each issue. Currently each error are using Exit Code 1

[2019-12-28 00:13] matthias-schlimm commented on #158
[code]

[2019-12-28 01:04] matthias-schlimm commented on #159
tested and looks good
![image](https://user-images.githubusercontent.com/34108484/71537008-52006b80-2916-11ea-8718-fc6378c4c095.png)

[2019-12-30 21:40] matthias-schlimm opened #164 "Layer finalize is blocked with VDA 1912 LTSR and activated UPL"
reported from Torsten Witsch

there is still an issue with installed UPL Feature within the VDA 1912 LTSR Installation and latest BIS-F 7.1912.0 release.

BIS-F sealing breaks at prepare App Layering steps.

[PREP_BISF_MASTER-W10EX64_20191230-120652.log](https://github.com/EUCweb/BIS-F/files/4011147/PREP_BISF_MASTER-W10EX64_20191230-120652.log)

[2019-12-30 21:43] matthias-schlimm commented on #164
Workaround: Change BISF.psm1 line 2116

**old:**

`IF (($DiskMode -eq "ReadWriteAppLayering") -or ($svcSatus -ne "Running")) {`

**new:**

`IF (($DiskMode -eq "ReadWriteAppLayering") -or ($svcSatus -ne "Running") -or ($DiskMode -eq "VDAPrivateAppLayering")) {`

[2019-12-30 21:45] matthias-schlimm commented on #164
Output and Log after the above manually Change with ELM in packaging vm

![image](https://user-images.githubusercontent.com/34108484/71601938-118f3080-2b56-11ea-8917-6fb56eb5559a.png)

[PREP_BISF_W2K16-PL-MCS_20191230-185154.log](https://github.com/EUCweb/BIS-F/files/4011168/PREP_BISF_W2K16-PL-MCS_20191230-185154.log)

[2019-12-30 21:57] matthias-schlimm opened #165 "Detect VDA 1912 LTSR installed UPL"
With Citrix 1912 VDA an new feature called "User personalization layer" (UPL) can be optional installed.

3 additional Services are on the VM:

**ServiceName** UniService
**ProductName** Citrix AppLayering

**ServiceName** upl-Support
**ProductName** Citrix UPL Support Service

**ServiceName** ulayer
**ProductName** Citrix Layering Service

From BIS-F it's possible to detect this Services, to run

[2019-12-30 22:07] matthias-schlimm opened #166 "CylanceProtect - Wrong Command for Compatibility Mode"
possible issue with the Cylance script.  The Set-ItemProperty -Name “CompatibilityMode” … command needs to be New-ItemProperty since -PropertyType parameter is only part of the New-ItemProperty commandlet.

Workaround: Script **10_PrepBISF_AV-CylanceProtect.ps1** Line **104**

**old**

`Set-ItemProperty -Path "HKLM:\SOFTWARE\Cylance\Desktop" -Name "CompatibilityMode" -value 01 -PropertyType Binary

[2019-12-30 22:46] matthias-schlimm opened #167 "Moving AppLayering Layer Finalize to Post BIS-F script"
As reported in the issue https://github.com/EUCweb/BIS-F/issues/157 it's possible if a ngen process is running in the backend before starting the layer finalze, this will hopefully Prevent the message 'Layer finalize is blocked'

-----snip-----
Support bypass of layer integrity enforcement is NOT enabled on this machine
Layer finalize is BLOCKED
The outstanding items are:
**a Microsoft NGen operat

[2019-12-30 22:46] matthias-schlimm commented on #157
create an Enhancements request for this https://github.com/EUCweb/BIS-F/issues/167

[2019-12-30 22:46] #157 closed, assigned to matthias-schlimm

[2020-01-02 18:11] matthias-schlimm opened #168 "VMware Optimizations 52_PrepBISF_VMWareTCPIPOptimization not executed"
the vmware plattform is not detected
in script 52_PrepBISF_VMWareTCPIPOptimizations.ps1
on line   **IF ($returnGetHypervisor -contains "VMWare") {**
but the output of the _get-hypervisior_ functions is VMware with a small w
i changed it but its still not working
then i found in **BISF.ps1 $Global:returnGetHypervisor = Get-BISHypervisor -Verbose:$VerbosePreference**
but there is no function **Get-B

[2020-01-02 18:12] matthias-schlimm commented on #168
typo.. in BISF.ps1 you must search for Get-Hypervisor
the right one is **_Get-BISFHypervisor_**
the prefix will be added from the psd1

[2020-01-02 18:14] matthias-schlimm opened #169 "Disable redirection if MCS GPO is disabled"
i use machine creation service without mcsio
i think there is a bug if vda 1912 is installed and the _LIC_BISF_CLI_MCSCfg is set to NO_

02.01.2020 15:44:22 | Administrator | INFORMATION... | Processing function Use-BISFMCSConfig
02.01.2020 15:44:22 | Administrator | INFORMATION... | Check if redirection of Files to MCSIO CacheDisk is possible
02.01.2020 15:44:22 | Administrator | INFORMATION... |

[2020-01-02 18:49] matthias-schlimm commented on #168
to fix the vmware detection replace "($returnGetHypervisor -contains "VMWare")  with ($returnGetHypervisor -like "VMware*")

[2020-01-02 21:02] matthias-schlimm commented on #164
Fixed in develop branch

![image](https://user-images.githubusercontent.com/34108484/71692887-6f688600-2dab-11ea-91c0-18145247e0bd.png)

[2020-01-02 21:07] matthias-schlimm commented on #166
fixed in developer branch now

[2020-01-02 21:07] #166 closed, assigned to matthias-schlimm

[2020-01-02 21:15] matthias-schlimm commented on #168
fixed in developer branch

[2020-01-02 21:15] #168 closed, assigned to matthias-schlimm

[2020-01-02 21:33] matthias-schlimm commented on #169
fixed in developer branch
BISF.psm1 -> Use-MCSConfig
Line 2677 added as follows

`IF ($LIC_BISF_CLI_MCSCfg -eq "NO") {$Global:Redirection = $false; $Global:RedirectionCode = "MCS-Global-Disabled" ; Write-BISFLog -Msg "disable redirection - Code $RedirectionCode" -ShowConsole -SubMsg -Color DarkCyan }
		`

[2020-01-02 21:33] #169 closed, assigned to matthias-schlimm

[2020-01-03 07:00] RonaldPopken opened #170 "Disk C:\Windows\Logs does not exist..."
When we try to execute the PrepareBaseImage.cmd script (as admin) the script stops with the error; the disk c:\windows\logs does not exist, please create a disk with enough space, assign drive letter
c:\windows\logs and run this script again...

Desktop:
OS: Windows 10 Enterprise Build 1909
on VMware 6.5.0 client

Software: BIS-F 7.1912.0
![disk c-windows-logs-error](https://user-images.githubuser

[2020-01-03 07:34] matthias-schlimm commented on #170
Thx Ronald, can you upload please the BIS-F preparation log

[2020-01-03 07:49] RonaldPopken commented on #170
Hello Matthias,

Hereby the prep file.

Regards,

Ronald Popken

Van: Matthias Schlimm [mailto:notifications@github.com]
Verzonden: vrijdag 3 januari 2020 08:35
Aan: EUCweb/BIS-F <BIS-F@noreply.github.com>
CC: Ronald Popken <ronald.popken@ggd-vrd.nl>; Author <author@noreply.github.com>
Onderwerp: Re: [EUCweb/BIS-F] Disk C:\Windows\Logs does not exist... (#170)

Thx Ronald, can you upload please th

[2020-01-03 08:18] matthias-schlimm commented on #170
I will have a look into it this evening and track the changes here

[2020-01-03 08:21] RonaldPopken commented on #170
Thanks.

Van: Matthias Schlimm [mailto:notifications@github.com]
Verzonden: vrijdag 3 januari 2020 09:18
Aan: EUCweb/BIS-F <BIS-F@noreply.github.com>
CC: Ronald Popken <ronald.popken@ggd-vrd.nl>; Author <author@noreply.github.com>
Onderwerp: Re: [EUCweb/BIS-F] Disk C:\Windows\Logs does not exist... (#170)

I will have a look into it this evening and track the changes here

—
You are receiving this

[2020-01-03 08:22] matthias-schlimm commented on #170
@RonaldPopken please upload the log file directly in github here, responding via e-mail doesn't upload the file

[2020-01-03 08:24] RonaldPopken commented on #170
[PREP_BISF_W10-MASTER-EPIL_20200103-084550.log](https://github.com/EUCweb/BIS-F/files/4018491/PREP_BISF_W10-MASTER-EPIL_20200103-084550.log)

[2020-01-03 08:28] tariklehaine commented on #170
I am getting exact the same error as @RonaldPopken with the same environment.

[2020-01-03 08:33] matthias-schlimm commented on #170
This bug is reported to me 5 times yesterday, as I wrote above I will fix it over the weekend. Please have a look into this issue on Monday, 06. January for further informations.

[2020-01-03 08:38] matthias-schlimm commented on #170
The default settings are wrong, if the GPO is not configured no redirection or any MCS IO action must take place

[2020-01-03 09:06] awe164 commented on #170
[PREP_BISF_VM-APP-TS-TMPL2_20200103-085327.log](https://github.com/EUCweb/BIS-F/files/4018580/PREP_BISF_VM-APP-TS-TMPL2_20200103-085327.log)

[2020-01-03 10:50] matthias-schlimm commented on #170
same issue on Server 2019 not on server 2016 or windows 10 from other user reported, attached the logs

**Server 2016 MCS**
[PERS_BISF_MASTER-W2K16_20191231-142823.log](https://github.com/EUCweb/BIS-F/files/4018818/PERS_BISF_MASTER-W2K16_20191231-142823.log)
[PREP_BISF_MASTER-W2K16_20191231-145455.log](https://github.com/EUCweb/BIS-F/files/4018819/PREP_BISF_MASTER-W2K16_20191231-145455.log)

**Ser

[2020-01-03 11:26] matthias-schlimm commented on #170
issue is in BISF.psm1 -> function test-writecachedisk

existing code:

_IF ($returnTestPVSSoftware) {
		$Global:PVSDiskDrive = $LIC_BISF_CLI_WCD
	} ELSE {
		IF (($MCSIO) -and ($LIC_BISF_POL_MCSCfg -eq "YES")) {
			$Global:PVSDiskDrive = $LIC_BISF_CLI_MCSIODriveLetter
		}
	}
	Write-BISFFunctionName2Log -FunctionName ($MyInvocation.MyCommand | ForEach-Object { $_.Name })  #must be added at the begin

[2020-01-03 12:34] matthias-schlimm commented on #170
@RonaldPopken can you grab a copy of the https://github.com/EUCweb/BIS-F/tree/develop branch, copy the content over the 7.1912.0 installation and run a test again

[2020-01-03 13:07] awe164 commented on #170
For our environment WS2016, CVAD 1912 and MCS everything is fine now. Thanks Matthias

[2020-01-03 13:08] matthias-schlimm commented on #170
thanks @awelcker .
With a configured CacheDisk (MCSIO) on the Master it runs into this issue as well.

[2020-01-04 11:42] matthias-schlimm commented on #170
@awelcker please upload the latest prep log, thx

[2020-01-04 11:46] matthias-schlimm commented on #170
fix in developer branch now for this issue -> BISF.psm1 function Test-BISFWriteCacheDisk

**logcontent**

[code]

**Line 440**

**old:**

`IF (($MCSIO) -and ($LIC_BISF_POL_MCSCfg -eq "YES")) {`

**new**

`IF (($MCSIO) -and ($LIC_BISF_CLI_MCSCfg -eq "YES")) {`

and change Line 455 - 469

[code]

[2020-01-04 13:11] matthias-schlimm opened #171 "VMware TCPIP Optimizations failed"
[code]

[2020-01-04 13:13] matthias-schlimm commented on #171
Debuging it with the following script and wait for response

[code]

[2020-01-04 19:20] matthias-schlimm commented on #171
manually test it on a Win 10 1809 english only and got the same issue

This is related to the script https://github.com/EUCweb/BIS-F/blob/develop/Framework/SubCall/Preparation/52_PrepBISF_VMWareTCPIPOptimizations.ps1

[code]

I think in **line 321** of script **52_PrepBISF_VMWareTCPIPOptimizations.ps1** is the bug

**old:**
`if (($netAdapter | Get-NetAdapter).Enabled -eq $false) {`

**new:**
`if (

[2020-01-04 19:36] matthias-schlimm opened #172 "Exception when calling "SetAccessRule" with 1 argument (s): "Some or all identity references could not be translated"
BISF,psm1 -> Set-BISFACLrights

[code]

[2020-01-04 19:36] matthias-schlimm commented on #172
using SID instead of the name ?

[2020-01-04 19:43] matthias-schlimm commented on #172
better errorhandling

[code]

[2020-01-05 10:37] matthias-schlimm commented on #171
fixed in develop branch https://github.com/EUCweb/BIS-F/tree/develop

[2020-01-05 10:40] citrixguyblog opened #173 "Remove DHCP Information if 3P Optimizer is configured"
**Describe the bug
VDAs rolled out with Citrix Machine Creation Services are keeping the IP address of the golden image. “ipconfig /release“ is fixing the issue.
BISF is already including the needed Powershell functions for clearing DHCP client information. With the current release this is only being executed when Citrix Optimizer is not being used.
Suggestion: Remove the condition for Citrix Opti

[2020-01-05 10:41] matthias-schlimm commented on #171
Transcript output now from customer
[code]

[2020-01-05 10:45] matthias-schlimm commented on #173
handeld in 97_PrepBISF_PRE_BaseImage.ps1 line 483 - 619

[2020-01-05 10:52] matthias-schlimm commented on #173
fixed in developer branch https://github.com/EUCweb/BIS-F/tree/develop

[2020-01-05 10:55] citrixguyblog commented on #173
That was fast 👍🏽

[2020-01-05 11:32] matthias-schlimm commented on #173
as I say ASAP

[2020-01-05 11:33] matthias-schlimm commented on #173
please grab a complete copy of the dev branch and run a test again

[2020-01-05 11:33] #173 closed, assigned to matthias-schlimm

[2020-01-05 12:11] matthias-schlimm commented on #172
On a system the NTFS right are set correctly
![image](https://user-images.githubusercontent.com/34108484/71779982-d14c0a00-2fbc-11ea-80da-fcd311347aef.png)

[2020-01-05 12:12] matthias-schlimm commented on #172
the Local Service is the issue, using SID now

**old:**
`$perm = "local service", "FullControl", "ContainerInherit, ObjectInherit", "None", "Allow"`

**new:**
`$perm = "S-1-5-19", "FullControl", "ContainerInherit, ObjectInherit", "None", "Allow"`

[2020-01-05 13:14] matthias-schlimm commented on #165
detection now in Test-BISFXDSoftware

Variable: $Global:UPL = $true UPL Service is installed

[code]

[2020-01-05 19:51] matthias-schlimm opened #174 "Office 2019 not detected"
In 96_PrepBISF_Rearm.ps1 and 96_PersBISF_rearm.ps1 using wrong version numbers, see below and must be checked in the script as well

- Office 365 (Version 16)
- Office 2019 (Version 16)
- Office 2016 (Version 16)
- Office 2013 (Version 15)
- Office 2010 (Version 14)

[2020-01-05 19:53] matthias-schlimm commented on #165
Console output
![image](https://user-images.githubusercontent.com/34108484/71785227-666ef300-2ffd-11ea-9389-6dffb480716c.png)

[2020-01-05 19:53] #165 closed, assigned to matthias-schlimm

[2020-01-06 06:48] RonaldPopken commented on #170
Hello Mattias,

The script will now continue.

Where to put the 3th party tools like: sdelete.exe, nvspbind.exe and delprof2.exe etc. in de master image so bis-f will detect them?

Thanks.

Regards,

Ronald Popken

Van: Matthias Schlimm [mailto:notifications@github.com]
Verzonden: zaterdag 4 januari 2020 12:46
Aan: EUCweb/BIS-F <BIS-F@noreply.github.com>
CC: Ronald Popken <ronald.popken@ggd-vrd.nl

[2020-01-06 17:38] EUCweb commented on #170
The path can be configured in the GPO, Default search is programfiles, programfiles(86) and system32

Von: RonaldPopken <notifications@github.com>
Gesendet: Montag, 6. Januar 2020 07:49
An: EUCweb/BIS-F <BIS-F@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Betreff: Re: [EUCweb/BIS-F] Disk C:\Windows\Logs does not exist... (#170)

Hello Mattias,

The script will now continue.

W

[2020-01-06 18:07] matthias-schlimm commented on #174
Change the command to detect Office

`Get-WmiObject win32_product | where{$_.Name -like "Microsoft Office Professional Plus*" -or $_.Name -Like "Microsoft Office Standard*" -or $_Name -like "Office*Click-to-Run"}
`

IdentifyingNumber : {90160000-0011-0000-0000-0000000FF1CE}
Name              : Microsoft Office Professional Plus 2016
Vendor            : Microsoft Corporation
Version           : 16.

[2020-01-06 18:07] matthias-schlimm commented on #174
`Get-WmiObject win32_product | where{$_.Name -like "Microsoft Office Professional Plus*" -or $_.Name -Like "Microsoft Office Standard*" -or $_.Name -like "*Click-to-Run Extensibility Component"}`

IdentifyingNumber : {90160000-008C-0000-0000-0000000FF1CE}
Name              : Office 16 Click-to-Run Extensibility Component
Vendor            : Microsoft Corporation
Version           : 16.0.12228.2036

[2020-01-06 19:28] matthias-schlimm opened #175 "GPO ADML file typo and grammar check"
Fix typos and Grammar check

[2020-01-06 19:33] matthias-schlimm commented on #175
[BaseImageScriptFramework.adml.txt](https://github.com/EUCweb/BIS-F/files/4027519/BaseImageScriptFramework.adml.txt)

[2020-01-06 19:34] matthias-schlimm commented on #175
uploaded to dev branch

[2020-01-06 19:34] #175 closed, assigned to matthias-schlimm

[2020-01-07 08:48] Siebrandf opened #176 "$Global:ImageSW request is set one Time only"
**Describe the bug**
We use the personalization phase to configure MCSIO based on GPO settings to D:
Considering HF 170 being implemented when using Citrix App Layering, MCSIO is not configured correctly because of an incorrect state for the global variable MCSIO. This happens because: '$Global:returnTestAppLayeringSoftware = Test-BISFAppLayeringSoftware' is run before '	$Global:returnTestXDSoftwa

[2020-01-07 14:53] matthias-schlimm commented on #176
update all functions for better handling

- Test-BISFAppLayeringSoftware
- Test-BISFXDSoftware
- Test-BISFPVSSoftware
- Test-BISFVMwareHorizonViewSoftware
- Test-BISFNutanixFrameSoftware
- Test-BISFParallelsRASSoftware
- Test-BISFWVDSoftware

[2020-01-07 14:58] matthias-schlimm commented on #176
fixed in developer branch

[2020-01-07 14:58] #176 closed, assigned to matthias-schlimm

[2020-01-07 14:59] matthias-schlimm commented on #174
completly changed the prep script for the detection

[2020-01-07 20:28] #174 closed, assigned to matthias-schlimm

[2020-01-07 20:28] #171 closed, assigned to matthias-schlimm

[2020-01-07 20:29] #170 closed, assigned to matthias-schlimm

[2020-01-08 15:31] matthias-schlimm opened #178 "no defaultvalue is set if GPO for Additional Citrix Desktop Service delay is not configured"
function Start-CDS change command

IF ([string]::IsNullOrEmpty($LIC_BISF_CLI_CDSdelay)) { $LIC_BISF_CLI_CDSdelay = 0 }

[2020-01-10 11:28] matthias-schlimm opened #179 "WriteCacheDisk not formated"
'm contacting you this way, because I can seem to register for the slack channel.

I'm having an issue with BIS-F 7 1912 and the formatting of the cache drive.
It doesn't seem to work.

I added a disk of 50gb to the VM in VMware, boot the VM with image in standard mode, but the disk doesn't get formatted.

I checked the PERS log file and see this:

1/9/2020 1:28:22 PM | $ | INFORMATION… | ========

[2020-01-10 11:31] matthias-schlimm opened #180 "WEM Config GPO"
[PREP_BISF_MTD08_20200109-120939-GPO-WEM-unconfigured.log](https://github.com/EUCweb/BIS-F/files/4045383/PREP_BISF_MTD08_20200109-120939-GPO-WEM-unconfigured.log)

Testing the new BIS-F release and have a Problem with the WEM configuration, if I don't configure the GPO for WEM BIS-F would change the Agent Cache Location back to the default path. We don't configure the GPO because we set the Agent

[2020-01-10 11:52] matthias-schlimm commented on #180
changes in developer branch https://github.com/EUCweb/BIS-F/tree/develop
unblock the zip-file, extract it and replace all files in the BIS-F installationfolder

[2020-01-10 14:04] matthias-schlimm commented on #179
Can you grab a copy of the developer branch and test it again please, i have fixed some other issues prior to this https://github.com/EUCweb/BIS-F/pull/177

[2020-01-10 14:23] matthias-schlimm opened #181 "Show-ProgressBar function never ends if it triggers from MDT cscript"
The Show-ProgressBar function in the BISF.psm1 global module causes scripts such as the OS and Office rearm to hang when using MDT. This has been a long term bug that I have only just worked through and located the issue. The function just checks for the running process, which is cscript.exe. However, in MDT cscript.exe is already running the ZTIApplications.wsf script. Therefore the Show-Progress

[2020-01-10 21:52] matthias-schlimm opened #182 "if LogRotate is set to 0 it doesnt keep all logs"
Function Invoke-LogRotate

**old:**
`IF ($LIC_BISF_CLI_LF_RT -eq "0") { write-BISFlog -Msg "Log rotate would set to 0 value in the ADMX, it uses now the max. count of 9999 "; [int]$Versions = "9999" }`

**new:**
`IF ($LIC_BISF_CLI_LF_RT -eq 0) { write-BISFlog -Msg "Log rotate would set to 0 value in the ADMX, it uses now the max. count of 9999 "; [int]$Versions = "9999" }`

[2020-01-11 10:57] matthias-schlimm commented on #181
fixed in developer branch

[2020-01-11 10:57] #181 closed, assigned to matthias-schlimm

[2020-01-11 11:10] matthias-schlimm opened #183 "Defrag arguments"
Have had a lot of issues with Defrag not running on Server 2008R2 and 2012R2 using the /K and /G parameters as per 99_PrepBISF_POST_BaseImage.ps1
The /K parameter is not even supported on 2008R2.
On 2012R2 the /K parameter just responds by saying that Slab Analysis is 100% complete.
This operation is not supported on this filesystem. (0x89000020)
On 2012R2 the /G parameter just responds by saying

[2020-01-11 11:12] matthias-schlimm commented on #183
99_PrepBISF_POST_BaseImage.ps1
**old:**
[code]

**new:**

[code]

[2020-01-11 11:13] matthias-schlimm commented on #183
fixed in developer branch

[2020-01-11 11:14] #183 closed, assigned to matthias-schlimm

[2020-01-12 10:44] matthias-schlimm commented on #164
reopen this issue again, I must rework on this, because UPL inside AppLayering Packaging machine didn't work.

**New DiskMode UPL**  _https://github.com/EUCweb/BIS-F/issues/184_

requires additional testing

[2020-01-12 11:01] matthias-schlimm opened #184 "New DiskMode UPL"
User Personalization Layer (UPL) is introduced in VDA 1912. This requires an additional DiskMode in BIS-F to get the right DiskMode and the dynamic processing of your environment outside ELM or inside the AppLayering Packing Machine.

If the UPL Services are installed the postfix "UPL" will be added to the DiskMode, this is added to **BISF.psm1 -> function Get-DiskMode**

_IF ($UPL -eq $true) { $r

[2020-01-13 04:39] matthias-schlimm opened #185 "GPO Settings for BIS-F own optimizations"
BIS-F has a lot of own Optimizations, mostly triggered in the script  97_PrepBISF_PRE_BaseImage.ps1.

People asking for more control, like this:

It's possible to have most of this items under control, I will working on a list first to get a summary

[2020-01-13 04:45] matthias-schlimm opened #186 "deletion of C:\Windows\temp without GPO control is not possible"
In https://github.com/EUCweb/BIS-F/issues/159 I have fixed this one, this was the reason C:\Windows\temp was never deleted in the past

to get more control of this, I will disable this task in 7.1912.1 and C:\Windows\temp will not deleted anymore until we have the GPO Control available

checkout https://github.com/EUCweb/BIS-F/issues/185

[2020-01-13 14:40] #186 closed, assigned to matthias-schlimm

[2020-01-13 14:41] matthias-schlimm commented on #164
temp. fixed, but inside Packaging VM wrong Layer detected

[2020-01-13 14:41] #164 closed, assigned to matthias-schlimm

[2020-01-13 14:43] matthias-schlimm opened #187 "VDA 1912 inside AppLayering Packaging VM wrong Layer back"
Inside the packaging VM, BIS-F reports NO-ELM back this is wrong

[code]

[2020-01-15 09:50] korbinianthiel opened #188 "Async WriteCacheType not detected for shared Images"
If the vDisk is configured in Read Only Mode (PVS in RAM with overflow in harddisk), the WriteCacheDisk script causes a reboot loop.

The desired Logfile folder will not be created, caused by the if-statement:
`if ((Get-ItemProperty HKLM:\SYSTEM\CurrentControlSet\Services\bnistack\PVSAgent).WriteCacheType -eq 4 -or (Get-ItemProperty HKLM:\SYSTEM\CurrentControlSet\Services\bnistack\PVSAgent).WriteC

[2020-01-15 11:16] korbinianthiel commented on #188
Adding the value did not solve the problem.
The folder BISFLogs is no created on the WriteCacheDisk, this is causing the reboot loop.

[2020-01-15 14:10] matthias-schlimm commented on #188
Which BIS-F version ist that, 7.1912 ?

[2020-01-15 14:20] matthias-schlimm commented on #188
You can configure a shared log directory on a unc path in the bis-f admx, this will help for better analysis

[2020-01-15 15:00] andre-sicking commented on #172
Just replacing the SID does not work in my tests. But you could resolve the SID to the localized name on the running system.

`$localServiceSID = New-Object System.Security.Principal.SecurityIdentifier("S-1-5-19")
$localServiceName = ($localServiceSID.Translate( [System.Security.Principal.NTAccount])).Value`

This resolves to "NT-AUTORITÄT\Lokaler Dienst" on a german system and works when used wit

[2020-01-15 15:02] EUCweb commented on #172
I‘m also play around with the SID, but it didn’t work. I must translate the SiD into the right language.

Am 15.01.2020 um 16:00 schrieb Andre Sicking <notifications@github.com>:

[2020-01-15 15:04] EUCweb commented on #172
Can you send me a pull request ?

Am 15.01.2020 um 16:00 schrieb Andre Sicking <notifications@github.com>:

[2020-01-15 15:29] andre-sicking commented on #172
done!

[2020-01-15 18:22] #180 closed, assigned to matthias-schlimm

[2020-01-15 18:23] #179 closed, assigned to matthias-schlimm

[2020-01-15 18:23] #182 closed, assigned to matthias-schlimm

[2020-01-15 18:24] #178 closed, assigned to matthias-schlimm

[2020-01-15 18:26] #172 closed, assigned to matthias-schlimm

[2020-01-15 18:38] matthias-schlimm commented on #188
WriteCacheTypes:

- 0 (Private)
- 1 (Cache on Server)
- 3 (Cache in Device RAM)
- 4 (Cache on Device Hard Disk)
- 7 (Cache on Server, Persistent)
- 9 (Cache in Device RAM with Overflow on Hard Disk)
- 10 (Private async)
- 11(Server persistent async)
- 12 (Cache in Device RAM with Overflow on Hard Disk async)

[2020-01-15 18:51] matthias-schlimm commented on #188
fixed in 00_PersBISF_WriteCacheDisk.ps1.. grab a copy of the developer branch and run a test again

[2020-01-15 18:52] matthias-schlimm commented on #188
[code]

[2020-01-16 22:23] JamesKindon opened #190 "Cannot run in RDP Session"
1912 (with Beta code fix), VDA 1912, Windows Server 2016 and Windows 10 1607

When trying to run BIS-F in remote session, script fails saying that you need to enable RDP via policy. RDP session support is enabled in Policy

[2020-01-16 22:49] EUCweb commented on #190
Also tested it with bis-f 7.1912.1 from developer branch ?

Am 16.01.2020 um 23:23 schrieb JamesKindon <notifications@github.com>:

[2020-01-17 02:07] JamesKindon commented on #190
Yes confirmed same issue with dev branch

On Fri, 17 Jan 2020 at 9:49 am, EUCweb.com <notifications@github.com> wrote:

[2020-01-20 10:16] matthias-schlimm opened #191 "MaxExecution is not set correctly"
1/16/2020 2:47:02 PM | Alpha | INFORMATION... | Shared Configuration is stored in C:\Program Files (x86)\Base Image Script Framework (BIS-F)\BISFconfig_AppLay_OS.json
1/16/2020 2:47:02 PM | Alpha | INFORMATION... | Import Json Configuration into local Registry to path HKLM:\SOFTWARE\Policies\Login Consultants\BISF
1/16/2020 2:47:02 PM | Alpha | INFORMATION... | Processing function Get-BISFCLIcmd
1

[2020-01-21 13:18] matthias-schlimm opened #192 "Nutanix Xi Frame detected, but sysprep didn't run"
as Nutanix describes in the docs at the ClusterPrep chapter https://docs.frame.nutanix.com/account-management/frame-AHV.html#clusterprep the following command must be executed during sealing

`Start-Process -FilePath "C:\Windows\System32\Sysprep\Sysprep.exe" -ArgumentList "/oobe /shutdown /generalize /unattend:C:\ProgramData\Frame\Sysprep\Unattend.xml" -Wait -NoNewWindow`

[2020-01-22 13:03] LostLogic opened #193 "Have an option of deleting all the Start-Menu shortcuts for the Default user"
**Is your feature request related to a problem? Please describe.**
BIS-F already has the option of clearing out ProgramData\Microsoft\Windows\Start Menu\Programs which is great. Adding the option of clearing out Users\Default\AppData\Roaming\Microsoft\Windows\Start Menu\Programs would complete the start-menu shortcut clearing.

**Describe the solution you'd like**
Either add the clearing of Users\

[2020-01-24 04:38] fangludi commented on #192
Based on a recent POC in our project, I think we only need to run the Sysprep command on the Gold Master Image for the very first time. After that, Nutanix Xi Frame will create a new Gold Master Image called Sandbox as the parent machine for all virtual desktops. If you want to upgrade OS or install applications including BIS-F in your virtual desktop, just do it on the Sandbox rather than the Gol

[2020-01-27 14:25] matthias-schlimm commented on #191
fixed in PrepBISF_Start.ps1

[2020-01-27 14:25] #188 closed, assigned to matthias-schlimm

[2020-01-27 14:26] #191 closed, assigned to matthias-schlimm

[2020-01-27 14:28] matthias-schlimm commented on #190
tested it with Win10 1809 and latest developer branch and not able to reproduce

[2020-01-27 14:41] matthias-schlimm commented on #167
moving Layer Finalize to the 99_PrepBISF_POST_BaseImage.ps1 and remove it from 90_PrepBISF_CTX.ps1

[2020-01-27 18:18] matthias-schlimm opened #194 "format WriteCacheDisk didn't run if "skip PVS master image creation" enabled"
he way we create our image is we first make an image in our central datacenter. This image is used for the users in this datacenter and contains all the common software and features for our Citrix users.

We then copy the image vdisk to our site datacenters and install site specific software.

To install the site specific software I change the vdisk mode to private. In the BIS-F policy I enable “S

[2020-01-27 18:32] matthias-schlimm commented on #194
fixed in developer branch

[2020-01-27 18:32] #194 closed, assigned to matthias-schlimm

[2020-01-27 19:00] #167 closed, assigned to matthias-schlimm

[2020-01-30 07:21] matthias-schlimm opened #195 "Shared Configuration not imported"
no items created in the local local registry and bis-f will run in some errors like RDP Support, PVS WriteCache not configured , etc.

![image](https://user-images.githubusercontent.com/34108484/73428719-2e2bad80-433a-11ea-91ce-79fb3a7c2e56.png)

**empty reghive**
![image](https://user-images.githubusercontent.com/34108484/73428661-12280c00-433a-11ea-9382-1ba89a98f4ac.png)

[2020-01-30 07:41] matthias-schlimm commented on #195
in BISF.psm1 -> function Import-BISFSharedConfiguration line 3217 get the objects from the json file back, but the code for import is missing

3217 `$object = Get-Content $JSONSharedConfigFile | Convertfrom-Json`

**added**
3218 `$object | ForEach-Object { New-ItemProperty -path $_.path -name $_.Name -value $_.Value -PropertyType $_.Type -Force | Out-Null }`

**test after:**
![image](https://user-

[2020-01-30 07:45] matthias-schlimm commented on #195
fixed now in developer branch

[2020-01-30 20:19] matthias-schlimm opened #196 "WEM Agent: GPO help description"
Wrong GPO description

![WEM1](https://user-images.githubusercontent.com/34108484/73486641-d4f96380-43a5-11ea-91a2-2f26461bcbc1.jpg)

**Update GPO as follows:**

**in addition add MCSIO with persistent disk**

![WEM2](https://user-images.githubusercontent.com/34108484/73486645-d88cea80-43a5-11ea-8b0a-491881dab16f.png)

[2020-01-30 20:30] matthias-schlimm commented on #196
update it in developer branch

![image](https://user-images.githubusercontent.com/34108484/73487671-bac08500-43a7-11ea-92e5-70459a61b57f.png)

[2020-01-30 20:30] #196 closed, assigned to matthias-schlimm

[2020-01-31 08:44] matthias-schlimm opened #197 "Shared Configuration using dynamic value [installpath]"
Using [Installpath] as a dynamic value to get it from the BIS-F install location

![image](https://user-images.githubusercontent.com/34108484/73524704-f68e3580-440d-11ea-90e9-b4938a8ff663.png)

[2020-01-31 12:38] hermann1514 opened #198 "FSLOGIX and Citrix UPM"
Hey, is it possible to check - if FSLOGIX installed and used for Profile Container, that the Citrix UPM Service is set to disabled?

[2020-01-31 12:41] EUCweb commented on #198
Service control is out of scope, please use Citrix optimizer or GPP.

Disable of UPM service is not a best practices, so the login time in Citrix director can‘t be get if UPM service is disabled or not installed.

Am 31.01.2020 um 13:38 schrieb hermann1514 <notifications@github.com>:

[2020-01-31 12:46] hermann1514 commented on #198
When i use Citrix Optimizer then FSLOGIX and UPM works fine together?
In Fslogix Support there is a hint to disable the UPM Service.

[2020-01-31 13:03] EUCweb commented on #198
You can try it if you have any impact, I‘m disable UPM in the UPM configuration only, this disables the config, but the service is still running.

Von meinem iPhone gesendet

[2020-01-31 16:46] #195 closed, assigned to matthias-schlimm

[2020-01-31 18:00] tschuegy opened #199 "Set NTFS rights on D:\Spool - Error on German Win10 1809"
**Describe the bug**
I think the bug is on the line 3702 in file BISF.psm1

**To Reproduce**
I have changed from:
	$acl = Get-Acl -Path $path
	$perm = 'local service', 'FullControl', 'ContainerInherit, ObjectInherit', 'None', 'Allow'

to:
	$SIDLocalService = [System.Security.Principal.WellKnownSidType]::LocalServiceSid
	$AccountLocalService = new-object system.security.principal.securityidentifier

[2020-01-31 18:10] tschuegy opened #200 "New Installer"
What do you think about a new installer format? Your built innosetup is not in love with many antivirus solutions. Example: Today i had downloaded th 7.1912.0 innosetup and SEP14 immediately deleted it. I know, it is false positive, but it is not the first innosetup from you with the same problem.

What do you think about Visual Studio and gereate an MSI or InstEd or WiX from MS? Or, or, or...

I

[2020-01-31 19:18] EUCweb commented on #199
Wich BIS-F Version 7.1912.0 or .1 ?

[2020-01-31 19:33] JonathanPitre commented on #200
I think going forward MSIX should be used instead of any other format.

In my opinion, Master Packager is the best tool for this task.
https://www.youtube.com/watch?v=v8Scy3oV69A

On Fri, Jan 31, 2020 at 1:10 PM tschuegy <notifications@github.com> wrote:

--
Jonathan Pitre

[2020-02-01 15:37] tschuegy commented on #199
7.1912.0

[2020-02-01 15:40] tschuegy commented on #199
sorry, 7.1912.0

[2020-02-01 15:40] #199 closed, assigned to nobody

[2020-02-01 15:41] EUCweb commented on #199
7.1912.1 is available since yesterday and fix this issue

Am 01.02.2020 um 16:37 schrieb tschuegy <notifications@github.com>:

[2020-02-01 15:41] EUCweb commented on #200
Working on this with the advanced installer

[2020-02-01 15:51] EUCweb commented on #200
first I will replace the .EXE with a new version from the Advanced Installer